﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="wp" id="index">
    <main class="main registration">
        <div id="registration">
            <div class="pageBannerBlock blank" style="background-image: url(styles/images/warranty/warranty-banner.jpg);">
                <div class="breadcrumbInner">
                    <ol class="breadcrumb kanit font-weight-400">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">@ViewBag.ResLang["homepage"]</a></li>
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Registration")">@ViewBag.ResLang["warranty"]</a></li>
                        <li class="breadcrumb-item" aria-current="page">@ViewBag.ResLang["registerproduct"]</li>
                    </ol>
                </div>
                <div class="pageTitle">
                    <h1 class="kanit font-80 font-weight-600" data-aos="fade-up">@ViewBag.ResLang["warranty"]</h1>
                </div>
                <div class="tagsWrap kanit font-weight-600 font-18 unblank">
                    <div class="tagBox active">
                        <a href="@Url.Action("Index", "Registration")">@ViewBag.ResLang["registerproduct"]</a>
                    </div>
                    <div class="tagBox">
                        <a href="@Url.Action("Repairs", "Registration")">@ViewBag.ResLang["warrantycheck"]</a>
                    </div>
                    <div class="tagBox">
                        <a href="@Url.Action("Repair", "Registration")">@ViewBag.ResLang["warrantypolicy"]</a>
                    </div>
                </div>
            </div>
            <div class="registrationMainBlock blank">
                <div class="registrationMainInner text-646464 roboto font-16">
                    <h2 class="kanit font-30 font-weight-600 text-323232 text-center" data-aos="fade-up" data-aos-delay="300">@ViewBag.ResLang["registerproduct"]</h2>
                    <div class="registrationFormBox" data-aos="fade-up" data-aos-delay="500" data-aos-duration="600">
                        @using (Html.BeginForm("RegistrationSend", "Registration", FormMethod.Post, new { enctype = "multipart/form-data", @class = "registrationForm" }))
                        {
                            <form id="registrationForm" name="registrationForm" class="registrationForm">
                                @Html.AntiForgeryToken()
                                <div class="field-group half">
                                    <label class="label" for="fname">@ViewBag.ResLang["firstname"] <span class="text-red">*</span></label>
                                    <input class="input" type="text" id="fname" name="fname" required>
                                </div>
                                <div class="field-group half">
                                    <label class="label" for="lname">@ViewBag.ResLang["lastname"] <span class="text-red">*</span></label>
                                    <input class="input" type="text" id="lname" name="lname" required>
                                </div>
                                <div class="field-group">
                                    <label class="label" for="email">@ViewBag.ResLang["email"] <span class="text-red"></span></label>
                                    <input class="input" type="email" id="email" name="email">
                                </div>
                                <div class="field-group">
                                    <label class="label" for="tel">@ViewBag.ResLang["tel"] <span class="text-red">*</span></label>
                                    <input class="input" type="tel" id="tel" name="tel" required>
                                </div>
                                <div class="field-group">
                                    <label class="label" for="corp">@ViewBag.ResLang["companyName"]</label>
                                    <input class="input" type="text" id="corp" name="corp">
                                </div>
                                <div class="field-group">
                                    <label class="label" for="adress">@ViewBag.ResLang["address"] <span class="text-red">*</span></label>
                                    <input class="input" type="text" id="adress" name="adress">
                                </div>
                                <hr>
                                <div class="sampleWrap">
                                    @if (ViewBag.lang == "en")
                                    {
                                        <img src="styles/images/warranty/sample.jpg" alt="" class="d-none d-md-block">
                                        <img src="styles/images/warranty/sample-mobile.png" alt="" class="d-block d-md-none">
                                    }
                                    else
                                    {
                                        <img src="styles/images/warranty/sample-chn.jpg" alt="" class="d-none d-md-block">
                                        <img src="styles/images/warranty/sample-mobile-chn.jpg" alt="" class="d-block d-md-none">
                                    }

                                </div>
                                <div class="warrantyItemWrap">
                                    <div class="warrantyItem" id="warrantyItem">
                                        <div class="contentBox">

                                            <div class="field-group">
                                                <label class="label" for="mn01">@ViewBag.ResLang["modelnumber"] <span class="text-red">*</span></label>
                                                <select class="selectpicker" id="mn01" name="mn01" title=" " required>
                                                    @if (ViewBag.warrantyModelData != null)
                                                    {
                                                        foreach (var item in ViewBag.warrantyModelData)
                                                        {
                                                            <option value="@item">@item</option>
                                                        }
                                                    }
                                                </select>
                                            </div>
                                            <div class="field-group">
                                                <label class="label" for="sn01">@ViewBag.ResLang["serialnumber"] <span class="text-red">*</span></label>
                                                <input class="input" type="text" id="sn01" name="sn01" required>
                                            </div>
                                            <div class="field-group half">
                                                <label class="label" for="channel01">@ViewBag.ResLang["buyingchannel"] <span class="text-red">*</span></label>
                                                <input class="input" type="text" id="channel01" name="channel01" required>
                                            </div>
                                            <div class="field-group half half-right">
                                                <label class="label" for="purchase01">@ViewBag.ResLang["purchasedate"] <span class="text-red">*</span></label>
                                                <input id="purchase01" type="date" name="purchase01" value="" class="input dateInput cursor" required>
                                            </div>
                                            <div class="field-group file-group">
                                                <div class="file-inner">
                                                    <div class="file-text">
                                                        <label class="label" for="MultiFile1">@ViewBag.ResLang["proofofpurchase"] <span class="text-red">*</span></label>
                                                        <div class="max">@ViewBag.ResLang["fileuploadsize"]</div>
                                                    </div>
                                                    <div class="file-btn">
                                                        <input type="file" id="MultiFile1" name="MultiFile1" class="multi-pt multi-pt01" multiple data-maxsize="5120" />
                                                    </div>
                                                </div>
                                                <div id="file-list01" class="file-list"></div>
                                            </div>
                                        </div>
                                        @*<div class="closeBtn" onclick="aaa()">×</div>*@
                                    </div>
                                    <div id="parent"></div>


                                    @for (int i = 2; i <= 100; i++)
                                    {
                                        <div class="warrantyItem" id="warrantyItem_@i" style="display:none">
                                            <div class="contentBox">

                                                <div class="field-group">
                                                    <label class="label" for="mn_@i">@ViewBag.ResLang["modelnumber"] <span class="text-red"></span></label>
                                                    <select class="selectpicker" id="mn_@i" name="mn_@i" title=" " required>
                                                        @if (ViewBag.warrantyModelData != null)
                                                        {
                                                            foreach (var item in ViewBag.warrantyModelData)
                                                            {
                                                                <option value="@item">@item</option>
                                                            }
                                                        }
                                                    </select>
                                                </div>
                                                <div class="field-group">
                                                    <label class="label" for="sn_@i">@ViewBag.ResLang["serialnumber"] <span class="text-red"></span></label>
                                                    <input class="input" type="text" id="sn_@i" name="sn_@i" required>
                                                </div>
                                                <div class="field-group half">
                                                    <label class="label" for="channel_@i">@ViewBag.ResLang["buyingchannel"] <span class="text-red"></span></label>
                                                    <input class="input" type="text" id="channel_@i" name="channel_@i" required>
                                                </div>
                                                <div class="field-group half half-right">
                                                    <label class="label" for="purchase_@i">@ViewBag.ResLang["purchasedate"] <span class="text-red"></span></label>
                                                    <input id="purchase_@i" type="date" name="purchase_@i" value="" class="input dateInput cursor" required>
                                                </div>
                                                <div class="field-group file-group">
                                                    <div class="file-inner">
                                                        <div class="file-text">
                                                            <label class="label" for="MultiFile1">@ViewBag.ResLang["proofofpurchase"] <span class="text-red"></span></label>
                                                            <div class="max">@ViewBag.ResLang["fileuploadsize"]</div>
                                                        </div>
                                                        <div class="file-btn">
                                                            <input type="file" id="MultiFile1" name="MultiFile1" class="multi-pt multi-pt_@i" multiple data-maxsize="5120" />
                                                        </div>
                                                    </div>
                                                    <div id="file-list_@i" class="file-list"></div>
                                                </div>
                                            </div>
                                            <div class="closeBtn" onclick="aaa(@i)">×</div>
                                        </div>
                                    }
                                </div>
                                <button type="button" class="addBtnWrap" onclick="createWarrantyItem()">
                                    <span class="d-block kanit font-weight-500 font-16 text-323232">@ViewBag.ResLang["addnewitem"]</span>
                                </button>
                                <hr>
                                <div class="field-group">
                                    <label class="label" for="vcode">@ViewBag.ResLang["verification"] <span class="text-red">*</span></label>
                                    <input class="input" type="text" id="vcode" name="vcode" required>
                                    <div class="v-code">
                                        <img id="captcha" onclick="reloadCaptcha()" src="@Url.Content("~/Content/BuildCaptcha.aspx")" alt="">
                                    </div>
                                </div>
                                <div class="termWrap">
                                    <div class="RFQCheck">
                                        <span class="checkImg d-inline-block background-cover"></span>
                                        <input type="checkbox" name="term" id="term">
                                    </div>
                                    <label for="term" class="roboto font-15 cursor">@ViewBag.ResLang["termscheck"]</label>
                                    <a href="@Url.Action("Repair", "Registration")" class="roboto font-15 text-red text-underline ml-1" target="_blank">@ViewBag.ResLang["terms"]</a>
                                </div>
                                <div class="submitWrap">
                                    <button class="submit flex-center kanit font-18 font-weight-500" type="submit" id="upload">
                                        <span class="d-block">@ViewBag.ResLang["submit"]</span>
                                    </button>
                                </div>
                            </form>
                        }
                    </div>


                    @if (TempData["alertmessage"] != null)
                    {
                        <script type="text/javascript">
        var message = @Html.Raw(Json.Encode(TempData["alertmessage"]));
        alert(message);
                        </script>
                    }
                </div>
            </div>
        </div>
    </main>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#upload').bind("click", function () {
                var imgVal = $('#file-list01')[0].innerText;
                console.log(document.getElementById("vcode").value);
                if (imgVal == '') {
                    alert("請上傳第1筆檔案!");
                    return false;
                }
                else {
                    if ($('#term').is(':checked') != true) {
                        alert("請勾選條款!");
                        return false;
                    }
                }
                if (document.getElementById("vcode").value != "") {
                        for (var aa = 2; aa <= 100; aa++) {
                    console.log(aa);
                    console.log(document.getElementById("warrantyItem_" + aa).style.display);
                    if (document.getElementById("warrantyItem_" + aa).style.display == "none") {
                        document.getElementById("sn_" + aa).value = "999";
                        document.getElementById("mn_" + aa).value = '@ViewBag.defWarrantyModelData';
                        document.getElementById("channel_" + aa).value = "999";
                        document.getElementById("purchase_" + aa).value = "2022-01-01";
                    } else {
                        var imgmultiVal = $('#file-list_' + aa)[0].innerText;

                        if (imgmultiVal == '') {
                            alert("請上傳第" + aa + "筆檔案!");
                            return false;
                        }
                    }
                }
                }

            });
        });

        var count = 1;
        //重製驗證碼
        function reloadCaptcha() {
            $('#captcha').attr('src', $('#captcha').attr('src') + "?d=" + Date.now());
        }

        function createWarrantyItem() {
            count = count + 1;

            $('#warrantyItem_' + count).attr('style', 'disaplay:flex');
            //sessionStorage("count", count);
            //var parent = document.getElementById("parent");
            //var warrantyItem = document.getElementById("warrantyItem").innerHTML;
            //console.log(warrantyItem);
            //var div = document.createElement("div");
            //div.setAttribute("id", "warrantyItem" + count);
            //div.setAttribute("class", "warrantyItem" + count);
            //div.innerHTML = warrantyItem;
            //parent.appendChild(div);
        }

        function aaa(idnum) {
            //document.getElementById("warrantyItem_" + idnum).remove();
            document.getElementById("warrantyItem_" + idnum).style.display = "none";
            //$('#warrantyItem_' + idnum).attr('style', 'disaplay:none');
        }


        $(function () {
            $('.multi-pt01').MultiFile({
                list: "#file-list01",
                STRING: {
                    remove: '×',
                    selected: '已選擇: $file',
                    denied: '非指定檔案類型 $ext!',
                    duplicate: '已重複選擇:\n$file!',
                    toomuch: '已超過檔案大小限制 ($size)'
                }
            });
            for (var ii = 2; ii <= 100; ii++) {
                $('.multi-pt_' + ii).MultiFile({
                    list: "#file-list_" + ii,
                    STRING: {
                        remove: '×',
                        denied: '非指定檔案類型 $ext!',
                        duplicate: '已重複選擇:\n$file!',
                        toomuch: '已超過檔案大小限制 ($size)'
                    }
                });
            }

        });
    </script>
}

