﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="wp" id="index">
    <main class="main registrationSend">
        <div id="registrationSend">
            <div class="pageBannerBlock blank" style="background-image: url(@Url.Content("~/styles/images/warranty/warranty-banner.jpg"));">
                <div class="breadcrumbInner">
                    <ol class="breadcrumb kanit font-weight-400">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">@ViewBag.ResLang["homepage"]</a></li>
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Registration")">@ViewBag.ResLang["warranty"]</a></li>
                        <li class="breadcrumb-item" aria-current="page">@ViewBag.ResLang["registerproduct"]</li>
                    </ol>
                </div>
                <div class="pageTitle">
                    <h1 class="kanit font-80 font-weight-600" data-aos="fade-up">@ViewBag.ResLang["warranty"]</h1>
                </div>
                <div class="tagsWrap kanit font-weight-600 font-18 unblank">
                    <div class="tagBox active">
                        <a href="@Url.Action("Index", "Registration")">@ViewBag.ResLang["registerproduct"]</a>
                    </div>
                    <div class="tagBox">
                        <a href="@Url.Action("Repairs", "Registration")">@ViewBag.ResLang["warrantycheck"]</a>
                    </div>
                    <div class="tagBox">
                        <a href="@Url.Action("Repair", "Registration")">@ViewBag.ResLang["warrantypolicy"]</a>
                    </div>
                </div>
            </div>
            <div class="registrationSendMainBlock blank">
                <div class="registrationSendMainInner text-646464 roboto font-16">
                    <div class="imgBox">
                        <img src="@Url.Content("~/styles/images/product/saved-ring.svg")" alt="" class="ring">
                        <img src="@Url.Content("~/styles/images/product/check.svg")" alt="" class="check">
                    </div>
                    <h2 class="kanit font-30 font-weight-600 text-323232 text-center" data-aos="fade-up" data-aos-delay="300">@ViewBag.ResLang["regsuccessful"]</h2>
                    <div class="tableWrap" data-aos="fade-up" data-aos-delay="500" data-aos-duration="800">
                        <div class="t-row">
                            <div class="th">@ViewBag.ResLang["regtime"]</div>
                            <div class="td">@ViewBag.registrationtime</div>
                        </div>
                        <div class="t-row">
                            <div class="th">@ViewBag.ResLang["regnumber"]</div>
                            <div class="td">@ViewBag.registrationnumber</div>
                        </div>
                        <div class="t-row">
                            <div class="th">@ViewBag.ResLang["regname"]</div>
                            <div class="td">@ViewBag.successfulname</div>
                        </div>
                        <div class="t-row">
                            <div class="th">@ViewBag.ResLang["tel"]</div>
                            <div class="td">@ViewBag.successfultel</div>
                        </div>
                        <div class="t-row">
                            <div class="th">@ViewBag.ResLang["regcompany"]</div>
                            <div class="td">@ViewBag.successfulcompany</div>
                        </div>
                        <div class="t-row">
                            <div class="th">@ViewBag.ResLang["regproducts"]</div>
                            <div class="td">
                                @foreach (var itesuc in ViewBag.successfulproducts)
                                {
                                    <p>@itesuc</p>
                                }
                                @*<p>Model number: RI60164-6 &nbsp;&nbsp;&nbsp;│&nbsp;&nbsp;&nbsp; Serial Number: 456789456</p>*@
                            </div>
                        </div>
                        <div class="t-row">
                            <div class="th">@ViewBag.ResLang["regaddress"]</div>
                            <div class="td">@ViewBag.successfuladdress</div>
                        </div>
                        @*<div class="t-row">
                                <div class="th">@ViewBag.regbuychannel</div>
                                <div class="td">@ViewBag.successfulbuyingchannel</div>
                            </div>
                            <div class="t-row">
                                <div class="th">@ViewBag.regpurchasedate</div>
                                <div class="td">@ViewBag.successfulpurchasedate</div>
                            </div>*@
                    </div>
                    <a href="@Url.Action("Index", "Registration")" class="submit flex-center kanit font-18 font-weight-500" data-aos="fade-up" data-aos-delay="300">OK</a>

                </div>

                @if (TempData["alertmessage"] != null)
                {
                    <script type="text/javascript">
        var message = @Html.Raw(Json.Encode(TempData["alertmessage"]));
        alert(message);
                    </script>
                }

            </div>
        </div>
    </main>
</div>


