﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="wp" id="index">
    <main class="main repairsSend">
        <div id="repairsSend">
            <div class="pageBannerBlock blank" style="background-image: url(@Url.Content("~/styles/images/warranty/warranty-banner.jpg"));">
                <div class="breadcrumbInner">
                    <ol class="breadcrumb kanit font-weight-400">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">@ViewBag.ResLang["homepage"]</a></li>
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Registration")">@ViewBag.ResLang["warranty"]</a></li>
                        <li class="breadcrumb-item" aria-current="page">@ViewBag.ResLang["warrantycheck"]</li>
                    </ol>
                </div>
                <div class="pageTitle">
                    <h1 class="kanit font-80 font-weight-600" data-aos="fade-up">@ViewBag.ResLang["warranty"]</h1>
                </div>
                <div class="tagsWrap kanit font-weight-600 font-18 unblank">
                    <div class="tagBox">
                        <a href="@Url.Action("Index", "Registration")">@ViewBag.ResLang["registerproduct"]</a>
                    </div>
                    <div class="tagBox active">
                        <a href="@Url.Action("Repairs", "Registration")">@ViewBag.ResLang["warrantycheck"]</a>
                    </div>
                    <div class="tagBox">
                        <a href="@Url.Action("Repair", "Registration")">@ViewBag.ResLang["warrantypolicy"]</a>
                    </div>
                </div>
            </div>
            <div class="repairsSendMainBlock blank">
                <div class="repairsSendMainInner text-646464 roboto font-16">
                    <div class="titleWrap">
                        <a href="repairs" class="backBtnWrap">
                            <span class="backIcon flex-center"><i class="icon-arrow"></i></span>
                            <div class="kanit font-weight-600 font-20 text-323232 d-none d-lg-block">@ViewBag.ResLang["checkagain"]</div>
                        </a>
                        <h2 class="kanit font-24 font-weight-600 text-323232" data-aos="fade-up" data-aos-delay="300">@ViewBag.ResLang["repserialnum"]: @ViewBag.repairRegNumber</h2>
                    </div>
                    <div class="hr unblank"></div>
                    <div class="dataWrap" data-aos="fade-up" data-aos-delay="500" data-aos-duration="800">
                        <div class="titleRow kanit font-weight-500 font-16 text-323232 d-none d-lg-flex">
                            <div class="th">@ViewBag.ResLang["repproductname"]</div>
                            <div class="td">@ViewBag.ResLang["repmodnum"]</div>
                            <div class="td">@ViewBag.ResLang["repserialnum"]</div>
                            <div class="td">@ViewBag.ResLang["reppudate"]</div>
                            <div class="td">@ViewBag.ResLang["repdownload"]</div>
                        </div>
                        <div class="dataRow">
                            <div class="th">
                                <div class="title">@ViewBag.ResLang["repproductname"]</div>
                                <div class="text font-15">@ViewBag.repairProductName</div>
                            </div>
                            <div class="td">
                                <div class="title">@ViewBag.ResLang["repmodnum"]</div>
                                <div class="text">@ViewBag.repairModelnumber</div>
                            </div>
                            <div class="td">
                                <div class="title">@ViewBag.ResLang["repserialnum"]</div>
                                <div class="text">@ViewBag.repairRegNumber</div>
                            </div>
                            <div class="td">
                                <div class="title">@ViewBag.ResLang["reppudate"]</div>
                                <div class="text">@ViewBag.repairPuchasedate</div>
                            </div>
                            <div class="td">
                                <div class="title">@ViewBag.ResLang["repdownload"]</div>
                                <div class="text"><a href="@Url.Content("~"+ViewBag.downloadfile)"><img src="@Url.Content("~/styles/images/warranty/icon-download-yellow.svg")" class="icon-dl" alt=""></a></div>
                            </div>

                        </div>
                    </div>
                    <div class="tableWrap" data-aos="fade-up" data-aos-delay="500" data-aos-duration="800">
                        <div class="t-row">
                            <div class="th">@ViewBag.ResLang["regtime"]</div>
                            <div class="td">@ViewBag.repairRegTime</div>
                        </div>
                        <div class="t-row">
                            <div class="th">@ViewBag.ResLang["regnumber"]</div>
                            <div class="td">@ViewBag.repairRegNumberGuid</div>
                        </div>
                        <div class="t-row">
                            <div class="th">@ViewBag.ResLang["regname"]</div>
                            <div class="td">@ViewBag.repairName</div>
                        </div>
                        <div class="t-row">
                            <div class="th">@ViewBag.ResLang["tel"]</div>
                            <div class="td">@ViewBag.repairTel</div>
                        </div>
                        <div class="t-row">
                            <div class="th">@ViewBag.ResLang["regcompany"]</div>
                            <div class="td">@ViewBag.repairCompany</div>
                        </div>
                        <div class="t-row">
                            <div class="th">@ViewBag.ResLang["regaddress"]</div>
                            <div class="td">@ViewBag.repairAddress</div>
                        </div>
                        <div class="t-row">
                            <div class="th">@ViewBag.ResLang["regbuychannel"]</div>
                            <div class="td">@ViewBag.repairBuyingChannel</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>


