﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="wp" id="index">
    <main class="main repairs">
        <div id="repairs">
            <div class="pageBannerBlock blank" style="background-image: url(@Url.Content("~/styles/images/warranty/warranty-banner.jpg"));">
                <div class="breadcrumbInner">
                    <ol class="breadcrumb kanit font-weight-400">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">@ViewBag.ResLang["homepage"]</a></li>
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Registration")">@ViewBag.ResLang["warranty"]</a></li>
                        <li class="breadcrumb-item" aria-current="page">@ViewBag.ResLang["warrantycheck"]</li>
                    </ol>
                </div>
                <div class="pageTitle">
                    <h1 class="kanit font-80 font-weight-600" data-aos="fade-up">@ViewBag.ResLang["warranty"]</h1>
                </div>
                <div class="tagsWrap kanit font-weight-600 font-18 unblank">
                    <div class="tagBox">
                        <a href="@Url.Action("Index", "Registration")">@ViewBag.ResLang["registerproduct"]</a>
                    </div>
                    <div class="tagBox active">
                        <a href="@Url.Action("Repairs", "Registration")">@ViewBag.ResLang["warrantycheck"]</a>
                    </div>
                    <div class="tagBox">
                        <a href="@Url.Action("Repair", "Registration")">@ViewBag.ResLang["warrantypolicy"]</a>
                    </div>
                </div>
            </div>
            <div class="repairsMainBlock blank">
                <div class="repairsMainInner text-646464 roboto font-16">
                    <h2 class="kanit font-30 font-weight-600 text-323232 text-center" data-aos="fade-up" data-aos-delay="300">@ViewBag.ResLang["warrantycheck"]</h2>
                    <div class="registrationFormBox" data-aos="fade-up" data-aos-delay="500" data-aos-duration="600">
                        <form action="@Url.Action("RepairsSend", "Registration")" method="post" id="registrationForm" name="registrationForm" class="registrationForm">
                            @Html.AntiForgeryToken()
                            <div class="sampleWrap">
                                @if (ViewBag.lang == "en")
                                {
                                    <img src="@Url.Content("~/styles/images/warranty/sample.jpg")" alt="" class="d-none d-md-block">
                                    <img src="@Url.Content("~/styles/images/warranty/sample-mobile.png")" alt="" class="d-block d-md-none">
                                }
                                else
                                {
                                    <img src="@Url.Content("~/styles/images/warranty/sample-chn.jpg")" alt="" class="d-none d-md-block">
                                    <img src="@Url.Content("~/styles/images/warranty/sample-mobile-chn.jpg")" alt="" class="d-block d-md-none">
                                }

                            </div>
                            <div class="field-group">
                                <label class="label" for="mn">@ViewBag.ResLang["modelnumber"] <span class="text-red">*</span></label>
                                <select class="selectpicker" id="mn" name="mn" title=" " required>
                                    @if (ViewBag.warrantyModelData != null)
                                    {
                                        foreach (var item in ViewBag.warrantyModelData)
                                        {
                                            <option value="@item">@item</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="field-group">
                                <label class="label" for="sn">@ViewBag.ResLang["serialnumber"] <span class="text-red">*</span></label>
                                <input class="input" type="text" id="sn" name="sn" required>
                            </div>
                            <div class="field-group">
                                <label class="label" for="tel">@ViewBag.ResLang["tel"] <span class="text-red">*</span></label>
                                <input class="input" type="tel" id="tel" name="tel" required>
                            </div>
                            <div class="field-group">
                                <label class="label" for="vcode">@ViewBag.ResLang["verification"] <span class="text-red">*</span></label>
                                <input class="input" type="text" id="vcode" name="vcode" required>
                                <div class="v-code">
                                    <img id="captcha" onclick="reloadCaptcha()" src="@Url.Content("~/Content/BuildCaptcha.aspx")" alt="">
                                </div>
                            </div>
                            <div class="submitWrap">
                                <button class="submit flex-center kanit font-18 font-weight-500" type="submit" id="searchsubmit">
                                    <span class="d-block">@ViewBag.ResLang["submit"]</span>
                                </button>
                            </div>
                        </form>
                    </div>

                    @if (TempData["alertmessage"] != null)
                    {
                        <script type="text/javascript">
        var message = @Html.Raw(Json.Encode(TempData["alertmessage"]));
        alert(message);
                        </script>
                    }
                </div>
            </div>
        </div>
    </main>
</div>

@section scripts{
    <script>
        //重製驗證碼
        function reloadCaptcha() {
            $('#captcha').attr('src', $('#captcha').attr('src') + "?d=" + Date.now());
        }
    </script>
}

