﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="wp" id="index">
    <main class="main repair">
        <div id="repair">
            <div class="pageBannerBlock blank" style="background-image: url(@Url.Content("~/styles/images/warranty/warranty-banner.jpg"));">
                <div class="breadcrumbInner">
                    <ol class="breadcrumb kanit font-weight-400">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">@ViewBag.ResLang["homepage"]</a></li>
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Registration")">@ViewBag.ResLang["warranty"]</a></li>
                        <li class="breadcrumb-item" aria-current="page">@ViewBag.ResLang["warrantypolicy"]</li>
                    </ol>
                </div>
                <div class="pageTitle">
                    <h1 class="kanit font-80 font-weight-600" data-aos="fade-up">@ViewBag.ResLang["warranty"]</h1>
                </div>
                <div class="tagsWrap kanit font-weight-600 font-18 unblank">
                    <div class="tagBox">
                        <a href="@Url.Action("Index", "Registration")">@ViewBag.ResLang["registerproduct"]</a>
                    </div>
                    <div class="tagBox">
                        <a href="@Url.Action("Repairs", "Registration")">@ViewBag.ResLang["warrantycheck"]</a>
                    </div>
                    <div class="tagBox active">
                        <a href="@Url.Action("Repair", "Registration")">@ViewBag.ResLang["warrantypolicy"]</a>
                    </div>
                </div>
            </div>
            <div class="repairMainBlock blank">
                @if (ViewBag.warrantyPolicyData != null)
                {
                    @Html.Raw(ViewBag.warrantyPolicyData)
                }
                @*<div class="repairMainInner text-646464 roboto font-16">
                        <h2 class="kanit font-30 font-weight-600 text-323232 text-center" data-aos="fade-up" data-aos-delay="300">WARRANTY POLICY</h2>
                        <hr>
                        <div class="" data-aos="fade-up" data-aos-delay="500" data-aos-duration="800">
                            <div class="font-18 font-weight-700 text-323232">PRODUCT WARRANTY POLICY (POWER TOOLS)<br>LIMITED WARRANTY OF DUROFIX POWER TOOLS</div>
                            <p>Mobiletron Electronics Co., Ltd. ("Seller") warrants to the original purchaser only, that all DUROFIX power tools will be free from defects in material or workmanship for a period of warranty time (the warranty time may be varied for different products, please check the manual of each tool or contact your local DUROFIX dealer or importer) from date of purchase. <span class="font-weight-700">SELLER'S SOLE OBLIGATION AND YOUR EXCLUSIVE REMEDY</span> under this Limited Warranty and, to the extent permitted by law, any warranty or condition implied by law, shall be the repair or replacement of parts, without charge, which are defective in material or workmanship and which have not been misused, carelessly handled, or misrepaired by persons other than Seller or Authorized Service Station.</p>
                            <p>To make a claim under this Limited Warranty, you must return the complete power tool product, transportation prepaid, to any DUROFIX Service Center or Authorized Service Center. Pleaseinclude a dated proof of purchase with your tool.</p>
                            <div class="font-18 font-weight-700 text-323232">THIS LIMITED WARRANTY DOES NOT APPLY TO ACCESSORY ITEMS SUCH AS CIRCULAR SAW BLADES, DRILL BITS, ROUTER BITS, JIGSAW BLADES, SANDING BELTS, GRINDING WHEELS AND OTHER RELATED ITEMS.</div>
                            <p>Within the warranty time starting from the date of purchase, we will perform free of charge electrical, safety and performance checks, lubrication and replacement of parts worn under normal use. Performed at factory service centers only, transportation and freight are the responsibility of the customer.</p>
                            <div class="font-18 font-weight-700 text-323232">FOR MORE DETAILS OF THE LIMITED WARRANTY COVERAGE WITHIN YOUR COUNTRY, PLEASE CONTACT YOUR LOCAL DUROFIX DEALER OR IMPORTER.</div>
                        </div>
                    </div>*@
            </div>
        </div>
    </main>
</div>

