﻿@using Web.Models;
@{
    Layout = "~/Views/Siteadmin/Shared/_Layout.cshtml";
}

@section css {
    @Styles.Render("~/Scripts/elfinder/css/smoothness-1.8.23/jquery-ui-1.8.23.custom.css")
    @Styles.Render("~/Scripts/elfinder/css/elfinder.full.css")
    @Styles.Render("~/Scripts/elfinder/windows-10/css/theme.css")
    @Styles.Render("~/Scripts/imgareaselect/css/imgareaselect-default.css")

}

<div class="content-body">
    <!-- layout-content-->
    <section class="panel panel-default">
        <header class="panel-heading">
            <h1 class="h5 float-left font-weight-bold">@Html.Raw(ViewBag.system_menu_data.title)</h1>
            <div class="float-right">
                @if (ViewBag.system_menu_data.act_path == "list")
                {
                    <button class="btn btn-sm btn-light" type="button" onclick="window.location.href='@Url.Content("~/siteadmin/" + ViewBag.Tables + "/list")'" title="返回"><i class="icon-undo2"></i><span class="ml-1 d-none d-md-inline-block">@ViewBag.ResLang["returnButton"]</span></button>
                }
                @if (ViewBag.Tables == "Y")
                {
                    @*<div class="btn-group btn-group-sm dropdown" role="group">
                        <button class="btn dropdown-toggle btn-secondary" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="語系" id="tableLen"><i class="icon-globe"></i><span class="ml-1 d-none d-md-inline-block nowLangTitle">@Html.Raw(ViewBag.viewLanguage)</span></button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="tableLen">
                            @if (ViewBag.language != null)
                            {
                                int i = 0;
                                foreach (language item in ViewBag.language)
                                {
                                    <a class="dropdown-item changInputLang  @if (i == 0) { @Html.Raw("selected") }" href="#" data-lang="@Html.Raw(item.lang)">@Html.Raw(item.title)</a>
                                    i++;
                                }
                            }
                        </div>
                    </div>*@
                }
            </div>
        </header>
        <div class="panel-wrapper">
            <div class="panel-body">
                <form action="@Url.Content("~/siteadmin/" + ViewBag.Tables + "/save")" method="post" name="saveForm" id="saveForm">

                    <input type="hidden" name="tables" id="tables" value="@ViewBag.Tables">
                    @if (ViewBag.useLang == "Y")
                    {
                        <input type="hidden" name="guid" id="guid" value="@if(ViewBag.data != null) { @Html.Raw(ViewBag.data[ViewBag.defLang]["guid"]) }">

                        if (ViewBag.data != null && ViewBag.data[ViewBag.defLang]["create_date"] != null && ViewBag.data[ViewBag.defLang]["create_date"].ToString() != "")
                        {
                            <input type="hidden" name="create_date" id="create_date" value="@DateTime.Parse(ViewBag.data[ViewBag.defLang]["create_date"].ToString()).ToString("yyyy/MM/dd HH:mm:ss")">
                        }
                    }
                    else
                    {
                        <input type="hidden" name="guid" id="guid" value="@if(ViewBag.data != null) { @Html.Raw(ViewBag.data["guid"]) }">

                        if (ViewBag.data != null && ViewBag.data["create_date"] != null && ViewBag.data["create_date"].ToString() != "")
                        {
                            <input type="hidden" name="create_date" id="create_date" value="@DateTime.Parse(ViewBag.data["create_date"].ToString()).ToString("yyyy/MM/dd HH:mm:ss")">
                        }
                    }

                    <!--隱藏欄位-->
                    @if (ViewBag.hiddenCol != null)
                    {

                        foreach (KeyValuePair<string, object> item in ViewBag.hiddenCol)
                        {
                            ViewBag.key = item.Key;
                            var mJObj = Newtonsoft.Json.Linq.JArray.Parse(item.Value.ToString());
                            ViewBag.colJson = mJObj[0];

                            ViewBag.category = null;

                            ViewBag.inherit = null;
                            //有來源分類
                            if (mJObj[0]["inherit"] != null && mJObj[0]["inherit"].ToString() != "")
                            {
                                ViewBag.inherit = mJObj[0]["inherit"].ToString();
                                ViewBag.category = Web.Service.TablesService.getCategory(mJObj[0]["inherit"].ToString());

                            }

                            @Html.Partial("Form/" + mJObj[0]["type"])
                        }

                    }

                    @if (ViewBag.mainCol != null)
                    {

                        <fieldset class="mt-4">
                            <legend class="legend h6 mb-4"><i class="icon-angle-double-down2 mr-3"></i>@ViewBag.ResLang["mainSetting"]</legend>

                            @foreach (KeyValuePair<string, object> item in ViewBag.mainCol)
                            {
                                ViewBag.key = item.Key;
                                var mJObj = Newtonsoft.Json.Linq.JArray.Parse(item.Value.ToString());
                                ViewBag.colJson = mJObj[0];

                                ViewBag.category = null;

                                ViewBag.inherit = null;
                                //有來源分類
                                if (mJObj[0]["inherit"] != null && mJObj[0]["inherit"].ToString() != "")
                                {
                                    ViewBag.inherit = mJObj[0]["inherit"].ToString();
                                    ViewBag.category = Web.Service.TablesService.getCategory(mJObj[0]["inherit"].ToString(), ViewBag.PrevCategory);

                                }

                                @Html.Partial("Form/" + mJObj[0]["type"])
                            }
                        </fieldset>
                    }

                    @if (ViewBag.serviceCol != null)
                    {
                        <fieldset class="mt-4">
                            <legend class="legend h6 mb-4"><i class="icon-angle-double-down2 mr-3"></i>維修商品</legend>
                            @*@{
                                    var mJObj = Newtonsoft.Json.Linq.JArray.Parse(ViewBag.serviceCol.ToString());
                                    ViewBag.colJson = mJObj[0];
                                }

                                @Html.Partial("Form/" + mJObj[0]["type"])*@

                            @foreach (KeyValuePair<string, object> item in ViewBag.serviceCol)
                            {
                                ViewBag.key = item.Key;
                                var mJObj = Newtonsoft.Json.Linq.JArray.Parse(item.Value.ToString());
                                ViewBag.colJson = mJObj[0];

                                @Html.Partial("Form/" + mJObj[0]["type"])
                            }
                        </fieldset>
                    }

                    @if (ViewBag.contentCol != null)
                    {
                        <fieldset class="mt-4">
                            <legend class="legend h6 mb-4"><i class="icon-angle-double-down2 mr-3"></i>Content Setting</legend>

                            @foreach (KeyValuePair<string, object> item in ViewBag.contentCol)
                            {
                                ViewBag.key = item.Key;
                                var mJObj = Newtonsoft.Json.Linq.JArray.Parse(item.Value.ToString());
                                ViewBag.colJson = mJObj[0];

                                ViewBag.category = null;

                                ViewBag.inherit = null;
                                //有來源分類
                                if (mJObj[0]["inherit"] != null && mJObj[0]["inherit"].ToString() != "")
                                {
                                    ViewBag.inherit = mJObj[0]["inherit"].ToString();
                                    ViewBag.category = Web.Service.TablesService.getCategory(mJObj[0]["inherit"].ToString());

                                }

                                @Html.Partial("Form/" + mJObj[0]["type"])
                            }
                        </fieldset>
                    }

                    @if (ViewBag.userCol != null)
                    {
                        <fieldset class="mt-4">
                            <legend class="legend h6 mb-4"><i class="icon-angle-double-down2 mr-3"></i>@ViewBag.ResLang["accountDetail"]</legend>
                            @foreach (KeyValuePair<string, object> item in ViewBag.userCol)
                            {
                                ViewBag.key = item.Key;
                                var mJObj = Newtonsoft.Json.Linq.JArray.Parse(item.Value.ToString());
                                ViewBag.colJson = mJObj[0];
                                ViewBag.inherit = null;

                                @Html.Partial("Form/" + mJObj[0]["type"])

                            }
                        </fieldset>
                    }

                    @if (ViewBag.mediaCol != null)
                    {
                        <fieldset class="mt-4">
                            <legend class="legend h6 mb-4"><i class="icon-angle-double-down2 mr-3"></i>@ViewBag.ResLang["media"]</legend>
                            @foreach (KeyValuePair<string, object> item in ViewBag.mediaCol)
                            {
                                ViewBag.key = item.Key;
                                var mJObj = Newtonsoft.Json.Linq.JArray.Parse(item.Value.ToString());
                                ViewBag.colJson = mJObj[0];
                                ViewBag.inherit = null;

                                @Html.Partial("Form/" + mJObj[0]["type"])

                            }
                        </fieldset>
                    }

                    @if (ViewBag.reviewCol != null)
                    {
                        <fieldset class="mt-4">
                            <legend class="legend h6 mb-4"><i class="icon-angle-double-down2 mr-3"></i>@ViewBag.ResLang["inspectorSetting"]</legend>
                            @foreach (KeyValuePair<string, object> item in ViewBag.reviewCol)
                            {
                                ViewBag.key = item.Key;
                                var mJObj = Newtonsoft.Json.Linq.JArray.Parse(item.Value.ToString());
                                ViewBag.colJson = mJObj[0];
                                ViewBag.inherit = null;

                                //有來源分類
                                if (mJObj[0]["inherit"] != null && mJObj[0]["inherit"].ToString() != "")
                                {
                                    ViewBag.inherit = mJObj[0]["inherit"].ToString();
                                    ViewBag.category = Web.Service.TablesService.getCategory(mJObj[0]["inherit"].ToString());
                                }

                                @Html.Partial("Form/" + mJObj[0]["type"])

                            }
                        </fieldset>
                    }

                    @if (ViewBag.verifyCol != null)
                    {
                        <fieldset class="mt-4">
                            <legend class="legend h6 mb-4"><i class="icon-angle-double-down2 mr-3"></i>@ViewBag.ResLang["verifyManage"]</legend>
                            @foreach (KeyValuePair<string, object> item in ViewBag.verifyCol)
                            {
                                ViewBag.key = item.Key;
                                var mJObj = Newtonsoft.Json.Linq.JArray.Parse(item.Value.ToString());
                                ViewBag.colJson = mJObj[0];
                                ViewBag.inherit = null;
                                ViewBag.masterUser = null;
                                //有來源分類
                                if (mJObj[0]["inherit"] != null && mJObj[0]["inherit"].ToString() != "")
                                {
                                    ViewBag.inherit = mJObj[0]["inherit"].ToString();
                                    ViewBag.category = Web.Service.TablesService.getCategory(mJObj[0]["inherit"].ToString());
                                }

                                @Html.Partial("Form/" + mJObj[0]["type"])

                            }
                        </fieldset>
                    }

                    @if (ViewBag.reInfoCol != null)
                    {

                        <fieldset class="mt-4">
                            <legend class="legend h6 mb-4"><i class="icon-angle-double-down2 mr-3"></i>@ViewBag.ResLang["replyContent"]</legend>

                            @foreach (KeyValuePair<string, object> item in ViewBag.reInfoCol)
                            {
                                ViewBag.key = item.Key;
                                var mJObj = Newtonsoft.Json.Linq.JArray.Parse(item.Value.ToString());
                                ViewBag.colJson = mJObj[0];

                                ViewBag.category = null;

                                ViewBag.inherit = null;
                                //有來源分類
                                if (mJObj[0]["inherit"] != null && mJObj[0]["inherit"].ToString() != "")
                                {
                                    ViewBag.inherit = mJObj[0]["inherit"].ToString();
                                    ViewBag.category = Web.Service.TablesService.getCategory(mJObj[0]["inherit"].ToString(), ViewBag.data[ViewBag.defLang]);

                                }

                                @Html.Partial("Form/" + mJObj[0]["type"])
                            }
                        </fieldset>
                    }

                    @if (ViewBag.reUserCol != null)
                    {

                        <fieldset class="mt-4">
                            <legend class="legend h6 mb-4"><i class="icon-angle-double-down2 mr-3"></i>@ViewBag.ResLang["respondentSetting"]</legend>

                            @foreach (KeyValuePair<string, object> item in ViewBag.reUserCol)
                            {
                                ViewBag.key = item.Key;
                                var mJObj = Newtonsoft.Json.Linq.JArray.Parse(item.Value.ToString());
                                ViewBag.colJson = mJObj[0];

                                ViewBag.category = null;

                                ViewBag.inherit = null;

                                //有來源分類
                                if (mJObj[0]["inherit"] != null && mJObj[0]["inherit"].ToString() != "")
                                {
                                    ViewBag.inherit = mJObj[0]["inherit"].ToString();
                                    ViewBag.category = Web.Service.TablesService.getCategory(mJObj[0]["inherit"].ToString(), ViewBag.data[ViewBag.defLang]);

                                }

                                @Html.Partial("Form/" + mJObj[0]["type"])
                            }
                        </fieldset>
                    }

                    @if (ViewBag.otherCol != null)
                    {
                        <fieldset class="mt-4">
                            <legend class="legend h6 mb-4"><i class="icon-angle-double-down2 mr-3"></i>@ViewBag.ResLang["advancedOption"]</legend>

                            @foreach (KeyValuePair<string, object> item in ViewBag.otherCol)
                            {
                                ViewBag.key = item.Key;
                                var mJObj = Newtonsoft.Json.Linq.JArray.Parse(item.Value.ToString());
                                ViewBag.colJson = mJObj[0];

                                ViewBag.inherit = null;

                                @Html.Partial("Form/" + mJObj[0]["type"])

                            }
                        </fieldset>
                    }

                    @if (ViewBag.verifyColForum != null)
                    {
                        <fieldset class="mt-4">
                            <legend class="legend h6 mb-4"><i class="icon-angle-double-down2 mr-3"></i>Reply Manage</legend>
                            @foreach (KeyValuePair<string, object> item in ViewBag.verifyColForum)
                            {
                                ViewBag.key = item.Key;
                                var mJObj = Newtonsoft.Json.Linq.JArray.Parse(item.Value.ToString());
                                ViewBag.colJson = mJObj[0];
                                ViewBag.inherit = null;

                                //有來源分類
                                if (mJObj[0]["inherit"] != null && mJObj[0]["inherit"].ToString() != "")
                                {
                                    ViewBag.inherit = mJObj[0]["inherit"].ToString();
                                    ViewBag.category = Web.Service.TablesService.getCategory(mJObj[0]["inherit"].ToString(), ViewBag.data[ViewBag.defLang]);
                                }

                                @Html.Partial("Form/" + mJObj[0]["type"])

                            }
                        </fieldset>
                    }

                    @if (ViewBag.modifyerCol != null)
                    {
                        <fieldset class="mt-4">
                            <legend class="legend h6 mb-4"><i class="icon-angle-double-down2 mr-3"></i>Last Changer</legend>

                            @foreach (KeyValuePair<string, object> item in ViewBag.modifyerCol)
                            {
                                ViewBag.key = item.Key;
                                var mJObj = Newtonsoft.Json.Linq.JArray.Parse(item.Value.ToString());
                                ViewBag.colJson = mJObj[0];

                                ViewBag.inherit = null;

                                @Html.Partial("Form/" + mJObj[0]["type"])

                            }
                        </fieldset>
                    }

                    @if (ViewBag.delayCol != null)
                    {
                        <fieldset class="mt-4">
                            <legend class="legend h6 mb-4"><i class="icon-angle-double-down2 mr-3"></i>Delay Setting</legend>

                            @foreach (KeyValuePair<string, object> item in ViewBag.delayCol)
                            {
                                ViewBag.key = item.Key;
                                var mJObj = Newtonsoft.Json.Linq.JArray.Parse(item.Value.ToString());
                                ViewBag.colJson = mJObj[0];

                                ViewBag.inherit = null;

                                @Html.Partial("Form/" + mJObj[0]["type"])

                            }
                        </fieldset>
                    }
                    @if (ViewBag.delay2Col != null)
                    {
                        <fieldset class="mt-4">
                            <legend class="legend h6 mb-4"><i class="icon-angle-double-down2 mr-3"></i>Long-term Evaluation Setting</legend>

                            @foreach (KeyValuePair<string, object> item in ViewBag.delay2Col)
                            {
                                ViewBag.key = item.Key;
                                var mJObj = Newtonsoft.Json.Linq.JArray.Parse(item.Value.ToString());
                                ViewBag.colJson = mJObj[0];

                                ViewBag.inherit = null;

                                @Html.Partial("Form/" + mJObj[0]["type"])

                            }
                        </fieldset>
                    }
                    @if (ViewBag.viewSetCol != null)
                    {
                        <fieldset class="mt-4">
                            <legend class="legend h6 mb-4"><i class="icon-angle-double-down2 mr-3"></i>View Setting</legend>

                            @foreach (KeyValuePair<string, object> item in ViewBag.viewSetCol)
                            {
                                ViewBag.key = item.Key;
                                var mJObj = Newtonsoft.Json.Linq.JArray.Parse(item.Value.ToString());
                                ViewBag.colJson = mJObj[0];

                                ViewBag.inherit = null;

                                @Html.Partial("Form/" + mJObj[0]["type"])

                            }
                        </fieldset>
                    }

                    <div class="text-center my-4 form-btn-group">
                        @if (ViewBag.Tables == "forum")
                        {
                            <input type="hidden" name="saveAndSend" id="saveAndSend" value="N">
                            <button class="btn btn-info mr-1 saveAndSend" type="button">@ViewBag.ResLang["saveButton"]</button>
                        }
                    <button class="btn btn-main submitBut" type="submit" id="norsave">@ViewBag.ResLang["submitButton"]</button>
                    <button class="btn btn-default" type="reset">@ViewBag.ResLang["clearButton"]</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- / layout-content-->
</div>
@section scripts {
    <input type="hidden" id="fileMegRoot" value="@Url.Content("~/connector")" />

    <!--page index-->
    @Scripts.Render("~/Content/Siteadmin/scripts/index2.js")

    <!-- * * * DataTables 表格-->
    @Scripts.Render("~/Content/Siteadmin/modules/datatables/datatables.min.js")
    @Scripts.Render("~/Content/Siteadmin/modules/datatables/dataTables.responsive.min.js")
    <!-- * * form -->
    <!-- * * * ckeditor 編輯器-->
    @Scripts.Render("~/Content/Siteadmin/modules/ckeditor/ckeditor.js")
    <!-- * * * Bootstrap Daterangepicker 日期區間-->
    @Scripts.Render("~/Content/Siteadmin/modules/bootstrap-daterangepicker-master/moment.min.js")
    @Scripts.Render("~/Content/Siteadmin/modules/bootstrap-daterangepicker-master/daterangepicker.js")
    <!-- * * * bootstrap-select 下拉選單-->
    @Scripts.Render("~/Content/Siteadmin/modules/bootstrap-select/bootstrap-select.js ")
    <!-- * * * multiselect 分類左右選擇 select multiple-->
    @Scripts.Render("~/Content/Siteadmin/modules/multiselect/js/jquery.multi-select.js")
    <!-- * * * multiselect 分類左右選擇 搜尋框 jquery-quicksearch-->
    @Scripts.Render("~/Content/Siteadmin/modules/quicksearch-master/jquery.quicksearch.js")
    @Scripts.Render("~/Content/Siteadmin/modules/select2/js/select2.full.min.js")
    <!-- * * * typeahead 建議字詞清單 typeahead.bundle.js-->
    @Scripts.Render("~/Content/Siteadmin/modules/typeahead/typeahead.bundle.js")

    <!-- * * * inputmask 表單格式-->
    @Scripts.Render("~/Content/Siteadmin/modules/inputmask/jquery.inputmask.bundle.min.js")
    <!-- * * * jquery.repeater.min.js 新增欄位-->
    @Scripts.Render("~/Content/Siteadmin/modules/repeater/jquery.repeater.min.js")
    <!-- * * * bootstrap-colorpicker-master 顏色選取-->
    @Scripts.Render("~/Content/Siteadmin/modules/bootstrap-colorpicker-master/js/bootstrap-colorpicker.min.js")
    <!-- * * * nestable 排序拖曳-->
    @Scripts.Render("~/Content/Siteadmin/modules/nestable/jquery.nestable.js")
    <!-- * * * dropzonejs 檔案上傳-->
    @Scripts.Render("~/Content/Siteadmin/modules/dropzonejs/dropzone.js")
    <!-- * * * Jcrop Image Cropping Plugin 圖片座標截圖 -->
    @Scripts.Render("~/Content/Siteadmin/modules/jcrop/jquery.Jcrop.min.js")
    @Scripts.Render("~/Content/Siteadmin/modules/jcrop/jquery.color.js")
    <!-- * * * ammap 分析統計圖-->
    @Scripts.Render("~/Content/Siteadmin/modules/amcharts/ammap.js")
    @Scripts.Render("~/Content/Siteadmin/modules/amcharts/maps/js/worldLow.js")
    <!-- * * * amcharts 分析統計圖-->
    @Scripts.Render("~/Content/Siteadmin/modules/amcharts/amcharts.js")
    @Scripts.Render("~/Content/Siteadmin/modules/amcharts/pie.js")
    @Scripts.Render("~/Content/Siteadmin/modules/amcharts/serial.js")
    @Scripts.Render("~/Content/Siteadmin/modules/amcharts/plugins/export/export.min.js")
    @Scripts.Render("~/Content/Siteadmin/modules/amcharts/plugins/dataloader/dataloader.min.js")
    @Scripts.Render("~/Content/Siteadmin/modules/amcharts/themes/light.js")
    @Scripts.Render("~/Content/Siteadmin/modules/amcharts/lib/amstock.js")
    <!-- * * * bootstrap-datepicker 日曆-->
    <!--@Scripts.Render("~/Content/Siteadmin/modules/bootstrap-datepicker/bootstrap-datepicker.min.js")-->
    <!-- * * * bootstrap-year-calendar 年曆-->
    <!-- @Scripts.Render("~/Content/Siteadmin/modules/bootstrap-year-calendar/js/bootstrap-year-calendar.js")
     @Scripts.Render("~/Content/Siteadmin/modules/bootstrap-year-calendar/js/languages/bootstrap-year-calendar.tw.js")-->
    @Scripts.Render("~/Content/Siteadmin/scripts/form.js")

    @Scripts.Render("~/Content/Siteadmin/scripts/datatables.js")
    @Scripts.Render("~/Content/Siteadmin/scripts/typeahead.js")

    <script src="@Url.Content("~/")Scripts/elfinder/js/elfinder.full.js" type="text/javascript" charset="utf-8"></script>
    @Scripts.Render("~/Scripts/elfinder/js/i18n/elfinder.zh_TW.js")
    @Scripts.Render("~/Scripts/elfinder/js/jquery-ui-1.11.4.min.js")
    @Scripts.Render("~/Scripts/imgareaselect/scripts/jquery.imgareaselect.js")

    <!-- * * * validate 表單驗證-->
    @Scripts.Render("~/Content/Design/validation/jquery.validate.js")
    @Scripts.Render("~/Content/Design/validation/messages_zh_TW.js")

    @Scripts.Render("~/Scripts/jquery.blockUI.js")

    <!-- /  layout-js-->

    <script type="text/javascript">
        $(document).ready(function () {
            $('#norsave').bind("click", function () {
                var imgReq = $('#category')[0].required;
                var imgVal = $('#category')[0].value;
                if (imgVal == '') {
                    alert("必須選擇!");
                    return false;
                }


            });

            if ('@TempData["success"]' == 'True') {
                swal({
                    title: "系統資訊",
                    text: "送出完成",
                    type: "success",
                    confirmButtonText: "確定",
                }, function () {
                    window.location.href = '@TempData["Url"]';
                });
            }
        });

        //儲存標點連結
        $("body").delegate("#saveimglink", "click", function (e) {
            var guid = $("#guid").val();
            var x1 = $(".jcrop-x1").val();
            var y1 = $(".jcrop-y1").val();
            var x2 = $(".jcrop-x2").val();
            var y2 = $(".jcrop-y2").val();
            var w = $(".jcrop-w").val();
            var h = $(".jcrop-h").val();
            var dt_w = $(".dt_w").val();
            var dt_h = $(".dt_h").val();
            var title = $("#dm_type_title").val();
            var url = $("#dm_type_url").val();
            var radio = $('input[name="dm_type_icon"]:checked').val();

            var guid = $("#datafile").attr('data-guid');
            var filename = $("#datafile").attr('data-filename');

            $.ajax({
                url: '@Url.Action("SaveImgUrl", "Siteadmin")',
                data: { x1: x1, y1: y1, x2: x2, y2: y2, w: w, h: h, dt_w: dt_w, dt_h: dt_h, title: title, url: url, radio: radio, guid: guid, filename: filename },
                type: 'POST',
                success: function (data) {
                    if (data.success) {
                        swal({
                            title: "系統資訊",
                            text: "送出成功",
                            type: "success",
                            confirmButtonText: "確定",
                        }, function () {
                            $(".dmReset").trigger("click");
                            ReadImgUrlData(guid, filename);
                        });
                    }
                    else {
                        swal({
                            title: "系統資訊",
                            text: "送出失敗，請檢查資料。",
                            type: "error",
                            confirmButtonText: "確定",
                        });
                    }
                }
            });
        });

        //刪除
        $("body").delegate(".deleteimgurl", "click", function (e) {
            var guid = $(this).attr("guid");
            var dataguid = $(this).attr("dataguid");
            var datafilename = $(this).attr("datafilename");
            $.ajax({
                url: '@Url.Action("DeleteImgUrl", "Siteadmin")',
                data: { guid: guid },
                type: 'POST',
                success: function (data) {
                    if (data.success) {
                        swal({
                            title: "系統資訊",
                            text: "刪除成功",
                            type: "success",
                            confirmButtonText: "確定",
                        }, function () {
                            $(".dmReset").trigger("click");
                            ReadImgUrlData(dataguid, datafilename);
                        });
                    }
                    else {
                        swal({
                            title: "系統資訊",
                            text: "刪除失敗",
                            type: "error",
                            confirmButtonText: "確定",
                        }, function () {
                            $(".dmReset").trigger("click");
                            ReadImgUrlData(dataguid, datafilename);
                        });
                    }
                }
            });
        });

        //讀取
        function ReadImgUrlData(guid, filename) {
            var toAppend = '';
            $.ajax({
                url: '@Url.Action("ReadImgUrl", "Siteadmin")',
                data: { dataguid: guid, datafilename: filename },
                type: 'POST',
                success: function (data) {
                    var list = data.list;
                    var num = 1;
                    $.each(list, function (index, value) {
                        toAppend += '<tr>';
                        toAppend += '<td class="text-center" scope="row">' + num + '</td>';
                        toAppend += '<td>';
                        toAppend += '<h6 class="m-0">' + value.title + '<small class="ml-2 text-secondary">(' + value.x1 + ',' + value.y1 + ',' + value.x2 + ',' + value.y2 + ',' + value.w + ',' + value.h + ')</small></h6><small> <i class="icon-link"></i><a href="' + value.url + '" target="_blank">' + value.url + '</a></small>';
                        toAppend += '</td>';
                        toAppend += '<td class="text-center text-nowrap">';
                        toAppend += '<button class="btn btn-danger btn-sm deleteimgurl" dataguid="' + value.data_guid + '" datafilename="' + value.data_filename + '" guid="' + value.guid + '" type="button" data-repeater-delete=""><i class="icon-cross"></i></button>';
                        toAppend += '</td>';
                        toAppend += ' </tr>';
                        num++;
                    });
                    $("#dm_type_list").empty();
                    $("#dm_type_list").append(toAppend);
                }
            });
        }
    </script>
}