﻿@{
    Layout = "~/Views/Siteadmin/Shared/_Layout.cshtml";
}

<div class="content-body">
    <!-- layout-content-->
    <!-- row  -->
    <div class="row mt-xl-0 mt-3">
        <div class="col-xl-3">
            <section class="panel">
                <header class="panel-heading text-center">
                    @*<h2 class="h5 px-2">線上使用者</h2>*@
                    <h2 class="h5 px-2">@ViewBag.ResLang["onlineUser"]</h2>
                </header>
                <div class="panel-body px-0 py-0">
                    <div class="h1 text-center font-weight-bold pb-2">
                        @*<span class="text-main">@ViewBag.ResLang["nowUser"]</span>*@
                        @ViewBag.RealtimeData
                    </div>
                    <div class="progress" title="73.77% 新工作階段" style="height: 5px;">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-main" role="progressbar" style="width: 73.77%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="row text-center py-3">
                        @*<div class="col"><span class="d-block text-muted small">本月瀏覽次數</span><span class="d-block font-weight-bold mb-1">@ViewBag.ViewYearUseMonth</span></div>*@
                        @*<div class="col"><span class="d-block text-muted small">本月預約次數</span><span class="d-block font-weight-bold mb-1">@ViewBag.ReservationNumUseMonth</span></div>*@
                    </div>
                </div>
            </section>
            <section class="panel">
                <header class="panel-heading text-center">
                    @*<h2 class="h5">瀏覽器使用</h2>*@
                    <h2 class="h5">@ViewBag.ResLang["browser"]</h2>
                </header>
                <div class="clearfix px-4"><span class="flot-left small">Google Chrome</span><span class="float-right"><span class="badge badge-pill badge-main" id="chrome">50%</span></span></div>
                <hr class="my-2 w-100">
                <div class="clearfix px-4 py-1"><span class="flot-left small">Mozila Firefox</span><span class="float-right"><span class="badge badge-pill badge-warning" id="firefox">30%</span></span></div>
                <hr class="my-2 w-100">
                <div class="clearfix px-4 py-1"><span class="flot-left small">Internet Explorer</span><span class="float-right"><span class="badge badge-pill badge-info" id="ie">20%</span></span></div>
                <hr class="my-2 w-100">
                <div class="clearfix px-4 pt-1 pb-2"><span class="flot-left small">Safari</span><span class="float-right"><span class="badge badge-pill badge-success" id="safari">10%</span></span></div>
            </section>
        </div>
        <div class="col-xl-9">
            <section class="panel">
                <header class="panel-heading">
                    @*<h2 class="h5 float-left">年度數量</h2>*@
                    <h2 class="h5 float-left">@ViewBag.ResLang["yearCount"]</h2>
                </header>
                <div class="panel-wrapper"></div>
                @*<div class="panel-body pb-3">
                        <div id="analyticsAge" style="height:353px;"></div>
                    </div>*@
                <div class="clearfix px-4"><span class="flot-left small">@ViewBag.ResLang["loginlang"]</span><span class="float-right"><span class="badge badge-pill badge-main" id="chrome">@ViewBag.ResLang["sysLang"]</span></span></div>
                <hr class="my-2 w-100">
                <div class="clearfix px-4 py-1"><span class="flot-left small">@ViewBag.ResLang["loginaccount"]</span><span class="float-right"><span class="badge badge-pill badge-warning" id="firefox">@ViewBag.ResLang["sysUseraccount"]</span></span></div>
                <hr class="my-2 w-100">
                <div class="clearfix px-4 py-1"><span class="flot-left small">@ViewBag.ResLang["loginname"]</span><span class="float-right"><span class="badge badge-pill badge-info" id="ie">@ViewBag.ResLang["sysName"]</span></span></div>
                <hr class="my-2 w-100">
                <div class="clearfix px-4 pt-1 pb-2"><span class="flot-left small">@ViewBag.ResLang["logingroup"]</span><span class="float-right"><span class="badge badge-pill badge-success" id="safari">@ViewBag.ResLang["sysGroup1"]</span></span></div>
                <hr class="my-2 w-100">
                <div class="clearfix px-4 pt-1 pb-2"><span class="flot-left small">@ViewBag.ResLang["logingroup2"]</span><span class="float-right"><span class="badge badge-pill badge-success" id="safari">@ViewBag.ResLang["sysGroup2"]</span></span></div>
            </section>
        </div>
    </div>
    <!-- / row-->
    <!-- row    -->
    <div class="row text-center mt-3">
    </div>
    <!-- / row-->
    <!-- row  -->
    <div class="row mt-3">
        <div class="col-xl-6 col-lg-12">
            <section class="panel">
            </section>
        </div>
        <div class="col-xl-6 col-lg-12 mt-xl-0 mt-3">

            </section>
        </div>
    </div>
    <!-- / row-->
    <!-- / layout-content-->
</div>
@section scripts {
    <!--page index-->
    @Scripts.Render("~/Content/Siteadmin/scripts/index2.js")
}