﻿@using Web.Models;
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="tw">
<head>
    <title>@ViewBag.systemData.title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    @Styles.Render("~/Content/Siteadmin/styles/app.css")
</head>
<body class="login">
    <div class="wrapper user-login2">
        <div class="login-container container">
            <div class="row">
                <div class="col-md-auto col text-center">
                    <div class="login-content text-center text-sm-left">
                        <h1 class="text-main h3"><span class="ml-2 d-block d-sm-inline">@ViewBag.systemData.login_title</span></h1>
                        <form class="login-form mt-4" action="" id="loginForm" name="loginForm">
                            <div class="form-group row">
                                <div class="col-auto col-form-label">您的帳號</div>
                                <div class="col">
                                    <input class="form-control" type="text" autocomplete="off" name="username" id="username" required="required" value="@ViewBag.username">
                                </div>
                                <div class="col-auto"><i class="icon-profile-male h2 text-muted"></i></div>
                            </div>
                            <div class="form-group row">
                                <div class="col-auto col-form-label">您的密碼</div>
                                <div class="col">
                                    <input class="form-control" type="password" autocomplete="off" name="password" id="password" required="required">
                                </div>
                                <div class="col-auto"><i class="icon-key2 h2 text-muted"></i></div>
                            </div>
                            <div class="form-group row">
                                <div class="col-auto col-form-label">您的語系</div>
                                <div class="col">
                                    @*<input class="form-control" type="password" autocomplete="off" name="language" id="language" required="required">*@
                                    <select class="bs-select form-control" name="language" id="language">
                                        <option value="en">英文</option>
                                        <option value="tw">繁中</option>
                                        <option value="cn">簡中</option>
                                    </select>
                                </div>
                                <div class="col-auto"><i class="icon-key2 h2 text-muted"></i></div>
                            </div>
                            <div class="form-group row">
                                <div class="col-auto col-form-label">驗證號碼</div>
                                <div class="col">
                                    <input class="form-control" type="text" autocomplete="off" name="verification" required="required">
                                </div>
                                <div class="col-auto"> <img id="captcha" src="@Url.Content("~/Content/BuildCaptcha.aspx")" style="width:100px;height:auto;"></div>
                            </div>
                            <div class="row align-items-center mt-4">

                                <div class="col">
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" type="checkbox" id="keepMe" name="keepMe" value="Y" />
                                        <label class="custom-control-label" for="remember">記住我</label>
                                    </div>
                                </div>
                                <!--
                                <div class="col text-sm-left text-right">
                                    <div class="forgot-password"><a class="forget-password text-secondary" id="forget-password" href="javascript:;">忘記密碼?</a></div>
                                </div>
                                    -->
                                <div class="col-sm text-md-right col-xs-12 text-center mt-2">
                                    <button class="btn btn-main btn-lg rounded submitBut" type="submit">登入系統</button>
                                </div>
                            </div>
                            <div class="alert alert-danger error fade mt-3" role="alert"><span class="text">請輸入您的帳號與密碼</span></div>
                        </form>
                        <form class="forget-form validator" action="javascript:;" method="post" data-toggle="validator">
                            <h3 class="text-main my-4">忘記密碼?</h3>
                            <p class="mb-4"> 輸入您的 e-mail 系統將寄發密碼至您的註冊信箱. </p>
                            <div class="form-group row">
                                <div class="col-auto col-form-label">您的信箱</div>
                                <div class="col">
                                    <input class="form-control" type="text" autocomplete="off" name="email">
                                </div>
                            </div>
                            <div class="text-left">
                                <button class="btn btn-outline-secondary btn-outline rounded" id="back-btn" type="button">返回</button>
                                <button class="btn btn-main rounded " type="submit">送出</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col d-md-block d-none">
                    <div class="welcome-panl">
                        <h2 class="mb-3">Welcome !</h2>
                        <p>歡迎您使用企業網站內部管理系統，<br>若您於登入上有任何問題，<br>請來信與我們聯絡，我們將會盡快為您處裡!<br>祝您使用愉快與方便!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="login-footer">
            <div class="login-copyright mb-3">
                <p>Copyright © 車王電子 2022</p>
            </div>
        </div>
        <div class="login-bg">
            <div class="swiper-container" id="loginSwiper2">
                <div class="swiper-wrapper"><a class="swiper-slide imgFill" href="#"><img src="@Url.Content("~/Content/siteadmin/styles/images/")demo/example/index-banner2.jpg" style="height:1280px;"></a></div>
            </div>
        </div>
    </div>
    <!-- * * lib-->
    <input type="hidden" id="ajaxRoot" value="@Url.Content("~/siteadmin/ajax")" />
    <input type="hidden" id="siteadminArea" value="@Url.Content("~/siteadmin")" />
    @Scripts.Render("~/Scripts/jquery-3.3.1.min.js")
    @Scripts.Render("~/Content/Siteadmin/modules/lib/jquery.browser.js")
    <!--script(src=jsliburl + 'env.js')-->
    @Scripts.Render("~/Content/Siteadmin/modules/lib/popper.min.js")
    <!-- * * common-->
    <!-- * * * slimscroll 捲軸-->
    @Scripts.Render("~/Content/Siteadmin/modules/slimscroll/jquery.slimscroll.js")
    <!-- * * * bootstrap4-->
    @Scripts.Render("~/Content/Siteadmin/modules/bootstrap4/bootstrap.min.js")
    @Scripts.Render("~/Content/Siteadmin/modules/bootstrap4/js/bootstrap.bundle.min.js")
    @Scripts.Render("~/Content/Siteadmin/modules/bootstrap4/vendor/popper.min.js")
    @Scripts.Render("~/Content/Siteadmin/modules/bootstrap4/vendor/holder.min.js")
    <!-- * * * imgLiquid 圖片縮圖-->
    @Scripts.Render("~/Content/Siteadmin/modules/imgLiquid-master/imgLiquid-min.js")
    <!-- * * * fancybox 媒體彈跳視窗 -->
    @Scripts.Render("~/Content/Siteadmin/modules/fancybox/jquery.fancybox.min.js")
    <!-- * * * bootstrap-sweetalert 彈跳訊息視窗-->
    @Scripts.Render("~/Content/Siteadmin/modules/sweetalert/sweetalert.min.js")
    @Scripts.Render("~/Content/Siteadmin/modules/sweetalert/ui-sweetalert.min.js")
    <!-- * * * bootstrap-tabdrop 切換tab下拉選單-->
    @Scripts.Render("~/Content/Siteadmin/modules/tabdrop/js/bootstrap-tabdrop.js")
    <!-- * * * swiper 圖片輪播-->
    <!--  @Scripts.Render("~/Content/Siteadmin/modules/swiper/js/swiper.min.js")
    @Scripts.Render("~/Content/Siteadmin/modules/swiper/js/swiper.esm.bundle.js")-->
    <!-- * * oter 僅此專案適用-->
    @Scripts.Render("~/Content/Siteadmin/modules/highlight/highlight.min.js")
    @Scripts.Render("~/Content/Siteadmin/scripts/init.js")
    @Scripts.Render("~/Content/Siteadmin/scripts/login.js")

    <!-- * * * validate 表單驗證-->
    @Scripts.Render("~/Content/Design/validation/jquery.validate.js")
    @Scripts.Render("~/Content/Design/validation/messages_zh_TW.js")
    @Scripts.Render("~/Scripts/jquery.blockUI.js")
    @Scripts.Render("~/Content/Design/admin.js?d=" + Web.Service.FunctionService.FileModifyTime(Server.MapPath("~/Content/Design/admin.js")))
</body>
</html>