/*!
 * Config
 * 
 * @version 1.0.0 2017/01/01 00:00
 * @author JOE <joe@youweb.tw>
 * @copyright (c) youweb.tw
 * @link http:///youweb.tw/
 */

/// ---------------------------------------------------------------------------
/// 傳回設定檔
/// ---------------------------------------------------------------------------
///
/// @param {ArgList} $keys
/// @return {*}
/// @group Config
///
@function config($keys...) 
{
    $configs: (
        viewport: (
            list: (
                full:    1920px, 
                long:    1660px, 
                large:   1440px, 
                medium:  1366px, 
                small:   1280px, 
                mini:    1024px, 
                tiny:    800px, 
                micro:   600px, 
                nano:    480px, 
                least:   360px
            ),
            simulate: 1024px,
            mode: down
        ),
        layout: (
            gutter: 10px 15px,
            grid: (
                length: 12,
                wrap: grid,
                prefix: (
                    cell: cell,
                    push: push-,
                    pull: pull-,
                    move: move-,
                    back: back-,
                    width: width-
                )
            ),
            rows: (
                wrap: rows
            ),
            columns: (
                wrap: columns
            )
        )
    );

    @return map-deep-get(($configs), $keys...);
}
