﻿/*!
 * Float
 * 
 * @version 1.0.0 2017/01/01 00:00
 * @author JOE <joe@youweb.tw>
 * @copyright (c) youweb.tw
 * @link http://youweb.tw/
 */

.float
{
    &-left {
        float: left;
    }

    &-right {
        float: right;
    }

    &-none {
        float: none;
    }

    &-clear {
        clear: both;
    }
}