﻿/*!
 * Layouts
 * 
 * @version 1.0.0 2017/01/01 00:00
 * @author JOE <joe@youweb.tw>
 * @copyright (c) youweb.tw
 * @link http://youweb.tw/
 */

.reset-box-sizing {
    @include reset-box-sizing;
}

.fit-to-parent {
    @include fit-to-parent;
}

.inline-ungapped {
    @include inline-ungapped;
}

.inline-make {
    @include inline-make;
}

.middle 
{
    &-inline {
        @include middle-inline;
    }

    &-height {
        @include middle-height;
    }

    &-abs {
        @include middle-abs;
    }

    &-fit {
        @include middle-fit;
    }

    &-calc {
        @include middle-calc;
    }

    &-transform {
        @include middle-transform;
    }

    &-flex {
        @include middle-flex;
    }

    &-table {
        @include middle-table;
    }
}

.waterfall {
    @include waterfall;
}

.#{config(layout, grid, wrap)} {
    @include grid;
}
    
.#{config(layout, rows, wrap)} {
    @include rows;
}

.#{config(layout, columns, wrap)} {
    @include columns;
}