﻿/*!
 * Required
 * 
 * @version 1.0.0 2017/01/01 00:00
 * @author JOE <joe@youweb.tw>
 * @copyright (c) youweb.tw
 * @link http://youweb.tw/
 */

@at-root 
{
    // Factory
    @mixin factory($suffix: null) {
        .visible#{$suffix} {
            @include visible;
        }

        .invisible#{$suffix} {
            @include invisible;
        }

        .hidden#{$suffix} {
            @include hide;
        }

        .shown#{$suffix} {
            @include show;
        }
    }
    
    // Utilities
    @include factory;

    // Responsive
    @each $type, $value in config(viewport, list) {
        @include viewport($type) {
            @include factory('-' + $type);
        }
    }

    // Printable
    @at-root {
        @media print {
            @include factory('-print');
        }
    }
    
    // Clearfix
    @at-root {
        $selector: 'clearfix';

        .#{$selector} { 
            @include clearfix; 
        }

        @each $type, $value in config(viewport, list) {
            @include viewport($type) {
                .#{$selector}-#{$type} {
                    @include clearfix;
                }
            }
        }
    }
    
    // Detection
    @at-root {
        .viewport-detection::before {
            $content: "mode: #{config(viewport, mode)}";
            $content: "simulate: #{config(viewport, simulate)}; " + $content;
            $content: "types: #{map-keys(config(viewport, list))}; " + $content;
            content: $content;
        }

        @each $type, $value in config(viewport, list) {
            .viewport-detection-#{$type} {
                display: block;
                width: $value;
            }
        }
    }
}