/*!
 * IcoMoon
 *
 * @version 1.0.0 2017/01/01 00:00
 * @author JOE <joe@youweb.tw>
 * @copyright (c) icomoon.io
 * @link http://icomoon.io/
 */

/// ---------------------------------------------------------------------------
/// Commons
/// ---------------------------------------------------------------------------

@import "../font.scss";

/// ---------------------------------------------------------------------------
/// Fonts
/// ---------------------------------------------------------------------------

@font-face {
    font-family: 'icomoon';
    src: url($font-relative-url + '/icomoon/icomoon.eot');
    src: url($font-relative-url + '/icomoon/icomoon.eot?#iefix') format('embedded-opentype'), 
         url($font-relative-url + '/icomoon/icomoon.woff') format('woff'), 
         url($font-relative-url + '/icomoon/icomoon.ttf') format('truetype'), 
         url($font-relative-url + '/icomoon/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"],
[class^="icon-im"],
[class*=" icon-im"] {
    @include font-common-settings;

    &::before {
        font-family: 'icomoon';
    }
}

/// ---------------------------------------------------------------------------
/// Defines
/// ---------------------------------------------------------------------------

.icon-home:before,
.icon-im-home:before {
    content: "\e000";
}

.icon-home-2:before,
.icon-im-home-2:before {
    content: "\e001";
}

.icon-home-3:before,
.icon-im-home-3:before {
    content: "\e002";
}

.icon-home-4:before,
.icon-im-home-4:before {
    content: "\e003";
}

.icon-home-5:before,
.icon-im-home-5:before {
    content: "\e004";
}

.icon-home-6:before,
.icon-im-home-6:before {
    content: "\e005";
}

.icon-home-7:before,
.icon-im-home-7:before {
    content: "\e006";
}

.icon-office:before,
.icon-im-office:before {
    content: "\e007";
}

.icon-newspaper:before,
.icon-im-newspaper:before {
    content: "\e008";
}

.icon-pencil:before,
.icon-im-pencil:before {
    content: "\e009";
}

.icon-pencil-2:before,
.icon-im-pencil-2:before {
    content: "\e00a";
}

.icon-pencil-3:before,
.icon-im-pencil-3:before {
    content: "\e00b";
}

.icon-pencil-4:before,
.icon-im-pencil-4:before {
    content: "\e00c";
}

.icon-quill:before,
.icon-im-quill:before {
    content: "\e00d";
}

.icon-quill-2:before,
.icon-im-quill-2:before {
    content: "\e00e";
}

.icon-pen:before,
.icon-im-pen:before {
    content: "\e00f";
}

.icon-pen-2:before,
.icon-im-pen-2:before {
    content: "\e010";
}

.icon-pen-3:before,
.icon-im-pen-3:before {
    content: "\e011";
}

.icon-marker:before,
.icon-im-marker:before {
    content: "\e012";
}

.icon-blog:before,
.icon-im-blog:before {
    content: "\e013";
}

.icon-eyedropper:before,
.icon-im-eyedropper:before {
    content: "\e014";
}

.icon-droplet:before,
.icon-im-droplet:before {
    content: "\e015";
}

.icon-droplet-2:before,
.icon-im-droplet-2:before {
    content: "\e016";
}

.icon-paint-format:before,
.icon-im-paint-format:before {
    content: "\e017";
}

.icon-image:before,
.icon-im-image:before {
    content: "\e018";
}

.icon-image-2:before,
.icon-im-image-2:before {
    content: "\e019";
}

.icon-images:before,
.icon-im-images:before {
    content: "\e01a";
}

.icon-image-3:before,
.icon-im-image-3:before {
    content: "\e01b";
}

.icon-image-4:before,
.icon-im-image-4:before {
    content: "\e01c";
}

.icon-image-5:before,
.icon-im-image-5:before {
    content: "\e01d";
}

.icon-camera:before,
.icon-im-camera:before {
    content: "\e01e";
}

.icon-camera-2:before,
.icon-im-camera-2:before {
    content: "\e01f";
}

.icon-camera-3:before,
.icon-im-camera-3:before {
    content: "\e020";
}

.icon-camera-4:before,
.icon-im-camera-4:before {
    content: "\e021";
}

.icon-music:before,
.icon-im-music:before {
    content: "\e022";
}

.icon-music-2:before,
.icon-im-music-2:before {
    content: "\e023";
}

.icon-music-3:before,
.icon-im-music-3:before {
    content: "\e024";
}

.icon-piano:before,
.icon-im-piano:before {
    content: "\e025";
}

.icon-headphones:before,
.icon-im-headphones:before {
    content: "\e026";
}

.icon-headphones-2:before,
.icon-im-headphones-2:before {
    content: "\e027";
}

.icon-play:before,
.icon-im-play:before {
    content: "\e028";
}

.icon-movie:before,
.icon-im-movie:before {
    content: "\e029";
}

.icon-movie-2:before,
.icon-im-movie-2:before {
    content: "\e02a";
}

.icon-film:before,
.icon-im-film:before {
    content: "\e02b";
}

.icon-film-2:before,
.icon-im-film-2:before {
    content: "\e02c";
}

.icon-film-3:before,
.icon-im-film-3:before {
    content: "\e02d";
}

.icon-camera-5:before,
.icon-im-camera-5:before {
    content: "\e02e";
}

.icon-camera-6:before,
.icon-im-camera-6:before {
    content: "\e02f";
}

.icon-camera-7:before,
.icon-im-camera-7:before {
    content: "\e030";
}

.icon-dice:before,
.icon-im-dice:before {
    content: "\e031";
}

.icon-pacman:before,
.icon-im-pacman:before {
    content: "\e032";
}

.icon-spades:before,
.icon-im-spades:before {
    content: "\e033";
}

.icon-clubs:before,
.icon-im-clubs:before {
    content: "\e034";
}

.icon-diamonds:before,
.icon-im-diamonds:before {
    content: "\e035";
}

.icon-king:before,
.icon-im-king:before {
    content: "\e036";
}

.icon-queen:before,
.icon-im-queen:before {
    content: "\e037";
}

.icon-rock:before,
.icon-im-rock:before {
    content: "\e038";
}

.icon-bishop:before,
.icon-im-bishop:before {
    content: "\e039";
}

.icon-knight:before,
.icon-im-knight:before {
    content: "\e03a";
}

.icon-pawn:before,
.icon-im-pawn:before {
    content: "\e03b";
}

.icon-bullhorn:before,
.icon-im-bullhorn:before {
    content: "\e03c";
}

.icon-megaphone:before,
.icon-im-megaphone:before {
    content: "\e03d";
}

.icon-new:before,
.icon-im-new:before {
    content: "\e03e";
}

.icon-connection:before,
.icon-im-connection:before {
    content: "\e03f";
}

.icon-connection-2:before,
.icon-im-connection-2:before {
    content: "\e040";
}

.icon-podcast:before,
.icon-im-podcast:before {
    content: "\e041";
}

.icon-radio:before,
.icon-im-radio:before {
    content: "\e042";
}

.icon-feed:before,
.icon-im-feed:before {
    content: "\e043";
}

.icon-mic:before,
.icon-im-mic:before {
    content: "\e044";
}

.icon-mic-2:before,
.icon-im-mic-2:before {
    content: "\e045";
}

.icon-mic-3:before,
.icon-im-mic-3:before {
    content: "\e046";
}

.icon-mic-4:before,
.icon-im-mic-4:before {
    content: "\e047";
}

.icon-book:before,
.icon-im-book:before {
    content: "\e048";
}

.icon-book-2:before,
.icon-im-book-2:before {
    content: "\e049";
}

.icon-books:before,
.icon-im-books:before {
    content: "\e04a";
}

.icon-library:before,
.icon-im-library:before {
    content: "\e04b";
}

.icon-file:before,
.icon-im-file:before {
    content: "\e04c";
}

.icon-profile:before,
.icon-im-profile:before {
    content: "\e04d";
}

.icon-file-2:before,
.icon-im-file-2:before {
    content: "\e04e";
}

.icon-file-3:before,
.icon-im-file-3:before {
    content: "\e04f";
}

.icon-file-4:before,
.icon-im-file-4:before {
    content: "\e050";
}

.icon-file-5:before,
.icon-im-file-5:before {
    content: "\e051";
}

.icon-file-6:before,
.icon-im-file-6:before {
    content: "\e052";
}

.icon-file-plus:before,
.icon-im-file-plus:before {
    content: "\e053";
}

.icon-file-minus:before,
.icon-im-file-minus:before {
    content: "\e054";
}

.icon-file-download:before,
.icon-im-file-download:before {
    content: "\e055";
}

.icon-file-upload:before,
.icon-im-file-upload:before {
    content: "\e056";
}

.icon-file-check:before,
.icon-im-file-check:before {
    content: "\e057";
}

.icon-file-remove:before,
.icon-im-file-remove:before {
    content: "\e058";
}

.icon-file-7:before,
.icon-im-file-7:before {
    content: "\e059";
}

.icon-copy:before,
.icon-im-copy:before {
    content: "\e05a";
}

.icon-copy-2:before,
.icon-im-copy-2:before {
    content: "\e05b";
}

.icon-copy-3:before,
.icon-im-copy-3:before {
    content: "\e05c";
}

.icon-copy-4:before,
.icon-im-copy-4:before {
    content: "\e05d";
}

.icon-paste:before,
.icon-im-paste:before {
    content: "\e05e";
}

.icon-paste-2:before,
.icon-im-paste-2:before {
    content: "\e05f";
}

.icon-paste-3:before,
.icon-im-paste-3:before {
    content: "\e060";
}

.icon-stack:before,
.icon-im-stack:before {
    content: "\e061";
}

.icon-folder:before,
.icon-im-folder:before {
    content: "\e062";
}

.icon-folder-download:before,
.icon-im-folder-download:before {
    content: "\e063";
}

.icon-folder-upload:before,
.icon-im-folder-upload:before {
    content: "\e064";
}

.icon-folder-plus:before,
.icon-im-folder-plus:before {
    content: "\e065";
}

.icon-folder-plus-2:before,
.icon-im-folder-plus-2:before {
    content: "\e066";
}

.icon-folder-minus:before,
.icon-im-folder-minus:before {
    content: "\e067";
}

.icon-folder-minus-2:before,
.icon-im-folder-minus-2:before {
    content: "\e068";
}

.icon-folder8:before,
.icon-im-folder8:before {
    content: "\e069";
}

.icon-folder-remove:before,
.icon-im-folder-remove:before {
    content: "\e06a";
}

.icon-folder-2:before,
.icon-im-folder-2:before {
    content: "\e06b";
}

.icon-folder-open:before,
.icon-im-folder-open:before {
    content: "\e06c";
}

.icon-folder-plus-3:before,
.icon-im-folder-plus-3:before {
    content: "\e06d";
}

.icon-folder-minus-3:before,
.icon-im-folder-minus-3:before {
    content: "\e06e";
}

.icon-folder-download-2:before,
.icon-im-folder-download-2:before {
    content: "\e06f";
}

.icon-folder-upload-2:before,
.icon-im-folder-upload-2:before {
    content: "\e070";
}

.icon-folder-3:before,
.icon-im-folder-3:before {
    content: "\e071";
}

.icon-folder-open-2:before,
.icon-im-folder-open-2:before {
    content: "\e072";
}

.icon-certificate:before,
.icon-im-certificate:before {
    content: "\e073";
}

.icon-cc:before,
.icon-im-cc:before {
    content: "\e074";
}

.icon-tag:before,
.icon-im-tag:before {
    content: "\e075";
}

.icon-tag-2:before,
.icon-im-tag-2:before {
    content: "\e076";
}

.icon-tag-3:before,
.icon-im-tag-3:before {
    content: "\e077";
}

.icon-tag-4:before,
.icon-im-tag-4:before {
    content: "\e078";
}

.icon-tags:before,
.icon-im-tags:before {
    content: "\e079";
}

.icon-tags-2:before,
.icon-im-tags-2:before {
    content: "\e07a";
}

.icon-tag-5:before,
.icon-im-tag-5:before {
    content: "\e07b";
}

.icon-barcode:before,
.icon-im-barcode:before {
    content: "\e07c";
}

.icon-barcode-2:before,
.icon-im-barcode-2:before {
    content: "\e07d";
}

.icon-qrcode:before,
.icon-im-qrcode:before {
    content: "\e07e";
}

.icon-ticket:before,
.icon-im-ticket:before {
    content: "\e07f";
}

.icon-cart:before,
.icon-im-cart:before {
    content: "\e080";
}

.icon-cart-2:before,
.icon-im-cart-2:before {
    content: "\e081";
}

.icon-cart-3:before,
.icon-im-cart-3:before {
    content: "\e082";
}

.icon-cart-4:before,
.icon-im-cart-4:before {
    content: "\e083";
}

.icon-cart-5:before,
.icon-im-cart-5:before {
    content: "\e084";
}

.icon-cart-plus:before,
.icon-im-cart-plus:before {
    content: "\e085";
}

.icon-cart-minus:before,
.icon-im-cart-minus:before {
    content: "\e086";
}

.icon-cart-add:before,
.icon-im-cart-add:before {
    content: "\e087";
}

.icon-cart-remove:before,
.icon-im-cart-remove:before {
    content: "\e088";
}

.icon-cart-checkout:before,
.icon-im-cart-checkout:before {
    content: "\e089";
}

.icon-cart-remove-2:before,
.icon-im-cart-remove-2:before {
    content: "\e08a";
}

.icon-basket:before,
.icon-im-basket:before {
    content: "\e08b";
}

.icon-basket-2:before,
.icon-im-basket-2:before {
    content: "\e08c";
}

.icon-coin:before,
.icon-im-coin:before {
    content: "\e08d";
}

.icon-credit:before,
.icon-im-credit:before {
    content: "\e08e";
}

.icon-calculate:before,
.icon-im-calculate:before {
    content: "\e08f";
}

.icon-calculate-2:before,
.icon-im-calculate-2:before {
    content: "\e090";
}

.icon-support:before,
.icon-im-support:before {
    content: "\e091";
}

.icon-phone:before,
.icon-im-phone:before {
    content: "\e092";
}

.icon-phone-2:before,
.icon-im-phone-2:before {
    content: "\e093";
}

.icon-phone-3:before,
.icon-im-phone-3:before {
    content: "\e094";
}

.icon-contact-add:before,
.icon-im-contact-add:before {
    content: "\e095";
}

.icon-contact-remove:before,
.icon-im-contact-remove:before {
    content: "\e096";
}

.icon-contact-add-2:before,
.icon-im-contact-add-2:before {
    content: "\e097";
}

.icon-contact-remove-2:before,
.icon-im-contact-remove-2:before {
    content: "\e098";
}

.icon-call-incoming:before,
.icon-im-call-incoming:before {
    content: "\e099";
}

.icon-call-outgoing:before,
.icon-im-call-outgoing:before {
    content: "\e09a";
}

.icon-phone-4:before,
.icon-im-phone-4:before {
    content: "\e09b";
}

.icon-phone-5:before,
.icon-im-phone-5:before {
    content: "\e09c";
}

.icon-phone-hang-up:before,
.icon-im-phone-hang-up:before {
    content: "\e09d";
}

.icon-phone-hang-up-2:before,
.icon-im-phone-hang-up-2:before {
    content: "\e09e";
}

.icon-address-book:before,
.icon-im-address-book:before {
    content: "\e09f";
}

.icon-notebook:before,
.icon-im-notebook:before {
    content: "\e0a0";
}

.icon-envelop:before,
.icon-im-envelop:before {
    content: "\e0a1";
}

.icon-mail-send:before,
.icon-im-mail-send:before {
    content: "\e0a2";
}

.icon-envelop-2:before,
.icon-im-envelop-2:before {
    content: "\e0a3";
}

.icon-pushpin:before,
.icon-im-pushpin:before {
    content: "\e0a4";
}

.icon-location:before,
.icon-im-location:before {
    content: "\e0a5";
}

.icon-location-2:before,
.icon-im-location-2:before {
    content: "\e0a6";
}

.icon-location-3:before,
.icon-im-location-3:before {
    content: "\e0a7";
}

.icon-location-4:before,
.icon-im-location-4:before {
    content: "\e0a8";
}

.icon-compass:before,
.icon-im-compass:before {
    content: "\e0a9";
}

.icon-compass-2:before,
.icon-im-compass-2:before {
    content: "\e0aa";
}

.icon-map:before,
.icon-im-map:before {
    content: "\e0ab";
}

.icon-map-2:before,
.icon-im-map-2:before {
    content: "\e0ac";
}

.icon-map-3:before,
.icon-im-map-3:before {
    content: "\e0ad";
}

.icon-direction:before,
.icon-im-direction:before {
    content: "\e0ae";
}

.icon-history:before,
.icon-im-history:before {
    content: "\e0af";
}

.icon-clock:before,
.icon-im-clock:before {
    content: "\e0b0";
}

.icon-clock-2:before,
.icon-im-clock-2:before {
    content: "\e0b1";
}

.icon-clock-3:before,
.icon-im-clock-3:before {
    content: "\e0b2";
}

.icon-clock-4:before,
.icon-im-clock-4:before {
    content: "\e0b3";
}

.icon-watch:before,
.icon-im-watch:before {
    content: "\e0b4";
}

.icon-alarm:before,
.icon-im-alarm:before {
    content: "\e0b5";
}

.icon-alarm-2:before,
.icon-im-alarm-2:before {
    content: "\e0b6";
}

.icon-bell:before,
.icon-im-bell:before {
    content: "\e0b7";
}

.icon-stopwatch:before,
.icon-im-stopwatch:before {
    content: "\e0b8";
}

.icon-calendar:before,
.icon-im-calendar:before {
    content: "\e0b9";
}

.icon-calendar-2:before,
.icon-im-calendar-2:before {
    content: "\e0ba";
}

.icon-calendar-3:before,
.icon-im-calendar-3:before {
    content: "\e0bb";
}

.icon-calendar-4:before,
.icon-im-calendar-4:before {
    content: "\e0bc";
}

.icon-print:before,
.icon-im-print:before {
    content: "\e0bd";
}

.icon-print-2:before,
.icon-im-print-2:before {
    content: "\e0be";
}

.icon-mouse:before,
.icon-im-mouse:before {
    content: "\e0bf";
}

.icon-mouse-2:before,
.icon-im-mouse-2:before {
    content: "\e0c0";
}

.icon-keyboard:before,
.icon-im-keyboard:before {
    content: "\e0c1";
}

.icon-screen:before,
.icon-im-screen:before {
    content: "\e0c2";
}

.icon-screen-2:before,
.icon-im-screen-2:before {
    content: "\e0c3";
}

.icon-laptop:before,
.icon-im-laptop:before {
    content: "\e0c4";
}

.icon-mobile:before,
.icon-im-mobile:before {
    content: "\e0c5";
}

.icon-mobile-2:before,
.icon-im-mobile-2:before {
    content: "\e0c6";
}

.icon-tablet:before,
.icon-im-tablet:before {
    content: "\e0c7";
}

.icon-tv:before,
.icon-im-tv:before {
    content: "\e0c8";
}

.icon-cabinet:before,
.icon-im-cabinet:before {
    content: "\e0c9";
}

.icon-archive:before,
.icon-im-archive:before {
    content: "\e0ca";
}

.icon-drawer:before,
.icon-im-drawer:before {
    content: "\e0cb";
}

.icon-drawer-2:before,
.icon-im-drawer-2:before {
    content: "\e0cc";
}

.icon-drawer-3:before,
.icon-im-drawer-3:before {
    content: "\e0cd";
}

.icon-panel-add:before,
.icon-im-panel-add:before {
    content: "\e0ce";
}

.icon-panel-remove:before,
.icon-im-panel-remove:before {
    content: "\e0cf";
}

.icon-download:before,
.icon-im-download:before {
    content: "\e0d0";
}

.icon-upload:before,
.icon-im-upload:before {
    content: "\e0d1";
}

.icon-disk:before,
.icon-im-disk:before {
    content: "\e0d2";
}

.icon-storage:before,
.icon-im-storage:before {
    content: "\e0d3";
}

.icon-storage-2:before,
.icon-im-storage-2:before {
    content: "\e0d4";
}

.icon-database:before,
.icon-im-database:before {
    content: "\e0d5";
}

.icon-database-2:before,
.icon-im-database-2:before {
    content: "\e0d6";
}

.icon-undo:before,
.icon-im-undo:before {
    content: "\e0d7";
}

.icon-redo:before,
.icon-im-redo:before {
    content: "\e0d8";
}

.icon-rotate:before,
.icon-im-rotate:before {
    content: "\e0d9";
}

.icon-rotate-2:before,
.icon-im-rotate-2:before {
    content: "\e0da";
}

.icon-flip:before,
.icon-im-flip:before {
    content: "\e0db";
}

.icon-flip-2:before,
.icon-im-flip-2:before {
    content: "\e0dc";
}

.icon-undo-2:before,
.icon-im-undo-2:before {
    content: "\e0dd";
}

.icon-redo-2:before,
.icon-im-redo-2:before {
    content: "\e0de";
}

.icon-forward:before,
.icon-im-forward:before {
    content: "\e0df";
}

.icon-reply:before,
.icon-im-reply:before {
    content: "\e0e0";
}

.icon-reply-2:before,
.icon-im-reply-2:before {
    content: "\e0e1";
}

.icon-bubble:before,
.icon-im-bubble:before {
    content: "\e0e2";
}

.icon-bubbles:before,
.icon-im-bubbles:before {
    content: "\e0e3";
}

.icon-bubbles-2:before,
.icon-im-bubbles-2:before {
    content: "\e0e4";
}

.icon-bubble-2:before,
.icon-im-bubble-2:before {
    content: "\e0e5";
}

.icon-bubbles-3:before,
.icon-im-bubbles-3:before {
    content: "\e0e6";
}

.icon-bubbles-4:before,
.icon-im-bubbles-4:before {
    content: "\e0e7";
}

.icon-bubble-notification:before,
.icon-im-bubble-notification:before {
    content: "\e0e8";
}

.icon-bubble-3:before,
.icon-im-bubble-3:before {
    content: "\e0e9";
}

.icon-bubble-dots:before,
.icon-im-bubble-dots:before {
    content: "\e0ea";
}

.icon-bubble-4:before,
.icon-im-bubble-4:before {
    content: "\e0eb";
}

.icon-bubble-5:before,
.icon-im-bubble-5:before {
    content: "\e0ec";
}

.icon-bubble-dots-2:before,
.icon-im-bubble-dots-2:before {
    content: "\e0ed";
}

.icon-bubble-6:before,
.icon-im-bubble-6:before {
    content: "\e0ee";
}

.icon-bubbles-5:before,
.icon-im-bubbles-5:before {
    content: "\e0ef";
}

.icon-bubbles-6:before,
.icon-im-bubbles-6:before {
    content: "\e0f0";
}

.icon-bubble-blocked:before,
.icon-im-bubble-blocked:before {
    content: "\e0f1";
}

.icon-bubble-quote:before,
.icon-im-bubble-quote:before {
    content: "\e0f2";
}

.icon-bubble-user:before,
.icon-im-bubble-user:before {
    content: "\e0f3";
}

.icon-bubble-check:before,
.icon-im-bubble-check:before {
    content: "\e0f4";
}

.icon-bubble-video-chat:before,
.icon-im-bubble-video-chat:before {
    content: "\e0f5";
}

.icon-bubble-link:before,
.icon-im-bubble-link:before {
    content: "\e0f6";
}

.icon-bubble-locked:before,
.icon-im-bubble-locked:before {
    content: "\e0f7";
}

.icon-bubble-star:before,
.icon-im-bubble-star:before {
    content: "\e0f8";
}

.icon-bubble-heart:before,
.icon-im-bubble-heart:before {
    content: "\e0f9";
}

.icon-bubble-paperclip:before,
.icon-im-bubble-paperclip:before {
    content: "\e0fa";
}

.icon-bubble-cancel:before,
.icon-im-bubble-cancel:before {
    content: "\e0fb";
}

.icon-bubble-plus:before,
.icon-im-bubble-plus:before {
    content: "\e0fc";
}

.icon-bubble-minus:before,
.icon-im-bubble-minus:before {
    content: "\e0fd";
}

.icon-bubble-notification-2:before,
.icon-im-bubble-notification-2:before {
    content: "\e0fe";
}

.icon-bubble-trash:before,
.icon-im-bubble-trash:before {
    content: "\e0ff";
}

.icon-bubble-left:before,
.icon-im-bubble-left:before {
    content: "\e100";
}

.icon-bubble-right:before,
.icon-im-bubble-right:before {
    content: "\e101";
}

.icon-bubble-up:before,
.icon-im-bubble-up:before {
    content: "\e102";
}

.icon-bubble-down:before,
.icon-im-bubble-down:before {
    content: "\e103";
}

.icon-bubble-first:before,
.icon-im-bubble-first:before {
    content: "\e104";
}

.icon-bubble-last:before,
.icon-im-bubble-last:before {
    content: "\e105";
}

.icon-bubble-replu:before,
.icon-im-bubble-replu:before {
    content: "\e106";
}

.icon-bubble-forward:before,
.icon-im-bubble-forward:before {
    content: "\e107";
}

.icon-bubble-reply:before,
.icon-im-bubble-reply:before {
    content: "\e108";
}

.icon-bubble-forward-2:before,
.icon-im-bubble-forward-2:before {
    content: "\e109";
}

.icon-user:before,
.icon-im-user:before {
    content: "\e10a";
}

.icon-users:before,
.icon-im-users:before {
    content: "\e10b";
}

.icon-user-plus:before,
.icon-im-user-plus:before {
    content: "\e10c";
}

.icon-user-plus-2:before,
.icon-im-user-plus-2:before {
    content: "\e10d";
}

.icon-user-minus:before,
.icon-im-user-minus:before {
    content: "\e10e";
}

.icon-user-minus-2:before,
.icon-im-user-minus-2:before {
    content: "\e10f";
}

.icon-user-cancel:before,
.icon-im-user-cancel:before {
    content: "\e110";
}

.icon-user-block:before,
.icon-im-user-block:before {
    content: "\e111";
}

.icon-user-2:before,
.icon-im-user-2:before {
    content: "\e112";
}

.icon-users-2:before,
.icon-im-users-2:before {
    content: "\e113";
}

.icon-user-plus-3:before,
.icon-im-user-plus-3:before {
    content: "\e114";
}

.icon-user-minus-3:before,
.icon-im-user-minus-3:before {
    content: "\e115";
}

.icon-user-cancel-2:before,
.icon-im-user-cancel-2:before {
    content: "\e116";
}

.icon-user-block-2:before,
.icon-im-user-block-2:before {
    content: "\e117";
}

.icon-user-3:before,
.icon-im-user-3:before {
    content: "\e118";
}

.icon-user-4:before,
.icon-im-user-4:before {
    content: "\e119";
}

.icon-vcard:before,
.icon-im-vcard:before {
    content: "\e11a";
}

.icon-hanger:before,
.icon-im-hanger:before {
    content: "\e11b";
}

.icon-quotes-left:before,
.icon-im-quotes-left:before {
    content: "\e11c";
}

.icon-quotes-right:before,
.icon-im-quotes-right:before {
    content: "\e11d";
}

.icon-quotes-right-2:before,
.icon-im-quotes-right-2:before {
    content: "\e11e";
}

.icon-quotes-right-3:before,
.icon-im-quotes-right-3:before {
    content: "\e11f";
}

.icon-busy:before,
.icon-im-busy:before {
    content: "\e120";
}

.icon-busy-2:before,
.icon-im-busy-2:before {
    content: "\e121";
}

.icon-busy-3:before,
.icon-im-busy-3:before {
    content: "\e122";
}

.icon-spinner:before,
.icon-im-spinner:before {
    content: "\e123";
}

.icon-spinner-2:before,
.icon-im-spinner-2:before {
    content: "\e124";
}

.icon-spinner-3:before,
.icon-im-spinner-3:before {
    content: "\e125";
}

.icon-spinner-4:before,
.icon-im-spinner-4:before {
    content: "\e126";
}

.icon-spinner-5:before,
.icon-im-spinner-5:before {
    content: "\e127";
}

.icon-spinner-6:before,
.icon-im-spinner-6:before {
    content: "\e128";
}

.icon-spinner-7:before,
.icon-im-spinner-7:before {
    content: "\e129";
}

.icon-spinner-8:before,
.icon-im-spinner-8:before {
    content: "\e12a";
}

.icon-binoculars:before,
.icon-im-binoculars:before {
    content: "\e12b";
}

.icon-search:before,
.icon-im-search:before {
    content: "\e12c";
}

.icon-search-2:before,
.icon-im-search-2:before {
    content: "\e12d";
}

.icon-zoom-in:before,
.icon-im-zoom-in:before {
    content: "\e12e";
}

.icon-zoom-out:before,
.icon-im-zoom-out:before {
    content: "\e12f";
}

.icon-search-3:before,
.icon-im-search-3:before {
    content: "\e130";
}

.icon-zoom-in-2:before,
.icon-im-zoom-in-2:before {
    content: "\e131";
}

.icon-zoom-out-2:before,
.icon-im-zoom-out-2:before {
    content: "\e132";
}

.icon-expand:before,
.icon-im-expand:before {
    content: "\e133";
}

.icon-contract:before,
.icon-im-contract:before {
    content: "\e134";
}

.icon-expand-2:before,
.icon-im-expand-2:before {
    content: "\e135";
}

.icon-contract-2:before,
.icon-im-contract-2:before {
    content: "\e136";
}

.icon-key:before,
.icon-im-key:before {
    content: "\e137";
}

.icon-key-2:before,
.icon-im-key-2:before {
    content: "\e138";
}

.icon-lock:before,
.icon-im-lock:before {
    content: "\e139";
}

.icon-lock-2:before,
.icon-im-lock-2:before {
    content: "\e13a";
}

.icon-unlocked:before,
.icon-im-unlocked:before {
    content: "\e13b";
}

.icon-lock-3:before,
.icon-im-lock-3:before {
    content: "\e13c";
}

.icon-unlocked-2:before,
.icon-im-unlocked-2:before {
    content: "\e13d";
}

.icon-wrench:before,
.icon-im-wrench:before {
    content: "\e13e";
}

.icon-wrench-2:before,
.icon-im-wrench-2:before {
    content: "\e13f";
}

.icon-settings:before,
.icon-im-settings:before {
    content: "\e140";
}

.icon-equalizer:before,
.icon-im-equalizer:before {
    content: "\e141";
}

.icon-equalizer-2:before,
.icon-im-equalizer-2:before {
    content: "\e142";
}

.icon-equalizer-3:before,
.icon-im-equalizer-3:before {
    content: "\e143";
}

.icon-cog:before,
.icon-im-cog:before {
    content: "\e144";
}

.icon-cogs:before,
.icon-im-cogs:before {
    content: "\e145";
}

.icon-cog-2:before,
.icon-im-cog-2:before {
    content: "\e146";
}

.icon-cog-3:before,
.icon-im-cog-3:before {
    content: "\e147";
}

.icon-cog-4:before,
.icon-im-cog-4:before {
    content: "\e148";
}

.icon-factory:before,
.icon-im-factory:before {
    content: "\e149";
}

.icon-hammer:before,
.icon-im-hammer:before {
    content: "\e14a";
}

.icon-tools:before,
.icon-im-tools:before {
    content: "\e14b";
}

.icon-wand:before,
.icon-im-wand:before {
    content: "\e14c";
}

.icon-wand-2:before,
.icon-im-wand-2:before {
    content: "\e14d";
}

.icon-aid:before,
.icon-im-aid:before {
    content: "\e14e";
}

.icon-patch:before,
.icon-im-patch:before {
    content: "\e14f";
}

.icon-bug:before,
.icon-im-bug:before {
    content: "\e150";
}

.icon-bug-2:before,
.icon-im-bug-2:before {
    content: "\e151";
}

.icon-inject:before,
.icon-im-inject:before {
    content: "\e152";
}

.icon-construction:before,
.icon-im-construction:before {
    content: "\e153";
}

.icon-cone:before,
.icon-im-cone:before {
    content: "\e154";
}

.icon-pie:before,
.icon-im-pie:before {
    content: "\e155";
}

.icon-pie-2:before,
.icon-im-pie-2:before {
    content: "\e156";
}

.icon-pie-3:before,
.icon-im-pie-3:before {
    content: "\e157";
}

.icon-pie-4:before,
.icon-im-pie-4:before {
    content: "\e158";
}

.icon-stats:before,
.icon-im-stats:before {
    content: "\e159";
}

.icon-stats-2:before,
.icon-im-stats-2:before {
    content: "\e15a";
}

.icon-stats-3:before,
.icon-im-stats-3:before {
    content: "\e15b";
}

.icon-bars:before,
.icon-im-bars:before {
    content: "\e15c";
}

.icon-bars-2:before,
.icon-im-bars-2:before {
    content: "\e15d";
}

.icon-bars-3:before,
.icon-im-bars-3:before {
    content: "\e15e";
}

.icon-stats-up:before,
.icon-im-stats-up:before {
    content: "\e15f";
}

.icon-stats-down:before,
.icon-im-stats-down:before {
    content: "\e160";
}

.icon-ladder:before,
.icon-im-ladder:before {
    content: "\e161";
}

.icon-cake:before,
.icon-im-cake:before {
    content: "\e162";
}

.icon-gift:before,
.icon-im-gift:before {
    content: "\e163";
}

.icon-balloon:before,
.icon-im-balloon:before {
    content: "\e164";
}

.icon-rating:before,
.icon-im-rating:before {
    content: "\e165";
}

.icon-rating-2:before,
.icon-im-rating-2:before {
    content: "\e166";
}

.icon-rating-3:before,
.icon-im-rating-3:before {
    content: "\e167";
}

.icon-podium:before,
.icon-im-podium:before {
    content: "\e168";
}

.icon-medal:before,
.icon-im-medal:before {
    content: "\e169";
}

.icon-medal-2:before,
.icon-im-medal-2:before {
    content: "\e16a";
}

.icon-medal-3:before,
.icon-im-medal-3:before {
    content: "\e16b";
}

.icon-medal-4:before,
.icon-im-medal-4:before {
    content: "\e16c";
}

.icon-medal-5:before,
.icon-im-medal-5:before {
    content: "\e16d";
}

.icon-crown:before,
.icon-im-crown:before {
    content: "\e16e";
}

.icon-trophy:before,
.icon-im-trophy:before {
    content: "\e16f";
}

.icon-trophy-2:before,
.icon-im-trophy-2:before {
    content: "\e170";
}

.icon-trophy-star:before,
.icon-im-trophy-star:before {
    content: "\e171";
}

.icon-diamond:before,
.icon-im-diamond:before {
    content: "\e172";
}

.icon-glass:before,
.icon-im-glass:before {
    content: "\e173";
}

.icon-glass-2:before,
.icon-im-glass-2:before {
    content: "\e174";
}

.icon-bottle:before,
.icon-im-bottle:before {
    content: "\e175";
}

.icon-bottle-2:before,
.icon-im-bottle-2:before {
    content: "\e176";
}

.icon-mug:before,
.icon-im-mug:before {
    content: "\e177";
}

.icon-food:before,
.icon-im-food:before {
    content: "\e178";
}

.icon-food-2:before,
.icon-im-food-2:before {
    content: "\e179";
}

.icon-leaf:before,
.icon-im-leaf:before {
    content: "\e17a";
}

.icon-apple-fruit:before,
.icon-im-apple-fruit:before {
    content: "\e17b";
}

.icon-paw:before,
.icon-im-paw:before {
    content: "\e17c";
}

.icon-steps:before,
.icon-im-steps:before {
    content: "\e17d";
}

.icon-flower:before,
.icon-im-flower:before {
    content: "\e17e";
}

.icon-rocket:before,
.icon-im-rocket:before {
    content: "\e17f";
}

.icon-meter:before,
.icon-im-meter:before {
    content: "\e180";
}

.icon-meter2:before,
.icon-im-meter2:before {
    content: "\e181";
}

.icon-meter-slow:before,
.icon-im-meter-slow:before {
    content: "\e182";
}

.icon-meter-medium:before,
.icon-im-meter-medium:before {
    content: "\e183";
}

.icon-meter-fast:before,
.icon-im-meter-fast:before {
    content: "\e184";
}

.icon-dashboard:before,
.icon-im-dashboard:before {
    content: "\e185";
}

.icon-hammer-2:before,
.icon-im-hammer-2:before {
    content: "\e186";
}

.icon-balance:before,
.icon-im-balance:before {
    content: "\e187";
}

.icon-fire:before,
.icon-im-fire:before {
    content: "\e188";
}

.icon-lab:before,
.icon-im-lab:before {
    content: "\e189";
}

.icon-magnet:before,
.icon-im-magnet:before {
    content: "\e18a";
}

.icon-dumbbell:before,
.icon-im-dumbbell:before {
    content: "\e18b";
}

.icon-skull:before,
.icon-im-skull:before {
    content: "\e18c";
}

.icon-skull-2:before,
.icon-im-skull-2:before {
    content: "\e18d";
}

.icon-lamp:before,
.icon-im-lamp:before {
    content: "\e18e";
}

.icon-lamp-2:before,
.icon-im-lamp-2:before {
    content: "\e18f";
}

.icon-lamp-3:before,
.icon-im-lamp-3:before {
    content: "\e190";
}

.icon-remove:before,
.icon-im-remove:before {
    content: "\e191";
}

.icon-remove-2:before,
.icon-im-remove-2:before {
    content: "\e192";
}

.icon-remove-3:before,
.icon-im-remove-3:before {
    content: "\e193";
}

.icon-remove-4:before,
.icon-im-remove-4:before {
    content: "\e194";
}

.icon-remove-5:before,
.icon-im-remove-5:before {
    content: "\e195";
}

.icon-briefcase:before,
.icon-im-briefcase:before {
    content: "\e196";
}

.icon-briefcase-2:before,
.icon-im-briefcase-2:before {
    content: "\e197";
}

.icon-briefcase-3:before,
.icon-im-briefcase-3:before {
    content: "\e198";
}

.icon-airplane:before,
.icon-im-airplane:before {
    content: "\e199";
}

.icon-airplane-2:before,
.icon-im-airplane-2:before {
    content: "\e19a";
}

.icon-paper-plane:before,
.icon-im-paper-plane:before {
    content: "\e19b";
}

.icon-car:before,
.icon-im-car:before {
    content: "\e19c";
}

.icon-gas-pump:before,
.icon-im-gas-pump:before {
    content: "\e19d";
}

.icon-bus:before,
.icon-im-bus:before {
    content: "\e19e";
}

.icon-truck:before,
.icon-im-truck:before {
    content: "\e19f";
}

.icon-road:before,
.icon-im-road:before {
    content: "\e1a0";
}

.icon-boat:before,
.icon-im-boat:before {
    content: "\e1a1";
}

.icon-cube:before,
.icon-im-cube:before {
    content: "\e1a2";
}

.icon-cube-2:before,
.icon-im-cube-2:before {
    content: "\e1a3";
}

.icon-pyramid:before,
.icon-im-pyramid:before {
    content: "\e1a4";
}

.icon-puzzle:before,
.icon-im-puzzle:before {
    content: "\e1a5";
}

.icon-puzzle-2:before,
.icon-im-puzzle-2:before {
    content: "\e1a6";
}

.icon-puzzle-3:before,
.icon-im-puzzle-3:before {
    content: "\e1a7";
}

.icon-puzzle-4:before,
.icon-im-puzzle-4:before {
    content: "\e1a8";
}

.icon-glasses:before,
.icon-im-glasses:before {
    content: "\e1a9";
}

.icon-glasses-2:before,
.icon-im-glasses-2:before {
    content: "\e1aa";
}

.icon-glasses-3:before,
.icon-im-glasses-3:before {
    content: "\e1ab";
}

.icon-sun-glasses:before,
.icon-im-sun-glasses:before {
    content: "\e1ac";
}

.icon-accessibility:before,
.icon-im-accessibility:before {
    content: "\e1ad";
}

.icon-accessibility-2:before,
.icon-im-accessibility-2:before {
    content: "\e1ae";
}

.icon-target:before,
.icon-im-target:before {
    content: "\e1af";
}

.icon-target-2:before,
.icon-im-target-2:before {
    content: "\e1b0";
}

.icon-target-3:before,
.icon-im-target-3:before {
    content: "\e1b1";
}

.icon-gun:before,
.icon-im-gun:before {
    content: "\e1b2";
}

.icon-gun-ban:before,
.icon-im-gun-ban:before {
    content: "\e1b3";
}

.icon-shield:before,
.icon-im-shield:before {
    content: "\e1b4";
}

.icon-shield-2:before,
.icon-im-shield-2:before {
    content: "\e1b5";
}

.icon-lightning:before,
.icon-im-lightning:before {
    content: "\e1b6";
}

.icon-power:before,
.icon-im-power:before {
    content: "\e1b7";
}

.icon-power-2:before,
.icon-im-power-2:before {
    content: "\e1b8";
}

.icon-switch:before,
.icon-im-switch:before {
    content: "\e1b9";
}

.icon-power-cord:before,
.icon-im-power-cord:before {
    content: "\e1ba";
}

.icon-clipboard:before,
.icon-im-clipboard:before {
    content: "\e1bb";
}

.icon-signup:before,
.icon-im-signup:before {
    content: "\e1bc";
}

.icon-list:before,
.icon-im-list:before {
    content: "\e1bd";
}

.icon-list-2:before,
.icon-im-list-2:before {
    content: "\e1be";
}

.icon-numbered-list:before,
.icon-im-numbered-list:before {
    content: "\e1bf";
}

.icon-playlist:before,
.icon-im-playlist:before {
    content: "\e1c0";
}

.icon-grid:before,
.icon-im-grid:before {
    content: "\e1c1";
}

.icon-grid-2:before,
.icon-im-grid-2:before {
    content: "\e1c2";
}

.icon-grid-3:before,
.icon-im-grid-3:before {
    content: "\e1c3";
}

.icon-grid-4:before,
.icon-im-grid-4:before {
    content: "\e1c4";
}

.icon-tree:before,
.icon-im-tree:before {
    content: "\e1c5";
}

.icon-tree-2:before,
.icon-im-tree-2:before {
    content: "\e1c6";
}

.icon-tree-3:before,
.icon-im-tree-3:before {
    content: "\e1c7";
}

.icon-menu:before,
.icon-im-menu:before {
    content: "\e1c8";
}

.icon-menu-2:before,
.icon-im-menu-2:before {
    content: "\e1c9";
}

.icon-menu-3:before,
.icon-im-menu-3:before {
    content: "\e1ca";
}

.icon-menu-4:before,
.icon-im-menu-4:before {
    content: "\e1cb";
}

.icon-menu-5:before,
.icon-im-menu-5:before {
    content: "\e1cc";
}

.icon-cloud:before,
.icon-im-cloud:before {
    content: "\e1cd";
}

.icon-cloud-download:before,
.icon-im-cloud-download:before {
    content: "\e1ce";
}

.icon-cloud-upload:before,
.icon-im-cloud-upload:before {
    content: "\e1cf";
}

.icon-download-2:before,
.icon-im-download-2:before {
    content: "\e1d0";
}

.icon-upload-2:before,
.icon-im-upload-2:before {
    content: "\e1d1";
}

.icon-download-3:before,
.icon-im-download-3:before {
    content: "\e1d2";
}

.icon-upload-3:before,
.icon-im-upload-3:before {
    content: "\e1d3";
}

.icon-download-4:before,
.icon-im-download-4:before {
    content: "\e1d4";
}

.icon-upload-4:before,
.icon-im-upload-4:before {
    content: "\e1d5";
}

.icon-download-5:before,
.icon-im-download-5:before {
    content: "\e1d6";
}

.icon-upload-5:before,
.icon-im-upload-5:before {
    content: "\e1d7";
}

.icon-globe:before,
.icon-im-globe:before {
    content: "\e1d8";
}

.icon-globe-2:before,
.icon-im-globe-2:before {
    content: "\e1d9";
}

.icon-earth:before,
.icon-im-earth:before {
    content: "\e1da";
}

.icon-link:before,
.icon-im-link:before {
    content: "\e1db";
}

.icon-link-2:before,
.icon-im-link-2:before {
    content: "\e1dc";
}

.icon-link-3:before,
.icon-im-link-3:before {
    content: "\e1dd";
}

.icon-link2:before,
.icon-im-link2:before {
    content: "\e1de";
}

.icon-link-4:before,
.icon-im-link-4:before {
    content: "\e1df";
}

.icon-link-5:before,
.icon-im-link-5:before {
    content: "\e1e0";
}

.icon-link-6:before,
.icon-im-link-6:before {
    content: "\e1e1";
}

.icon-anchor:before,
.icon-im-anchor:before {
    content: "\e1e2";
}

.icon-flag:before,
.icon-im-flag:before {
    content: "\e1e3";
}

.icon-flag-2:before,
.icon-im-flag-2:before {
    content: "\e1e4";
}

.icon-flag-3:before,
.icon-im-flag-3:before {
    content: "\e1e5";
}

.icon-flag-4:before,
.icon-im-flag-4:before {
    content: "\e1e6";
}

.icon-attachment:before,
.icon-im-attachment:before {
    content: "\e1e7";
}

.icon-attachment-2:before,
.icon-im-attachment-2:before {
    content: "\e1e8";
}

.icon-eye:before,
.icon-im-eye:before {
    content: "\e1e9";
}

.icon-eye-blocked:before,
.icon-im-eye-blocked:before {
    content: "\e1ea";
}

.icon-eye-2:before,
.icon-im-eye-2:before {
    content: "\e1eb";
}

.icon-eye-3:before,
.icon-im-eye-3:before {
    content: "\e1ec";
}

.icon-eye-blocked-2:before,
.icon-im-eye-blocked-2:before {
    content: "\e1ed";
}

.icon-eye-4:before,
.icon-im-eye-4:before {
    content: "\e1ee";
}

.icon-eye-5:before,
.icon-im-eye-5:before {
    content: "\e1ef";
}

.icon-eye-6:before,
.icon-im-eye-6:before {
    content: "\e1f0";
}

.icon-eye-7:before,
.icon-im-eye-7:before {
    content: "\e1f1";
}

.icon-bookmark:before,
.icon-im-bookmark:before {
    content: "\e1f2";
}

.icon-bookmark-2:before,
.icon-im-bookmark-2:before {
    content: "\e1f3";
}

.icon-bookmarks:before,
.icon-im-bookmarks:before {
    content: "\e1f4";
}

.icon-bookmark-3:before,
.icon-im-bookmark-3:before {
    content: "\e1f5";
}

.icon-weather-lightning:before,
.icon-im-weather-lightning:before {
    content: "\e1f6";
}

.icon-weather-rain:before,
.icon-im-weather-rain:before {
    content: "\e1f7";
}

.icon-weather-snow:before,
.icon-im-weather-snow:before {
    content: "\e1f8";
}

.icon-windy:before,
.icon-im-windy:before {
    content: "\e1f9";
}

.icon-fan:before,
.icon-im-fan:before {
    content: "\e1fa";
}

.icon-umbrella:before,
.icon-im-umbrella:before {
    content: "\e1fb";
}

.icon-sun:before,
.icon-im-sun:before {
    content: "\e1fc";
}

.icon-sun-2:before,
.icon-im-sun-2:before {
    content: "\e1fd";
}

.icon-brightness-high:before,
.icon-im-brightness-high:before {
    content: "\e1fe";
}

.icon-brightness-medium:before,
.icon-im-brightness-medium:before {
    content: "\e1ff";
}

.icon-brightness-low:before,
.icon-im-brightness-low:before {
    content: "\e200";
}

.icon-brightness-contrast:before,
.icon-im-brightness-contrast:before {
    content: "\e201";
}

.icon-contrast:before,
.icon-im-contrast:before {
    content: "\e202";
}

.icon-moon:before,
.icon-im-moon:before {
    content: "\e203";
}

.icon-bed:before,
.icon-im-bed:before {
    content: "\e204";
}

.icon-bed-2:before,
.icon-im-bed-2:before {
    content: "\e205";
}

.icon-star:before,
.icon-im-star:before {
    content: "\e206";
}

.icon-star-2:before,
.icon-im-star-2:before {
    content: "\e207";
}

.icon-star-3:before,
.icon-im-star-3:before {
    content: "\e208";
}

.icon-star-4:before,
.icon-im-star-4:before {
    content: "\e209";
}

.icon-star-5:before,
.icon-im-star-5:before {
    content: "\e20a";
}

.icon-star-6:before,
.icon-im-star-6:before {
    content: "\e20b";
}

.icon-heart:before,
.icon-im-heart:before {
    content: "\e20c";
}

.icon-heart-2:before,
.icon-im-heart-2:before {
    content: "\e20d";
}

.icon-heart-broken:before,
.icon-im-heart-broken:before {
    content: "\e20e";
}

.icon-heart-3:before,
.icon-im-heart-3:before {
    content: "\e20f";
}

.icon-heart-4:before,
.icon-im-heart-4:before {
    content: "\e210";
}

.icon-heart-broken-2:before,
.icon-im-heart-broken-2:before {
    content: "\e211";
}

.icon-heart-5:before,
.icon-im-heart-5:before {
    content: "\e212";
}

.icon-heart-6:before,
.icon-im-heart-6:before {
    content: "\e213";
}

.icon-heart-broken-3:before,
.icon-im-heart-broken-3:before {
    content: "\e214";
}

.icon-thumbs-up:before,
.icon-im-thumbs-up:before {
    content: "\e215";
}

.icon-thumbs-up-2:before,
.icon-im-thumbs-up-2:before {
    content: "\e216";
}

.icon-thumbs-down:before,
.icon-im-thumbs-down:before {
    content: "\e217";
}

.icon-thumbs-down-2:before,
.icon-im-thumbs-down-2:before {
    content: "\e218";
}

.icon-thumbs-up-3:before,
.icon-im-thumbs-up-3:before {
    content: "\e219";
}

.icon-thumbs-up-4:before,
.icon-im-thumbs-up-4:before {
    content: "\e21a";
}

.icon-people:before,
.icon-im-people:before {
    content: "\e21b";
}

.icon-man:before,
.icon-im-man:before {
    content: "\e21c";
}

.icon-male:before,
.icon-im-male:before {
    content: "\e21d";
}

.icon-woman:before,
.icon-im-woman:before {
    content: "\e21e";
}

.icon-female:before,
.icon-im-female:before {
    content: "\e21f";
}

.icon-peace:before,
.icon-im-peace:before {
    content: "\e220";
}

.icon-yin-yang:before,
.icon-im-yin-yang:before {
    content: "\e221";
}

.icon-happy:before,
.icon-im-happy:before {
    content: "\e222";
}

.icon-happy-2:before,
.icon-im-happy-2:before {
    content: "\e223";
}

.icon-smiley:before,
.icon-im-smiley:before {
    content: "\e224";
}

.icon-smiley-2:before,
.icon-im-smiley-2:before {
    content: "\e225";
}

.icon-tongue:before,
.icon-im-tongue:before {
    content: "\e226";
}

.icon-tongue-2:before,
.icon-im-tongue-2:before {
    content: "\e227";
}

.icon-sad:before,
.icon-im-sad:before {
    content: "\e228";
}

.icon-sad-2:before,
.icon-im-sad-2:before {
    content: "\e229";
}

.icon-wink:before,
.icon-im-wink:before {
    content: "\e22a";
}

.icon-wink-2:before,
.icon-im-wink-2:before {
    content: "\e22b";
}

.icon-grin:before,
.icon-im-grin:before {
    content: "\e22c";
}

.icon-grin-2:before,
.icon-im-grin-2:before {
    content: "\e22d";
}

.icon-cool:before,
.icon-im-cool:before {
    content: "\e22e";
}

.icon-cool-2:before,
.icon-im-cool-2:before {
    content: "\e22f";
}

.icon-angry:before,
.icon-im-angry:before {
    content: "\e230";
}

.icon-angry-2:before,
.icon-im-angry-2:before {
    content: "\e231";
}

.icon-evil:before,
.icon-im-evil:before {
    content: "\e232";
}

.icon-evil-2:before,
.icon-im-evil-2:before {
    content: "\e233";
}

.icon-shocked:before,
.icon-im-shocked:before {
    content: "\e234";
}

.icon-shocked-2:before,
.icon-im-shocked-2:before {
    content: "\e235";
}

.icon-confused:before,
.icon-im-confused:before {
    content: "\e236";
}

.icon-confused-2:before,
.icon-im-confused-2:before {
    content: "\e237";
}

.icon-neutral:before,
.icon-im-neutral:before {
    content: "\e238";
}

.icon-neutral-2:before,
.icon-im-neutral-2:before {
    content: "\e239";
}

.icon-wondering:before,
.icon-im-wondering:before {
    content: "\e23a";
}

.icon-wondering-2:before,
.icon-im-wondering-2:before {
    content: "\e23b";
}

.icon-cursor:before,
.icon-im-cursor:before {
    content: "\e23c";
}

.icon-cursor-2:before,
.icon-im-cursor-2:before {
    content: "\e23d";
}

.icon-point-up:before,
.icon-im-point-up:before {
    content: "\e23e";
}

.icon-point-right:before,
.icon-im-point-right:before {
    content: "\e23f";
}

.icon-point-down:before,
.icon-im-point-down:before {
    content: "\e240";
}

.icon-point-left:before,
.icon-im-point-left:before {
    content: "\e241";
}

.icon-move:before,
.icon-im-move:before {
    content: "\e242";
}

.icon-warning:before,
.icon-im-warning:before {
    content: "\e243";
}

.icon-notification:before,
.icon-im-notification:before {
    content: "\e244";
}

.icon-question:before,
.icon-im-question:before {
    content: "\e245";
}

.icon-question-2:before,
.icon-im-question-2:before {
    content: "\e246";
}

.icon-question-3:before,
.icon-im-question-3:before {
    content: "\e247";
}

.icon-question-4:before,
.icon-im-question-4:before {
    content: "\e248";
}

.icon-question-5:before,
.icon-im-question-5:before {
    content: "\e249";
}

.icon-plus-circle:before,
.icon-im-plus-circle:before {
    content: "\e24a";
}

.icon-plus-circle-2:before,
.icon-im-plus-circle-2:before {
    content: "\e24b";
}

.icon-minus-circle:before,
.icon-im-minus-circle:before {
    content: "\e24c";
}

.icon-minus-circle-2:before,
.icon-im-minus-circle-2:before {
    content: "\e24d";
}

.icon-info:before,
.icon-im-info:before {
    content: "\e24e";
}

.icon-info-2:before,
.icon-im-info-2:before {
    content: "\e24f";
}

.icon-blocked:before,
.icon-im-blocked:before {
    content: "\e250";
}

.icon-cancel-circle:before,
.icon-im-cancel-circle:before {
    content: "\e251";
}

.icon-cancel-circle-2:before,
.icon-im-cancel-circle-2:before {
    content: "\e252";
}

.icon-checkmark-circle:before,
.icon-im-checkmark-circle:before {
    content: "\e253";
}

.icon-checkmark-circle-2:before,
.icon-im-checkmark-circle-2:before {
    content: "\e254";
}

.icon-cancel:before,
.icon-im-cancel:before {
    content: "\e255";
}

.icon-spam:before,
.icon-im-spam:before {
    content: "\e256";
}

.icon-close:before,
.icon-im-close:before {
    content: "\e257";
}

.icon-checkmark:before,
.icon-im-checkmark:before {
    content: "\e258";
}

.icon-checkmark-2:before,
.icon-im-checkmark-2:before {
    content: "\e259";
}

.icon-checkmark-3:before,
.icon-im-checkmark-3:before {
    content: "\e25a";
}

.icon-checkmark-4:before,
.icon-im-checkmark-4:before {
    content: "\e25b";
}

.icon-spell-check:before,
.icon-im-spell-check:before {
    content: "\e25c";
}

.icon-minus:before,
.icon-im-minus:before {
    content: "\e25d";
}

.icon-plus:before,
.icon-im-plus:before {
    content: "\e25e";
}

.icon-enter:before,
.icon-im-enter:before {
    content: "\e25f";
}

.icon-exit:before,
.icon-im-exit:before {
    content: "\e260";
}

.icon-enter-2:before,
.icon-im-enter-2:before {
    content: "\e261";
}

.icon-exit-2:before,
.icon-im-exit-2:before {
    content: "\e262";
}

.icon-enter-3:before,
.icon-im-enter-3:before {
    content: "\e263";
}

.icon-exit-3:before,
.icon-im-exit-3:before {
    content: "\e264";
}

.icon-exit-4:before,
.icon-im-exit-4:before {
    content: "\e265";
}

.icon-play-2:before,
.icon-im-play-2:before {
    content: "\e266";
}

.icon-pause:before,
.icon-im-pause:before {
    content: "\e267";
}

.icon-stop:before,
.icon-im-stop:before {
    content: "\e268";
}

.icon-backward:before,
.icon-im-backward:before {
    content: "\e269";
}

.icon-forward-2:before,
.icon-im-forward-2:before {
    content: "\e26a";
}

.icon-play-3:before,
.icon-im-play-3:before {
    content: "\e26b";
}

.icon-pause-2:before,
.icon-im-pause-2:before {
    content: "\e26c";
}

.icon-stop-2:before,
.icon-im-stop-2:before {
    content: "\e26d";
}

.icon-backward-2:before,
.icon-im-backward-2:before {
    content: "\e26e";
}

.icon-forward-3:before,
.icon-im-forward-3:before {
    content: "\e26f";
}

.icon-first:before,
.icon-im-first:before {
    content: "\e270";
}

.icon-last:before,
.icon-im-last:before {
    content: "\e271";
}

.icon-previous:before,
.icon-im-previous:before {
    content: "\e272";
}

.icon-next:before,
.icon-im-next:before {
    content: "\e273";
}

.icon-eject:before,
.icon-im-eject:before {
    content: "\e274";
}

.icon-volume-high:before,
.icon-im-volume-high:before {
    content: "\e275";
}

.icon-volume-medium:before,
.icon-im-volume-medium:before {
    content: "\e276";
}

.icon-volume-low:before,
.icon-im-volume-low:before {
    content: "\e277";
}

.icon-volume-mute:before,
.icon-im-volume-mute:before {
    content: "\e278";
}

.icon-volume-mute-2:before,
.icon-im-volume-mute-2:before {
    content: "\e279";
}

.icon-volume-increase:before,
.icon-im-volume-increase:before {
    content: "\e27a";
}

.icon-volume-decrease:before,
.icon-im-volume-decrease:before {
    content: "\e27b";
}

.icon-volume-high-2:before,
.icon-im-volume-high-2:before {
    content: "\e27c";
}

.icon-volume-medium-2:before,
.icon-im-volume-medium-2:before {
    content: "\e27d";
}

.icon-volume-low-2:before,
.icon-im-volume-low-2:before {
    content: "\e27e";
}

.icon-volume-mute-3:before,
.icon-im-volume-mute-3:before {
    content: "\e27f";
}

.icon-volume-mute-4:before,
.icon-im-volume-mute-4:before {
    content: "\e280";
}

.icon-volume-increase-2:before,
.icon-im-volume-increase-2:before {
    content: "\e281";
}

.icon-volume-decrease-2:before,
.icon-im-volume-decrease-2:before {
    content: "\e282";
}

.icon-volume5:before,
.icon-im-volume5:before {
    content: "\e283";
}

.icon-volume4:before,
.icon-im-volume4:before {
    content: "\e284";
}

.icon-volume3:before,
.icon-im-volume3:before {
    content: "\e285";
}

.icon-volume2:before,
.icon-im-volume2:before {
    content: "\e286";
}

.icon-volume1:before,
.icon-im-volume1:before {
    content: "\e287";
}

.icon-volume0:before,
.icon-im-volume0:before {
    content: "\e288";
}

.icon-volume-mute-5:before,
.icon-im-volume-mute-5:before {
    content: "\e289";
}

.icon-volume-mute-6:before,
.icon-im-volume-mute-6:before {
    content: "\e28a";
}

.icon-loop:before,
.icon-im-loop:before {
    content: "\e28b";
}

.icon-loop-2:before,
.icon-im-loop-2:before {
    content: "\e28c";
}

.icon-loop-3:before,
.icon-im-loop-3:before {
    content: "\e28d";
}

.icon-loop-4:before,
.icon-im-loop-4:before {
    content: "\e28e";
}

.icon-loop-5:before,
.icon-im-loop-5:before {
    content: "\e28f";
}

.icon-shuffle:before,
.icon-im-shuffle:before {
    content: "\e290";
}

.icon-shuffle-2:before,
.icon-im-shuffle-2:before {
    content: "\e291";
}

.icon-wave:before,
.icon-im-wave:before {
    content: "\e292";
}

.icon-wave-2:before,
.icon-im-wave-2:before {
    content: "\e293";
}

.icon-arrow-first:before,
.icon-im-arrow-first:before {
    content: "\e294";
}

.icon-arrow-right:before,
.icon-im-arrow-right:before {
    content: "\e295";
}

.icon-arrow-up:before,
.icon-im-arrow-up:before {
    content: "\e296";
}

.icon-arrow-right-2:before,
.icon-im-arrow-right-2:before {
    content: "\e297";
}

.icon-arrow-down:before,
.icon-im-arrow-down:before {
    content: "\e298";
}

.icon-arrow-left:before,
.icon-im-arrow-left:before {
    content: "\e299";
}

.icon-arrow-up-2:before,
.icon-im-arrow-up-2:before {
    content: "\e29a";
}

.icon-arrow-right-3:before,
.icon-im-arrow-right-3:before {
    content: "\e29b";
}

.icon-arrow-down-2:before,
.icon-im-arrow-down-2:before {
    content: "\e29c";
}

.icon-arrow-left-2:before,
.icon-im-arrow-left-2:before {
    content: "\e29d";
}

.icon-arrow-up-left:before,
.icon-im-arrow-up-left:before {
    content: "\e29e";
}

.icon-arrow-up-3:before,
.icon-im-arrow-up-3:before {
    content: "\e29f";
}

.icon-arrow-up-right:before,
.icon-im-arrow-up-right:before {
    content: "\e2a0";
}

.icon-arrow-right-4:before,
.icon-im-arrow-right-4:before {
    content: "\e2a1";
}

.icon-arrow-down-right:before,
.icon-im-arrow-down-right:before {
    content: "\e2a2";
}

.icon-arrow-down-3:before,
.icon-im-arrow-down-3:before {
    content: "\e2a3";
}

.icon-arrow-down-left:before,
.icon-im-arrow-down-left:before {
    content: "\e2a4";
}

.icon-arrow-left-3:before,
.icon-im-arrow-left-3:before {
    content: "\e2a5";
}

.icon-arrow-up-left-2:before,
.icon-im-arrow-up-left-2:before {
    content: "\e2a6";
}

.icon-arrow-up-4:before,
.icon-im-arrow-up-4:before {
    content: "\e2a7";
}

.icon-arrow-up-right-2:before,
.icon-im-arrow-up-right-2:before {
    content: "\e2a8";
}

.icon-arrow-right-5:before,
.icon-im-arrow-right-5:before {
    content: "\e2a9";
}

.icon-arrow-down-right-2:before,
.icon-im-arrow-down-right-2:before {
    content: "\e2aa";
}

.icon-arrow-down-4:before,
.icon-im-arrow-down-4:before {
    content: "\e2ab";
}

.icon-arrow-down-left-2:before,
.icon-im-arrow-down-left-2:before {
    content: "\e2ac";
}

.icon-arrow-left-4:before,
.icon-im-arrow-left-4:before {
    content: "\e2ad";
}

.icon-arrow-up-left-3:before,
.icon-im-arrow-up-left-3:before {
    content: "\e2ae";
}

.icon-arrow-up-5:before,
.icon-im-arrow-up-5:before {
    content: "\e2af";
}

.icon-arrow-up-right-3:before,
.icon-im-arrow-up-right-3:before {
    content: "\e2b0";
}

.icon-arrow-right-6:before,
.icon-im-arrow-right-6:before {
    content: "\e2b1";
}

.icon-arrow-down-right-3:before,
.icon-im-arrow-down-right-3:before {
    content: "\e2b2";
}

.icon-arrow-down-5:before,
.icon-im-arrow-down-5:before {
    content: "\e2b3";
}

.icon-arrow-down-left-3:before,
.icon-im-arrow-down-left-3:before {
    content: "\e2b4";
}

.icon-arrow-left-5:before,
.icon-im-arrow-left-5:before {
    content: "\e2b5";
}

.icon-arrow:before,
.icon-im-arrow:before {
    content: "\e2b6";
}

.icon-arrow-2:before,
.icon-im-arrow-2:before {
    content: "\e2b7";
}

.icon-arrow-3:before,
.icon-im-arrow-3:before {
    content: "\e2b8";
}

.icon-arrow-4:before,
.icon-im-arrow-4:before {
    content: "\e2b9";
}

.icon-arrow-up-left-4:before,
.icon-im-arrow-up-left-4:before {
    content: "\e2ba";
}

.icon-arrow-up-6:before,
.icon-im-arrow-up-6:before {
    content: "\e2bb";
}

.icon-arrow-up-right-4:before,
.icon-im-arrow-up-right-4:before {
    content: "\e2bc";
}

.icon-arrow-right-7:before,
.icon-im-arrow-right-7:before {
    content: "\e2bd";
}

.icon-arrow-down-right-4:before,
.icon-im-arrow-down-right-4:before {
    content: "\e2be";
}

.icon-arrow-down-6:before,
.icon-im-arrow-down-6:before {
    content: "\e2bf";
}

.icon-arrow-down-left-4:before,
.icon-im-arrow-down-left-4:before {
    content: "\e2c0";
}

.icon-arrow-left-6:before,
.icon-im-arrow-left-6:before {
    content: "\e2c1";
}

.icon-arrow-up-left-5:before,
.icon-im-arrow-up-left-5:before {
    content: "\e2c2";
}

.icon-arrow-up-7:before,
.icon-im-arrow-up-7:before {
    content: "\e2c3";
}

.icon-arrow-up-right-5:before,
.icon-im-arrow-up-right-5:before {
    content: "\e2c4";
}

.icon-arrow-right-8:before,
.icon-im-arrow-right-8:before {
    content: "\e2c5";
}

.icon-arrow-down-right-5:before,
.icon-im-arrow-down-right-5:before {
    content: "\e2c6";
}

.icon-arrow-down-7:before,
.icon-im-arrow-down-7:before {
    content: "\e2c7";
}

.icon-arrow-down-left-5:before,
.icon-im-arrow-down-left-5:before {
    content: "\e2c8";
}

.icon-arrow-left-7:before,
.icon-im-arrow-left-7:before {
    content: "\e2c9";
}

.icon-arrow-up-8:before,
.icon-im-arrow-up-8:before {
    content: "\e2ca";
}

.icon-arrow-right-9:before,
.icon-im-arrow-right-9:before {
    content: "\e2cb";
}

.icon-arrow-down-8:before,
.icon-im-arrow-down-8:before {
    content: "\e2cc";
}

.icon-arrow-left-8:before,
.icon-im-arrow-left-8:before {
    content: "\e2cd";
}

.icon-arrow-up-9:before,
.icon-im-arrow-up-9:before {
    content: "\e2ce";
}

.icon-arrow-right-10:before,
.icon-im-arrow-right-10:before {
    content: "\e2cf";
}

.icon-arrow-down-9:before,
.icon-im-arrow-down-9:before {
    content: "\e2d0";
}

.icon-arrow-left-9:before,
.icon-im-arrow-left-9:before {
    content: "\e2d1";
}

.icon-arrow-up-10:before,
.icon-im-arrow-up-10:before {
    content: "\e2d2";
}

.icon-arrow-right-11:before,
.icon-im-arrow-right-11:before {
    content: "\e2d3";
}

.icon-arrow-down-10:before,
.icon-im-arrow-down-10:before {
    content: "\e2d4";
}

.icon-arrow-left-10:before,
.icon-im-arrow-left-10:before {
    content: "\e2d5";
}

.icon-arrow-up-11:before,
.icon-im-arrow-up-11:before {
    content: "\e2d6";
}

.icon-arrow-right-12:before,
.icon-im-arrow-right-12:before {
    content: "\e2d7";
}

.icon-arrow-down-11:before,
.icon-im-arrow-down-11:before {
    content: "\e2d8";
}

.icon-arrow-left-11:before,
.icon-im-arrow-left-11:before {
    content: "\e2d9";
}

.icon-enter-4:before,
.icon-im-enter-4:before {
    content: "\e2da";
}

.icon-enter-5:before,
.icon-im-enter-5:before {
    content: "\e2db";
}

.icon-esc:before,
.icon-im-esc:before {
    content: "\e2dc";
}

.icon-backspace:before,
.icon-im-backspace:before {
    content: "\e2dd";
}

.icon-backspace-2:before,
.icon-im-backspace-2:before {
    content: "\e2de";
}

.icon-backspace-3:before,
.icon-im-backspace-3:before {
    content: "\e2df";
}

.icon-tab:before,
.icon-im-tab:before {
    content: "\e2e0";
}

.icon-transmission:before,
.icon-im-transmission:before {
    content: "\e2e1";
}

.icon-transmission-2:before,
.icon-im-transmission-2:before {
    content: "\e2e2";
}

.icon-sort:before,
.icon-im-sort:before {
    content: "\e2e3";
}

.icon-sort-2:before,
.icon-im-sort-2:before {
    content: "\e2e4";
}

.icon-command:before,
.icon-im-command:before {
    content: "\e2e5";
}

.icon-checkbox-checked:before,
.icon-im-checkbox-checked:before {
    content: "\e2e6";
}

.icon-checkbox-unchecked:before,
.icon-im-checkbox-unchecked:before {
    content: "\e2e7";
}

.icon-checkbox-partial:before,
.icon-im-checkbox-partial:before {
    content: "\e2e8";
}

.icon-radio-checked:before,
.icon-im-radio-checked:before {
    content: "\e2e9";
}

.icon-radio-unchecked:before,
.icon-im-radio-unchecked:before {
    content: "\e2ea";
}

.icon-crop:before,
.icon-im-crop:before {
    content: "\e2eb";
}

.icon-vector:before,
.icon-im-vector:before {
    content: "\e2ec";
}

.icon-rulers:before,
.icon-im-rulers:before {
    content: "\e2ed";
}

.icon-scissors:before,
.icon-im-scissors:before {
    content: "\e2ee";
}

.icon-scissors-2:before,
.icon-im-scissors-2:before {
    content: "\e2ef";
}

.icon-filter:before,
.icon-im-filter:before {
    content: "\e2f0";
}

.icon-filter-2:before,
.icon-im-filter-2:before {
    content: "\e2f1";
}

.icon-filter-3:before,
.icon-im-filter-3:before {
    content: "\e2f2";
}

.icon-filter-4:before,
.icon-im-filter-4:before {
    content: "\e2f3";
}

.icon-font:before,
.icon-im-font:before {
    content: "\e2f4";
}

.icon-text-height:before,
.icon-im-text-height:before {
    content: "\e2f5";
}

.icon-text-width:before,
.icon-im-text-width:before {
    content: "\e2f6";
}

.icon-font-size:before,
.icon-im-font-size:before {
    content: "\e2f7";
}

.icon-bold:before,
.icon-im-bold:before {
    content: "\e2f8";
}

.icon-underline:before,
.icon-im-underline:before {
    content: "\e2f9";
}

.icon-italic:before,
.icon-im-italic:before {
    content: "\e2fa";
}

.icon-strikethrough:before,
.icon-im-strikethrough:before {
    content: "\e2fb";
}

.icon-omega:before,
.icon-im-omega:before {
    content: "\e2fc";
}

.icon-sigma:before,
.icon-im-sigma:before {
    content: "\e2fd";
}

.icon-nbsp:before,
.icon-im-nbsp:before {
    content: "\e2fe";
}

.icon-page-break:before,
.icon-im-page-break:before {
    content: "\e2ff";
}

.icon-page-break-2:before,
.icon-im-page-break-2:before {
    content: "\e300";
}

.icon-superscript:before,
.icon-im-superscript:before {
    content: "\e301";
}

.icon-subscript:before,
.icon-im-subscript:before {
    content: "\e302";
}

.icon-superscript-2:before,
.icon-im-superscript-2:before {
    content: "\e303";
}

.icon-subscript-2:before,
.icon-im-subscript-2:before {
    content: "\e304";
}

.icon-text-color:before,
.icon-im-text-color:before {
    content: "\e305";
}

.icon-pagebreak:before,
.icon-im-pagebreak:before {
    content: "\e306";
}

.icon-clear-formatting:before,
.icon-im-clear-formatting:before {
    content: "\e307";
}

.icon-table:before,
.icon-im-table:before {
    content: "\e308";
}

.icon-table-2:before,
.icon-im-table-2:before {
    content: "\e309";
}

.icon-insert-template:before,
.icon-im-insert-template:before {
    content: "\e30a";
}

.icon-pilcrow:before,
.icon-im-pilcrow:before {
    content: "\e30b";
}

.icon-left-to-right:before,
.icon-im-left-to-right:before {
    content: "\e30c";
}

.icon-right-to-left:before,
.icon-im-right-to-left:before {
    content: "\e30d";
}

.icon-paragraph-left:before,
.icon-im-paragraph-left:before {
    content: "\e30e";
}

.icon-paragraph-center:before,
.icon-im-paragraph-center:before {
    content: "\e30f";
}

.icon-paragraph-right:before,
.icon-im-paragraph-right:before {
    content: "\e310";
}

.icon-paragraph-justify:before,
.icon-im-paragraph-justify:before {
    content: "\e311";
}

.icon-paragraph-left-2:before,
.icon-im-paragraph-left-2:before {
    content: "\e312";
}

.icon-paragraph-center-2:before,
.icon-im-paragraph-center-2:before {
    content: "\e313";
}

.icon-paragraph-right-2:before,
.icon-im-paragraph-right-2:before {
    content: "\e314";
}

.icon-paragraph-justify-2:before,
.icon-im-paragraph-justify-2:before {
    content: "\e315";
}

.icon-indent-increase:before,
.icon-im-indent-increase:before {
    content: "\e316";
}

.icon-indent-decrease:before,
.icon-im-indent-decrease:before {
    content: "\e317";
}

.icon-share:before,
.icon-im-share:before {
    content: "\e318";
}

.icon-new-tab:before,
.icon-im-new-tab:before {
    content: "\e319";
}

.icon-new-tab-2:before,
.icon-im-new-tab-2:before {
    content: "\e31a";
}

.icon-popout:before,
.icon-im-popout:before {
    content: "\e31b";
}

.icon-embed:before,
.icon-im-embed:before {
    content: "\e31c";
}

.icon-code:before,
.icon-im-code:before {
    content: "\e31d";
}

.icon-console:before,
.icon-im-console:before {
    content: "\e31e";
}

.icon-share-2:before,
.icon-im-share-2:before {
    content: "\e31f";
}

.icon-share-3:before,
.icon-im-share-3:before {
    content: "\e320";
}

.icon-mail:before,
.icon-im-mail:before {
    content: "\e321";
}

.icon-mail-2:before,
.icon-im-mail-2:before {
    content: "\e322";
}

.icon-mail-3:before,
.icon-im-mail-3:before {
    content: "\e323";
}

.icon-mail-4:before,
.icon-im-mail-4:before {
    content: "\e324";
}

.icon-google:before,
.icon-im-google:before {
    content: "\e325";
}

.icon-google-plus:before,
.icon-im-google-plus:before {
    content: "\e326";
}

.icon-google-plus-2:before,
.icon-im-google-plus-2:before {
    content: "\e327";
}

.icon-google-plus-3:before,
.icon-im-google-plus-3:before {
    content: "\e328";
}

.icon-google-plus-4:before,
.icon-im-google-plus-4:before {
    content: "\e329";
}

.icon-google-drive:before,
.icon-im-google-drive:before {
    content: "\e32a";
}

.icon-facebook:before,
.icon-im-facebook:before {
    content: "\e32b";
}

.icon-facebook-2:before,
.icon-im-facebook-2:before {
    content: "\e32c";
}

.icon-facebook-3:before,
.icon-im-facebook-3:before {
    content: "\e32d";
}

.icon-instagram:before,
.icon-im-instagram:before {
    content: "\e32e";
}

.icon-twitter:before,
.icon-im-twitter:before {
    content: "\e32f";
}

.icon-twitter-2:before,
.icon-im-twitter-2:before {
    content: "\e330";
}

.icon-twitter-3:before,
.icon-im-twitter-3:before {
    content: "\e331";
}

.icon-feed-2:before,
.icon-im-feed-2:before {
    content: "\e332";
}

.icon-feed-3:before,
.icon-im-feed-3:before {
    content: "\e333";
}

.icon-feed-4:before,
.icon-im-feed-4:before {
    content: "\e334";
}

.icon-youtube:before,
.icon-im-youtube:before {
    content: "\e335";
}

.icon-youtube-2:before,
.icon-im-youtube-2:before {
    content: "\e336";
}

.icon-vimeo:before,
.icon-im-vimeo:before {
    content: "\e337";
}

.icon-vimeo2:before,
.icon-im-vimeo2:before {
    content: "\e338";
}

.icon-vimeo-2:before,
.icon-im-vimeo-2:before {
    content: "\e339";
}

.icon-lanyrd:before,
.icon-im-lanyrd:before {
    content: "\e33a";
}

.icon-flickr:before,
.icon-im-flickr:before {
    content: "\e33b";
}

.icon-flickr-2:before,
.icon-im-flickr-2:before {
    content: "\e33c";
}

.icon-flickr-3:before,
.icon-im-flickr-3:before {
    content: "\e33d";
}

.icon-flickr-4:before,
.icon-im-flickr-4:before {
    content: "\e33e";
}

.icon-picassa:before,
.icon-im-picassa:before {
    content: "\e33f";
}

.icon-picassa-2:before,
.icon-im-picassa-2:before {
    content: "\e340";
}

.icon-dribbble:before,
.icon-im-dribbble:before {
    content: "\e341";
}

.icon-dribbble-2:before,
.icon-im-dribbble-2:before {
    content: "\e342";
}

.icon-dribbble-3:before,
.icon-im-dribbble-3:before {
    content: "\e343";
}

.icon-forrst:before,
.icon-im-forrst:before {
    content: "\e344";
}

.icon-forrst-2:before,
.icon-im-forrst-2:before {
    content: "\e345";
}

.icon-deviantart:before,
.icon-im-deviantart:before {
    content: "\e346";
}

.icon-deviantart-2:before,
.icon-im-deviantart-2:before {
    content: "\e347";
}

.icon-steam:before,
.icon-im-steam:before {
    content: "\e348";
}

.icon-steam-2:before,
.icon-im-steam-2:before {
    content: "\e349";
}

.icon-github:before,
.icon-im-github:before {
    content: "\e34a";
}

.icon-github-2:before,
.icon-im-github-2:before {
    content: "\e34b";
}

.icon-github-3:before,
.icon-im-github-3:before {
    content: "\e34c";
}

.icon-github-4:before,
.icon-im-github-4:before {
    content: "\e34d";
}

.icon-github-5:before,
.icon-im-github-5:before {
    content: "\e34e";
}

.icon-wordpress:before,
.icon-im-wordpress:before {
    content: "\e34f";
}

.icon-wordpress-2:before,
.icon-im-wordpress-2:before {
    content: "\e350";
}

.icon-joomla:before,
.icon-im-joomla:before {
    content: "\e351";
}

.icon-blogger:before,
.icon-im-blogger:before {
    content: "\e352";
}

.icon-blogger-2:before,
.icon-im-blogger-2:before {
    content: "\e353";
}

.icon-tumblr:before,
.icon-im-tumblr:before {
    content: "\e354";
}

.icon-tumblr-2:before,
.icon-im-tumblr-2:before {
    content: "\e355";
}

.icon-yahoo:before,
.icon-im-yahoo:before {
    content: "\e356";
}

.icon-tux:before,
.icon-im-tux:before {
    content: "\e357";
}

.icon-apple:before,
.icon-im-apple:before {
    content: "\e358";
}

.icon-finder:before,
.icon-im-finder:before {
    content: "\e359";
}

.icon-android:before,
.icon-im-android:before {
    content: "\e35a";
}

.icon-windows:before,
.icon-im-windows:before {
    content: "\e35b";
}

.icon-windows8:before,
.icon-im-windows8:before {
    content: "\e35c";
}

.icon-soundcloud:before,
.icon-im-soundcloud:before {
    content: "\e35d";
}

.icon-soundcloud-2:before,
.icon-im-soundcloud-2:before {
    content: "\e35e";
}

.icon-skype:before,
.icon-im-skype:before {
    content: "\e35f";
}

.icon-reddit:before,
.icon-im-reddit:before {
    content: "\e360";
}

.icon-linkedin:before,
.icon-im-linkedin:before {
    content: "\e361";
}

.icon-lastfm:before,
.icon-im-lastfm:before {
    content: "\e362";
}

.icon-lastfm-2:before,
.icon-im-lastfm-2:before {
    content: "\e363";
}

.icon-delicious:before,
.icon-im-delicious:before {
    content: "\e364";
}

.icon-stumbleupon:before,
.icon-im-stumbleupon:before {
    content: "\e365";
}

.icon-stumbleupon-2:before,
.icon-im-stumbleupon-2:before {
    content: "\e366";
}

.icon-stackoverflow:before,
.icon-im-stackoverflow:before {
    content: "\e367";
}

.icon-pinterest:before,
.icon-im-pinterest:before {
    content: "\e368";
}

.icon-pinterest-2:before,
.icon-im-pinterest-2:before {
    content: "\e369";
}

.icon-xing:before,
.icon-im-xing:before {
    content: "\e36a";
}

.icon-xing-2:before,
.icon-im-xing-2:before {
    content: "\e36b";
}

.icon-flattr:before,
.icon-im-flattr:before {
    content: "\e36c";
}

.icon-foursquare:before,
.icon-im-foursquare:before {
    content: "\e36d";
}

.icon-foursquare-2:before,
.icon-im-foursquare-2:before {
    content: "\e36e";
}

.icon-paypal:before,
.icon-im-paypal:before {
    content: "\e36f";
}

.icon-paypal-2:before,
.icon-im-paypal-2:before {
    content: "\e370";
}

.icon-paypal-3:before,
.icon-im-paypal-3:before {
    content: "\e371";
}

.icon-yelp:before,
.icon-im-yelp:before {
    content: "\e372";
}

.icon-libreoffice:before,
.icon-im-libreoffice:before {
    content: "\e373";
}

.icon-file-pdf:before,
.icon-im-file-pdf:before {
    content: "\e374";
}

.icon-file-openoffice:before,
.icon-im-file-openoffice:before {
    content: "\e375";
}

.icon-file-word:before,
.icon-im-file-word:before {
    content: "\e376";
}

.icon-file-excel:before,
.icon-im-file-excel:before {
    content: "\e377";
}

.icon-file-zip:before,
.icon-im-file-zip:before {
    content: "\e378";
}

.icon-file-powerpoint:before,
.icon-im-file-powerpoint:before {
    content: "\e379";
}

.icon-file-xml:before,
.icon-im-file-xml:before {
    content: "\e37a";
}

.icon-file-css:before,
.icon-im-file-css:before {
    content: "\e37b";
}

.icon-html5:before,
.icon-im-html5:before {
    content: "\e37c";
}

.icon-html5-2:before,
.icon-im-html5-2:before {
    content: "\e37d";
}

.icon-css3:before,
.icon-im-css3:before {
    content: "\e37e";
}

.icon-chrome:before,
.icon-im-chrome:before {
    content: "\e37f";
}

.icon-firefox:before,
.icon-im-firefox:before {
    content: "\e380";
}

.icon-IE:before,
.icon-im-IE:before {
    content: "\e381";
}

.icon-opera:before,
.icon-im-opera:before {
    content: "\e382";
}

.icon-safari:before,
.icon-im-safari:before {
    content: "\e383";
}

.icon-IcoMoon:before,
.icon-im-IcoMoon:before {
    content: "\e384";
}

