﻿<!DOCTYPE html>
<html lang="tw">
<head>
    <title>@ViewBag.systemData.title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    @Styles.Render("~/Content/Siteadmin/styles/app.css")
    @RenderSection("css", required: false)
</head>
<body>
    <div class="wrapper">
        <!-- *  header-->
        <div class="page-header fixed-top">
            <h1 class="navbar-brand left-width pl-3 navbar navbar-expand-lg"><a class="font-weight-bold text-uppercase" href="@Url.Content("~/siteadmin")"><span class="text-main"><img src="@Url.Content("~" + ViewBag.systemData.logo)" /></span></a></h1>
            <button class="btn btn-link toggle-left-nav-btn no-decoration" id="toggle_nav_btn" type="button"><span class="text-hide">選單</span><span class="line"></span></button>
            <div class="top-right pr-2 mt-1">
                <!--
            <div class="d-inline-block dropdown globe">
                <button class="btn btn-link dropdown-toggle px-2" id="menu-globe" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon-globe h4"></i><span class="text-hide">語系</span></button>
                <div class="dropdown-menu dropdown-menu-right rounded-0" aria-labelledby="menu-globe"><a class="dropdown-item active" href="#"><i class="img-thumbnail flag flag-icon-background flag-icon-tw"></i><span>繁體中文</span></a><a class="dropdown-item" href="#"><i class="img-thumbnail flag flag-icon-background flag-icon-cn"></i><span>简体中文</span></a><a class="dropdown-item" href="#"><i class="img-thumbnail flag flag-icon-background flag-icon-us"></i><span>English</span></a></div>
            </div>
                -->
                <div class="d-inline-block dropdown globe">
                    <button class="btn btn-link dropdown-toggle px-2" id="menu-profile" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="@Url.Content("~/Styles/fontello-data/user.svg")" style="width:30px;" /><span class="text-hide">帳戶</span></button>
                    <div class="dropdown-menu dropdown-menu-right rounded-0" aria-labelledby="menu-profile">
                        @*<a class="dropdown-item active" href="@Url.Content("~/siteadmin/user/edit/" + ViewBag.userData["guid"])"><i class="icon-vcard"></i><span>個人資料</span></a>
                        <a class="dropdown-item" href="@Url.Content("~/siteadmin/web_data/edit/1")"><i class="icon-equalizer"></i><span>系統設定</span></a>*@
                        <a class="dropdown-item" href="@Url.Content("~/siteadmin/logout")"><i class="icon-log-out"></i><span>@ViewBag.ResLang["logout"]</span></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- * /  header  -->
        <div class="border-box page-content">
            <div class="content-header">
                <div class="row justify-content-between">
                    <div class="col-auto">
                        <nav class="ml-2 mt-1" aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                @*<li class="breadcrumb-item"><a href="@Url.Content("~/siteadmin")"><i class="icon-home3 mr-2"></i><span>系統首頁</span></a></li>*@
                                <li class="breadcrumb-item"><a href="@Url.Content("~/siteadmin")"><i class="icon-home3 mr-2"></i><span>@ViewBag.ResLang["iconHome"]</span></a></li>
                                @if (ViewBag.tables != "")
                                {
                                    <li class="breadcrumb-item"><span>@Html.Raw(ViewBag.system_menu_top_data.title)</span></li>
                                    <li class="breadcrumb-item active"><span>@Html.Raw(ViewBag.system_menu_data.title)</span></li>
                                }
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>

            @RenderBody()
        </div>
        <!-- *  sidebar-->
        <nav class="fixed-sidebar-left left-width">
            <ul class="side-nav nicescroll-bar">
                <li class="navigation-header"><span>default</span><i class="icon-dots-three-horizontal"></i></li>
                <li>
                    <a href="@Url.Content("~/siteadmin")">
                        @*<div class="float-left"><i class="icon-home3"></i><span class="right-nav-text">系統首頁</span></div>*@
                        <div class="float-left"><i class="icon-home3"></i><span class="right-nav-text">@ViewBag.ResLang["iconHome"]</span></div>
                        <div class="clearfix">       </div>
                    </a>
                </li>
                <li>
                    <hr class="mb-0">
                </li>
                <li class="navigation-header"><span>modules</span><i class="icon-dots-three-horizontal"></i></li>
                @{
                    Dictionary<String, Object> permissions = new Dictionary<string, object>();
                    List<String> permissionsTop = new List<String>();
                    if (ViewBag.permissions != null)
                    {
                        permissions = ViewBag.permissions;
                        permissionsTop = ViewBag.permissionsTop;
                    }

                }
                @if (ViewBag.system_menu != null)
                {

                    foreach (var item in ViewBag.system_menu)
                    {
                        if (item.category == "0" && item.area == "modules" && permissionsTop.IndexOf(item.guid) != -1)
                        {

                            <li>
                                <a class="@if(ViewBag.system_menu_data != null && ViewBag.system_menu_data.category != item.guid){@Html.Raw("collapsed")}" href="javascript:void(0);" data-toggle="collapse" data-target="#forum_@item.guid">
                                    <div class="float-left">
                                        <i class="@item.icon"></i><span class="right-nav-text">@Html.Raw(item.title)</span>
                                    </div>
                                    <div class="float-right"><i class="icon-chevron-small-right"></i></div>
                                    <div class="clearfix"></div>
                                </a>
                                <ul class="collapse collapse-level-1 @if(ViewBag.system_menu_data != null && ViewBag.system_menu_data.category == item.guid){@Html.Raw("show")}" id="forum_@item.guid">
                                    @foreach (var subItem in ViewBag.system_menu)
                                    {
                                        if (subItem.category == item.guid && permissions.ContainsKey(subItem.guid))
                                        {
                                            <li><a href="@Url.Content("~/siteadmin/"+subItem.tables+"/" + subItem.act_path)"><span @if (ViewBag.system_menu_data != null && ViewBag.system_menu_data.guid == subItem.guid) { @Html.Raw("style=\"font-weight:bold;color:#FF0000\"") }>@Html.Raw(subItem.title)</span></a></li>
                                        }

                                    }
                                </ul>
                            </li>

                        }

                    }

                }

                <li>
                    <hr class="mb-0">
                </li>
                <li class="navigation-header"><span>system</span><i class="icon-dots-three-horizontal"></i></li>

                @if (ViewBag.system_menu != null)
                {

                    foreach (var item in ViewBag.system_menu)
                    {
                        if (item.category == "0" && item.area == "system" && permissionsTop.IndexOf(item.guid) != -1)
                        {

                            <li>
                                <a class="@if(ViewBag.system_menu_data != null && ViewBag.system_menu_data.category != item.guid){@Html.Raw("collapsed")}" href="javascript:void(0);" data-toggle="collapse" data-target="#forum_@item.guid">
                                    <div class="float-left">
                                        <i class="@item.icon"></i><span class="right-nav-text">@Html.Raw(item.title)</span>
                                    </div>
                                    <div class="float-right"><i class="icon-chevron-small-right"></i></div>
                                    <div class="clearfix"></div>
                                </a>
                                <ul class="collapse collapse-level-1 @if(ViewBag.system_menu_data != null && ViewBag.system_menu_data.category == item.guid){@Html.Raw("show")}" id="forum_@item.guid">
                                    @foreach (var subItem in ViewBag.system_menu)
                                    {
                                        if (subItem.category == item.guid && permissions.ContainsKey(subItem.guid))
                                        {
                                            <li><a href="@Url.Content("~/siteadmin/"+subItem.tables+"/" + subItem.act_path)"><span @if (ViewBag.system_menu_data != null && ViewBag.system_menu_data.guid == subItem.guid) { @Html.Raw("style=\"font-weight:bold;color:#FF0000\"") }>@Html.Raw(subItem.title)</span></a></li>
                                        }

                                    }
                                </ul>
                            </li>

                        }

                    }

                }
                <li>
                    <hr class="mb-0">
                </li>

                @if (ViewBag.userData["username"] == "sysadmin")
                {
                    <li class="navigation-header"><span>系統工程用</span><i class="icon-dots-three-horizontal"></i></li>
                    if (ViewBag.system_menu != null)
                    {

                        foreach (var item in ViewBag.system_menu)
                        {
                            if (item.category == "0" && item.area == "admin" && permissionsTop.IndexOf(item.guid) != -1)
                            {

                                <li>
                                    <a class="@if(ViewBag.system_menu_data != null && ViewBag.system_menu_data.category != item.guid){@Html.Raw("collapsed")}" href="javascript:void(0);" data-toggle="collapse" data-target="#forum_@item.guid">
                                        <div class="float-left">
                                            <i class="@item.icon"></i><span class="right-nav-text">@Html.Raw(item.title)</span>
                                        </div>
                                        <div class="float-right"><i class="icon-chevron-small-right"></i></div>
                                        <div class="clearfix"></div>
                                    </a>
                                    <ul class="collapse collapse-level-1 @if(ViewBag.system_menu_data != null && ViewBag.system_menu_data.category == item.guid){@Html.Raw("show")}" id="forum_@item.guid">
                                        @foreach (var subItem in ViewBag.system_menu)
                                        {
                                            if (subItem.category == item.guid && permissions.ContainsKey(subItem.guid))
                                            {
                                                <li><a href="@Url.Content("~/siteadmin/"+subItem.tables+"/" + subItem.act_path)"><span @if (ViewBag.system_menu_data != null && ViewBag.system_menu_data.guid == subItem.guid) { @Html.Raw("style=\"font-weight:bold;color:#FF0000\"") }>@Html.Raw(subItem.title)</span></a></li>
                                            }

                                        }
                                    </ul>
                                </li>

                            }

                        }

                    }
                }
            </ul>
        </nav>
        <!--彈跳視窗-->
        <div class="modal fade bd-example-modal-lg" id="modal_file" tabindex="-1" role="dialog" aria-hidden="true">

            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">媒體庫</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close"></button><span aria-hidden="true">×</span>
                    </div>
                    <div class="modal-body">

                        <div id="elfinder"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- * /  sidebar-->
        <!-- *  footer-->
        <footer class="page-footer small p-2">
            @if (ViewBag.systemData.design_by == "Minmax")
            {
                <p class="mb-0">2018 © Web Management. design by <a href="https://minmax.tw" target="_blank">@ViewBag.systemData.design_by</a></p>
            }
            else
            {
                <p class="mb-0">2018 © Web Management. design by <a href="https://ecreative.tw" target="_blank">@ViewBag.systemData.design_by</a></p>
            }
        </footer>
        <!-- * /  footer-->
    </div>
    <!-- *   js-->
    <!-- * * lib-->
    <input type="hidden" id="ajaxRoot" value="@Url.Content("~/siteadmin/ajax")" />
    <input type="hidden" id="siteadminArea" value="@Url.Content("~/siteadmin")" />
    @Scripts.Render("~/Scripts/jquery-3.3.1.min.js")
    @Scripts.Render("~/Content/Siteadmin/modules/lib/jquery.browser.js")
    <!--script(src=jsliburl + 'env.js')-->
    @Scripts.Render("~/Content/Siteadmin/modules/lib/popper.min.js")
    <!-- * * common-->
    <!-- * * * slimscroll 捲軸-->
    @Scripts.Render("~/Content/Siteadmin/modules/slimscroll/jquery.slimscroll.js")
    <!-- * * * bootstrap4-->
    @Scripts.Render("~/Content/Siteadmin/modules/bootstrap4/bootstrap.min.js")
    @Scripts.Render("~/Content/Siteadmin/modules/bootstrap4/js/bootstrap.bundle.min.js")
    @Scripts.Render("~/Content/Siteadmin/modules/bootstrap4/vendor/popper.min.js")
    @Scripts.Render("~/Content/Siteadmin/modules/bootstrap4/vendor/holder.min.js")
    <!-- * * * imgLiquid 圖片縮圖-->
    @Scripts.Render("~/Content/Siteadmin/modules/imgLiquid-master/imgLiquid-min.js")
    <!-- * * * fancybox 媒體彈跳視窗 -->
    @Scripts.Render("~/Content/Siteadmin/modules/fancybox/jquery.fancybox.min.js")
    <!-- * * * bootstrap-sweetalert 彈跳訊息視窗-->
    @Scripts.Render("~/Content/Siteadmin/modules/sweetalert/sweetalert.min.js")
    @Scripts.Render("~/Content/Siteadmin/modules/sweetalert/ui-sweetalert.min.js")
    <!-- * * * bootstrap-tabdrop 切換tab下拉選單-->
    @Scripts.Render("~/Content/Siteadmin/modules/tabdrop/js/bootstrap-tabdrop.js")
    <!-- * * * swiper 圖片輪播-->
    <!--  @Scripts.Render("~/Content/Siteadmin/modules/swiper/js/swiper.min.js")
    @Scripts.Render("~/Content/Siteadmin/modules/swiper/js/swiper.esm.bundle.js")-->
    <!-- * * oter 僅此專案適用-->
    @Scripts.Render("~/Content/Siteadmin/modules/highlight/highlight.min.js")
    @Scripts.Render("~/Content/Siteadmin/scripts/init.js")
    @Scripts.Render("~/Content/Siteadmin/scripts/page.js")
    <!-- * /   js-->
    <!-- layout-js-->
    <!--ammap-->
    @Scripts.Render("~/Content/Siteadmin/modules/amcharts/ammap.js")
    @Scripts.Render("~/Content/Siteadmin/modules/amcharts/maps/js/worldLow.js")
    <!--amcharts-->
    @Scripts.Render("~/Content/Siteadmin/modules/amcharts/amcharts.js")
    @Scripts.Render("~/Content/Siteadmin/modules/amcharts/pie.js")
    @Scripts.Render("~/Content/Siteadmin/modules/amcharts/serial.js")
    @Scripts.Render("~/Content/Siteadmin/modules/amcharts/plugins/export/export.min.js")
    @Scripts.Render("~/Content/Siteadmin/modules/amcharts/plugins/dataloader/dataloader.min.js")
    @Scripts.Render("~/Content/Siteadmin/modules/amcharts/themes/light.js")
    <!-- /  layout-js-->
    @RenderSection("scripts", required: false)

    @Scripts.Render("~/Content/Design/admin.js?d=" + Web.Service.FunctionService.FileModifyTime(Server.MapPath("~/Content/Design/admin.js")))
</body>
</html>

<script type="text/javascript">
    $(document).ready(function () {
        $("#selectType").val('@ViewBag.selectType').change();

        //var ishttps = 'https:' == document.location.protocol ? true : false;
        //if (!ishttps) {
        //    var u = location.href;
        //    var t = u.replace("http", "https");
        //    location.href = t;
        //}

        $('img[usemap]').rwdImageMaps();
    });


    function deletenotepad(guid) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("DelteNotePad", "Products")',
            data: { guid: guid },
            success: function (data) {
                if (data.success) {
                    swal({
                        title: "系統訊息",
                        text: "刪除成功",
                        type: "success",
                        showCancelButton: false,
                        confirmButtonColor: "#e7505a",
                        confirmButtonText: "確定!",
                        closeOnConfirm: false,
                    }, function () {
                        location.reload();
                    });
                    return false;
                }
                else {
                    swal({
                        title: "系統訊息",
                        text: "刪除失敗",
                        type: "error",
                        showCancelButton: false,
                        confirmButtonColor: "#e7505a",
                        confirmButtonText: "確定!",
                        closeOnConfirm: false,
                    });
                    return false;
                }
            }
        });
    }

    function deleteproduct(ckguid, pguid, cguid) {
        $.ajax({
                type: 'POST',
                url: '@Url.Action("DeleteNotePadProduct", "Products")',
                data: { cookieguid: ckguid, productguid: pguid, colorguid: cguid },
                success: function (data) {
                    if (data.success) {
                        swal({
                            title: "系統訊息",
                            text: "刪除成功",
                            type: "success",
                            showCancelButton: false,
                            confirmButtonColor: "#e7505a",
                            confirmButtonText: "確定!",
                            closeOnConfirm: false,
                        }, function () {
                            location.reload();
                        });
                        return false;
                    }
                    else {
                        swal({
                            title: "系統訊息",
                            text: "刪除失敗",
                            type: "error",
                            showCancelButton: false,
                            confirmButtonColor: "#e7505a",
                            confirmButtonText: "確定!",
                            closeOnConfirm: false,
                        });
                        return false;
                    }
                }
            });

    }

    function changeName(guid) {
        var name = $("#" + guid + " #notepadname").val();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("ChangeNotePadName", "Products")',
            data: { guid: guid, name: name },
            success: function (data) {
                if (data.success) {
                    swal({
                        title: "系統訊息",
                        text: "修改成功",
                        type: "success",
                        showCancelButton: false,
                        confirmButtonColor: "#e7505a",
                        confirmButtonText: "確定!",
                        closeOnConfirm: false,
                    });
                    $("#" + guid + " #divname").text(name);
                    return false;
                }
                else {
                    swal({
                        title: "系統訊息",
                        text: "修改失敗",
                        type: "error",
                        showCancelButton: false,
                        confirmButtonColor: "#e7505a",
                        confirmButtonText: "確定!",
                        closeOnConfirm: false,
                    });
                    return false;
                }
            }
        });
    }

    $("#CreateNotePad").click(function () {
        var val = $("#notepadname").val();
        if (val != "" && val != null) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("NewNotePad", "Products")',
                data: { name: val },
                success: function (data) {
                    if (data.success) {
                        swal({
                            title: "系統訊息",
                            text: "新增成功",
                            type: "success",
                            showCancelButton: false,
                            confirmButtonColor: "#e7505a",
                            confirmButtonText: "確定!",
                            closeOnConfirm: false,
                        }, function () {
                            location.reload();
                            });
                        return false;
                    }
                    else {
                        swal({
                            title: "系統訊息",
                            text: "新增失敗",
                            type: "error",
                            showCancelButton: false,
                            confirmButtonColor: "#e7505a",
                            confirmButtonText: "確定!",
                            closeOnConfirm: false,
                        });
                        return false;
                    }
                }
            });
        }
    });

    //變更類型
    $("#selectType").change(function () {
        var val = $("#selectType").val();

        if (val != "") {
            var toAppendBrand = "<option selected='selected' value=''>品牌</option>";
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetBrand", "Search")',
                data: { type: val },
                success: function (data) {
                    var list = data.list;
                    $.each(list, function (index, value) {
                        toAppendBrand += '<option value=' + value + '>' + index + '</option>';
                    });
                    $("#selectBrand").empty();
                    $("#selectBrand").append(toAppendBrand);

                    var Brand = $("#Brand").val();
                    if (Brand != null) {
                        $("#selectBrand").val(Brand).change();
                        $("#Brand").val("");
                    }
                }
            });

            var toAppendProductCategory = "<option slected='selected' value=''>產品類別</option>";
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetPrdocutsCategory", "Search")',
                data: { type: val },
                success: function (data) {
                    var list = data.list;
                    $.each(list, function (index, value) {
                        toAppendProductCategory += '<option value=' + value + '>' + index + '</option>';
                    });
                    $("#selectProType").empty();
                    $("#selectProType").append(toAppendProductCategory);

                    var ProType = $("#ProType").val();
                    if (ProType != null) {
                        $("#selectProType").val(ProType).change();
                        $("#ProType").val("");
                    }
                }
            });

            var toAppendProductCategory2 = "<option selected='selected' value=''>產品次分類</option>";
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetProductsCategoryLevel2ByType", "Search")',
                data: { type: val },
                success: function (data) {
                    var list = data.list;
                    $.each(list, function (index, value) {
                        toAppendProductCategory2 += '<option value=' + value + '>' + index + '</option>';
                    });
                    $("#selectSubType").empty();
                    $("#selectSubType").append(toAppendProductCategory2);
                }
            });

            var toAppendBrandSubClass = "<option selected='selected' value=''>相關系列產品</option>";
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetBrandsSubClass", "Search")',
                data: { type: val },
                success: function (data) {
                    var list = data.list;
                    $.each(list, function (index, value) {
                        toAppendBrandSubClass += '<option value=' + value + '>' + index + '</option>';
                    });
                    $("#selectSeries").empty();
                    $("#selectSeries").append(toAppendBrandSubClass);
                }
            });
        }
        else {
            $("#selectBrand").empty();
            $("#selectBrand").append("<option slected='selected' value=''>品牌</option>");
            $("#selectProType").empty();
            $("#selectProType").append("<option slected='selected' value=''>產品類別</option>");
            $("#selectSubType").empty();
            $("#selectSubType").append("<option selected='selected' value=''>產品次分類</option>");
            $("#selectSeries").empty();
            $("#selectSeries").append("<option selected='selected' value=''>相關系列產品</option>");
        }
    });

    //變更品牌
    $("#selectBrand").change(function () {
        var val = $("#selectBrand").val();
        if (val != "") {
            var toAppend = "<option selected='selected' value=''>相關系列產品</option>";
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetBrandsSubClassByBrandsGuid", "Search")',
                data: { type: val },
                success: function (data) {
                    var list = data.list;
                    $.each(list, function (index, value) {
                        toAppend += '<option value=' + value + '>' + index + '</option>';
                    });
                    $("#selectSeries").empty();
                    $("#selectSeries").append(toAppend);

                    var Series = $("#Series").val();
                    if (Series != null) {
                        $("#selectSeries").val(Series).attr("selected", true);
                        $("#Series").val("");
                    }
                }
            });
        }
        else {
            var typeval = $("#selectType").val();
              var toAppendBrandSubClass = "<option selected='selected' value=''>相關系列產品</option>";
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetBrandsSubClass", "Search")',
                data: { type: typeval },
                success: function (data) {
                    var list = data.list;
                    $.each(list, function (index, value) {
                        toAppendBrandSubClass += '<option value=' + value + '>' + index + '</option>';
                    });
                    $("#selectSeries").empty();
                    $("#selectSeries").append(toAppendBrandSubClass);

                    var Series = $("#Series").val();
                    if (Series != null) {
                        $("#selectSeries").val(Series).attr("selected", true);
                        $("#Series").val("");
                    }
                }
            });
        }
    });

    $("#selectProType").change(function () {
        var val = $("#selectProType").val();

        if (val != "") {
            var toAppend = "<option selected='selected' value=''>產品次分類</option>";
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetProductsCategoryLevel2ByGuid", "Search")',
                data: { type: val },
                success: function (data) {
                    var list = data.list;
                    $.each(list, function (index, value) {
                        toAppend += '<option value=' + value + '>' + index + '</option>';
                    });
                    $("#selectSubType").empty();
                    $("#selectSubType").append(toAppend);

                    var SubType = $("#SubType").val();
                    if (SubType != null) {
                        $("#selectSubType").val(SubType).attr("selected", true);
                        $("#SubType").val("");
                    }

                }
            });
        }
    });

    function handleradiochange(rvalue) {
        console.log(rvalue);
        console.log($('#pic_en'));
        if (rvalue == 'yes') {
            $('#pic_en').attr('required', true);
            $('#picmobile_en').attr('required', true);
            $('#pic_tw').attr('required', true);
            $('#picmobile_tw').attr('required', true);
        } else {
            $('#pic_en').attr('required', false);
            $('#picmobile_en').attr('required', false);
            $('#pic_tw').attr('required', false);
            $('#picmobile_tw').attr('required', false);
        }
        
    }
</script>