﻿<div class="text-center d-inline-block d-sm-block">
    <a class="badge badge-pill changeStatus badge-{$style}" data-title="{$title}" data-type="change" href="#1" title="點選變更狀態" data-guid="{$guid}"  data-status="{$status}">{$statusSubject}</a>
</div>
