﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="wp" id="index">
    <main class="main">
        <div class="productsTitle blank">
            <h1 class="mainTitle kanit font-80 font-weight-600" data-aos="fade-up" data-aos-delay="300">@ViewBag.ResLang["productpage"]</h1>
            <div class="text kanit font-20 font-weight-500 text-uppercase text-646464" data-aos="fade-up" data-aos-delay="500">@ViewBag.ResLang["productDesc"]</div>
            <a href="@Url.Action("RFQ", "Products")" class="RFQBox flex-align-center" data-aos="fade-left" data-aos-delay="700">
                <img src="~/styles/images/layout/rfq.svg" alt="">
                <span class="kanit font-20 font-weight-500 text-646464">@ViewBag.ResLang["quotation"]</span>
                @if (Session["WordLang"].ToString() == "en")
                {
                    <span class="qty kanit font-20 font-weight-500 flex-center">@Session["InquiryNumEn"]</span>
                }
                else if (Session["WordLang"].ToString() == "tw")
                {
                    <span class="qty kanit font-20 font-weight-500 flex-center">@Session["InquiryNumTw"]</span>
                }
                else
                {
                    <span class="qty kanit font-20 font-weight-500 flex-center">@Session["InquiryNumEn"]</span>
                }
            </a>
        </div>
        <div class="indexProduct pt-4">
            @if (ViewBag.productBanner != null)
            {
                foreach (var item in ViewBag.productBanner)
                {
                    var tempPic = item.pic.Substring(1);
                    var temppicMobile = item.picmobile.Substring(1);
                    <div class="indexProductItem">
                        <div class="indexProductItemBg background-cover d-none d-sm-block" style="background-image: url(@tempPic);"></div>
                        <div class="indexProductItemBg background-cover d-sm-none" style="background-image: url(@temppicMobile);"></div>
                        <div class="indexProductInner">
                            <h2 class="title kanit font-40 font-weight-600 text-fff" data-aos="fade-up" data-aos-delay="300">@item.title</h2>
                            <div class="text roboto font-16 font-weight-500 text-fff text-uppercase" data-aos="fade-up" data-aos-delay="500">@item.subtitle </div>
                            <div data-aos="fade-right" data-aos-delay="700">
                                <a href="~/products/productlist?category=@item.category" class="mainBtn">@ViewBag.ResLang["readmore"]</a>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        <div class="produtsLast">
            @if (ViewBag.productBannerNoPic != null)
            {
                foreach (var itemNo in ViewBag.productBannerNoPic)
                {
                    <div class="productsLastItem">
                        <h2 class="title kanit font-40 font-weight-600 text-fff" data-aos="fade-up" data-aos-delay="300">@itemNo.title</h2>
                        <div class="text roboto font-16 font-weight-400 text-fff" data-aos="fade-up" data-aos-delay="500">@itemNo.subtitle</div>
                        <div data-aos="fade-right" data-aos-delay="700">
                            <a href="~/products/productlist?category=@itemNo.category" class="mainBtn">@ViewBag.ResLang["readmore"]</a>
                        </div>
                    </div>
                }
            }
        </div>
    </main>
</div>

