﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wp" id="product-list">
    <main class="main blank">
        <div class="breadcrumbBlock bgc-fff d-block">
            <div class="breadcrumbWrap d-none d-lg-flex">
                <a href="~/products" class="breadcrumbBack">
                    <span class="backIcon flex-center"><i class="icon-arrow"></i></span>
                    <span class="kanit font-weight-600 text-323232">@ViewBag.ResLang["productCategoryBtn"]</span>
                </a>
                <div class="breadcrumbInner">
                    <ol class="breadcrumb kanit font-weight-400">
                        @*<li class="breadcrumb-item"><a href="#">@ViewBag.homepage</a></li>
                        <li class="breadcrumb-item"><a href="#">@ViewBag.productpage</a></li>*@
                        <li class="breadcrumb-item"><a href="productlist?category=@ViewBag.currentCategory.guid">@ViewBag.currentCategory.title</a></li>
                        @if (ViewBag.currentCategorySecond != null)
                        {
                            <li class="breadcrumb-item"><a href="productlist?category=@ViewBag.currentCategorySecond.guid">@ViewBag.currentCategorySecond.reTitle</a></li>
                        }
                        @if (ViewBag.currentCategoryThird != null)
                        {
                            <li class="breadcrumb-item"><a href="productlist?category=@ViewBag.currentCategoryThird.guid">@ViewBag.currentCategoryThird.reTitle</a></li>
                        }
                        @if (ViewBag.currentCategoryFour != null)
                        {
                            <li class="breadcrumb-item"><a href="productlist?category=@ViewBag.currentCategoryFour.guid">@ViewBag.currentCategoryFour.reTitle</a></li>
                        }
                    </ol>
                </div>
                <a href="@Url.Action("RFQ", "Products")" class="RFQBox flex-align-center">
                    <img src="~/styles/images/layout/rfq.svg" alt="">
                    <span class="kanit font-20 font-weight-500 text-646464 d-none d-sm-block">@ViewBag.ResLang["quotation"]</span>
                    @if (Session["WordLang"].ToString() == "en")
                    {
                        <span class="qty kanit font-20 font-weight-500 flex-center">@Session["InquiryNumEn"]</span>
                    }
                    else if (Session["WordLang"].ToString() == "tw")
                    {
                        <span class="qty kanit font-20 font-weight-500 flex-center">@Session["InquiryNumTw"]</span>
                    }
                    else
                    {
                        <span class="qty kanit font-20 font-weight-500 flex-center">@Session["InquiryNumEn"]</span>
                    }
                </a>
            </div>
        </div>
        <div class="titleBlock productListTitle unblank">
            <div class="titleBlockBg background-cover" style="background-image: url(../styles/images/index/index-bg2.jpg);"></div>
            <div class="titleLinkWrap d-lg-none">
                <a href="~/products" class="titleLinkBack">
                    <span class="backIcon flex-center"><i class="icon-arrow"></i></span>
                    <span class="kanit font-weight-600 text-fff">@ViewBag.ResLang["productCategoryBtn"]</span>
                </a>
                <a href="@Url.Action("RFQ", "Products")" class="RFQBox flex-align-center">
                    <img src="~/styles/images/layout/RFQ-white.svg" alt="">
                    <img class="hoverRFQ" src="~/styles/images/layout/RFQ.svg" alt="">
                    <span class="kanit font-20 font-weight-500 text-fff d-none d-md-block">@ViewBag.ResLang["quotation"]</span>
                    <span class="qty kanit font-20 font-weight-500 flex-center">5</span>
                </a>
            </div>
            <h1 class="mainTitle flex-center kanit font-80 font-weight-600 text-fff" data-aos="fade-up" data-aos-delay="300">@ViewBag.currentCategory.title</h1>
        </div>
        <div class="productListBlock">
            <div class="sideNav" data-aos="fade-right" data-aos-delay="500">
                <button class="sideNavClose d-lg-none">
                    <span class="bar bar1 d-bolck"></span>
                    <span class="bar bar2 d-block"></span>
                </button>

                <ul class="menu noneStyle">
                    @foreach (var itemFirst in ViewBag.productCategoryFirst)
                    {
                        var count = 0;

                        foreach (var issecond in ViewBag.isSecondList)
                        {
                            if (itemFirst.guid == issecond.category)
                            {
                                count = 1;
                            }
                        }
                        if (count == 1)
                        {

                            <li class="haschild @(ViewBag.currentCategory.guid == itemFirst.productsCategory_guid ? "active" : "")">
                                <img src="~/styles/images/product/list-triangle.svg" alt="" id="@itemFirst.productsCategory_guid"><a href="productlist?category=@itemFirst.guid">@itemFirst.reTitle</a><span class="num">(@itemFirst.create_name)</span>
                                <ul class="sub-menu noneStyle">
                                    @foreach (var itemSecond in ViewBag.productCategorySecond)
                                    {
                                        var thirdCount = 0;
                                        foreach (var isthird in ViewBag.isThirdList)
                                        {
                                            if (itemSecond.guid == isthird.category)
                                            {
                                                thirdCount = 1;
                                            }
                                        }
                                        if (thirdCount == 1)
                                        {
                                            if (itemFirst.guid == itemSecond.category)
                                            {
                                                if (ViewBag.currentCategorySecond != null)
                                                {
                                                    <li class="haschild @(ViewBag.currentCategorySecond.guid == itemSecond.guid ? "active" : "")">
                                                        <img src="~/styles/images/product/list-triangle.svg" alt="" id="@itemSecond.guid"><a href="productlist?category=@itemSecond.guid">@itemSecond.reTitle</a><span class="num">(@itemSecond.create_name)</span>
                                                        <ul class="sub-menu noneStyle">
                                                            @foreach (var itemThird in ViewBag.productCategoryThird)
                                                            {
                                                                var fourCount = 0;
                                                                foreach (var isfour in ViewBag.isFourList)
                                                                {
                                                                    if (itemThird.guid == isfour.category)
                                                                    {
                                                                        fourCount = 1;
                                                                    }
                                                                }
                                                                if (fourCount == 1)
                                                                {
                                                                    if (itemSecond.guid == itemThird.category)
                                                                    {
                                                                        if (ViewBag.currentCategoryThird != null)
                                                                        {
                                                                            <li class="haschild @(ViewBag.currentCategoryThird.guid == itemThird.guid ? "active" : "")">
                                                                                <img src="~/styles/images/product/list-triangle.svg" alt="" id="@itemThird.guid"><a href="productlist?category=@itemThird.guid">@itemThird.reTitle</a><span class="num">(@itemThird.create_name)</span>
                                                                                <ul class="sub-menu noneStyle">
                                                                                    @foreach (var itemFour in ViewBag.productCategoryFour)
                                                                                    {
                                                                                        if (itemThird.guid == itemFour.category)
                                                                                        {
                                                                                            if (ViewBag.currentCategoryFour != null)
                                                                                            {
                                                                                                <li class="@(ViewBag.currentCategoryFour.guid == itemFour.guid ? "active" : "")"><a href="productlist?category=@itemFour.guid">@itemFour.reTitle</a><span class="num">(@itemFour.create_name)</span></li>
                                                                                            }
                                                                                            else
                                                                                            {
                                                                                                <li><a href="productlist?category=@itemFour.guid">@itemFour.reTitle</a><span class="num">(@itemFour.create_name)</span></li>
                                                                                            }
                                                                                        }
                                                                                    }
                                                                                </ul>
                                                                            </li>
                                                                        }
                                                                        else
                                                                        {
                                                                            <li class="haschild">
                                                                                <img src="~/styles/images/product/list-triangle.svg" alt="" id="@itemThird.guid"><a href="productlist?category=@itemThird.guid">@itemThird.reTitle</a><span class="num">(@itemThird.create_name)</span>
                                                                                <ul class="sub-menu noneStyle">
                                                                                    @foreach (var itemFour in ViewBag.productCategoryFour)
                                                                                    {
                                                                                        if (itemThird.guid == itemFour.category)
                                                                                        {
                                                                                            if (ViewBag.currentCategoryFour != null)
                                                                                            {
                                                                                                <li class="@(ViewBag.currentCategoryFour.guid == itemFour.guid ? "active" : "")"><a href="productlist?category=@itemFour.guid">@itemFour.reTitle</a><span class="num">(@itemFour.create_name)</span></li>
                                                                                            }
                                                                                            else
                                                                                            {
                                                                                                <li><a href="productlist?category=@itemFour.guid">@itemFour.reTitle</a><span class="num">(@itemFour.create_name)</span></li>
                                                                                            }
                                                                                        }
                                                                                    }
                                                                                </ul>
                                                                            </li>
                                                                        }
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    if (itemSecond.guid == itemThird.category)
                                                                    {
                                                                        if (ViewBag.currentCategoryThird != null)
                                                                        {
                                                                            <li class="@(ViewBag.currentCategoryThird.guid == itemThird.guid ? "active" : "")"><a href="productlist?category=@itemThird.guid">@itemThird.reTitle</a><span class="num">(@itemThird.create_name)</span></li>
                                                                        }
                                                                        else
                                                                        {
                                                                            <li><a href="productlist?category=@itemThird.guid">@itemThird.reTitle</a><span class="num">(@itemThird.create_name)</span></li>
                                                                        }
                                                                    }
                                                                }
                                                                fourCount = 0;
                                                            }
                                                        </ul>
                                                    </li>
                                                }
                                                else
                                                {
                                                    <li class="haschild">
                                                        <img src="~/styles/images/product/list-triangle.svg" alt="" id="@itemSecond.guid"><a href="productlist?category=@itemSecond.guid">@itemSecond.reTitle</a><span class="num">(@itemSecond.create_name)</span>
                                                        <ul class="sub-menu noneStyle">
                                                            @foreach (var itemThird in ViewBag.productCategoryThird)
                                                            {
                                                                var fourCount = 0;
                                                                foreach (var isfour in ViewBag.isFourList)
                                                                {
                                                                    if (itemThird.guid == isfour.category)
                                                                    {
                                                                        fourCount = 1;
                                                                    }
                                                                }
                                                                if (fourCount == 1)
                                                                {
                                                                    if (itemSecond.guid == itemThird.category)
                                                                    {
                                                                        if (ViewBag.currentCategoryThird != null)
                                                                        {
                                                                            <li class="haschild @(ViewBag.currentCategoryThird.guid == itemThird.guid ? "active" : "")">
                                                                                <img src="~/styles/images/product/list-triangle.svg" alt="" id="@itemThird.guid"><a href="productlist?category=@itemThird.guid">@itemThird.reTitle</a><span class="num">(@itemThird.create_name)</span>
                                                                                <ul class="sub-menu noneStyle">
                                                                                    @foreach (var itemFour in ViewBag.productCategoryFour)
                                                                                    {
                                                                                        if (itemThird.guid == itemFour.category)
                                                                                        {
                                                                                            if (ViewBag.currentCategoryFour != null)
                                                                                            {
                                                                                                <li class="@(ViewBag.currentCategoryFour.guid == itemFour.guid ? "active" : "")"><a href="productlist?category=@itemFour.guid">@itemFour.reTitle</a><span class="num">(@itemFour.create_name)</span></li>
                                                                                            }
                                                                                            else
                                                                                            {
                                                                                                <li><a href="productlist?category=@itemFour.guid">@itemFour.reTitle</a><span class="num">(@itemFour.create_name)</span></li>
                                                                                            }
                                                                                        }
                                                                                    }
                                                                                </ul>
                                                                            </li>
                                                                        }
                                                                        else
                                                                        {
                                                                            <li class="haschild">
                                                                                <img src="~/styles/images/product/list-triangle.svg" alt="" id="@itemThird.guid"><a href="productlist?category=@itemThird.guid">@itemThird.reTitle</a><span class="num">(@itemThird.create_name)</span>
                                                                                <ul class="sub-menu noneStyle">
                                                                                    @foreach (var itemFour in ViewBag.productCategoryFour)
                                                                                    {
                                                                                        if (itemThird.guid == itemFour.category)
                                                                                        {
                                                                                            if (ViewBag.currentCategoryFour != null)
                                                                                            {
                                                                                                <li class="@(ViewBag.currentCategoryFour.guid == itemFour.guid ? "active" : "")"><a href="productlist?category=@itemFour.guid">@itemFour.reTitle</a><span class="num">(@itemFour.create_name)</span></li>
                                                                                            }
                                                                                            else
                                                                                            {
                                                                                                <li><a href="productlist?category=@itemFour.guid">@itemFour.reTitle</a><span class="num">(@itemFour.create_name)</span></li>
                                                                                            }
                                                                                        }
                                                                                    }
                                                                                </ul>
                                                                            </li>
                                                                        }
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    if (itemSecond.guid == itemThird.category)
                                                                    {
                                                                        if (ViewBag.currentCategoryThird != null)
                                                                        {
                                                                            <li class="@(ViewBag.currentCategoryThird.guid == itemThird.guid ? "active" : "")"><a href="productlist?category=@itemThird.guid">@itemThird.reTitle</a><span class="num">(@itemThird.create_name)</span></li>
                                                                        }
                                                                        else
                                                                        {
                                                                            <li><a href="productlist?category=@itemThird.guid">@itemThird.reTitle</a><span class="num">(@itemThird.create_name)</span></li>
                                                                        }
                                                                    }
                                                                }
                                                                fourCount = 0;
                                                            }
                                                        </ul>
                                                    </li>
                                                }
                                            }
                                        }
                                        else
                                        {
                                            if (itemFirst.guid == itemSecond.category)
                                            {
                                                if (ViewBag.currentCategorySecond != null)
                                                {
                                                    <li class="@(ViewBag.currentCategorySecond.guid == itemSecond.guid ? "active" : "")">
                                                        <a href="productlist?category=@itemSecond.guid">@itemSecond.reTitle</a><span class="num">(@itemSecond.create_name)</span>
                                                    </li>
                                                }
                                                else
                                                {
                                                    <li>
                                                        <a href="productlist?category=@itemSecond.guid">@itemSecond.reTitle</a><span class="num">(@itemSecond.create_name)</span>
                                                    </li>
                                                }
                                            }
                                        }
                                        thirdCount = 0;
                                    }
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li class="@(ViewBag.currentCategory.guid == itemFirst.productsCategory_guid ? "active" : "")">
                                <a href="productlist?category=@itemFirst.guid">@itemFirst.reTitle</a><span class="num">(@itemFirst.create_name)</span>
                            </li>
                        }
                        count = 0;

                    }
                </ul>
                <div style="height:80px;"></div>
            </div>
            <button class="sideNavBtn mainBtn d-lg-none">@ViewBag.currentCategory.title<i class="icon-arrow"></i></button>
            <div class="productsListMain" data-aos="fade-up" data-aos-delay="700">
                <div class="productsList">
                    @if (ViewBag.ProductPageList != null)
                    {
                        foreach (var productData in ViewBag.ProductPageList)
                        {
                            <a href="productdetial?id=@productData.guid" class="productItem text-center">
                                @if (Session["WordLang"].ToString() == "en")
                                {
                                    var count = 0;
                                    if ((Session["InquiryEn"] as List<Dictionary<string, string>>) != null)
                                    {
                                        foreach (var item in (Session["InquiryEn"] as List<Dictionary<string, string>>))
                                        {
                                            if (item["ProductGuid"] == productData.guid)
                                            {
                                                count = 1;
                                            }
                                        }

                                        if (count == 1)
                                        {
                                            <span class="productImgBox d-block active">
                                                @if (productData.pic != null)
                                                {
                                                    var tempPic = productData.pic.Split(',');
                                                    <span class="productImg background-cover d-block" style="background-image: url(..@tempPic[0]);"></span>
                                                    <span id="@productData.guid" class="RFQCheck d-block" onclick="AddSession('@productData.guid')">
                                                        <span class="checkImg d-inline-block background-cover"></span>
                                                        <span class="text kanit font-16 font-weight-500 text-646464 d-inline-block lh1">RFQ</span>
                                                    </span>
                                                }
                                                else
                                                {
                                                    <span class="productImg background-cover d-block" style="background-image: url(..@productData.pic);"></span>
                                                    <span id="@productData.guid" class="RFQCheck d-block" onclick="AddSession('@productData.guid')">
                                                        <span class="checkImg d-inline-block background-cover"></span>
                                                        <span class="text kanit font-16 font-weight-500 text-646464 d-inline-block lh1">RFQ</span>
                                                    </span>
                                                }
                                            </span>
                                        }
                                        else
                                        {
                                            <span class="productImgBox d-block">
                                                @if (productData.pic != null)
                                                {
                                                    var tempPic = productData.pic.Split(',');
                                                    <span class="productImg background-cover d-block" style="background-image: url(..@tempPic[0]);"></span>
                                                    <span id="@productData.guid" class="RFQCheck d-block" onclick="AddSession('@productData.guid')">
                                                        <span class="checkImg d-inline-block background-cover"></span>
                                                        <span class="text kanit font-16 font-weight-500 text-646464 d-inline-block lh1">RFQ</span>
                                                    </span>
                                                }
                                                else
                                                {
                                                    <span class="productImg background-cover d-block" style="background-image: url(..@productData.pic);"></span>
                                                    <span id="@productData.guid" class="RFQCheck d-block" onclick="AddSession('@productData.guid')">
                                                        <span class="checkImg d-inline-block background-cover"></span>
                                                        <span class="text kanit font-16 font-weight-500 text-646464 d-inline-block lh1">RFQ</span>
                                                    </span>
                                                }
                                            </span>
                                        }
                                    }
                                    else
                                    {
                                        <span class="productImgBox d-block">
                                            @if (productData.pic != null)
                                            {
                                                var tempPic = productData.pic.Split(',');
                                                <span class="productImg background-cover d-block" style="background-image: url(..@tempPic[0]);"></span>
                                                <span id="@productData.guid" class="RFQCheck d-block" onclick="AddSession('@productData.guid')">
                                                    <span class="checkImg d-inline-block background-cover"></span>
                                                    <span class="text kanit font-16 font-weight-500 text-646464 d-inline-block lh1">RFQ</span>
                                                </span>
                                            }
                                            else
                                            {
                                                <span class="productImg background-cover d-block" style="background-image: url(..@productData.pic);"></span>
                                                <span id="@productData.guid" class="RFQCheck d-block" onclick="AddSession('@productData.guid')">
                                                    <span class="checkImg d-inline-block background-cover"></span>
                                                    <span class="text kanit font-16 font-weight-500 text-646464 d-inline-block lh1">RFQ</span>
                                                </span>
                                            }
                                        </span>
                                    }
                                }
                                else if (Session["WordLang"].ToString() == "tw")
                                {
                                    var count = 0;
                                    if ((Session["InquiryTw"] as List<Dictionary<string, string>>) != null)
                                    {
                                        foreach (var item in (Session["InquiryTw"] as List<Dictionary<string, string>>))
                                        {
                                            if (item["ProductGuid"] == productData.guid)
                                            {
                                                count = 1;
                                            }
                                        }

                                        if (count == 1)
                                        {
                                            <span class="productImgBox d-block active">
                                                @if (productData.pic != null)
                                                {
                                                    var tempPic = productData.pic.Split(',');
                                                    <span class="productImg background-cover d-block" style="background-image: url(..@tempPic[0]);"></span>
                                                    <span id="@productData.guid" class="RFQCheck d-block" onclick="AddSession('@productData.guid')">
                                                        <span class="checkImg d-inline-block background-cover"></span>
                                                        <span class="text kanit font-16 font-weight-500 text-646464 d-inline-block lh1">RFQ</span>
                                                    </span>
                                                }
                                                else
                                                {
                                                    <span class="productImg background-cover d-block" style="background-image: url(..@productData.pic);"></span>
                                                    <span id="@productData.guid" class="RFQCheck d-block" onclick="AddSession('@productData.guid')">
                                                        <span class="checkImg d-inline-block background-cover"></span>
                                                        <span class="text kanit font-16 font-weight-500 text-646464 d-inline-block lh1">RFQ</span>
                                                    </span>
                                                }
                                            </span>
                                        }
                                        else
                                        {
                                            <span class="productImgBox d-block">
                                                @if (productData.pic != null)
                                                {
                                                    var tempPic = productData.pic.Split(',');
                                                    <span class="productImg background-cover d-block" style="background-image: url(..@tempPic[0]);"></span>
                                                    <span id="@productData.guid" class="RFQCheck d-block" onclick="AddSession('@productData.guid')">
                                                        <span class="checkImg d-inline-block background-cover"></span>
                                                        <span class="text kanit font-16 font-weight-500 text-646464 d-inline-block lh1">RFQ</span>
                                                    </span>
                                                }
                                                else
                                                {
                                                    <span class="productImg background-cover d-block" style="background-image: url(..@productData.pic);"></span>
                                                    <span id="@productData.guid" class="RFQCheck d-block" onclick="AddSession('@productData.guid')">
                                                        <span class="checkImg d-inline-block background-cover"></span>
                                                        <span class="text kanit font-16 font-weight-500 text-646464 d-inline-block lh1">RFQ</span>
                                                    </span>
                                                }
                                            </span>
                                        }
                                    }
                                    else
                                    {
                                        <span class="productImgBox d-block">
                                            @if (productData.pic != null)
                                            {
                                                var tempPic = productData.pic.Split(',');
                                                <span class="productImg background-cover d-block" style="background-image: url(..@tempPic[0]);"></span>
                                                <span id="@productData.guid" class="RFQCheck d-block" onclick="AddSession('@productData.guid')">
                                                    <span class="checkImg d-inline-block background-cover"></span>
                                                    <span class="text kanit font-16 font-weight-500 text-646464 d-inline-block lh1">RFQ</span>
                                                </span>
                                            }
                                            else
                                            {
                                                <span class="productImg background-cover d-block" style="background-image: url(..@productData.pic);"></span>
                                                <span id="@productData.guid" class="RFQCheck d-block" onclick="AddSession('@productData.guid')">
                                                    <span class="checkImg d-inline-block background-cover"></span>
                                                    <span class="text kanit font-16 font-weight-500 text-646464 d-inline-block lh1">RFQ</span>
                                                </span>
                                            }
                                        </span>
                                    }
                                }
                                else
                                {
                                    var count = 0;
                                    if ((Session["InquiryEn"] as List<Dictionary<string, string>>) != null)
                                    {
                                        foreach (var item in (Session["InquiryEn"] as List<Dictionary<string, string>>))
                                        {
                                            if (item["ProductGuid"] == productData.guid)
                                            {
                                                count = 1;
                                            }
                                        }

                                        if (count == 1)
                                        {
                                            <span class="productImgBox d-block active">
                                                @if (productData.pic != null)
                                                {
                                                    var tempPic = productData.pic.Split(',');
                                                    <span class="productImg background-cover d-block" style="background-image: url(..@tempPic[0]);"></span>
                                                    <span id="@productData.guid" class="RFQCheck d-block" onclick="AddSession('@productData.guid')">
                                                        <span class="checkImg d-inline-block background-cover"></span>
                                                        <span class="text kanit font-16 font-weight-500 text-646464 d-inline-block lh1">RFQ</span>
                                                    </span>
                                                }
                                                else
                                                {
                                                    <span class="productImg background-cover d-block" style="background-image: url(..@productData.pic);"></span>
                                                    <span id="@productData.guid" class="RFQCheck d-block" onclick="AddSession('@productData.guid')">
                                                        <span class="checkImg d-inline-block background-cover"></span>
                                                        <span class="text kanit font-16 font-weight-500 text-646464 d-inline-block lh1">RFQ</span>
                                                    </span>
                                                }
                                            </span>
                                        }
                                        else
                                        {
                                            <span class="productImgBox d-block">
                                                @if (productData.pic != null)
                                                {
                                                    var tempPic = productData.pic.Split(',');
                                                    <span class="productImg background-cover d-block" style="background-image: url(..@tempPic[0]);"></span>
                                                    <span id="@productData.guid" class="RFQCheck d-block" onclick="AddSession('@productData.guid')">
                                                        <span class="checkImg d-inline-block background-cover"></span>
                                                        <span class="text kanit font-16 font-weight-500 text-646464 d-inline-block lh1">RFQ</span>
                                                    </span>
                                                }
                                                else
                                                {
                                                    <span class="productImg background-cover d-block" style="background-image: url(..@productData.pic);"></span>
                                                    <span id="@productData.guid" class="RFQCheck d-block" onclick="AddSession('@productData.guid')">
                                                        <span class="checkImg d-inline-block background-cover"></span>
                                                        <span class="text kanit font-16 font-weight-500 text-646464 d-inline-block lh1">RFQ</span>
                                                    </span>
                                                }
                                            </span>
                                        }
                                    }
                                    else
                                    {
                                        <span class="productImgBox d-block">
                                            @if (productData.pic != null)
                                            {
                                                var tempPic = productData.pic.Split(',');
                                                <span class="productImg background-cover d-block" style="background-image: url(..@tempPic[0]);"></span>
                                                <span id="@productData.guid" class="RFQCheck d-block" onclick="AddSession('@productData.guid')">
                                                    <span class="checkImg d-inline-block background-cover"></span>
                                                    <span class="text kanit font-16 font-weight-500 text-646464 d-inline-block lh1">RFQ</span>
                                                </span>
                                            }
                                            else
                                            {
                                                <span class="productImg background-cover d-block" style="background-image: url(..@productData.pic);"></span>
                                                <span id="@productData.guid" class="RFQCheck d-block" onclick="AddSession('@productData.guid')">
                                                    <span class="checkImg d-inline-block background-cover"></span>
                                                    <span class="text kanit font-16 font-weight-500 text-646464 d-inline-block lh1">RFQ</span>
                                                </span>
                                            }
                                        </span>
                                    }
                                }


                                @*<span class="productImgBox d-block">
                                        @if (productData.pic != null)
                                        {
                                            var tempPic = productData.pic.Split(',');
                                            <span class="productImg background-cover d-block" style="background-image: url(..@tempPic[0]);"></span>
                                            <span id="@productData.guid" class="RFQCheck d-block" onclick="AddSession('@productData.guid')">
                                                <span class="checkImg d-inline-block background-cover"></span>
                                                <span class="text kanit font-16 font-weight-500 text-646464 d-inline-block lh1">RFQ</span>
                                            </span>
                                        }
                                        else
                                        {
                                            <span class="productImg background-cover d-block" style="background-image: url(..@productData.pic);"></span>
                                            <span id="@productData.guid" class="RFQCheck d-block" onclick="AddSession('@productData.guid')">
                                                <span class="checkImg d-inline-block background-cover"></span>
                                                <span class="text kanit font-16 font-weight-500 text-646464 d-inline-block lh1">RFQ</span>
                                            </span>
                                        }
                                    </span>*@
                                <span class="productName kanit font-20 font-weight-600 text-FCAE07 text-uppercase">
                                    <span class="d-block">@productData.title</span>
                                </span>
                                <span class="productSN d-block kanit font-16 font-weight-500 text-969696">@productData.subtitle</span>
                            </a>
                        }
                    }
                    <i></i><i></i><i></i><i></i>
                </div>

                <div class="pagination d-flex flex-justify-center">
                    @Html.Raw(ViewBag.pageView)
                </div>
            </div>

        </div>
        @*<?php include "RFQ-modal.php"; ?>*@
        <div class="modal fade" id="RFQModal" tabindex="-1" role="dialog" aria-labelledby="RFQModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-icon">
                        <div class="iconBox">
                            <img src="~/styles/images/product/saved-ring.svg" alt="" class="ring">
                            <img src="~/styles/images/product/check.svg" alt="" class="check">
                        </div>
                    </div>
                    <div class="modal-title kanit font-20 font-weight-600 text-323232" id="RFQModalLabel">@ViewBag.ResLang["saveRfq"] </div>
                    <a href="@Url.Action("RFQ", "Products")" class="modal-btn flex-center kanit font-18 font-weight-500">@ViewBag.ResLang["openRfq"]</a>
                </div>
            </div>
        </div>
    </main>
</div>

@section scripts{
    <script>
        $(function () {
            console.log('@Session["firstLevelId"]');
            console.log('@Session["secondLevelId"]');
            console.log('@Session["thirdLevelId"]');
            console.log('@Session["fourLevelId"]');
            if ('@Session["fourLevelId"]' != "1") {
                  $('.menu>li>img#' + '@Session["firstLevelId"]').siblings(".sub-menu").eq(0).slideToggle();
            $('.menu>li>img#' + '@Session["firstLevelId"]').closest("li").siblings("li").children('.sub-menu').slideUp();
            $('.menu>li>img#' + '@Session["firstLevelId"]').closest("li").toggleClass("open");
                $('.menu>li>img#' + '@Session["firstLevelId"]').closest("li").siblings("li").removeClass("open");

                                    $('.sub-menu>li>img#' + '@Session["secondLevelId"]').siblings(".sub-menu").eq(0).slideToggle();
                $('.sub-menu>li>img#' + '@Session["secondLevelId"]').closest("li").toggleClass("open");

                                                    $('.sub-menu>li>img#' + '@Session["thirdLevelId"]').siblings(".sub-menu").eq(0).slideToggle();
                    $('.sub-menu>li>img#' + '@Session["thirdLevelId"]').closest("li").toggleClass("open");

            } else if ('@Session["thirdLevelId"]' != "1") {
                  $('.menu>li>img#' + '@Session["firstLevelId"]').siblings(".sub-menu").eq(0).slideToggle();
            $('.menu>li>img#' + '@Session["firstLevelId"]').closest("li").siblings("li").children('.sub-menu').slideUp();
            $('.menu>li>img#' + '@Session["firstLevelId"]').closest("li").toggleClass("open");
                $('.menu>li>img#' + '@Session["firstLevelId"]').closest("li").siblings("li").removeClass("open");

                                    $('.sub-menu>li>img#' + '@Session["secondLevelId"]').siblings(".sub-menu").eq(0).slideToggle();
                    $('.sub-menu>li>img#' + '@Session["secondLevelId"]').closest("li").toggleClass("open");

            } else if ('@Session["secondLevelId"]' != "1") {
                  $('.menu>li>img#' + '@Session["firstLevelId"]').siblings(".sub-menu").eq(0).slideToggle();
            $('.menu>li>img#' + '@Session["firstLevelId"]').closest("li").siblings("li").children('.sub-menu').slideUp();
            $('.menu>li>img#' + '@Session["firstLevelId"]').closest("li").toggleClass("open");
                $('.menu>li>img#' + '@Session["firstLevelId"]').closest("li").siblings("li").removeClass("open");
            } else {

            }

            @*$('.menu>li>img#' + '@Session["firstLevelId"]').siblings(".sub-menu").eq(0).slideToggle();
            $('.menu>li>img#' + '@Session["firstLevelId"]').closest("li").siblings("li").children('.sub-menu').slideUp();
            $('.menu>li>img#' + '@Session["firstLevelId"]').closest("li").toggleClass("open");
            $('.menu>li>img#' + '@Session["firstLevelId"]').closest("li").siblings("li").removeClass("open");*@
        })
        $("#product-list").each(function () {
            $('.menu>li>img').on('click', function () {
                console.log($(this).closest("li"));
                $(this).siblings(".sub-menu").eq(0).slideToggle();
                $(this).closest("li").siblings("li").children('.sub-menu').slideUp();
                $(this).closest("li").toggleClass("open");
                $(this).closest("li").siblings("li").removeClass("open");
            });

            $('.sub-menu>li>img').on('click', function () {
                $(this).siblings(".sub-menu").eq(0).slideToggle();
                $(this).closest("li").toggleClass("open");
            });
            $('.RFQCheck').on('click', function (e) {
                e.preventDefault();
                console.log(this);
                $(this).closest('.productImgBox').toggleClass("active");
                if ($(this).closest(".productImgBox").hasClass("active")) {
                    $('#RFQModal').modal('show')
                }
            });
            $('.sideNavBtn').on('click', function () {
                $('.sideNav').slideDown();
                $("body").addClass("overflow-hidden");
            });
            $('.sideNavClose').on('click', function () {
                $('.sideNav').slideUp();
                $("body").removeClass("overflow-hidden");
            });
        });

        function onfirstmenu(firstguid) {
            console.log(firstguid);
            //sessionStorage.setItem("firstLevelId", firstguid);
            console.log($('.menu>li>img#' + firstguid).closest("li"));
            $('.menu>li>img#' + firstguid).siblings(".sub-menu").eq(0).slideToggle();
            $('.menu>li>img#' + firstguid).closest("li").siblings("li").children('.sub-menu').slideUp();
            $('.menu>li>img#' + firstguid).closest("li").toggleClass("open");
            $('.menu>li>img#' + firstguid).closest("li").siblings("li").removeClass("open");
        }

        function onsecondmenu(secondguid) {
            console.log($('.sub-menu>li>img#' + secondguid).closest("li"));
            $('.sub-menu>li>img#' + secondguid).siblings(".sub-menu").eq(0).slideToggle();
            $('.sub-menu>li>img#' + secondguid).closest("li").toggleClass("open");
        }

         function AddSession(pguid) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("AddInquiry", "Products")',
                data: { ProductGuid: pguid },
                success: function (data) {
                    if (data.success) {
                        @*window.location.href = '@Url.Action("Inquiry", "Inquiry")';*@
                        return false;

                    }
                    else {
                        //swal({
                        //    title: "系統訊息",
                        //    text: "該商品重複加入型錄",
                        //    type: "error",
                        //    showCancelButton: false,
                        //    confirmButtonColor: "#e7505a",
                        //    confirmButtonText: "確定!",
                        //    closeOnConfirm: false,

                        //});
                        return false;
                    }
                }
            });
        }
    </script>
}
