﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wp" id="product-detail">
    <main class="main bgc-FAFAFA blank">
        <div class="breadcrumbBlock bgc-fff unblank blank breadcrumb-productDetail d-block">
            <div class="breadcrumbWrap">
                <a href="productlist?category=@ViewBag.currentCategory.guid" class="breadcrumbBack">
                    <span class="backIcon flex-center"><i class="icon-arrow"></i></span>
                    <span class="kanit font-weight-600 text-323232">@ViewBag.ResLang["productListBtn"]</span>
                </a>
                <div class="breadcrumbInner d-none d-lg-flex">
                    <ol class="breadcrumb kanit font-weight-400">
                        @*<li class="breadcrumb-item"><a href="#">@ViewBag.homepage</a></li>
                            <li class="breadcrumb-item"><a href="#">@ViewBag.productpage</a></li>*@
                        <li class="breadcrumb-item"><a href="productlist?category=@ViewBag.currentCategory.guid">@ViewBag.currentCategory.title</a></li>
                        @if (ViewBag.currentCategorySecond != null)
                        {
                            <li class="breadcrumb-item"><a href="productlist?category=@ViewBag.currentCategorySecond.guid">@ViewBag.currentCategorySecond.reTitle</a></li>
                        }
                        @if (ViewBag.currentCategoryThird != null)
                        {
                            <li class="breadcrumb-item"><a href="productlist?category=@ViewBag.currentCategoryThird.guid">@ViewBag.currentCategoryThird.reTitle</a></li>
                        }
                        @if (ViewBag.currentCategoryFour != null)
                        {
                            <li class="breadcrumb-item"><a href="productlist?category=@ViewBag.currentCategoryFour.guid">@ViewBag.currentCategoryFour.reTitle</a></li>
                        }
                    </ol>
                </div>
                <a href="@Url.Action("RFQ", "Products")" class="RFQBox flex-align-center ml-auto-992">
                    <img src="~/styles/images/layout/rfq.svg" alt="">
                    <span class="kanit font-20 font-weight-500 text-646464 d-none d-md-block">@ViewBag.ResLang["quotation"]</span>
                    @if (Session["WordLang"].ToString() == "en")
                        {
                            <span class="qty kanit font-20 font-weight-500 flex-center">@Session["InquiryNumEn"]</span>
                        }
                        else if (Session["WordLang"].ToString() == "tw")
                        {
                            <span class="qty kanit font-20 font-weight-500 flex-center">@Session["InquiryNumTw"]</span>
                        }
                        else
                        {
                            <span class="qty kanit font-20 font-weight-500 flex-center">@Session["InquiryNumEn"]</span>
                        }
                </a>
            </div>
        </div>
        <div class="productDetailBlock">
            <div class="slickBlock" data-aos="fade-right" data-aos-delay="300">
                <div class="slickMain">
                    @if (ViewBag.productDetail != null)
                    {
                        var tempPic = ViewBag.productDetail.pic.Split(',');
                        foreach (var item in tempPic)
                        {
                            if (item != "")
                            {
                                <div class="mainItem">
                                    <div class="img" style='background-image: url(..@item);'></div>
                                </div>
                            }
                        }
                        if (ViewBag.productDetail.videoLink != "" && ViewBag.productDetail.videoLink != null)
                        {
                            <div class="mainItem">
                                <div class="videoPlayer">
                                    <iframe id="player" class="video" src="@ViewBag.productDetail.videoLink" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            </div>
                        }
                    }
                    @*else
                        {
                            <div class="mainItem">
                                <div class="img" style='background-image: url(../styles/images/product/products-detail.jpg);'></div>
                            </div>
                            <div class="mainItem">
                                <div class="img" style='background-image: url(../styles/images/index/index-banner3.jpg);'></div>
                            </div>
                            <div class="mainItem">
                                <div class="videoPlayer">
                                    <iframe id="player" class="video" src="https://www.youtube.com/embed/NUDgiJo5sm4?enablejsapi=1&allowsInlineMediaPlayback=true&playsinline=1" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            </div>
                        }*@
                </div>
                <div class="slickSub">
                    @if (ViewBag.productDetail != null)
                    {
                        var tempPic = ViewBag.productDetail.pic.Split(',');
                        foreach (var item in tempPic)
                        {
                            if (item != "")
                            {
                                <div class="subItem">
                                    <div class="img background-cover" style='background-image: url(..@item);'></div>
                                </div>
                            }
                        }
                        if (ViewBag.productDetail.option != "" && ViewBag.productDetail.option != null)
                        {
                            <div class="subItem video">
                                <div class="img background-cover" style='background-image: url(..@ViewBag.productDetail.option);'></div>
                            </div>
                        }
                    }
                    @*else
                        {
                            <div class="subItem">
                                <div class="img background-cover" style='background-image: url(../styles/images/product/product01.jpg);'></div>
                            </div>
                            <div class="subItem">
                                <div class="img background-cover" style='background-image: url(../styles/images/index/index-banner3.jpg);'></div>
                            </div>
                            <div class="subItem video">
                                <div class="img background-cover" style='background-image: url(../styles/images/product/products-detail02.jpg);'></div>
                            </div>
                        }*@

                </div>
                <div class="slickBtnBox">
                    <div class="slickLeft flex-center"><i class="icon-arrow"></i></div>
                    <div class="slickRight flex-center"><i class="icon-arrow"></i></div>
                </div>
            </div>
            <div class="productInfoBlock">
                @if (ViewBag.productDetail != null)
                {
                    <h1 class="mainTitle kanit font-40 font-weight-600 text-FCAE07 text-uppercase lh1 mb-2" data-aos="fade-up" data-aos-delay="500">@ViewBag.productDetail.title</h1>
                    <h2 class="productSN kanit font-26 font-weight-500 text-969696 pb-1" data-aos="fade-up" data-aos-delay="500">@ViewBag.productDetail.subtitle</h2>
                    <hr>
                    if (ViewBag.isCheckActive == 1)
                    {
                        <div class="productInfoRFQ active" data-aos="fade-up" data-aos-delay="700">
                            <button type="button" class="RFQCheck" onclick="AddSession('@ViewBag.productDetail.guid')">
                                <span class="checkImg d-inline-block background-cover"></span>
                                <span class="text kanit font-16 font-weight-500 text-646464 d-inline-block lh1">@ViewBag.reqRfq</span>
                            </button>
                            @if (ViewBag.productDetail.isComingSoon != null)
                            {
                                if (ViewBag.productDetail.isComingSoon > ViewBag.dateNow)
                                {
                                    <div class="stock">
                                        <img src="~/styles/images/product/stock-1.png" alt="">
                                    </div>
                                }
                                else
                                {
                                    <div class="stock" style="display:none">
                                        <img src="~/styles/images/product/stock-1.png" alt="">
                                    </div>
                                }
                            }
                            else
                            {
                                <div class="stock" style="display:none">
                                    <img src="~/styles/images/product/stock-1.png" alt="">
                                </div>
                            }
                        </div>
                    }
                    else
                    {
                        <div class="productInfoRFQ" data-aos="fade-up" data-aos-delay="700">
                            <button type="button" class="RFQCheck" onclick="AddSession('@ViewBag.productDetail.guid')">
                                <span class="checkImg d-inline-block background-cover"></span>
                                <span class="text kanit font-16 font-weight-500 text-646464 d-inline-block lh1">@ViewBag.ResLang["reqRfq"]</span>
                            </button>
                            @if (ViewBag.productDetail.isComingSoon != null)
                            {
                                if (ViewBag.productDetail.isComingSoon > ViewBag.dateNow)
                                {
                                    <div class="stock">
                                        <img src="~/styles/images/product/stock-1.png" alt="">
                                    </div>
                                }
                                else
                                {
                                    <div class="stock" style="display:none">
                                        <img src="~/styles/images/product/stock-1.png" alt="">
                                    </div>
                                }
                            }
                            else
                            {
                                <div class="stock" style="display:none">
                                    <img src="~/styles/images/product/stock-1.png" alt="">
                                </div>
                            }
                        </div>
                    }
                    <hr>
                    <div class="text roboto font-16 text-646464 pt-2 pb-2" data-aos="fade-up" data-aos-delay="900">
                        @Html.Raw(ViewBag.productDetail.product_description)
                    </div>
                    <hr>
                    <div class="productInfoLogo" data-aos="fade-up" data-aos-delay="1100">
                        @if (ViewBag.productDetail.emblem != null)
                        {
                            var emblemSplit = ViewBag.productDetail.emblem.Split(',');
                            var emblemAltSplit = ViewBag.productDetail.emblem_alt.Split(',');
                            for (var j = 0; j < emblemSplit.Length; j++)
                            {
                                if (emblemSplit[j] != "")
                                {
                                    <img src="@Url.Content("~" + emblemSplit[j])" alt="">
                                }
                            }
                        }
                    </div>
                }
                @*<h1 class="mainTitle kanit font-40 font-weight-600 text-FCAE07 text-uppercase lh1 mb-2" data-aos="fade-up" data-aos-delay="500">Li-ion 60V BRUSHLESS Jumbo Impact Wrench</h1>
                    <h2 class="productSN kanit font-26 font-weight-500 text-969696 pb-1" data-aos="fade-up" data-aos-delay="500">RI60164</h2>
                    <hr>
                    <div class="productInfoRFQ" data-aos="fade-up" data-aos-delay="700">
                        <button type="button" class="RFQCheck">
                            <span class="checkImg d-inline-block background-cover"></span>
                            <span class="text kanit font-16 font-weight-500 text-646464 d-inline-block lh1">Request for Quotation</span>
                        </button>
                        <div class="stock">
                            <img src="~/styles/images/product/stock-1.png" alt="">
                        </div>
                    </div>
                    <hr>
                    <p class="text roboto font-16 text-646464 pt-2 pb-2" data-aos="fade-up" data-aos-delay="900">DUROFIX™ is a new brand for the 21st century, and is currently being promoted in Europe, America, Australia, and Asia. We manufacture durable power tools for a wide variety of applications, in the workplace and at home.<br>We believe that by concentrating on innovation and quality we can deliver a friendly and satisfying experience in power tool usage. We believe in designing creative, compact and comfortable power tools for users' optimum operation. We strive to develop the era of Durofix '3C' tool together with our customers.</p>
                    <hr>
                    <div class="productInfoLogo" data-aos="fade-up" data-aos-delay="1100">
                        <img src="~/styles/images/product/products-info-logo01.svg" alt="">
                        <img src="~/styles/images/product/products-info-logo02.svg" alt="">
                    </div>*@

            </div>

        </div>
        <div class="productTabBlock unblank">
            <div class="panel-group">
                <input type="radio" name="panel-radio" id="radio1" class="panel-control" checked>
                <input type="radio" name="panel-radio" id="radio2" class="panel-control">
                <input type="radio" name="panel-radio" id="radio3" class="panel-control">
                <div class="tab-group kanit font-20 font-weight-500 text-323232 blank">
                    <label for="radio1" class="active">@ViewBag.ResLang["featuresTab"]</label>
                    <label for="radio2">@ViewBag.ResLang["specificationsTab"]</label>
                    <label for="radio3">@ViewBag.ResLang["downloadTab"]</label>
                </div>
                <div class="content-group blank">
                    <div class="content content1">
                        @if (ViewBag.productDetail != null)
                        {
                            @*@Html.Raw(ViewBag.productDetail.product_features)*@
                            <h3 class="contentTitleMobile kanit mb-3 font-weight-500 d-sm-none">@ViewBag.ResLang["featuresTab"]</h3>

                            <ul class="featuresList noneStyle roboto font-16 text-646464" data-aos="fade-left" data-aos-delay="300">
                                @if (ViewBag.splitFeature != null)
                                {
                                    foreach (var feature in ViewBag.splitFeature)
                                    {
                                        <li>@feature</li>
                                    }
                                }
                                @*<li>Electronic torque &amp; speed control</li>
                                    <li>Longer running time &amp; life cycle</li>
                                    <li>2,050 Nm max. reverse torque</li>
                                    <li>Durable metal gearbox housing</li>
                                    <li>Built-in LED light for convenient illumination during work</li>*@
                            </ul>

                            <hr />

                            <div class="featuresIcon" data-aos="fade-left" data-aos-delay="500">
                                <ul class="noneStyle">
                                    @if (ViewBag.productFeature != null)
                                    {
                                        var featurSplit = ViewBag.productDetail.featurespic.Split(',');
                                        var featurAltSplit = ViewBag.productDetail.featurespic_alt.Split(',');
                                        for (var i = 0; i < featurSplit.Length; i++)
                                        {
                                            if (featurSplit[i] != "")
                                            {
                                                <li class="featuresIconGroup hover">
                                                    <img src="@Url.Content("~" + featurSplit[i])" alt="">
                                                    <div class="hint">@featurAltSplit[i]</div>
                                                </li>
                                            }
                                        }
                                    }
                                </ul>
                            </div>
                        }
                    </div>
                    <div class="content content2">
                        @if (ViewBag.productDetail != null)
                        {
                            if (ViewBag.splitColumn != null)
                            {
                                <h3 class="contentTitleMobile kanit mb-3 font-weight-500 d-sm-none">@ViewBag.ResLang["specificationsTab"]</h3>
                                <ul class="noneStyle roboto font-15 text-323232" data-aos="fade-left" data-aos-delay="300">
                                    @for (var i = 0; i < ViewBag.splitColumn.Count; i++)
                                    {
                                        <li class="">
                                            <div class="name">@ViewBag.splitColumn[i]</div>
                                            <div class="value">@ViewBag.splitValue[i]</div>
                                        </li>
                                    }
                                </ul>
                            }
                        }
                    </div>
                    <div class="content content3">
                        <h3 class="contentTitleMobile kanit mb-3 font-weight-500 d-sm-none">@ViewBag.ResLang["downloadTab"]</h3>
                        <ul class="noneStyle kanit font-20 font-weight-600 text-323232" data-aos="fade-left" data-aos-delay="300">
                            @if (ViewBag.productDetail != null)
                            {
                                if (ViewBag.productDetail.downloadfile != null)
                                {
                                    var downloadSplit = ViewBag.productDetail.downloadfile.Split(',');
                                    var downloadAltSplit = ViewBag.productDetail.downloadfile_alt.Split(',');
                                    for (var i = 0; i < downloadSplit.Length; i++)
                                    {
                                        if (downloadSplit[i] != "")
                                        {
                                            <li class="">
                                                <a href="@Url.Content("~" + downloadSplit[i])" class="dlLink" target="_blank">@downloadAltSplit[i]</a>
                                            </li>
                                        }
                                    }
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        @*<?php include "RFQ-modal.php"; ?>*@
        <div class="modal fade" id="RFQModal" tabindex="-1" role="dialog" aria-labelledby="RFQModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-icon">
                        <div class="iconBox">
                            <img src="~/styles/images/product/saved-ring.svg" alt="" class="ring">
                            <img src="~/styles/images/product/check.svg" alt="" class="check">
                        </div>
                    </div>
                    <div class="modal-title kanit font-20 font-weight-600 text-323232" id="RFQModalLabel">@ViewBag.ResLang["saveRfq"] </div>
                    <a href="@Url.Action("RFQ", "Products")" class="modal-btn flex-center kanit font-18 font-weight-500">@ViewBag.ResLang["openRfq"]</a>
                </div>
            </div>
        </div>
    </main>
</div>

@section scripts{
    <script type="text/javascript">
        function AddSession(pguid) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("AddInquiry", "Products")',
                data: { ProductGuid: pguid },
                success: function (data) {
                    if (data.success) {
                        @*window.location.href = '@Url.Action("Inquiry", "Inquiry")';*@
                        return false;

                    }
                    else {
                        //swal({
                        //    title: "系統訊息",
                        //    text: "該商品重複加入型錄",
                        //    type: "error",
                        //    showCancelButton: false,
                        //    confirmButtonColor: "#e7505a",
                        //    confirmButtonText: "確定!",
                        //    closeOnConfirm: false,

                        //});
                        return false;
                    }
                }
            });
        }
    </script>
}
