﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wp" id="RFQ">
    <main class="main">
        <div class="breadcrumbBlock blank">
            <div class="breadcrumbWrap RFQ-breadcrumbWrap">
                <a href="~/products" class="breadcrumbBack">
                    <span class="backIcon flex-center"><i class="icon-arrow"></i></span>
                    <span class="kanit font-weight-600 text-323232">@ViewBag.ResLang["productCategoryBtn"]</span>
                </a>
                <div class="breadcrumbInner">
                    <ol class="breadcrumb kanit font-weight-400 text-323232">
                        <li class="breadcrumb-item"><a href="#">@ViewBag.ResLang["homepage"]</a></li>
                        <li class="breadcrumb-item"><a href="#">@ViewBag.ResLang["productpage"]</a></li>
                        <li class="breadcrumb-item"><a href="#">@ViewBag.ResLang["quotation"]</a></li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="RFQMainBlock blank">
            <div class="RFQMainWrap blank">
                <div class="RFQTitle">
                    <h1 class="mainTitle kanit font-60 font-weight-600 text-323232 text-uppercase" data-aos="fade-up" data-aos-delay="300">@ViewBag.ResLang["quotation"]</h1>
                    <h2 class="text kanit font-20 font-weight-500 text-646464 text-uppercase" data-aos="fade-up" data-aos-delay="500">@ViewBag.ResLang["productDesc"] </h2>
                </div>
                <div class="RFQList">
                    <div data-aos="fade-left" data-aos-delay="300" data-aos-duration="600">
                        @if (Session["WordLang"].ToString() == "en")
                        {
                            if ((Session["InquiryEn"] as List<Dictionary<string, string>>) != null)
                            {
                                foreach (var item in (Session["InquiryEn"] as List<Dictionary<string, string>>))
                                {


                                    @*<a href="productdetial?id=@item["ProductGuid"]" class="RFQItem">
                                            <span class="RFQItemImg">
                                                <img src="@Url.Content("~" + item["Pic"])" alt="">
                                            </span>
                                            <span class="RFQItemName">
                                                <span class="name d-block kanit font-20 font-weight-600 text-FCAE07 text-uppercase lh14">@item["ProductName"]</span>
                                                <span class="num d-block kanit font-16 font-weight-500 text-969696">@item["ProductSubName"]</span>

                                            </span>
                                            <span class="RFQItemDel"></span>
                                        </a>*@
                                    if (item.Count != 0)
                                    {
                                        <div class="RFQItem">
                                            <a href="productdetial?id=@item["ProductGuid"]" class="RFQItemImg">
                                                <img src="@Url.Content("~" + item["Pic"])" alt="">
                                            </a>
                                            <a href="productdetial?id=@item["ProductGuid"]" class="RFQItemName">
                                                <span class="name d-block kanit font-20 font-weight-600 text-FCAE07 text-uppercase lh14">@item["ProductName"]</span>
                                                <span class="num d-block kanit font-16 font-weight-500 text-969696">@item["ProductSubName"]</span>

                                            </a>
                                            <a href="@Url.Action("DeleteInquiry", "Products",new {  guid = @item["ProductGuid"]})">
                                                <div class="RFQItemDel cursor">
                                                </div>
                                            </a>
                                        </div>
                                    }

                                }
                            }
                        }
                        else if (Session["WordLang"].ToString() == "tw")
                        {
                            if ((Session["InquiryTw"] as List<Dictionary<string, string>>) != null)
                            {
                                foreach (var item in (Session["InquiryTw"] as List<Dictionary<string, string>>))
                                {
                                    <div class="RFQItem">
                                        <a href="productdetial?id=@item["ProductGuid"]" class="RFQItemImg">
                                            <img src="@Url.Content("~" + item["Pic"])" alt="">
                                        </a>
                                        <a href="productdetial?id=@item["ProductGuid"]" class="RFQItemName">
                                            <span class="name d-block kanit font-20 font-weight-600 text-FCAE07 text-uppercase lh14">@item["ProductName"]</span>
                                            <span class="num d-block kanit font-16 font-weight-500 text-969696">@item["ProductSubName"]</span>

                                        </a>
                                        <a href="@Url.Action("DeleteInquiry", "Products",new {  guid = @item["ProductGuid"]})">
                                            <div class="RFQItemDel cursor">
                                            </div>
                                        </a>
                                    </div>
                                }
                            }
                        }
                        else
                        {
                            if ((Session["InquiryEn"] as List<Dictionary<string, string>>) != null)
                            {
                                foreach (var item in (Session["InquiryEn"] as List<Dictionary<string, string>>))
                                {
                                    <div class="RFQItem">
                                        <a href="productdetial?id=@item["ProductGuid"]" class="RFQItemImg">
                                            <img src="@Url.Content("~" + item["Pic"])" alt="">
                                        </a>
                                        <a href="productdetial?id=@item["ProductGuid"]" class="RFQItemName">
                                            <span class="name d-block kanit font-20 font-weight-600 text-FCAE07 text-uppercase lh14">@item["ProductName"]</span>
                                            <span class="num d-block kanit font-16 font-weight-500 text-969696">@item["ProductSubName"]</span>

                                        </a>
                                        <a href="@Url.Action("DeleteInquiry", "Products",new {  guid = @item["ProductGuid"]})">
                                            <div class="RFQItemDel cursor">
                                            </div>
                                        </a>
                                    </div>
                                }
                            }
                        }

                    </div>
                </div>
                <div class="RFQFormBox" data-aos="fade-up" data-aos-delay="500" data-aos-duration="600">
                    <div class="hint kanit font-18">@ViewBag.ResLang["completeall"]<span class="text-red">*</span>@ViewBag.ResLang["assure"]</div>
                    <form action="@Url.Content("~/products/Send")" method="post" id="RFQForm" class="RFQForm">
                        @Html.AntiForgeryToken()
                        <div class="field-group">
                            <label class="label" for="bType">@ViewBag.ResLang["businessType"]<span class="text-red">*</span></label>
                            @*<v-select :options="optionsType" v-model="selectedType" :clearable="false" :searchable="false" id="bType"></v-select>*@
                            <select class="selectpicker" id="bType" name="bType">
                                <option>Importer</option>
                                <option>Distributor</option>
                                <option>Wholesaler</option>
                                <option>Retailer</option>
                                <option>Manufacturer</option>
                                <option>Others</option>
                            </select>
                        </div>
                        <div class="field-group half">
                            <label class="label" for="corp">@ViewBag.ResLang["companyName"]<span class="text-red">*</span></label>
                            <input class="input" type="text" id="corp" name="corp" required>
                        </div>
                        <div class="field-group half">
                            <label class="label" for="name">@ViewBag.ResLang["contactName"]<span class="text-red">*</span></label>
                            <input class="input" type="text" id="name" name="name" required>
                        </div>
                        <div class="field-group half">
                            <label class="label" for="email">@ViewBag.ResLang["email"]<span class="text-red">*</span></label>
                            <input class="input" type="email" id="email" name="email" required>
                        </div>
                        <div class="field-group half">
                            <label class="label" for="tel">@ViewBag.ResLang["tel"]<span class="text-red">*</span></label>
                            <input class="input" type="tel" id="tel" name="tel" required>
                        </div>
                        <div class="field-group p350">
                            <label class="label" for="country">@ViewBag.ResLang["country"]<span class="text-red">*</span></label>
                            @*<v-select :options="optionsCountry" v-model="selectedCountry" :clearable="false" :searchable="false" id="country"></v-select>*@
                            <select class="selectpicker" id="country" name="country">
                                <option>Taiwan</option>
                                <option>USA</option>
                                <option>UK</option>
                            </select>
                        </div>
                        <div class="field-group p640">
                            <label class="label" for="adress">@ViewBag.ResLang["address"]</label>
                            <input class="input" type="text" id="adress" name="adress">
                        </div>
                        <div class="field-group">
                            <label class="label" for="web">@ViewBag.ResLang["website"]</label>
                            <input class="input" type="text" id="web" name="web">
                        </div>
                        <div class="field-group">
                            <label class="label" for="subject">@ViewBag.ResLang["subject"]<span class="text-red">*</span></label>
                            @*<v-select :options="optionsSubject" v-model="selectedSubject" :clearable="false" :searchable="false" id="subject"></v-select>*@
                            <select class="selectpicker" id="subject" name="subject">
                                @if (ViewBag.contactSubjectData != null)
                                {
                                    foreach (var item in ViewBag.contactSubjectData)
                                    {
                                        <option>@item</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="field-group textareaGroup">
                            <label class="label textareaLabel" for="content">@ViewBag.ResLang["leaveMessage"]</label>
                            <textarea class="input textarea" id="content" name="content" placeholder=""></textarea>
                        </div>
                        <div class="field-group p445">
                            <label class="label" for="vcode">@ViewBag.ResLang["verification"]<span class="text-red">*</span></label>
                            <input class="input" type="text" id="vcode" name="vcode" required>
                        </div>
                        <div class="v-code">
                            <img id="captcha" onclick="reloadCaptcha()" src="@Url.Content("~/Content/BuildCaptcha.aspx")" alt="">
                        </div>
                        <div class="submitWrap">
                            <button class="submit flex-center kanit font-18 font-weight-500" type="submit">
                                <span class="d-block">@ViewBag.ResLang["submit"]</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </main>
</div>

@section scripts {
    <script>
        //重製驗證碼
        function reloadCaptcha() {
            $('#captcha').attr('src', $('#captcha').attr('src') + "?d=" + Date.now());
        }

        function handleCancel(productid) {
            console.log(productid);
            @*$.ajax({
                type: 'POST',
                url: '@Url.Action("deleteToProductInquery", "Ajax")',
                data: { productid: productid },
                success: function (data) {
                    location.reload();
                }
            });*@
        }
    </script>
}

