﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="wp" id="index">
    <main class="main">
        <div id="RFQ-send">
            <div class="breadcrumbBlock blank">
                <div class="breadcrumbWrap">
                    <a href="@Url.Action("Index", "Products")" class="breadcrumbBack">
                        <span class="backIcon flex-center"><i class="icon-arrow"></i></span>
                        <span class="kanit font-weight-600 text-323232">Product Category</span>
                    </a>
                    <div class="breadcrumbInner">
                        <ol class="breadcrumb kanit font-weight-400 text-323232">
                            <li class="breadcrumb-item"><a href="./">HOME</a></li>
                            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Products")">PRODUCTS</a></li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="RFQSendBlock blank">
                <div class="RFQSendInner">
                    <div class="RFQSendIcon">
                        <div class="iconBox">
                            <img src="@Url.Content("~/styles/images/product/saved-ring.svg")" alt="" class="ring">
                            <img src="@Url.Content("~/styles/images/product/check.svg")" alt="" class="check">
                        </div>
                    </div>
                    <h1 class="RFQSendTitle kanit font-40 font-weight-600 text-323232 text-uppercase" data-aos="fade-up" data-aos-delay="300">Your message was sent successfully.</h1>
                    <h2 class="RFQSendText kanit font-20 font-weight-500 text-646464" data-aos="fade-up" data-aos-delay="500">Thank you so much for your submission. We’ll be in touch shortly.</h2>
                    <div data-aos="fade-right" data-aos-delay="700">
                        <a href="./" class="RFQSendBtn flex-center kanit font-18 font-weight-500">OK</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>



