﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wp" id="search">
    <main class="main blank">
        <div class="breadcrumbBlock unblank blank">
            <div class="breadcrumbWrap">
                <a href="~/products" class="breadcrumbBack">
                    <span class="backIcon flex-center"><i class="icon-arrow"></i></span>
                    <span class="kanit font-weight-600 text-323232">Product Category</span>
                </a>
                <div class="breadcrumbInner">
                    <ol class="breadcrumb kanit font-weight-400 text-323232">
                        <li class="breadcrumb-item"><a href="#">HOME</a></li>
                        <li class="breadcrumb-item"><a href="#">PRODUCTS</a></li>
                        <li class="breadcrumb-item"><a href="#">PRODUCT SEARCH</a></li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="productSearchBlock">
            <h1 class="mainTitle kanit font-60 font-weight-600 text-323232" data-aos="fade-up" data-aos-delay="300">PRODUCT SEARCH</h1>
            <div class="searchGroupBox" data-aos="fade-up" data-aos-delay="500">
                <div class="searchGroup roboto">
                    <input type="text" id="searchKeyword" placeholder="Keyword...">
                    <button class="searchBtn"><img src="../styles/images/product/search-btn.svg" alt=""></button>
                </div>
            </div>
        </div>
        <div class="searchResultBlock" style="display: block;">
            <div class="hrBox" data-aos="fade-up" data-aos-delay="300">
                <hr>
                <div class="searchMessage kanit font-18">About <span class="font-weight-600 text-FCAE07">50</span> results found for "<span class="font-weight-600 text-FCAE07">AAA</span>"</div>
            </div>
            <div class="productsListMain search-productsListMain" data-aos="fade-up" data-aos-delay="500">
                <div class="productsList">
                    <a href="product-detail" class="productItem text-center">
                        <span class="productImgBox d-block">
                            <span class="productImg d-block background-cover" style="background-image: url(styles/images/product/product01.jpg);"></span>
                            <span class="RFQCheck d-block">
                                <span class="checkImg d-inline-block background-cover"></span>
                                <span class="text kanit font-16 font-weight-500 text-646464 d-inline-block lh1">RFQ</span>
                            </span>
                        </span>
                        <span class="productName kanit font-20 font-weight-600 text-FCAE07 text-uppercase">
                            <span class="d-block">Li-ion 60V BRUSHLESS Jumbo Impact Wrench</span>
                        </span>
                        <span class="productSN d-block kanit font-16 font-weight-500 text-969696">RI60164</span>
                    </a>
                    @if (ViewBag.productData != null)
                    {
                        foreach (var item in ViewBag.productData)
                        {
                            <a href="product-detail" class="productItem text-center">
                                <span class="productImgBox d-block">
                                    <span class="productImg d-block background-cover" style="background-image: url(../styles/images/product/product01.jpg);"></span>
                                    <span class="RFQCheck d-block">
                                        <span class="checkImg d-inline-block background-cover"></span>
                                        <span class="text kanit font-16 font-weight-500 text-646464 d-inline-block lh1">RFQ</span>
                                    </span>
                                </span>
                                <span class="productName kanit font-20 font-weight-600 text-FCAE07 text-uppercase">
                                    <span class="d-block">Li-ion 60V BRUSHLESS Jumbo Impact Wrench</span>
                                </span>s
                                <span class="productSN d-block kanit font-16 font-weight-500 text-969696">@item.subtitle</span>
                            </a>
                        }
                    }

                    <i></i><i></i><i></i><i></i>
                </div>
                @*<?php include "pagination.php"; ?>*@
            </div>
        </div>
    </main>
</div>

@section scripts{
    <script>
         $(document).ready(function () {

             $('.searchBtn').on('click', function () {
                 var keyword = document.getElementById('searchKeyword').value;
                 console.log(keyword);
                 $.ajax({
                     type: 'POST',
                     url: '@Url.Action("SearchProduct", "Products")',
                     data: { keyword: keyword},
                     success: function (data) {
                         console.log(data);
                        $('.searchResultBlock').show();

                    },
                });

            });

         });
    </script>
}
