.mainBtn{
  display: block;
  font-family: 'Kanit', sans-serif;
  font-size: 18px;
  font-weight: 500;
  width: 158px;
  height: 60px;
  border-radius: 30px;
  background-color: $mainYellow;
  text-align: center;
  line-height: 60px;
  transition:  all 0.3s;
  &:hover{
    background-color: #fcd707;
  }
}
.RFQBox{
  flex-shrink: 0;
  img{
    width: 45px;
    margin-right: 15px;
  }
  .qty{
    height: 26px;
    width: 26px;
    border-radius: 13px;
    background-color: $mainYellow;
    margin-left: 10px;
  }
  .text-646464{
    transition: all 0.3s;
  &:hover{
    color: $mainYellow;
    }
  }
}
.breadcrumbBlock{
  background-color: #F5F5F5;
  .breadcrumbWrap{
    margin: 0 auto;
    margin-top: 80px;
    height: 110px;
    max-width: 1520px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .breadcrumbBack{
      display: flex;
      align-items: center;
      padding-right: 50px;
      border-right: 1px solid #DCDCDC;
      font-size: 20px;
      flex-shrink: 0;
      .backIcon{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 2px solid #323232;
        color: #323232;
        font-size: 14px;
        padding-right: 2px;
        padding-bottom: 2px;
        margin-right: 15px;
        transition: all 0.3s;
        &:hover{
          color: $mainYellow;
          border-color: $mainYellow;
        }
      }
    }
    .breadcrumbInner{
      padding-left: 18px;
      margin-right: auto;
      transition: all 0.3s;
      .breadcrumb{
        margin-bottom: 0;
        background-color: transparent;
        font-size: 16px;
        .breadcrumb-item{
          margin: 2px 0;
          &::before{
            content: '';
            background: url('images/layout/bread-arrow.svg') center no-repeat;
            width: 7px;
            height: 11px;
            margin: 0 16px;
          }
          &:first-child::before{
            background: url('images/layout/home.svg') center no-repeat;
            padding: 0 6px;
            margin-right: 10px;
          }
          &:hover{
            color: $mainYellow;
          }
        }
      }
    }
  }
  @media (max-width:1199px) {
    .breadcrumbWrap{
      .breadcrumbBack{
        padding-right: 15px;
        .text-323232{
          display: none;
        }
      }
    }
  }
  @media (max-width:991px) {
    display: none;
  }
}
.titleBlock{
  height: 235px;
  position: relative;
  overflow: hidden;
  .titleBlockBg{
    padding-top: 254px;
    width: 108%;
    background-position: center 20%;
    position: absolute;
    top: -4%;
    left: -4%;
    z-index: -1;
    filter: blur(5px);
  }
  .mainTitle{
    width: 100%;
    height: 100%;
  }
}

/*pagination*/
.pagination{
  align-items: center;
  margin-top: 32px;
  padding-right: 68px;
  >a{
    >img{
      width: 36px;
      margin: 0 5px;
    }
    .pages{
      padding: 0 11px;
      color: #969696;
      transition: all 0.3s;
    }
    &:hover, &.active{
      .pages{
        color: $mainYellow;
      }
    }
    

  }
  .prev{
    margin-right: 30px;
  }
  .next{
    margin-left: 30px;
    >img{
      transform: rotateY(180deg);
    }
  }
  .next-end>img{
    transform: rotateY(180deg);
  }
  @media(max-width:575px){
    .prev{
      margin-right: 12px;
    }
    .next{
      margin-left: 12px;
    }
  }
}


/*product-list*/
@media (min-width: 992px) and (max-width: 1199px){
  .col-ml-6 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
  }

}
@media (min-width: 1400px){
  .col-xxl-3 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 25%;
  }
}




.modal{
  .modal-dialog{
    margin-top: 310px;
    .modal-content{
      height: 346px;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .modal-icon{
        width: 94px;
        height: 94px;
        margin-bottom: 16px;
        .iconBox{
          position: relative;
          .ring{
            width: 100%;
            animation: turnLeft 2s;
          }
          .check{
            width: 42px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            margin-left: 2px;
            margin-top: 2px;
          }
        }
      }
      .modal-btn{
        width: 226px;
        height: 60px;
        border-radius: 30px;
        background-color: $mainYellow;
        margin-top: 27px;
        transition: all 0.3s;
        &:hover{
          background-color: #fcd707;
        }
      }
    }
  }
}


