@keyframes scroll {
  0% {
      opacity: 0;
      transform: translateY(-20px);
  }
  20% {
      opacity: 1;
      transform: translateY(-20px);
  }
  100% {
      opacity: 0;
      transform: translateY(30px);
  }
}
@keyframes fadeRight {
  0% {
      opacity: 0;
      transform: translateX(-10px);
  }
  30% {
      opacity: 1;
      transform: translateX(-10px);
  }
  100% {
      opacity: 0;
      transform: translateX(10px);
  }
}

@keyframes turnLeft{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: rotate(-540deg);
    }
}