.header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #251C14;
  z-index: 100;
  .headerWrap{
    max-width: 1800px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s;
    .headerLogoBox{
      width: 181px;
      min-width: 122px;
      transition: all 0.3s;
      margin-right: 40px;
    }
    .mainMenuBox{
      display: flex;
      align-items: center;
      height: 100%;
      margin-left: auto;
      .mainMenu{
        width: 1008px;
        height: 100%;
        display: flex;
        justify-content: space-between;
        .mainMenuItem{
          align-items: center;
          .menuLink{
            display: flex;
            align-items: center;
            height: 100%;
            position: relative;
            &::after{
              content: "";
              width: 0;
              height: 3px;
              position: absolute;
              left: 50%;
              bottom: 0;
              transform: translateX(-50%);
              background-color: $mainYellow;
              transition: all 0.3s;
            }
          }
          .subMenuWrap{
            position: absolute;
            left: 0;
            width: 100%;
            height: 461px;
            border: 0;
            transition: all 0.3s;
            background-color: #000;
            border-top: 1px solid $mainYellow;
            opacity: 0;
            pointer-events: none;
            background-image: url(images/layout/layout-bg.png);
            background-repeat: no-repeat;
            background-position: right bottom;
            .mainCates{
              position: relative;
              height: 100%;
              width: 100%;
              padding-left: 10.4167%;
              padding-top: 49px;
              padding-bottom: 50px;
              display: flex;
              flex-direction: column;
              justify-content: space-around;
                &::after{
                  content: '';
                  width: 1px;
                  height: 100%;
                  position: absolute;
                  left: 28.125%;
                  border-left: 1px solid #535353;
                  pointer-events: none;
                }
              .mainCate{
                width: 19.7674%;
                padding-left: 20px;
                display: flex;
                height: 45px;
                align-items: center;
                transition: all 0.3s;
                .subCates{
                  position: absolute;
                  top: 0;
                  left: 28.125%;
                  width: 0;
                  height: 100%;
                  display: flex;
                  flex-direction: column;
                  flex-wrap: wrap;
                  align-content: start;
                  padding: 50px;
                  width: 71.875%;
                  height: 100%;
                  opacity: 0;
                  pointer-events: none;
                  .subCate{
                    transition: all 0.3s;
                    color: $mainDarkgray;
                    height: 45px;
                    width: 26.5625%;
                    display: flex;
                    align-items: center;
                    &:hover{
                      .subCateLink{
                        color: $mainYellow;
                      }
                    }
                  }
                }
                &:hover{
                  background-color: #251C14;
                  .mainCateLink{
                    color: #fff;
                  }
                  .subCates{
                    pointer-events: auto;
                    opacity: 1;
                  }
                }
              }
            }
            .mainMenuRFQ{
              position: absolute;
              right: 20.83333%;
              top: 145px;
            }
          }
          &:hover, &.active{
            .subMenuWrap{
              opacity: 1;
              pointer-events: auto;
            }
            .menuLink{
              color: $mainYellow;
              &::after{
                width: 100%;
              }
            }
          }
        }
      }
    }
    .headerIconBox{
      display: flex;
      align-items: center;
      height: 100%;
      margin-left: 106px;
      transition: all 0.3s;
      .headerIcons{
        display: flex;
        .headerIcon{
          display: block;
          width: 46px;
          height: 46px;
          margin: 0 10px;
          text-align: center;
          transition: all 0.3s;
          img{
            border-radius: 50%;
            border: 1px solid $mainYellow;
          }
          &:hover{
            filter: brightness(150%);
          }
        }
        .headerIconSearch{
          position: relative;
          &::before{
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 4px 8px 4px;
            border-color: transparent transparent #000 transparent;
            position: absolute;
            transform: translateX(-50%);
            left: 50%;
            bottom: -25px;
            opacity: 0;
            transition: all 0.3s;
          }
          &::after{
            content: 'Products Search';
            width: 146px;
            height: 30px;
            background-color: #000;
            border-radius: 5px;
            color:#fff;
            position: absolute;
            transform: translateX(-50%);
            left: 50%;
            bottom: -55px;
            font-family: 'Kanit', sans-serif;
            font-size: 16px;
            line-height: 30px;
            font-weight: 300;
            opacity: 0;
            transition: all 0.3s;
          }
          &:hover{
            &::before, &::after{
              opacity: 1;
            }
          }
        }
      }
    }
    .langBox{
      display: flex;
      margin-left: 15px;
      align-items: center;
      .langIcon{
        padding-bottom: 4px;
        i{
          font-size: 22px;
          color: $mainYellow;
        }
      }
      .langSelect{
        position: relative;
        width: 50px;
        color: $mainYellow;
        font-size: 18px;
        font-family: "Kanit";
        font-weight: 500;
        margin-left: 3px;
        cursor: pointer;
        .langNow{
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-left: 12px;
          &::after{
            content: '';
            border-top: 6px solid $mainYellow;
            border-bottom: none;
            border-right: 4.5px solid transparent;
            border-left: 4.5px solid transparent;
          }
        }
        ul.noneStyle{
          position: absolute;
          width: 50px;
          padding: 4px 0;
          border-top: 1px solid $mainYellow;
          background-color: #251C14;
          display: none;
          .langOption{
            padding: 2px 0;
            transition: all 0.3s;
            &:hover{
              background-color: #5e4733;
            }
            a{
              padding-left: 12px;
              display: block;
              width: 100%;
              height: 100%;
            }
          }
        }
    }
      /*.v-select{
        width: 58px;
        height: 36px;
        border: 1px solid transparent;
        .vs__dropdown-toggle{
          border: none;
          font-size: 18px;
          font-family: "Kanit";
          font-weight: 500;
          .vs__selected-options{
            justify-content: space-between;
            .vs__selected{
              color: $mainYellow;
              font-weight: 500; 
              padding-right: 0;
            }
            >input{
              flex-grow: 0;
              padding: 0;
              border: 0;
            }
          }
          .vs__actions{
            .vs__open-indicator{
              transform: none;
            }
            &::after{
              content: '';
              border-top: 6px solid $mainYellow;
              border-bottom: none;
              border-right: 4.5px solid transparent;
              border-left: 4.5px solid transparent;
            }
            svg{
              display: none;
            }
          }
        }
        .vs__dropdown-menu{
          min-width: 58px;
          width: 58px;
          left: -1px;
          background-color: #251C14;
          border: 1px solid transparent;
          border-top: 1px solid $mainYellow;
          box-shadow: none;
          .vs__dropdown-option{
            font-family: "kanit";
            font-weight: 500;
            color: $mainYellow;
            padding-left: 0;
            padding-right: 16px;
            background-color: #251C14;
            text-align: center;
            &:hover{
              background-color: #4b3828;
            }

          }
        }
        &.vs--open{
          .vs__dropdown-toggle{
            .vs__selected-options{
              .vs__selected{
                opacity: 1;
              }
            }
          }
        }
      }*/
    }
    .menuToggle{
      display: none;
      width: 21px;
      height: 18px;
      position: relative;
      z-index: 99;
      .bar{
        width: 21px;
        height: 2px;
        background-color: $mainYellow;
        position: absolute;
        transition: all 0.3s;
        right: 0;
        &.bar1{
          top: 0;
        }
        &.bar2{
          top: 8px;
        }
        &.bar3{
          bottom: 0;
        }
      }
    }
    .mainSideMenuWrap{
      position: absolute;
      width: 360px;
      height: calc(100vh - 80px);
      right: -120%;
      top: 80px;
      background-color: #000;
      color: #7C7876;
      transition: all 0.5s;
      padding-top: 30px;
      overflow-y: auto;
      overflow-x: hidden;
      z-index: 99;
      background-image: url(images/layout/layout-bg.png);
      background-repeat: no-repeat;
      background-size: 350px;
      background-position: right bottom;
      .mainSideMenu{
        text-align: center;
        border-bottom: 1px solid #1E1E1E;
        padding-bottom: 41px;
        margin-bottom: 13px;
        li{
          padding: 9px 20px;
          font-family: 'Kanit', sans-serif;
          font-size: 18px;
          position: relative;
          &:hover{
            color: $mainYellow !important;
          }
        }
      }
      .headerIconBox{
        height: 82px;
        width: fit-content;
        margin: 0 auto;
        padding-top: 30px;
        .headerIcons{
          .headerIcon{
            margin: 0 10px;
          }
        }
      }
      .langBox2{
        width: fit-content;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 68px;
        width: 242px;
        height: 46px;
        border: 1px solid $mainYellow;
        border-radius: 23px;
        padding-left: 14px;
        background-color: #000;
        .langSelect{
          .langNow {
            width: 180px;
            height: 44px;
            justify-content: space-between;
          }
          ul.noneStyle{
            width: 182px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
          }
        }
      }
      .sideMenuRFQ{
        margin: 0 auto;
        margin-bottom: 144px;
      }
    }
    .mask{
      left: 0;
      top: 80px;
      width: 100vw;
      height: 100vh;
      background-color: black;
      position: absolute;
      opacity: 0.5;
      transition: all 0.3s;
      display: none;
    }
    .menuRFQ{
      width: 170px;
      height: 170px;
      border-radius: 50%;
      border: 1px solid $mainYellow;
      color: $mainYellow;
      transition: all 0.3s;
      background-color: rgba($color: #000000, $alpha: 0.6);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      img{
        width: 52px;
        padding-bottom: 6px;
      }
      &:hover{
        filter: brightness(140%);
        background-color: rgba($color: #000000, $alpha: 0.9);
      }
    }

  }
  &.menuOpen{
    .menuToggle{
      .bar{
        &.bar1{
          top: 8px;
          transform: rotate(45deg);
        }
        &.bar2{
          opacity: 0;
        }
        &.bar3{
          bottom: 8px;
          transform: rotate(-45deg);
        }
      }
    }
    .mainSideMenuWrap{
      right: 0;
    }
    .mask{
      display: block;
    }
  }
  &.scroll{
    .headerWrap{
      height: 60px;
      .headerLogoBox{
        width: 137px;
      }
      .headerIconBoxScroll{
        margin-left: 138px;
        .headerIcons{
          .headerIcon{
            width: 40px;
            height: 40px;
            margin: 0 9px;
            line-height: 36px;
          }
        }
      }
      .mainSideMenuWrap{
        top: 60px;
        height: calc(100vh - 60px);
      }
      .mask{
        top: 60px;
      }
    }
  }
}

.footer{
  background-color: #251C14;
  .iconLink{
    height: 465px;
    background-color: #F0F0F0;
    .iconLinkInner{
      max-width: 1070px;
      height: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .iconLinkItem{
        flex-direction: column;
        text-align: center;
        .iconWrap{
          background-color: #fff;
          width: 200px;
          height: 200px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 26px;
          &:hover{
            img{
              transform: scale(1.1);
            }
          }
          img{
            width: 120px;
            transition: all 0.3s;
          }
        }
      }
    }
  
  }
  .topBlock{
    height: 560px;
    padding-top: 80px;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url(images/layout/layout-bg.png);
      background-repeat: no-repeat;
      background-position: right bottom;
      background-size: 36.5%;
      opacity: 0.4;
    }
    .topBlockInner{
      margin: 0 auto;
      max-width: 1600px;
      height: 100%;
      padding-left: 32px;
      justify-content: space-between;
      .menuBlock{
        margin-top: -16px;
        flex-wrap: wrap;
        display: flex;
        flex-direction: column;
        flex-basis: 67.5%;
        align-content: space-between;
        z-index: 2;
        & :nth-child(1), & :nth-child(2){
          flex-basis: 100%;
        }
        & :nth-child(3), & :nth-child(4){
          flex-basis: 50%;
        }
        .menuTitle{
          padding: 7px 0;
          a{
            transition: all 0.3s;
            &:hover{
              color: $mainYellow;
            }
          }
          .menuItems{
            margin-top: 11px;
            .menuItem{
              padding: 8px 0;
              padding-left: 20px;
              a{
                transition: all 0.3s;
                &:hover{
                  color: $mainYellow;
                }
              }
            }
          }
        }
      }
      .contactBlock{
        flex-basis: 19.8%;
        z-index: 2;
        .footerLogo{
          width: 204px;
          margin-bottom: 46px;
        }
        .contactInfo{
          padding-bottom: 18px;
          .icon-tel{
            font-size: 21px;
          }
          .icon-fax{
            font-size: 20px;
          }
          .icon-mail{
            font-size: 15px;
          }
          .contactLink{
            padding-left: 14px;
          }
        }
      }
    }
  }
  .bottomBlock{
    height: 100px;
    position: relative;
    display: flex;
    align-items: center;
    color: rgba($color: #fff, $alpha: 0.5);
    &::before{
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 1px;
      background-color: #fff;
      opacity: 0.2;
    }
    .copyright{
      padding-left: 160px;
    }
    .minmax:hover{
      color: #fff;
    }
  }
  .goTop{
    width: 100px;
    height: 100px;
    position: fixed;
    right: -120px;
    bottom: 0;
    background-color: #000;
    text-align: center;
    transition: all 0.4s;
    cursor: pointer;
    z-index: 90;
    img{
      width: 23px;
      height: 25px;
      margin-top: 28px;
      margin-bottom: 5px;
    }
    &.show{
      right: 0;
    }
    &:hover{
      filter: brightness(150%);
    }
  }
}


@media(max-width:1800px){
  .header .headerWrap{
    .mainMenuBox .mainMenu {
      width: 950px;
    }
    .headerIconBox{
      margin-left: 40px;
    }
  }
}
@media(max-width:1600px){
  .header .headerWrap{
    .headerLogoBox{
      margin-right: 20px;
    }
    .mainMenuBox .mainMenu {
      width: 860px;
    }
    .headerIconBox{
      margin-left: 10px;
      .headerIcons{
        .headerIcon{
          margin: 0 6px;
        }
      }
    }
  }
  .header.scroll{
    .headerWrap .headerIconBoxScroll {
      margin-left: 24px;
    }
  }
  .footer{
    .topBlock{
      .topBlockInner{
        .menuBlock{
          flex-basis: 70%;
        }
        .contactBlock{
          flex-basis: 22%;
        }
      }
    }
  }
}
@media(max-width:1400px){
  .header .headerWrap{
    .mobileHide{
      display: none;
    }
    .menuToggle{
      display: block;
    }
  }
  .footer{
    .topBlock{
      .topBlockInner{
        padding-left: 0;
        .menuBlock{
          flex-basis: 72%;
          .menuTitle{
            margin: 0 4px;
          }
        }
      }
    }
  }

}
@media(max-width:1199px){
  .footer{
    .topBlock{
      height: 650px;
      .topBlockInner{
        .menuBlock{
          align-content: space-around;
          flex-basis: 60%;
          .menuTitle{
            &:nth-child(1){
              flex-basis: 30%;
            }
            &:nth-child(2){
              flex-basis: 70%;
            }
            &:nth-child(3), &:nth-child(4){
              flex-basis: 30%;
            }            
          }
        }
        .contactBlock{
          flex-basis: 30%;
        }
      }
    }
    .bottomBlock{
      justify-content: center;
      .copyright {
        padding-left: 0px;
      }
    } 
  }

}
@media(max-width:991px){
  .header{
    .headerWrap{
      .mainSideMenuWrap{
        width: 100vw;
      }
    }
  }
  .footer{
    .bottomBlock{
      flex-wrap: wrap;
      align-content: center;
      .copyright {
        flex-basis: 90%;
        text-align: center;
      }
    } 

  }
}
@media(max-width:767px){
  .footer{
    .iconLink{
      height: auto;
      padding-top: 60px;
      .iconLinkInner{
        flex-direction: column;
        .iconLinkItem{
          padding-bottom: 60px;
        }
      }
    }
    .topBlock{
      height: 460px;
      padding-top: 54px;
      &::before{
        background-size: 54%;
      }
      .topBlockInner{
        .menuBlock{
          display: none;
        }
        .contactBlock{
          flex-basis: 100%;
          text-align: center;
          font-size: 18px;
        }
      }
    }
    .goTop{
      width: 60px;
      height: 60px;
      img{
        margin-top: 20px;
      }
      .font-16{
        display: none;
      }
    }
  }
}
@media(max-width:575px){
  .footer{
   .topBlock{
    &::before{
      background-size: 94%;
    }
   } 
  }
}