/*!
 * Font
 * 
 * @version 1.0.0 2017/01/01 00:00
 * @author JOE <joe@youweb.tw>
 * @copyright (c) youweb.tw
 * @link http://youweb.tw/
 */

/// ---------------------------------------------------------------------------
/// Events
/// ---------------------------------------------------------------------------

$font-relative-url: '../modules/fonts';

/// ---------------------------------------------------------------------------
/// Mixins
/// ---------------------------------------------------------------------------

@mixin font-common-settings {
    &::before {
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        text-decoration: none;
        display: inline-block;
        position: relative;
        margin: 0 .3em;
    }

    > i, > em {
        display: inline-block;
        position: relative;
        margin-right: .3em;
        font-style: normal;
    }

    > i {
        display: none;
    }
}