﻿@if (ViewBag.colJson["useLang"] == "Y")
{
    if (ViewBag.language != null)
    {
        int a = 0;
        foreach (var item in ViewBag.language)
        {
            <div class="form-group row vLay @Html.Raw("v_" + item.lang)" @if (a > 0) { @Html.Raw("style=\"display:none;\"") }>
                <label class="col-lg-2 col-form-label" for="subject">
                    @Html.Raw(ViewBag.colJson["subject"])
                    @if (ViewBag.colJson["required"] != "")
                    {<span class="text-danger ml-1">*</span>}
                </label>
                <div class="col-lg-5 col-xl-4">
                    <input class="form-control datepicker-birthdate" type="text" readonly name="@Html.Raw(ViewBag.key + "_" + item.lang)" id="@Html.Raw(ViewBag.key + "_" + item.lang)" @ViewBag.colJson["required"] value="@if (ViewBag.data == null || !ViewBag.data.ContainsKey(item.lang)) { @Html.Raw(ViewBag.colJson["defaultVal"])} else { if (ViewBag.data[item.lang][ViewBag.key] != null && ViewBag.data[item.lang][ViewBag.key].ToString() != "" && ViewBag.data.ContainsKey(item.lang)) {@Html.Raw(System.DateTime.Parse(ViewBag.data[item.lang][ViewBag.key].ToString()).ToString("yyyy/MM/dd"))}}" />
                    <div class="_formErrorMsg"></div>
                </div>
                @Html.Raw(ViewBag.colJson["notes"])
            </div>
            a++;
        }
    }
}
else
{
    <div class="form-group row">
        <label class="col-lg-2 col-form-label" for="subject">
            @Html.Raw(ViewBag.colJson["subject"])
            @if (ViewBag.colJson["required"] != "")
            {<span class="text-danger ml-1">*</span>}
        </label>
        <div class="col-lg-5 col-xl-4">
            @if (ViewBag.Tables == "user")
            {
                var tempReadonly = ViewBag.colJson["readonly"];
                <input class="form-control datepicker-birthdate" type="text" readonly name="@ViewBag.key" id="@ViewBag.key" @ViewBag.colJson["required"] value="@if (ViewBag.data == null) { @Html.Raw(ViewBag.colJson["defaultVal"])} else { if (ViewBag.data[ViewBag.key] != null && ViewBag.data[ViewBag.key].ToString() != "") {@Html.Raw(System.DateTime.Parse(ViewBag.data[ViewBag.key].ToString()).ToString("yyyy/MM/dd"))}}" />
            }
            else
            {
                var tempReadonly = ViewBag.colJson["readonly"];
                if (tempReadonly != "")
                {
                    //style = "pointer-events: none;"
                    <input class="form-control datepicker-birthdate" type="text" readonly name="@ViewBag.key" id="@ViewBag.key" @ViewBag.colJson["required"] value="@if (ViewBag.data == null) { @Html.Raw(ViewBag.colJson["defaultVal"])} else { if (ViewBag.data[ViewBag.defLang][ViewBag.key] != null && ViewBag.data[ViewBag.defLang][ViewBag.key].ToString() != "") {@Html.Raw(System.DateTime.Parse(ViewBag.data[ViewBag.defLang][ViewBag.key].ToString()).ToString("yyyy/MM/dd"))}}" />
                }
                else
                {
                    <input class="form-control datepicker-birthdate" type="text" readonly name="@ViewBag.key" id="@ViewBag.key" @ViewBag.colJson["required"] value="@if (ViewBag.data == null) { @Html.Raw(ViewBag.colJson["defaultVal"])} else { if (ViewBag.data[ViewBag.defLang][ViewBag.key] != null && ViewBag.data[ViewBag.defLang][ViewBag.key].ToString() != "") {@Html.Raw(System.DateTime.Parse(ViewBag.data[ViewBag.defLang][ViewBag.key].ToString()).ToString("yyyy/MM/dd"))}}" />
                }

            }

            <div class="_formErrorMsg"></div>
        </div>
        @Html.Raw(ViewBag.colJson["notes"])
    </div>
}