﻿<div class="form-group row">
    <label class="col-lg-2 col-form-label" for="message">
        @Html.Raw(ViewBag.colJson["subject"])
        @if (ViewBag.colJson["required"] != "")
    {<span class="text-danger ml-1">*</span>}
    </label>
    <div class="col-lg-10">
        <textarea class="form-control editor-full" rows="25" name="@ViewBag.key" id="@ViewBag.key">@if (ViewBag.data == null) { @Html.Raw(ViewBag.colJson["defaultVal"])}else{@Html.Raw(ViewBag.data[ViewBag.key])}</textarea>
    </div>
    <div class="col-lg-10 offset-lg-2">
        <div class="note note-edfault mt-3">
            <h6>代碼說明</h6><small> <code class="mr-2"> {[websiteName]}</code>網站名稱，<code class="mr-2"> {[forumDate]}</code>日期，<code class="mr-2"> {[forumUrl]}</code>觀看網址，<code class="mr-2"> {[forumUser]}</code>作者，<code class="mr-2"> {[forumCategory]}</code>主題，<code class="mr-2"> {[forumSubclass]}</code>分類，<code class="mr-2"> {[forumAuthority]}</code>權限，<code class="mr-2"> {[forumSubject]}</code>主旨，<code class="mr-2"> {[forumInfo]}</code>內容</small>
        </div>
    </div>
</div>
