﻿
@if (ViewBag.colJson["useLang"] == "Y")
{
    if (ViewBag.language != null)
    {
        int a = 0;
        foreach (var item in ViewBag.language)
        {
<div class="form-group row vLay @Html.Raw("v_"+item.lang)" @if (a > 0) { @Html.Raw("style=\"display:none;\"") } @if (ViewBag.colJson["display"] != null && ViewBag.colJson["display"].ToString() == "none") { @Html.Raw("style=\"display:none\"") }>
    <label class="col-lg-2 col-form-label" for="tiptop">
        @Html.Raw(ViewBag.colJson["subject"])
        @if (ViewBag.colJson["required"] != "")
        {<span class="text-danger ml-1">*</span>}
    </label>
    <div class="col-lg-10">

        @if (ViewBag.colJson["data"] != "")
        {
            string[] radioData = ViewBag.colJson["data"].ToString().Split('/');
            string[] radioVal = ViewBag.colJson["Val"].ToString().Split('/');

            for (int i = 0; i < radioData.Length; i++)
            {
                string checkeds = "";
                if (ViewBag.data == null)
                {
                    if (ViewBag.colJson["defaultVal"] == radioVal[i])
                    {
                        checkeds = " checked";
                    }
                }
                else
                {
                    if (ViewBag.data[item.lang][ViewBag.key] == radioVal[i])
                    {
                        checkeds = " checked";
                    }
                    else
                    {
                        checkeds = "";
                    }

                }

<div class="custom-control custom-radio custom-control-inline">
    <input class="custom-control-input" type="radio" id="@Html.Raw(ViewBag.key + "_" + item.lang + i.ToString())" name="@Html.Raw(ViewBag.key + "_" + item.lang)" onchange="handleradiochange(@radioVal[i])" value="@radioVal[i]" @checkeds />
    <label class="custom-control-label" for="@Html.Raw(ViewBag.key + "_" + item.lang + i.ToString())">@radioData[i]</label>
</div>}
}

    </div> @Html.Raw(ViewBag.colJson["notes"])
</div> }
}
}
else
{
<div class="form-group row" @if (ViewBag.colJson["display"] != null && ViewBag.colJson["display"].ToString() == "none") { @Html.Raw("style=\"display:none\"") }>
    <label class="col-lg-2 col-form-label" for="tiptop">
        @Html.Raw(ViewBag.colJson["subject"])
        @if (ViewBag.colJson["required"] != "")
        {<span class="text-danger ml-1">*</span>}
    </label>
    <div class="col-lg-10">

        @if (ViewBag.colJson["data"] != "")
        {
            string[] radioData = ViewBag.colJson["data"].ToString().Split('/');
            string[] radioVal = ViewBag.colJson["Val"].ToString().Split('/');

            for (int i = 0; i < radioData.Length; i++)
            {
                string checkeds = "";
                if (ViewBag.data == null)
                {
                    if (ViewBag.colJson["defaultVal"] == radioVal[i])
                    {
                        checkeds = " checked";
                    }
                }
                else
                {
                    string checkVal = "";
                    if (ViewBag.useLang == "Y")
                    {
                        checkVal = ViewBag.data[ViewBag.defLang][ViewBag.key];
                    }
                    else
                    {
                        checkVal = ViewBag.data[ViewBag.key];
                    }

                    if (checkVal == radioVal[i])
                    {
                        checkeds = " checked";
                    }
                    else
                    {
                        checkeds = "";
                    }

                }

<div class="custom-control custom-radio custom-control-inline">
    <input class="custom-control-input" type="radio" id="@Html.Raw(ViewBag.key + i.ToString())" name="@Html.Raw(ViewBag.key)"  onchange="handleradiochange('@radioVal[i]')" value="@radioVal[i]" @checkeds />
    <label class="custom-control-label" for="@Html.Raw(ViewBag.key + i.ToString())">@radioData[i]</label>
</div>}
}

    </div> @Html.Raw(ViewBag.colJson["notes"])
</div>}

@section scripts {
    <script>
        function handleradiochange() {

        }
    </script>
}






