﻿<div class="form-group row">
    @if (ViewBag.colJson["useLang"] == "Y")
    {
        <label class="col-lg-2 col-form-label" for="categoryId">
            @Html.Raw(ViewBag.colJson["subject"])<span class="text-danger ml-1">*</span>
        </label>
        <div class="col-lg-5 col-xl-4">
            <select class="bs-select form-control" name="@ViewBag.key" id="@ViewBag.key" required>
                <option value="">--Select--</option>
                @if (ViewBag.category != null)
                {
                    foreach (var item in ViewBag.category)
                    {
                        if (ViewBag.colJson["prev_table"] == null)
                        {
                            string selected = "";
                            if (ViewBag.data != null && ViewBag.data[item.lang][ViewBag.key].ToString() == item.guid)
                            {
                                selected = " selected";
                            }
                            if (ViewBag.inherit == "user")
                            {
                                <option value="@item.guid" @selected>@item.name</option>
                            }
                            else
                            {
                                <option value="@item.guid" @selected>@item.title</option>
                            }
                        }
                        else
                        {
                            if (ViewBag.data[ViewBag.colJson["prev_field"].ToString()].ToString() == item.forumcategoryguid.ToString())
                            {

                                string selected = "";
                                if (ViewBag.data != null && ViewBag.data[item.lang][ViewBag.key].ToString() == item.guid)
                                {
                                    selected = " selected";
                                }
                                if (ViewBag.inherit == "user")
                                {
                                    <option value="@item.guid" @selected>@item.name</option>
                                }
                                else
                                {
                                    <option value="@item.guid" @selected>@item.title</option>
                                }
                            }

                        }

                    }
                }
            </select>
            @if (ViewBag.colJson["readonly"] != null)
            {

            }
            else
            {
                <div class="_formErrorMsg"></div>
            }
        </div>
        @Html.Raw(ViewBag.colJson["notes"])
    }
    else
    {
        <label class="col-lg-2 col-form-label" for="categoryId">
            @Html.Raw(ViewBag.colJson["subject"])<span class="text-danger ml-1">*</span>
        </label>
        <div class="col-lg-5 col-xl-4">
            <select class="bs-select form-control" name="@ViewBag.key" id="@ViewBag.key" required>
                @*<option value="0">根目錄</option>*@
                <option value="">--Select--</option>
                @if (ViewBag.category != null)
                {
                    foreach (var item in ViewBag.category)
                    {

                        if (ViewBag.colJson["prev_table"] == null)
                        {
                            string selected = "";
                            if (ViewBag.data != null && ViewBag.Tables == "user")
                            {
                                if (ViewBag.data[ViewBag.key].ToString() == item.guid)
                                {
                                    selected = " selected";
                                }

                            }
                            else if (ViewBag.data != null && ViewBag.data[ViewBag.defLang][ViewBag.key].ToString() == item.guid)
                            {
                                selected = " selected";
                            }

                            if (ViewBag.inherit == "user")
                            {
                                <option value="@item.guid" @selected>@item.name</option>
                            }
                            else if (item.category == "0")
                            {
                                <option value="@item.guid" @selected>∟ @item.title</option>
                            }
                        }
                        else
                        {


                            string selected = "";
                            if (ViewBag.data != null && ViewBag.data[ViewBag.defLang][ViewBag.key].ToString() == item.guid)
                            {
                                selected = " selected";
                            }

                            var pic = "";
                            for (var i = 1; i <= item.level; i++)
                            {
                                pic += "∟";
                            }

                            if (ViewBag.inherit == "user")
                            {
                                <option value="@item.guid" @selected>@item.name</option>
                            }
                            else
                            {
                                <option value="@item.guid" @selected>@pic @item.reTitle</option>
                            }

                        }

                    }
                }
            </select>
            @if (ViewBag.colJson["readonly"] != null)
            {

            }
            else
            {
                <div class="_formErrorMsg"></div>
            }
        </div>
        @Html.Raw(ViewBag.colJson["notes"])
    }
</div>