﻿<div class="form-group row">
    <label class="col-lg-2 col-form-label">
        @Html.Raw(ViewBag.colJson["subject"])
        @if (ViewBag.colJson["required"] != "")
        {<span class="text-danger ml-1">*</span>}
    </label>
    <div class="col-lg-10">
        @if (ViewBag.useLang == "Y")
        {
            <textarea class="form-control" rows="5" name="@ViewBag.key" id="@ViewBag.key" @ViewBag.colJson["required"] @(ViewBag.colJson["readonly"] != null ? ViewBag.colJson["readonly"].ToString() : "")>@if (ViewBag.data == null) { @Html.Raw(ViewBag.colJson["defaultVal"])}else{@Html.Raw(ViewBag.data[ViewBag.deflang][ViewBag.key])}</textarea>
        }
        else
        {
            <textarea class="form-control" rows="5" name="@ViewBag.key" id="@ViewBag.key" @ViewBag.colJson["required"] @(ViewBag.colJson["readonly"] != null ? ViewBag.colJson["readonly"].ToString() : "")>@if (ViewBag.data == null) { @Html.Raw(ViewBag.colJson["defaultVal"])}else{@Html.Raw(ViewBag.data[ViewBag.key])}</textarea>
        }
    </div>
</div>