﻿<footer class="footer">
    @Html.Raw(ViewBag.webBasicData.homefooter);
    <div class="topBlock blank">
        <div class="topBlockInner d-flex">
            <ul class="noneStyle menuBlock">
                <li class="menuTitle">
                    <a href="@Url.Action("Index", "About")" class="menutitleLink kanit font-20 font-weight-600 text-fff">@ViewBag.ResLang["aboutus"]</a>
                    <ul class="noneStyle menuItems kanit font-18 font-weight-400 text-menu">
                        <li class="menuItem"><a href="@Url.Action("Index", "About")">@ViewBag.ResLang["footerbrand"]</a></li>
                        <li class="menuItem"><a href="@Url.Action("Group", "About")">@ViewBag.ResLang["footergroup"]</a></li>
                    </ul>
                </li>
                <li class="menuTitle">
                    <a href="@Url.Action("Index", "Products")" class="menutitleLink kanit font-20 font-weight-600 text-fff">@ViewBag.ResLang["productpage"]</a>
                    <ul class="noneStyle menuItems kanit font-18 font-weight-400 text-menu">
                        @if (ViewBag.productSubclassFirst != null)
                        {
                            foreach (var itemFirst in ViewBag.productSubclassFirst)
                            {
                                <li class="menuItem">
                                    @*<a href="~/products/productlist?category=@itemFirst.guid">@itemFirst.reTitle</a>*@
                                    <a href="@Url.Action("Productlist", "Products", new { category = itemFirst.guid })">@itemFirst.reTitle</a>
                                </li>
                            }
                        }
                        @*<li class="menuItem"><a href="product-list">ASSEMBLY & TIERS TOOLS</a></li>
                            <li class="menuItem"><a href="product-list">INDUSTRIAL TOOLS</a></li>
                            <li class="menuItem"><a href="product-list">MAINTENANCE & REPAIR TOOLS</a></li>
                            <li class="menuItem"><a href="product-list">CONSTRUCTION TOOLS</a></li>
                            <li class="menuItem"><a href="product-list">60V</a></li>
                            <li class="menuItem"><a href="product-list">40V</a></li>
                            <li class="menuItem"><a href="product-list">20V</a></li>
                            <li class="menuItem"><a href="product-list">12V & Other</a></li>*@
                    </ul>
                </li>
                @if (2 == 2) //2022/5/17 george 全部隱藏 等業務通知開放
                {
                    <li class="menuTitle">
                        <a href="@Url.Action("Index", "Registration")" class="menutitleLink kanit font-20 font-weight-600 text-fff">@ViewBag.ResLang["warranty"]</a>
                        <ul class="noneStyle menuItems kanit font-18 font-weight-400 text-menu">
                            <li class="menuItem"><a href="@Url.Action("Repair", "Registration")">@ViewBag.ResLang["terms"]</a></li>
                            <li class="menuItem"><a href="@Url.Action("Index", "Registration")">@ViewBag.ResLang["registered"]</a></li>
                            <li class="menuItem"><a href="@Url.Action("Repairs", "Registration")">@ViewBag.ResLang["inquire"]</a></li>
                        </ul>
                    </li>
                }

                <li class="menuTitle">
                    <a href="@Url.Action("Contactus", "Service")" class="menutitleLink kanit font-20 font-weight-600 text-fff">@ViewBag.ResLang["contactus"]</a>
                    <ul class="noneStyle menuItems kanit font-18 font-weight-400 text-menu">
                        <li class="menuItem"><a href="@Url.Action("Contactus", "Service")">@ViewBag.ResLang["information"]</a></li>
                        <li class="menuItem"><a href="@Url.Action("Contactinfo", "Service")">@ViewBag.ResLang["contactform"]</a></li>
                    </ul>
                </li>
                <li class="menuTitle">
                    <a href="@Url.Action("Index", "Catalog")" class="menutitleLink kanit font-20 font-weight-600 text-fff">@ViewBag.ResLang["catalogdownload"]</a>
                </li>
                @if (ViewBag.lang == "tw") //2022/5/17 george 只開放中文
                {
                    <li class="menuTitle">
                        <a href="@Url.Action("Index", "Dealer")" class="menutitleLink kanit font-20 font-weight-600 text-fff">@ViewBag.ResLang["dealer"]</a>
                    </li>
                }
                else
                {
                    <li class="menuTitle">
                        <a href="@Url.Action("Index", "Dealer")" class="menutitleLink kanit font-20 font-weight-600 text-fff">@ViewBag.ResLang["dealer"]</a>
                    </li>
                }

                <li class="menuTitle">
                    <a href="@Url.Action("Index", "News")" class="menutitleLink kanit font-20 font-weight-600 text-fff">@ViewBag.ResLang["latestnews"]</a>
                </li>
                <li class="menuTitle">
                    <a href="#" class="menutitleLink kanit font-20 font-weight-600 text-fff" data-toggle="modal" data-target="#privacyModal">@ViewBag.ResLang["privacyPolicy"]</a>
                </li>
            </ul>
            <div class="contactBlock font-18 kanit font-weight-300 text-menu">
                @if (ViewBag.webBasicData != null)
                {
                    <img class="footerLogo" src="~/styles/images/layout/logo-g.svg" alt="">
                    <div class="pb-3 mb-1">@ViewBag.webBasicData.title</div>
                    <a href="https://goo.gl/maps/v2HW1Kp7e3j8G7ZDA" class="d-block mb-4 text-hover-yellow">@ViewBag.webBasicData.address</a>
                    <div class="contactInfo">
                        <i class="icon-tel text-fff"></i>
                        <a href="tel:+886-(0)4-25683403" class="contactLink text-hover-yellow">@ViewBag.webBasicData.phone</a>
                    </div>
                    <div class="contactInfo">
                        <i class="icon-fax text-fff"></i>
                        <span class="contactLink">@ViewBag.webBasicData.fax</span>
                    </div>
                    <div class="contactInfo">
                        <i class="icon-mail text-fff"></i>
                        <a href="mailto:info@durofix.com.tw" class="contactLink text-hover-yellow">@ViewBag.webBasicData.servicemail</a>
                    </div>
                }
            </div>

        </div>
    </div>
    <div class="bottomBlock blank font-16 kanit font-weight-300">
        <div class="copyright">Copyright © 2021 Mobiletron Electronics, Co., Ltd. All Rights Reserved</div>
        <div class="px-1 mx-2 d-none d-lg-block">│</div>
        <div class="">Designed by <a href="https://minmax.tw/" target="_blank" class="minmax">MINMAX 網頁設計</a></div>
    </div>
    <div class="goTop">
        <img src="~/styles/images/layout/top.svg" alt="">
        <div class="text-FCAE07 font-16">TOP</div>
    </div>

    <!-- privacyModal -->
    <div class="modal fade" id="privacyModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            @if (ViewBag.privacyData != null)
            {
                @Html.Raw(ViewBag.privacyData)
            }
            @*<div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body roboto font-15 text-646464">
                        <div class="kanit font-30 font-weight-500 text-center text-323232 mb-md-3">PRIVACY POLICY</div>
                        <p class="">Last updated: February 24, 2021</p>
                        <p class="">This Privacy Policy describes Our policies and procedures on the collection, use and disclosure of Your information when You use the Service and tells You about Your privacy rights and how the law protects You.</p>
                        <p class="">We use Your Personal data to provide and improve the Service. By using the Service, You agree to the collection and use of information in accordance with this Privacy Policy. This Privacy Policy has been created with the help of the <a href="https://www.privacypolicies.com/privacy-policy-generator/" target="_blank" class="text-red text-underline font-weight-700">Privacy Policy Generator</a>.</p>
                        <hr>
                        <div class="kanit font-30 font-weight-500 text-323232">INTERPRETATION AND DEFINITIONS</div>
                        <div class="kanit font-20 font-weight-500 text-323232">INTERPRETATION</div>
                        <p class="">The words of which the initial letter is capitalized have meanings defined under the following conditions. The following definitions shall have the same meaning regardless of whether they appear in singular or in plural.</p>
                        <div class="kanit font-20 font-weight-500 text-323232">DEFINITIONS</div>
                        <p class="">For the purposes of this Privacy Policy:</p>
                        <ul class="sp-ul">
                            <li class="text-323232"><span class="text-646464 font-weight-700">Account </span><span class="text-646464">means a unique account created for You to access our Service or parts of our Service.</span></li>
                            <li class="text-323232"><span class="text-646464 font-weight-700">Company </span><span class="text-646464">(referred to as either the Company, We, Us or Our in this Agreement) refers to Mobiletron, 85, Sec.4, Chung-Ching Road, Ta-Ya District, Taichung City 428, Taiwan</span></li>
                            <li class="text-323232"><span class="text-646464 font-weight-700">Cookies </span><span class="text-646464">are small files that are placed on Your computer, mobile device or any other device by a website, containing the details of Your browsing history on that website among its many uses.</span></li>
                            <li class="text-323232"><span class="text-646464 font-weight-700">Country </span><span class="text-646464">refers to: Taiwan</span></li>
                            <li class="text-323232"><span class="text-646464 font-weight-700">Device </span><span class="text-646464">means any device that can access the Service such as a computer, a cellphone or a digital tablet.</span></li>
                            <li class="text-323232"><span class="text-646464 font-weight-700">Personal Data </span><span class="text-646464">is any information that relates to an identified or identifiable individual.</span></li>
                            <li class="text-323232"><span class="text-646464 font-weight-700">Service </span><span class="text-646464">refers to the Website.</span></li>
                            <li class="text-323232"><span class="text-646464 font-weight-700">Service Provider </span><span class="text-646464">means any natural or legal person who processes the data on behalf of the Company. It refers to third-party companies or individuals employed by the Company to facilitate the Service, to provide the Service on behalf of the Company, to perform services related to the Service or to assist the Company in analyzing how the Service is used.</span></li>
                            <li class="text-323232"><span class="text-646464 font-weight-700">Third-party Social Media Service </span><span class="text-646464">refers to any website or any social network website through which a User can log in or create an account to use the Service.</span></li>
                            <li class="text-323232"><span class="text-646464 font-weight-700">Usage Data </span><span class="text-646464">refers to data collected automatically, either generated by the use of the Service or from the Service infrastructure itself (for example, the duration of a page visit).</span></li>
                            <li class="text-323232"><span class="text-646464 font-weight-700">Website </span><span class="text-646464">refers to Mobiletron, accessible from <a href="https://www.mobiletron.com/" target="_blank" class="text-red font-weight-700 text-underline">https://www.mobiletron.com/</a></span></li>
                            <li class="text-323232"><span class="text-646464 font-weight-700">You </span><span class="text-646464">means the individual accessing or using the Service, or the company, or other legal entity on behalf of which such individual is accessing or using the Service, as applicable.</span></li>
                        </ul>
                        <hr>
                        <div class="kanit font-30 font-weight-500 text-323232">COLLECTING AND USING YOUR PERSONAL DATA</div>
                        <div class="kanit font-20 font-weight-500 text-323232">TYPES OF DATA COLLECTED</div>
                        <div class="font-weight-700 mb-2">Personal Data</div>
                        <p class="">While using Our Service, We may ask You to provide Us with certain personally identifiable information that can be used to contact or identify You. Personally identifiable information may include, but is not limited to:</p>
                        <ul>
                            <li>Email address</li>
                            <li>Usage Data</li>
                        </ul>
                        <div class="font-weight-700 mb-2">Usage Data</div>
                        <p class="">Usage Data is collected automatically when using the Service.</p>
                        <p class="">Usage Data may include information such as Your Device's Internet Protocol address (e.g. IP address), browser type, browser version, the pages of our Service that You visit, the time and date of Your visit, the time spent on those pages, unique device identifiers and other diagnostic data.</p>
                        <p class="">When You access the Service by or through a mobile device, We may collect certain information automatically, including, but not limited to, the type of mobile device You use, Your mobile device unique ID, the IP address of Your mobile device, Your mobile operating system, the type of mobile Internet browser You use, unique device identifiers and other diagnostic data.</p>
                        <p class="">We may also collect information that Your browser sends whenever You visit our Service or when You access the Service by or through a mobile device.</p>
                        <div class="font-weight-700 mb-2">Tracking Technologies and Cookies</div>
                        <p class="">We use Cookies and similar tracking technologies to track the activity on Our Service and store certain information. Tracking technologies used are beacons, tags, and scripts to collect and track information and to improve and analyze Our Service. The technologies We use may include:</p>
                        <ul>
                            <li><span class="font-weight-700">Cookies or Browser Cookies. </span>A cookie is a small file placed on Your Device. You can instruct Your browser to refuse all Cookies or to indicate when a Cookie is being sent. However, if You do not accept Cookies, You may not be able to use some parts of our Service. Unless you have adjusted Your browser setting so that it will refuse Cookies, our Service may use Cookies.</li>
                            <li><span class="font-weight-700">Flash Cookies. </span>Certain features of our Service may use local stored objects (or Flash Cookies) to collect and store information about Your preferences or Your activity on our Service. Flash Cookies are not managed by the same browser settings as those used for Browser Cookies. For more information on how You can delete Flash Cookies, please read Where can I change the settings for disabling, or deleting local shared objects? available at <a href="https://www.adobe.com/products/flashplayer/end-of-life.html" target="_blank" class="text-red text-underline font-weight-700">https://www.adobe.com/products/flashplayer/end-of-life.html</a></li>
                            <li><span class="font-weight-700">Web Beacons. </span>Certain sections of our Service and our emails may contain small electronic files known as web beacons (also referred to as clear gifs, pixel tags, and single-pixel gifs) that permit the Company, for example, to count users who have visited those pages or opened an email and for other related website statistics (for example, recording the popularity of a certain section and verifying system and server integrity).</li>
                        </ul>
                        <p class="">Cookies can be Persistent or Session Cookies. Persistent Cookies remain on Your personal computer or mobile device when You go offline, while Session Cookies are deleted as soon as You close Your web browser. Learn more about cookies: <a href="https://www.privacypolicies.com/blog/cookies/" target="_blank" class="text-red text-underline font-weight-700">What Are Cookies?</a>.</p>
                        <p class="">We use both Session and Persistent Cookies for the purposes set out below:</p>
                        <ul>
                            <li>
                                <span class="font-weight-700">Necessary / Essential Cookies</span><br>
                                Type: Session Cookies<br>
                                Administered by: Us<br>
                                Purpose: These Cookies are essential to provide You with services available through the Website and to enable You to use some of its features. They help to authenticate users and prevent fraudulent use of user accounts. Without these Cookies, the services that You have asked for cannot be provided, and We only use these Cookies to provide You with those services.
                            </li>
                            <li>
                                <span class="font-weight-700">Cookies Policy / Notice Acceptance Cookies</span><br>
                                Type: Persistent Cookies<br>
                                Administered by: Us<br>
                                Purpose: These Cookies identify if users have accepted the use of cookies on the Website.
                            </li>
                            <li>
                                <span class="font-weight-700">Functionality Cookies</span><br>
                                Type: Persistent Cookies<br>
                                Administered by: Us<br>
                                Purpose: These Cookies allow us to remember choices You make when You use the Website, such as remembering your login details or language preference. The purpose of these Cookies is to provide You with a more personal experience and to avoid You having to re-enter your preferences every time You use the Website.<br>
                                For more information about the cookies we use and your choices regarding cookies, please visit our Cookies Policy or the Cookies section of our Privacy Policy.
                            </li>
                        </ul>
                        <div class="kanit font-20 font-weight-500 text-323232">USE OF YOUR PERSONAL DATA</div>
                        <p class="">The Company may use Personal Data for the following purposes:</p>
                        <ul>
                            <li><span class="font-weight-700">To provide and maintain our Service,</span> including to monitor the usage of our Service.</li>
                            <li><span class="font-weight-700">To manage Your Account: </span>to manage Your registration as a user of the Service. The Personal Data You provide can give You access to different functionalities of the Service that are available to You as a registered user.</li>
                            <li><span class="font-weight-700">For the performance of a contract: </span>the development, compliance and undertaking of the purchase contract for the products, items or services You have purchased or of any other contract with Us through the Service.</li>
                            <li><span class="font-weight-700">To contact You: </span>To contact You by email, telephone calls, SMS, or other equivalent forms of electronic communication, such as a mobile application&#39;s push notifications regarding updates or informative communications related to the functionalities, products or contracted services, including the security updates, when necessary or reasonable for their implementation.</li>
                            <li><span class="font-weight-700">To provide You </span>with news, special offers and general information about other goods, services and events which we offer that are similar to those that you have already purchased or enquired about unless You have opted not to receive such information.</li>
                            <li><span class="font-weight-700">To manage Your requests: </span>To attend and manage Your requests to Us.</li>
                            <li><span class="font-weight-700">For business transfers: </span>We may use Your information to evaluate or conduct a merger, divestiture, restructuring, reorganization, dissolution, or other sale or transfer of some or all of Our assets, whether as a going concern or as part of bankruptcy, liquidation, or similar proceeding, in which Personal Data held by Us about our Service users is among the assets transferred.</li>
                            <li><span class="font-weight-700">For other purposes: </span>We may use Your information for other purposes, such as data analysis, identifying usage trends, determining the effectiveness of our promotional campaigns and to evaluate and improve our Service, products, services, marketing and your experience.</li>
                        </ul>
                        <p class="">We may share Your personal information in the following situations:</p>
                        <ul>
                            <li><span class="font-weight-700">With Service Providers: </span>We may share Your personal information with Service Providers to monitor and analyze the use of our Service, to contact You.</li>
                            <li><span class="font-weight-700">For business transfers: </span>We may share or transfer Your personal information in connection with, or during negotiations of, any merger, sale of Company assets, financing, or acquisition of all or a portion of Our business to another company.</li>
                            <li><span class="font-weight-700">With Affiliates: </span>We may share Your information with Our affiliates, in which case we will require those affiliates to honor this Privacy Policy. Affiliates include Our parent company and any other subsidiaries, joint venture partners or other companies that We control or that are under common control with Us.</li>
                            <li><span class="font-weight-700">With business partners: </span>We may share Your information with Our business partners to offer You certain products, services or promotions.</li>
                            <li><span class="font-weight-700">With other users: </span>when You share personal information or otherwise interact in the public areas with other users, such information may be viewed by all users and may be publicly distributed outside. If You interact with other users or register through a Third-Party Social Media Service, Your contacts on the Third-Party Social Media Service may see Your name, profile, pictures and description of Your activity. Similarly, other users will be able to view descriptions of Your activity, communicate with You and view Your profile.</li>
                            <li><span class="font-weight-700">With Your consent: </span>We may disclose Your personal information for any other purpose with Your consent.</li>
                        </ul>
                        <div class="kanit font-20 font-weight-500 text-323232">RETENTION OF YOUR PERSONAL DATA</div>
                        <p class="">The Company will retain Your Personal Data only for as long as is necessary for the purposes set out in this Privacy Policy. We will retain and use Your Personal Data to the extent necessary to comply with our legal obligations (for example, if we are required to retain your data to comply with applicable laws), resolve disputes, and enforce our legal agreements and policies.</p>
                        <p class="">The Company will also retain Usage Data for internal analysis purposes. Usage Data is generally retained for a shorter period of time, except when this data is used to strengthen the security or to improve the functionality of Our Service, or We are legally obligated to retain this data for longer time periods.</p>
                        <div class="kanit font-20 font-weight-500 text-323232">TRANSFER OF YOUR PERSONAL DATA</div>
                        <p class="">Your information, including Personal Data, is processed at the Company's operating offices and in any other places where the parties involved in the processing are located.</p>
                        <p class="">It means that this information may be transferred to — and maintained on — computers located outside of Your state, province, country or other governmental jurisdiction where the data protection laws may differ than those from Your jurisdiction.</p>
                        <p class="">Your consent to this Privacy Policy followed by Your submission of such information represents Your agreement to that transfer.</p>
                        <p class="">The Company will take all steps reasonably necessary to ensure that Your data is treated securely and in accordance with this Privacy Policy and no transfer of Your Personal Data will take place to an organization or a country unless there are adequatecontrols in place including the security of Your data and other personal information.</p>
                        <div class="kanit font-20 font-weight-500 text-323232">DISCLOSURE OF YOUR PERSONAL DATA</div>
                        <div class="font-weight-700 mb-2">Business Transactions</div>
                        <p class="">If the Company is involved in a merger, acquisition or asset sale, Your Personal Data may be transferred. We will provide notice before Your Personal Data is transferred and becomes subject to a different Privacy Policy.</p>
                        <div class="font-weight-700 mb-2">Law enforcement</div>
                        <p class="">Under certain circumstances, the Company may be required to disclose Your Personal Data if required to do so by law or in response to valid requests by public authorities (e.g. a court or a government agency).</p>
                        <div class="font-weight-700 mb-2">Other legal requirements</div>
                        <p class="">The Company may disclose Your Personal Data in the good faith belief that such action is necessary to:</p>
                        <ul>
                            <li class="font-weight-700">Comply with a legal obligation</li>
                            <li class="font-weight-700">Protect and defend the rights or property of the Company</li>
                            <li class="font-weight-700">Prevent or investigate possible wrongdoing in connection with the Service</li>
                            <li class="font-weight-700">Protect the personal safety of Users of the Service or the public</li>
                            <li class="font-weight-700">Protect against legal liability</li>
                        </ul>
                        <div class="kanit font-20 font-weight-500 text-323232">SECURITY OF YOUR PERSONAL DATA</div>
                        <p class="">The security of Your Personal Data is important to Us, but remember that no method of transmission over the Internet, or method of electronic storage is 100% secure. While We strive to use commercially acceptable means to protect Your Personal Data, We cannot guarantee its absolute security.</p>
                        <hr>
                        <div class="kanit font-30 font-weight-500 text-323232 mb-2">CHILDREN'S PRIVACY</div>
                        <p class="">Our Service does not address anyone under the age of 13. We do not knowingly collect personally identifiable information from anyone under the age of 13. If You are a parent or guardian and You are aware that Your child has provided Us with Personal Data, please contact Us. If We become aware that We have collected Personal Data from anyone under the age of 13 without verification of parental consent, We take steps to remove that information from Our servers.</p>
                        <p class="">If We need to rely on consent as a legal basis for processing Your information and Your country requires consent from a parent, We may require Your parent&#39;s consent before We collect and use that information.</p>
                        <hr>
                        <div class="kanit font-30 font-weight-500 text-323232 mb-2">LINKS TO OTHER WEBSITES</div>
                        <p class="">Our Service may contain links to other websites that are not operated by Us. If You click on a third party link, You will be directed to that third party&#39;s site. We strongly advise You to review the Privacy Policy of every site You visit.</p>
                        <p class="">We have no control over and assume no responsibility for the content, privacy policies or practices of any third party sites or services.</p>
                        <hr>
                        <div class="kanit font-30 font-weight-500 text-323232 mb-2">CHANGES TO THIS PRIVACY POLICY</div>
                        <p class="">We may update Our Privacy Policy from time to time. We will notify You of any changes by posting the new Privacy Policy on this page.</p>
                        <p class="">We will let You know via email and/or a prominent notice on Our Service, prior to the change becoming effective and update the Last updated date at the top of this Privacy Policy.</p>
                        <p class="">You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy are effective when they are posted on this page.</p>
                        <hr>
                        <div class="kanit font-30 font-weight-500 text-323232 mb-2">CONTACT US</div>
                        <p class="">If you have any questions about this Privacy Policy, You can contact us:</p>
                        <ul>
                            <li><span class="font-weight-700">By email: </span><span class="font-weight-700 text-red text-underline">webadmin@more.com.tw</span></li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>*@
        </div>
    </div>
</footer>