﻿<script src="~/scripts/default/jquery.min.js"></script>
<script src="~/scripts/plugins/popper.min.js"></script>
<script src="~/scripts/plugins/bootstrap.min.js"></script>
<script src="~/scripts/plugins/bootstrap-select.min.js"></script>
<script src="~/scripts/plugins/slick.js"></script>
<script src="~/scripts/plugins/jquery.fancybox.min.js"></script>
<script src="~/scripts/plugins/aos.js"></script>
<script src="~/scripts/plugins/swiper-bundle.min.js"></script>
<script src="https://www.youtube.com/iframe_api"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCua1CEIS8dt3XtK4aMdt3K4Ab6GYh-KD8"></script>
<script src="~/scripts/plugins/jquery.MultiFile.min.js"></script>
<script src="~/scripts/plugins/vue.js"></script>
<script src="~/scripts/plugins/vue-select.js"></script>
<script src="~/scripts/default/ui.js"></script>
<script>
    function runEn() {
        var url = '@Url.Action("../Home/Index")' + '?landid=en';
            window.location.href = url;
    }

    function runTw() {
        var url = '@Url.Action("../Home/Index")' + '?landid=tw';
            window.location.href = url;
    }
    function runCn() {
        var url = '@Url.Action("../Home/Index")' + '?landid=cn';
            window.location.href = url;
    }
</script>

