﻿<header id="header" class="header blank">
    <div class="headerWrap">
        <a href="@ViewBag.webBasicData.url" class="d-block headerLogoBox">
            <img src="~/styles/images/layout/logo-y.svg" alt="" class="headerLogo">
        </a>
        <div class="mainMenuBox mobileHide">
            <ul class="mainMenu noneStyle">
                @*<li class="mainMenuItem">
                        <a href="~/home/constuctor" class="menuLink kanit font-19 font-weight-500 text-menu">@ViewBag.aboutus</a>
                    </li>*@

                <li class="mainMenuItem">
                    <a href="@Url.Action("Index", "About")" class="menuLink kanit font-19 font-weight-500 text-menu">@ViewBag.ResLang["aboutus"]</a>
                </li>
                <li class="mainMenuItem">
                    <a href="~/products" class="menuLink kanit font-19 font-weight-500 text-menu">@ViewBag.ResLang["productpage"]</a>
                    <div class="subMenuWrap">
                        <ul class="mainCates noneStyle kanit font-18 text-646464">
                            @if (ViewBag.productSubclassFirst != null)
                            {
                                foreach (var itemFirst in ViewBag.productSubclassFirst)
                                {
                                    <li class="mainCate">
                                        <a href="~/products/productlist?category=@itemFirst.guid" class="mainCateLink">@itemFirst.reTitle</a>
                                        @if (ViewBag.productSubclassMultiLevel != null)
                                        {
                                            <ul class="subCates noneStyle">
                                                @foreach (var itemMulti in ViewBag.productSubclassMultiLevel)
                                                {
                                                    if (itemFirst.guid == itemMulti.category)
                                                    {
                                                        <li class="subCate"><a href="~/products/productlist?category=@itemMulti.guid" class="subCateLink">-&nbsp;&nbsp;@itemMulti.reTitle</a></li>
                                                    }
                                                }
                                            </ul>
                                        }
                                    </li>
                                }
                            }
                            @*<li class="mainCate">
                                    <a href="~/products/productlist" class="mainCateLink">ASSEMBLY & TIERS TOOLS</a>
                                    <ul class="subCates noneStyle">
                                        <li class="subCate"><a href="~/products/productlist" class="subCateLink">-&nbsp;&nbsp;OIL PULSE TOOL</a></li>
                                        <li class="subCate"><a href="~/products/productlist" class="subCateLink">-&nbsp;&nbsp;TRANSDUCERIZED PRECISION TOOL</a></li>
                                        <li class="subCate"><a href="~/products/productlist" class="subCateLink">-&nbsp;&nbsp;PRECISION TOOL</a></li>
                                        <li class="subCate"><a href="~/products/productlist" class="subCateLink">-&nbsp;&nbsp;ANGLE PRECISION TOOL</a></li>
                                        <li class="subCate"><a href="~/products/productlist" class="subCateLink">-&nbsp;&nbsp;TUBE NUT WRENCH</a></li>
                                        <li class="subCate"><a href="~/products/productlist" class="subCateLink">-&nbsp;&nbsp;ETC IMPACT WRENCH</a></li>
                                        <li class="subCate"><a href="~/products/productlist" class="subCateLink">-&nbsp;&nbsp;RIVETING TOOL</a></li>
                                        <li class="subCate"><a href="~/products/productlist" class="subCateLink">-&nbsp;&nbsp;PRECISION TORQUE SCREWDRIVER</a></li>
                                    </ul>
                                </li>
                                <li class="mainCate">
                                    <a href="~/products/productlist" class="mainCateLink">INDUSTRIAL TOOLS</a>
                                    <ul class="subCates noneStyle">
                                        <li class="subCate"><a href="~/products/productlist" class="subCateLink">-&nbsp;&nbsp;RAIL</a></li>
                                        <li class="subCate"><a href="~/products/productlist" class="subCateLink">-&nbsp;&nbsp;ENERGY</a></li>
                                        <li class="subCate"><a href="~/products/productlist" class="subCateLink">-&nbsp;&nbsp;AUTOMOTIVE</a></li>
                                        <li class="subCate"><a href="~/products/productlist" class="subCateLink">-&nbsp;&nbsp;MINING & AGRICULTURE</a></li>
                                        <li class="subCate"><a href="~/products/productlist" class="subCateLink">-&nbsp;&nbsp;HEAVY MACHINE & EQUIPMENT</a></li>
                                        <li class="subCate"><a href="~/products/productlist" class="subCateLink">-&nbsp;&nbsp;APPLIANCES</a></li>
                                        <li class="subCate"><a href="~/products/productlist" class="subCateLink">-&nbsp;&nbsp;ELECTRONICS</a></li>
                                        <li class="subCate"><a href="~/products/productlist" class="subCateLink">-&nbsp;&nbsp;METAL FABRICATION</a></li>
                                        <li class="subCate"><a href="~/products/productlist" class="subCateLink">-&nbsp;&nbsp;TRAILER</a></li>
                                    </ul>
                                </li>
                                <li class="mainCate">
                                    <a href="~/products/productlist" class="mainCateLink">MAINTENANCE & REPAIR TOOLS</a>
                                    <ul class="subCates noneStyle">
                                        <li class="subCate"><a href="~/products/productlist" class="subCateLink">-&nbsp;&nbsp;IMPACT WRENCH</a></li>
                                        <li class="subCate"><a href="~/products/productlist" class="subCateLink">-&nbsp;&nbsp;RATCHET WRENCH</a></li>
                                        <li class="subCate"><a href="~/products/productlist" class="subCateLink">-&nbsp;&nbsp;POLISHER</a></li>
                                        <li class="subCate"><a href="~/products/productlist" class="subCateLink">-&nbsp;&nbsp;RIVETING / RIVET NUT TOOL</a></li>
                                        <li class="subCate"><a href="~/products/productlist" class="subCateLink">-&nbsp;&nbsp;DIGITAL TORQUE WRENCH / ADAPTER</a></li>
                                        <li class="subCate"><a href="~/products/productlist" class="subCateLink">-&nbsp;&nbsp;GRINDER</a></li>
                                    </ul>
                                </li>
                                <li class="mainCate">
                                    <a href="~/products/productlist" class="mainCateLink">CONSTRUCTION TOOLS</a>
                                    <ul class="subCates noneStyle">
                                        <li class="subCate"><a href="~/products/productlist" class="subCateLink">-&nbsp;&nbsp;CONCRETE VIBRATOR</a></li>
                                        <li class="subCate"><a href="~/products/productlist" class="subCateLink">-&nbsp;&nbsp;IMPACT DRIVER</a></li>
                                        <li class="subCate"><a href="~/products/productlist" class="subCateLink">-&nbsp;&nbsp;ROTARY HAMMER DRILL</a></li>
                                        <li class="subCate"><a href="~/products/productlist" class="subCateLink">-&nbsp;&nbsp;HAMMER DRILL / SCREWDRIVER</a></li>
                                        <li class="subCate"><a href="~/products/productlist" class="subCateLink">-&nbsp;&nbsp;DRYWALL AUTO-FEED</a></li>
                                        <li class="subCate"><a href="~/products/productlist" class="subCateLink">-&nbsp;&nbsp;GRINDER</a></li>
                                    </ul>
                                </li>
                                <li class="mainCate">
                                    <a href="product-list" class="mainCateLink">60V</a>
                                </li>
                                <li class="mainCate">
                                    <a href="product-list" class="mainCateLink">40V</a>
                                </li>
                                <li class="mainCate">
                                    <a href="~/products/productlist" class="mainCateLink">20V</a>
                                    <ul class="subCates noneStyle">
                                        <li class="subCate"><a href="~/products/productlist" class="subCateLink">-&nbsp;&nbsp;IMPACT WRENCH</a></li>
                                        <li class="subCate"><a href="~/products/productlist" class="subCateLink">-&nbsp;&nbsp;IMPACT DRIVER</a></li>
                                        <li class="subCate"><a href="~/products/productlist" class="subCateLink">-&nbsp;&nbsp;ROTARY HAMMER DRILL</a></li>
                                        <li class="subCate"><a href="~/products/productlist" class="subCateLink">-&nbsp;&nbsp;HAMMER DRILL / SCREWDRIVER</a></li>
                                        <li class="subCate"><a href="~/products/productlist" class="subCateLink">-&nbsp;&nbsp;GRINDER / POLISHER</a></li>
                                        <li class="subCate"><a href="~/products/productlist" class="subCateLink">-&nbsp;&nbsp;RIVETING / RIVET NUT TOOL</a></li>
                                        <li class="subCate"><a href="~/products/productlist" class="subCateLink">-&nbsp;&nbsp;DRYWALL AUTO-FEED</a></li>
                                    </ul>
                                </li>
                                <li class="mainCate">
                                    <a href="~/products/productlist" class="mainCateLink">12V & Other</a>
                                </li>*@
                        </ul>

                        @*<a href="@Url.Action("RFQ", "Products")" class="menuRFQ mainMenuRFQ">
                                <img src="~/styles/images/layout/rfq.svg" alt="">
                                <span class="font-16 d-block kanit">@ViewBag.ResLang["reqRfq"]</span>
                            </a>*@

                    </div>
                </li>
                @*<li class="mainMenuItem">
                        <a href="~/home/constuctor" class="menuLink kanit font-19 font-weight-500 text-menu">@ViewBag.warranty</a>
                    </li>
                    <li class="mainMenuItem">
                        <a href="~/home/constuctor" class="menuLink kanit font-19 font-weight-500 text-menu">@ViewBag.contactus</a>
                    </li>
                    <li class="mainMenuItem">
                        <a href="~/home/constuctor" class="menuLink kanit font-19 font-weight-500 text-menu">@ViewBag.catalogdownload</a>
                    </li>
                    <li class="mainMenuItem">
                        <a href="~/home/constuctor" class="menuLink kanit font-19 font-weight-500 text-menu">@ViewBag.dealer</a>
                    </li>
                    <li class="mainMenuItem">
                        <a href="~/home/constuctor" class="menuLink kanit font-19 font-weight-500 text-menu">@ViewBag.latestnews</a>
                    </li>*@


                @if (2 == 2) //2022/5/17 george 全部隱藏 等業務通知開放
                {
                    <li class="mainMenuItem">
                        @*<a href="~/home/constuctor" class="menuLink kanit font-19 font-weight-500 text-menu">@ViewBag.ResLang["warranty"]</a>*@
                        <a href="@Url.Action("Index", "Registration")" class="menuLink kanit font-19 font-weight-500 text-menu">@ViewBag.ResLang["warranty"]</a>
                    </li>
                }
                <li class="mainMenuItem">
                    <a href="@Url.Action("Contactus", "Service")" class="menuLink kanit font-19 font-weight-500 text-menu">@ViewBag.ResLang["contactus"]</a>
                </li>
                <li class="mainMenuItem">
                    <a href="@Url.Action("Index", "Catalog")" class="menuLink kanit font-19 font-weight-500 text-menu">@ViewBag.ResLang["catalogdownload"]</a>
                </li>
                @if (ViewBag.lang == "tw") //2022/5/17 george 只開放中文
                {
                    <li class="mainMenuItem">
                        <a href="@Url.Action("Index", "Dealer", new { guid = ViewBag.defaultcatalogguid })" class="menuLink kanit font-19 font-weight-500 text-menu">@ViewBag.ResLang["dealer"]</a>
                    </li>
                }
                else
                {
                    <li class="mainMenuItem">
                        <a href="@Url.Action("Index", "Dealer", new { guid = ViewBag.defaultcatalogguid })" class="menuLink kanit font-19 font-weight-500 text-menu">@ViewBag.ResLang["dealer"]</a>
                    </li>
                }
                <li class="mainMenuItem">
                    <a href="@Url.Action("Index", "News")" class="menuLink kanit font-19 font-weight-500 text-menu">@ViewBag.ResLang["latestnews"]</a>
                </li>
            </ul>
        </div>
        <div class="headerIconBox headerIconBoxScroll mobileHide">
            <ul class="headerIcons noneStyle">
                <li>
                    <a href="~/products/search" class="headerIcon headerIconSearch" data-hover="@ViewBag.ResLang["productsSearch"]">
                        <img src="~/styles/images/layout/search.png" alt="">
                    </a>
                </li>
                <li>
                    @if (ViewBag.webBasicData.facebook != null && ViewBag.webBasicData.facebook != "")
                    {
                        if (ViewBag.webBasicData.facebook != "#")
                        {
                            <a href="@ViewBag.webBasicData.facebook" target="_blank" class="headerIcon">
                                <img src="~/styles/images/layout/fb.png" alt="">
                            </a>
                        }
                    }
                </li>
                <li>
                    @if (ViewBag.webBasicData.line != null && ViewBag.webBasicData.line != "")
                    {
                        if (ViewBag.webBasicData.line != "#")
                        {
                            <a href="@ViewBag.webBasicData.line" target="_blank" class="headerIcon">
                                <img src="~/styles/images/layout/line.png" alt="">
                            </a>
                        }
                    }
                </li>
                <li>
                    @if (ViewBag.webBasicData.insgram != null && ViewBag.webBasicData.insgram != "")
                    {
                        if (ViewBag.webBasicData.insgram != "#")
                        {
                            <a href="@ViewBag.webBasicData.insgram" target="_blank" class="headerIcon">
                                <img src="~/styles/images/layout/ig.png" alt="">
                            </a>
                        }
                    }
                </li>
            </ul>
        </div>
        <div class="langBox mobileHide">
            <div class="langIcon">
                <i class="icon-lang"></i>
            </div>
            <div class="langSelect">
                <span class="langNow">@Session["WholeLang"]</span>
                <ul class="noneStyle">
                    <li class="langOption"><a onclick="runEn()">EN</a></li>
                    <li class="langOption"><a onclick="runTw()">TW</a></li>
                    <li class="langOption"><a onclick="runCn()">CN</a></li>
                </ul>
            </div>
        </div>
        <div class="menuToggle">
            <div class="bar bar1"></div>
            <div class="bar bar2"></div>
            <div class="bar bar3"></div>
        </div>
        <div class="mainSideMenuWrap">
            <ul class="mainSideMenu noneStyle">
                @*<li><a href="~/home/constuctor">@ViewBag.aboutus</a></li>
        <li><a href="~/products">@ViewBag.productpage</a></li>
        <li><a href="~/home/constuctor">@ViewBag.warranty</a></li>
        <li><a href="~/home/constuctor">@ViewBag.contactus</a></li>
        <li><a href="~/home/constuctor">@ViewBag.catalogdownload</a></li>
        <li><a href="~/home/constuctor">@ViewBag.dealer</a></li>
        <li><a href="~/home/constuctor">@ViewBag.latestnews</a></li>*@

                <li><a href="@Url.Action("Index", "About")">@ViewBag.ResLang["aboutus"]</a></li>
                <li><a href="~/products">@ViewBag.ResLang["productpage"]</a></li>
                @if (2 == 2) //2022/5/17 george 全部隱藏 等業務通知開放
                {
                    @*<li><a href="~/home/constuctor">@ViewBag.ResLang["warranty"]</a></li>*@
                    <li><a href="@Url.Action("Index", "Registration")">@ViewBag.ResLang["warranty"]</a></li>
                }
                @*<li><a href="@Url.Action("Index", "Registration")">@ViewBag.ResLang["warranty"]</a></li>*@
                <li><a href="@Url.Action("Contactus", "Service")">@ViewBag.ResLang["contactus"]</a></li>
                <li><a href="@Url.Action("Index", "Catalog")">@ViewBag.ResLang["catalogdownload"]</a></li>
                @if (ViewBag.lang == "tw")  //2022/5/17 george  只開放中文
                {
                    <li><a href="@Url.Action("Index", "Dealer", new { guid = "22021617193640" })">@ViewBag.ResLang["dealer"]</a></li>
                }
                else
                {
                    <li><a href="@Url.Action("Index", "Dealer", new { guid = "22021617193640" })">@ViewBag.ResLang["dealer"]</a></li>
                }
                @*<li><a href="@Url.Action("Index", "Dealer", new { guid = "22021617193640"})">@ViewBag.ResLang["dealer"]</a></li>*@
                <li><a href="@Url.Action("Index", "News")">@ViewBag.ResLang["latestnews"]</a></li>
            </ul>
            <div class="headerIconBox">
                <ul class="headerIcons noneStyle">
                    <li>
                        @if (ViewBag.webBasicData.facebook != null && ViewBag.webBasicData.facebook != "")
                        {
                            if (ViewBag.webBasicData.facebook != "#")
                            {
                                <a href="@ViewBag.webBasicData.facebook" target="_blank" class="headerIcon">
                                    <img src="~/styles/images/layout/fb.png" alt="">
                                </a>
                            }
                        }
                    </li>
                    <li>
                        @if (ViewBag.webBasicData.line != null && ViewBag.webBasicData.line != "")
                        {
                            if (ViewBag.webBasicData.line != "#")
                            {
                                <a href="@ViewBag.webBasicData.line" target="_blank" class="headerIcon">
                                    <img src="~/styles/images/layout/line.png" alt="">
                                </a>
                            }
                        }
                    </li>
                    <li>
                        @if (ViewBag.webBasicData.insgram != null && ViewBag.webBasicData.insgram != "")
                        {
                            if (ViewBag.webBasicData.insgram != "#")
                            {
                                <a href="@ViewBag.webBasicData.insgram" target="_blank" class="headerIcon">
                                    <img src="~/styles/images/layout/ig.png" alt="">
                                </a>
                            }
                        }
                    </li>
                </ul>
            </div>
            <div class="langBox langBox2">
                <div class="langIcon">
                    <i class="icon-lang"></i>
                </div>
                <div class="langSelect">
                    <span class="langNow">@Session["WholeLang"]</span>
                    <ul class="noneStyle">
                        <li class="langOption"><a onclick="runEn()">EN</a></li>
                        <li class="langOption"><a onclick="runTw()">TW</a></li>
                        <li class="langOption"><a onclick="runCn()">CN</a></li>
                    </ul>
                </div>
            </div>

            @*<a href="@Url.Action("RFQ", "Products")" class="menuRFQ sideMenuRFQ">
                    <img src="~/styles/images/layout/rfq.svg" alt="">
                    <span class="font-16 d-block kanit">@ViewBag.ResLang["reqRfq"]</span>
                </a>*@

        </div>
        <div class="mask"></div>
    </div>
</header>