﻿<!DOCTYPE html>
<html lang="@ViewBag.lang">
<head>
    <!-- Title and Meta
    ================================================== -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>@ViewBag.webBasicData.title</title>
    <meta name="author" content="" />
    <meta name="description" content="@Html.Raw(!string.IsNullOrEmpty(ViewBag.description) ? ViewBag.description : ViewBag.description)" />
    <meta name="keywords" content="@Html.Raw(!string.IsNullOrEmpty(ViewBag.keywords) ? ViewBag.keywords : ViewBag.keywords)" />

    <!-- Facebook Open Graph Meta
    ================================================== -->
    <meta property="og:title" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />
    <meta name="format-detection" content="telephone=no">
    <link rel="shortcut icon" type="image/x-icon" href="~/styles/images/web-icon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&family=Roboto:wght@400;500;700&Noto+Sans+TC:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/styles/scss/plugins/aos.css" />
    <link rel="stylesheet" type="text/css" href="~/styles/style.css" />
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KKBFREZ464"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-KKBFREZ464');
    </script>

</head>
<body>
    @Html.Partial("_Header")
    <h1 class="d-none">Durofix - Mobiletron Electronics Co., Ltd.</h1>
    @RenderBody()

    @Html.Partial("_Footer")

    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    @Html.Partial("_FooterJS")
    @RenderSection("scripts", required: false)
</body>
</html>
