/*!
 * Animations
 * 
 * @version 1.0.0 2017/01/01 00:00
 * @author JOE <joe@youweb.tw>
 * @copyright (c) youweb.tw
 * @link http:///youweb.tw/
 */

/// ---------------------------------------------------------------------------
/// Ease 工廠
/// ---------------------------------------------------------------------------
///
/// 傳入一個 Ease 名稱，將自動傳回相應的貝茲爾物件。
/// 例如: ease(expo-in-out)
///
/// 支援清單:
/// quad-in  / quad-out  / quad-in-out
/// quart-in / quart-out / quart-in-out
/// sine-in  / sine-out  / sine-in-out
/// quint-in / quint-out / quint-in-out
/// cubic-in / cubic-out / cubic-in-out
/// circ-in  / circ-out  / circ-in-out
/// expo-in  / expo-out  / expo-in-out
/// back-in  / back-out  / back-in-out
///
/// 
/// 如果需要自訂 Ease，請傳入 4 個曲線參數設定律動感。
/// 例如: ease(0.550, 0.085, 0.680, 0.530)
///
/// @param {ArgList} $params
/// @return {CubicBezier}
/// @group Animation
/// @see http:///easings.net/
/// @see https:///matthewlein.com/ceaser/
///
@function ease($params...) {
    @if (length($params) == 1) {
        $name: first($params);

        /// Quad
        @if ($name == quad-in) {
            @return cubic-bezier(0.550, 0.085, 0.680, 0.530);
        }

        @if ($name == quad-out) {
            @return cubic-bezier(0.250, 0.460, 0.450, 0.940);
        }

        @if ($name == quad-in-out) {
            @return cubic-bezier(0.455, 0.030, 0.515, 0.955);
        }

        /// Quart
        @if ($name == quart-in) {
            @return cubic-bezier(0.895, 0.030, 0.685, 0.220);
        }

        @if ($name == quart-out) {
            @return cubic-bezier(0.165, 0.840, 0.440, 1.000);
        }

        @if ($name == quart-in-out) {
            @return cubic-bezier(0.770, 0.000, 0.175, 1.000);
        }

        /// Sine
        @if ($name == sine-in) {
            @return cubic-bezier(0.470, 0.000, 0.745, 0.715);
        }

        @if ($name == sine-out) {
            @return cubic-bezier(0.390, 0.575, 0.565, 1.000);
        }

        @if ($name == sine-in-out) {
            @return cubic-bezier(0.445, 0.050, 0.550, 0.950);
        }

        /// Quint
        @if ($name == quint-in) {
            @return cubic-bezier(0.755, 0.050, 0.855, 0.060);
        }

        @if ($name == quint-out) {
            @return cubic-bezier(0.230, 1.000, 0.320, 1.000);
        }

        @if ($name == quint-in-out) {
            @return cubic-bezier(0.860, 0.000, 0.070, 1.000);
        }

        /// Cubic
        @if ($name == cubic-in) {
            @return cubic-bezier(0.550, 0.055, 0.675, 0.190);
        }

        @if ($name == cubic-out) {
            @return cubic-bezier(0.215, 0.610, 0.355, 1.000);
        }

        @if ($name == cubic-in-out) {
            @return cubic-bezier(0.645, 0.045, 0.355, 1.000);
        }

        /// Circ
        @if ($name == circ-in) {
            @return cubic-bezier(0.600, 0.040, 0.980, 0.335);
        }

        @if ($name == circ-out) {
            @return cubic-bezier(0.075, 0.820, 0.165, 1.000);
        }

        @if ($name == circ-in-out) {
            @return cubic-bezier(0.785, 0.135, 0.150, 0.860);
        }

        /// Expo
        @if ($name == expo-in) {
            @return cubic-bezier(0.950, 0.050, 0.795, 0.035);
        }

        @if ($name == expo-out) {
            @return cubic-bezier(0.190, 1.000, 0.220, 1.000);
        }

        @if ($name == expo-in-out) {
            @return cubic-bezier(1.000, 0.000, 0.000, 1.000);
        }

        /// Back
        @if ($name == back-in) {
            @return cubic-bezier(0.600, -0.280, 0.735, 0.045);
        }

        @if ($name == back-out) {
            @return cubic-bezier(0.175, 0.885, 0.320, 1.275);
        }

        @if ($name == back-in-out) {
            @return cubic-bezier(0.680, -0.550, 0.265, 1.550);
        }
    }

    @return cubic-bezier($params);
}
