/*!
 * Maps
 * 
 * @version 1.0.0 2017/01/01 00:00
 * @author JOE <joe@youweb.tw>
 * @copyright (c) youweb.tw
 * @link http:///youweb.tw/
 */

/// ---------------------------------------------------------------------------
/// 以多維鍵值傳回地圖元素
/// ---------------------------------------------------------------------------
///
/// @param {Map} $map - Map
/// @param {Arglist} $keys - Keys to fetch
/// @return {*}
/// @group Map
///
@function map-deep-get($map, $keys...) {
    @each $key in $keys {
        $map: map-get($map, $key);
    }

    @return $map;
}

/// ---------------------------------------------------------------------------
/// 以多維鍵值傳回地圖元素，如果找不到則傳回指定值。
/// ---------------------------------------------------------------------------
///
/// @param {Map} $map - Map
/// @param {Arglist} $keys - Keys to fetch
/// @param {*} $or - Default value (last member of `$keys`)
/// @return {*}
/// @group Map
///
@function map-deep-get-or($map, $keys...) {
    $length: length($keys);
    $default: null;

    @if ($length > 1) {
        $default: last($keys);
        $keys: slice($keys, 0, $length - 1);
    }

    $value: map-deep-get($map, $keys...);
    @return if($value, $value, $default);
}

/// ---------------------------------------------------------------------------
/// 以多維鍵值設定地圖元素
/// ---------------------------------------------------------------------------
///
/// @param {Map} $map - Map to update
/// @param {Arglist} $keys - Keys to access to value to update
/// @param {*} $value - New value (last member of `$keys`)
/// @return {Map} - Updated map
/// @group Map
///
@function map-deep-set($map, $keys...) {
    $map-list: ($map,);
    $result: null;

    @if length($keys) == 2 {
        @return map-merge($map, (nth($keys, 1): nth($keys, -1)));
    }

    @for $i from 1 through length($keys) - 2 {
        $map-list: append($map-list, map-get(nth($map-list, -1), nth($keys, $i)));
    }

    @for $i from length($map-list) through 1 {
        $result: map-merge(nth($map-list, $i), (nth($keys, $i): 
            if($i == length($map-list), nth($keys, -1), $result)));
    }

    @return $result;
}

/// ---------------------------------------------------------------------------
/// 計算地圖深度
/// ---------------------------------------------------------------------------
///
/// @param {Map} $map
/// @return {Number} max depth of `$map`
/// @group Map
///
@function map-depth($map) {
    $level: 1;

    @each $key, $value in $map {
        @if type-of($value) == "map" {
            $level: max(map-depth($value) + 1, $level);
        }
    }

    @return $level;
}

/// ---------------------------------------------------------------------------
/// 值檢查地圖是否包含所有傳入的鍵值
/// ---------------------------------------------------------------------------
///
/// @param {Map} $map - Map
/// @param {Arglist} $keys - Keys to test
/// @return {Bool}
/// @group Map
///
@function map-has-keys($map, $keys...) {
    @each $key in $keys {
        @if not map-has-key($map, $key) {
            @return false;
        }
    }

    @return true;
}

/// ---------------------------------------------------------------------------
/// 以多維鍵值檢查地圖元素
/// ---------------------------------------------------------------------------
///
/// @param {Map} $map - Map
/// @param {Arglist} $keys - Keys to test
/// @return {Bool}
/// @group Map
///
@function map-has-nested-keys($map, $keys...) {
    @each $key in $keys {
        @if not map-has-key($map, $key) {
            @return false;
        }

        $map: map-get($map, $key);
    }

    @return true;
}

/// ---------------------------------------------------------------------------
/// 產生地圖物件
/// ---------------------------------------------------------------------------
///
/// 傳入 2 個清單，第一個清單做為鍵值集合、第二個清單做為元素集合，
/// 經打包處理後將得到一個相對應的地陣物件。
///
/// @param {List} $keys - Keys for map
/// @param {List} $values - Values for map
/// @return {Map} Freshly created map
/// @group Map
/// @see zip()
///
@function map-zip($keys, $values) {
    $l-keys: length($keys);
    $l-values: length($values);
    $min: min($l-keys, $l-values);
    $map: ();

    @if $l-keys != $l-values {
        @warn "There are #{$l-keys} key(s) for #{$l-values} value(s) in the map for `map-zip`. " 
            + "Resulting map will only have #{$min} pairs.";
    }

    @if $min == 0 {
        @return $map;
    }

    @for $i from 1 through $min {
        $map: map-merge($map, (nth($keys, $i): nth($values, $i)));
    }

    @return $map;
}

/// ---------------------------------------------------------------------------
/// 地圖物件繼承
/// ---------------------------------------------------------------------------
///
/// @param {Map} $map - first map
/// @param {ArgList} $maps - other maps
/// @param {Bool} $deep - recursive mode
/// @return {Map}
/// @group Map
///
@function map-extend($map, $maps...) {
    $last: nth($maps, -1);
    $deep: $last == true;
    $max: if($deep, length($maps) - 1, length($maps));

    @for $i from 1 through $max {
        $current: nth($maps, $i);

        @if not $deep {
            $map: map-merge($map, $current);
        }
        @else {
            @each $key, $value in $current {
                @if type-of($value) == "map" and type-of(map-get($map, $key)) == "map" {
                    $value: map-extend(map-get($map, $key), $value, true);
                }
                $map: map-merge($map, ($key: $value));
            }
        }
    }

    @return $map;
}
