/*!
 * Variables
 * 
 * @version 1.0.0 2017/01/01 00:00
 * @author JOE <joe@youweb.tw>
 * @copyright (c) youweb.tw
 * @link http:///youweb.tw/
 */

/// ---------------------------------------------------------------------------
/// 轉換為字串
/// ---------------------------------------------------------------------------
///
/// @param {*} $value
/// @return {String}
/// @group Variable
///
@function to-string($value) {
    @return inspect($value);
}

/// ---------------------------------------------------------------------------
/// 轉換為數字
/// ---------------------------------------------------------------------------
///
/// @param {String} $value
/// @return {Number}
/// @group Variable
///
@function to-number($value) {
    @if type-of($value) == 'number' {
        @return $value;
    }

    $result: 0;
    $digits: 0;
    $minus: str-slice($value, 1, 1) == '-';
    $numbers: ('0': 0, '1': 1, '2': 2, '3': 3, '4': 4, '5': 5, '6': 6, '7': 7, '8': 8, '9': 9);

    @for $i from if($minus, 2, 1) through str-length($value) {
        $character: str-slice($value, $i, $i);

        @if not (index(map-keys($numbers), $character) or $character == '.') {
            @return to-length(if($minus, -$result, $result), str-slice($value, $i))
        }

        @if $character == '.' {
            $digits: 1;
        }
        @else if $digits == 0 {
            $result: $result * 10 + map-get($numbers, $character);
        }
        @else {
            $digits: $digits * 10;
            $result: $result + map-get($numbers, $character) / $digits;
        }
    }

    @return if($minus, -$result, $result);
}

/// ---------------------------------------------------------------------------
/// 轉換為佈林
/// ---------------------------------------------------------------------------
///
/// @param {*} $value
/// @return {Bool}
/// @group Variable
///
@function to-bool($value) {
    @return not ($value or $value == "" or $value == 0 or $value == ());
}

/// ---------------------------------------------------------------------------
/// 轉換為清單
/// ---------------------------------------------------------------------------
///
/// @param {*} $value
/// @return {List}
/// @group Variable
///
@function to-list($value) {
    @return if(type-of($value) != list, ($value,), $value);
}

/// ---------------------------------------------------------------------------
/// 轉換為地圖
/// ---------------------------------------------------------------------------
///
/// @param {*} $value
/// @return {Map}
/// @group Variable
///
@function to-map($value) {
    @return if(type-of($value) != map, (1: $value), $value);
}
