﻿<table style="height: 100%;" width="100%" cellspacing="0" cellpadding="0" align="center" bgcolor="#f5f5f5">
    <tbody>
        <tr>
            <td height="30">&nbsp;</td>
        </tr>
        <tr>
            <td align="center">
                <table border="0" width="680" cellspacing="0" cellpadding="0" align="center">
                    <tbody>
                        <tr>
                            <td height="30">&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align: left; padding: 0 15px;">
                                <table width="100%" cellspacing="0" cellpadding="0" align="center" bgcolor="#fff">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <table width="100%" cellspacing="0" cellpadding="0" align="center" bgcolor="#0095c8">
                                                    <tbody>
                                                        <tr>
                                                            <td style="font-size: 5px; line-height: 5px;" width="680" height="5">&nbsp;</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td height="20">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: left; padding: 0 35px;">
                                                <table width="100%" cellspacing="0" cellpadding="0" align="center" bgcolor="">
                                                    <tbody>
                                                        <tr>
                                                            <td align="center"><img style="width: 250px;" src="{[websiteUrl]}/styles/images/public/logoHeader.svg" alt="" /></td>
                                                        </tr>
                                                        <tr>
                                                            <td height="10">&nbsp;</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <table width="100%" cellspacing="0" cellpadding="0" align="center" bgcolor="">
                                                    <tbody>
                                                        <tr>
                                                            <td align="center">
                                                                <h1 style="color: #479ccf; font-size: 28px; margin: 0 0 2px 0; font-weight: 300;">客戶滿意度調查通知</h1>
                                                                <p style="color: #adaeb1; font-size: 12px; margin: 0 auto 5px auto;">本信件為系統自動發送，請勿直接回覆！</p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td height="15">&nbsp;</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <table width="100%" cellspacing="0" cellpadding="0" align="center" bgcolor="#f2f7fa">
                                                    <tbody>
                                                        <tr>
                                                            <td height="30">&nbsp;</td>
                                                        </tr>
                                                        <tr>
                                                            <td style="text-align: left; padding: 0 25px;">
                                                                <table width="100%" cellspacing="0" cellpadding="0" align="center" bgcolor="">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td align="center">
                                                                                <h2 style="color: #383838; font-size: 18px; margin: 0;">親愛的 管理員 您好</h2>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td height="15">&nbsp;</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                                <table width="100%" cellspacing="0" cellpadding="0" align="center" bgcolor="">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td align="center">
                                                                                <p style="color: #3f4345; font-size: 14px; margin: 0; line-height: 25px;">您有一封客戶滿意度調查，請儘速處理回覆。</p>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                                <br />
                                                                <table width="100%" cellspacing="0" cellpadding="0" align="center" bgcolor="#FFf">
                                                                    <tbody>

                                                                        <tr>
                                                                            <td style="padding: 5px; border: 1px solid #dedcdc; background-color: #fafaf8;" align="left">日期</td>
                                                                            <td style="padding: 5px; border: 1px solid #dedcdc;" align="left">{[date]}</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="padding: 5px; border: 1px solid #dedcdc; background-color: #fafaf8;" align="left">客戶編號</td>
                                                                            <td style="padding: 5px; border: 1px solid #dedcdc;" align="left">{[no]}</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="padding: 5px; border: 1px solid #dedcdc; background-color: #fafaf8;" align="left">姓名</td>
                                                                            <td style="padding: 5px; border: 1px solid #dedcdc;" align="left">{[name]}</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="padding: 5px; border: 1px solid #dedcdc; background-color: #fafaf8;" align="left">公司名稱</td>
                                                                            <td style="padding: 5px; border: 1px solid #dedcdc;" align="left">{[company_title]}</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="padding: 5px; border: 1px solid #dedcdc; background-color: #fafaf8;" align="left">部門</td>
                                                                            <td style="padding: 5px; border: 1px solid #dedcdc;" align="left">{[company_department]}</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="padding: 5px; border: 1px solid #dedcdc; background-color: #fafaf8;" align="left">公司電話</td>
                                                                            <td style="padding: 5px; border: 1px solid #dedcdc;" align="left">{[company_tel]}</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="padding: 5px; border: 1px solid #dedcdc; background-color: #fafaf8;" align="left">職稱</td>
                                                                            <td style="padding: 5px; border: 1px solid #dedcdc;" align="left">{[company_jobTitle]}</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="padding: 5px; border: 1px solid #dedcdc; background-color: #fafaf8;" align="left">E-Mail</td>
                                                                            <td style="padding: 5px; border: 1px solid #dedcdc;" align="left">{[email]}</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="padding: 5px; border: 1px solid #dedcdc; background-color: #fafaf8;" align="left">客戶區域</td>
                                                                            <td style="padding: 5px; border: 1px solid #dedcdc;" align="left">{[area_area]}{[area_other]}</td>
                                                                        </tr>


                                                                        <tr>
                                                                            <td style="padding: 5px; border: 1px solid #dedcdc; background-color: #fafaf8;" align="left">產業分類</td>
                                                                            <td style="padding: 5px; border: 1px solid #dedcdc;" align="left">{[industry_industry]}</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="padding: 5px; border: 1px solid #dedcdc; background-color: #fafaf8;" align="left">產品分類</td>
                                                                            <td style="padding: 5px; border: 1px solid #dedcdc;" align="left">{[industry_product]}</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="padding: 5px; border: 1px solid #dedcdc; background-color: #fafaf8;" align="left">市場分類</td>
                                                                            <td style="padding: 5px; border: 1px solid #dedcdc;" align="left">{[industry_market]}</td>
                                                                        </tr>


                                                                        {[problems]}
                                                                        


                                                                        <tr>

                                                                            <td style="padding: 5px; border: 1px solid #dedcdc;" align="left" colspan="2">
                                                                            </td>
                                                                        </tr>



                                                                        <tr>
                                                                            <td style="padding: 5px; border: 1px solid #dedcdc; background-color: #fafaf8;" align="left">
                                                                                1.貴公司近期是否有綠能或醫療產業相關的產品開發計畫?
                                                                            </td>
                                                                            <td style="padding: 5px; border: 1px solid #dedcdc;" align="left">{[comprehensive]}</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="padding: 5px; border: 1px solid #dedcdc; background-color: #fafaf8;" align="left">
                                                                                2.貴公司對於『環保法規及物質管制』的要求為有哪些?
                                                                            </td>
                                                                            <td style="padding: 5px; border: 1px solid #dedcdc;" align="left">{[env]}</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="padding: 5px; border: 1px solid #dedcdc; background-color: #fafaf8;" align="left">
                                                                                3.除了本公司產品，請問您採購連接器，另外三大家廠商是?
                                                                            </td>
                                                                            <td style="padding: 5px; border: 1px solid #dedcdc;" align="left">{[problem_company_other]}</td>
                                                                        </tr>

                                                                        <tr>
                                                                            <td style="padding: 5px; border: 1px solid #dedcdc; background-color: #fafaf8;" align="left">其他意見</td>
                                                                            <td style="padding: 5px; border: 1px solid #dedcdc;" align="left">{[message]}</td>
                                                                        </tr>


                                                                    </tbody>
                                                                </table>
                                                                <table width="100%" cellspacing="0" cellpadding="0" align="center" bgcolor="">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td>
                                                                                <table width="100%" cellspacing="0" cellpadding="0" align="center" bgcolor="">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td height="30">&nbsp;</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td align="center">
                                                                                                <p style="color: #515154; font-size: 14px; margin: 0 auto 5px auto; line-height: 25px;">感謝您對 <a style="color: #515154; text-decoration: none; margin-left: 5px;" href="{[websiteUrl]}" target="_blank" rel="noopener">{[websiteName]}</a> 的支持<br />敬祝 順利 平安</p>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td height="30">&nbsp;</td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td height="40">&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<table width="100%" cellspacing="0" cellpadding="0" align="center" bgcolor="">
    <tbody>
        <tr>
            <td style="font-size: 5px; line-height: 5px;" height="15">&nbsp;</td>
        </tr>
        <tr>
            <td>
                <!--頁尾-->
                <table width="100%" cellspacing="0" cellpadding="0" align="center" bgcolor="">
                    <tbody>
                        <tr>
                            <td align="center">
                                <p style="color: #86868b; font-size: 12px; margin: 0 auto 5px auto;">&copy; 2021<a style="color: #86868b; text-decoration: none; margin-left: 5px;" href="{[websiteUrl]}" target="_blank" rel="noopener">{[websiteName]}</a></p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td height="20">&nbsp;</td>
        </tr>
    </tbody>
</table>