/*!
 * Backgrounds
 * 
 * @version 1.0.0 2017/01/01 00:00
 * @author JOE <joe@youweb.tw>
 * @copyright (c) youweb.tw
 * @link http:///youweb.tw/
 */

/// ---------------------------------------------------------------------------
/// 設定水平漸層
/// ---------------------------------------------------------------------------
///
/// @param {Color} $from
/// @param {Color} $to
/// @param {Number} $start
/// @param {Number} $end
/// @group Gradient
///
@mixin gradient-x($from: #555, $to: #333, $start: 0%, $end: 100%) {
    background-repeat: repeat-x;
    background-image: linear-gradient( to right, $from $start, $to $end);
}

/// ---------------------------------------------------------------------------
/// 設定垂直漸層
/// ---------------------------------------------------------------------------
///
/// @param {Color} $from
/// @param {Color} $to
/// @param {Number} $start
/// @param {Number} $end
/// @group Gradient
///
@mixin gradient-y($from: #555, $to: #333, $start: 0%, $end: 100%) {
    background-repeat: repeat-x;
    background-image: linear-gradient(to bottom, $from $start, $to $end);
}

/// ---------------------------------------------------------------------------
/// 設定方向漸層
/// ---------------------------------------------------------------------------
///
/// @param {Color} $from
/// @param {Color} $to
/// @param {Number} $deg
/// @group Gradient
///
@mixin gradient-to($from: #555, $to: #333, $deg: 45deg) {
    background-repeat: repeat-x;
    background-image: linear-gradient($deg, $from, $to);
}

/// ---------------------------------------------------------------------------
/// 設定放設性漸層
/// ---------------------------------------------------------------------------
///
/// @param {Color} $inner
/// @param {Color} $outer
/// @group Gradient
///
@mixin gradient-radial($inner: #555, $outer: #333) {
    background-image: radial-gradient(circle, $inner, $outer);
    background-repeat: no-repeat;
}

/// ---------------------------------------------------------------------------
/// 設定紋路漸層
/// ---------------------------------------------------------------------------
///
/// @param {Color} $color
/// @param {Number} $angle
/// @group Gradient
///
@mixin gradient-striped($color: rgba(255, 255 ,255, .15), $angle: 45deg) {
    background-image: linear-gradient($angle, $color 25%, transparent 25%, 
        transparent 50%, $color 50%, $color 75%, transparent 75%, transparent);
}