/*!
 * Layouts
 * 
 * @version 1.0.0 2017/01/01 00:00
 * @author JOE <joe@youweb.tw>
 * @copyright (c) youweb.tw
 * @link http:///youweb.tw/
 */

/// ---------------------------------------------------------------------------
/// 重設元素尺寸模型
/// ---------------------------------------------------------------------------
///
/// @param {String} $model
/// @group Layout
///
@mixin reset-box-sizing($model: content-box) {
    &,
    & *,
    & *::before,
    & *::after {
        box-sizing: $model;
    }
}

/// ---------------------------------------------------------------------------
/// 清除列表樣式 (ul, ol, dl)
/// ---------------------------------------------------------------------------
///
/// @group Layout
///
@mixin list-unstyled {
    list-style: none;
    padding: 0;
    margin: 0;

    > * {
        padding: 0;
        margin: 0;
    }
}

/// ---------------------------------------------------------------------------
/// 移除連續單行元素的間隔
/// ---------------------------------------------------------------------------
///
/// 預設使用 letter-spacing 作為解決方案 (在某些比例下仍可能會有極小的間隙問題)。
/// 欲使用 $font-size 解決方案請傳入文字元素的字體大小，以在重設後進行恢復。
///
/// @param {Number} $font-size
/// @group Layout
///
@mixin inline-ungapped($font-size: null) {
    & {
        @if ($font-size) {
            font-size: 0;
        }
        @else {
            letter-spacing: -0.31em;
        }

        & > * {
            @if ($font-size) {
                font-size: $font-size;
            }
            @else {
                letter-spacing: normal;
            }
        }
    }
}

/// ---------------------------------------------------------------------------
/// 設定單行排版
/// ---------------------------------------------------------------------------
///
/// @param {Number} $size
/// @group Layout
///
@mixin inline-make {
    @include inline-ungapped;

    > * {
        display: inline-block;
        vertical-align: top;
        float: none;
    }
}

/// ---------------------------------------------------------------------------
/// 以絕對定位填滿父元素
/// ---------------------------------------------------------------------------
///
/// @group Layout
///
@mixin fit-to-parent {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: auto;
    height: auto;
}

/// ---------------------------------------------------------------------------
/// 水平置中區塊元素
/// ---------------------------------------------------------------------------
///
/// @group Layout
///
@mixin center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/// ---------------------------------------------------------------------------
/// 容器置中 (inline)
/// ---------------------------------------------------------------------------
///
/// 須指定容器高度，且子元素須為文字元素 inline / inline-block、
/// 此方法將會使用一個偽元素空間，預設為 before。
///
/// @param mixed $place
/// @group Layout
///
@mixin middle-inline($place: before) {
    text-align: center;

    &::#{$place} {
        content: '';
        display: inline-block;
        vertical-align: middle;
        height: 100%;
    }

    > * {
        display: inline-block;
        vertical-align: middle;
    }
}

/// ---------------------------------------------------------------------------
/// 容器置中 (line-height)
/// ---------------------------------------------------------------------------
///
/// 須指定容器高度，且子元素須為 inline / inline-block。
///
/// @param {Number} $line-heigh
/// @group Layout
///
@mixin middle-height($line-height: normal) {
    text-align: center;

    @if ($line-height) {
        line-height: $line-height;
    }

    > * {
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
    }
}

/// ---------------------------------------------------------------------------
/// 容器置中 (fit)
/// ---------------------------------------------------------------------------
///
/// 容器須有基準定位、且子元素須為 absolute。
///
/// @param {Number} $width
/// @param {Number} $heigth
/// @group Layout
///
@mixin middle-fit($width: 0, $height: 0) {
    position: relative;

    > * {
        @include fit-to-parent;        width: $width;        height: $height;    }
}

/// ---------------------------------------------------------------------------
/// 容器置中 (absolute)
/// ---------------------------------------------------------------------------
///
/// 容器須有基準定位、且子元素須為 absolute。
///
/// @param {Number} $width
/// @param {Number} $heigth
/// @group Layout
///
@mixin middle-abs($width: 0, $height: 0) {
    position: relative;

    > * {
        position: absolute;        left: 50%;
        top: 50%;        width: $width;        height: $height;        margin-left: -#{$width} / 2;        margin-top: -#{$height} / 2;    }
}

/// ---------------------------------------------------------------------------
/// 容器置中 (clac)
/// ---------------------------------------------------------------------------
///
/// 容器須有基準定位、且子元素須為 absolute。
/// 此方法使用 calc 計算中心點，支援度仍受限。
///
/// @param {Number} $width
/// @param {Number} $heigth
/// @group Layout
///
@mixin middle-calc($width: 0, $height: 0) {
    position: relative;

    > * {
        position: absolute;        left: calc(50% - #{($width / 2)});
        top: calc(50% - #{($height / 2)});        width: $width;        height: $height;    }
}

/// ---------------------------------------------------------------------------
/// 容器置中 (transform)
/// ---------------------------------------------------------------------------
///
/// 使用此方法子元素須為區塊級元素。
///
/// @group Layout
///
@mixin middle-transform {
    > * {
        display: block;
        position: relative;        left: 50%;
        top: 50%;		transform: translate(-50%, -50%);
    }
}

/// ---------------------------------------------------------------------------
/// 容器置中 (flex)
/// ---------------------------------------------------------------------------
///
/// 此方法使用 flexbox 佈局，支援度仍受限。
///
/// @group Layout
///
@mixin middle-flex {
    display: flex;
	align-items: center;
	justify-content: center;
}

/// ---------------------------------------------------------------------------
/// 容器置中 (table)
/// ---------------------------------------------------------------------------
///
/// 使用此方法容器內必須再加上一層元素將置中對像包覆。
///
/// @group Layout
///
@mixin middle-table {
    display: table;

    > * {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }
}

/// ---------------------------------------------------------------------------
/// 設定排版內距
/// ---------------------------------------------------------------------------
///
/// @alias columns-gutter, rows-gutter, grid-gutter
/// @param {Number} $gutter
/// @group Layout
///
@mixin layout-gutter($gutter) {
    $gutter: if($gutter, $gutter, config(layout, gutter));
    padding: $gutter;

    > .#{config(layout, columns, wrap)},
    > .#{config(layout, rows, wrap)},
    > .#{config(layout, grid, wrap)} {
        margin: -#{str-replace('#{$gutter}', ' ', ' -')};
    }
}

/// ---------------------------------------------------------------------------
/// 水平列表內距
/// ---------------------------------------------------------------------------
///
/// @alias layout-gutter
/// @param {Number} $gutter
/// @group Layout
///
@mixin columns-gutter($gutter) {
    @include layout-gutter($gutter);
}

/// ---------------------------------------------------------------------------
/// 垂直列表內距
/// ---------------------------------------------------------------------------
///
/// @alias layout-gutter
/// @param {Number} $gutter
/// @group Layout
///
@mixin rows-gutter($gutter) {
    @include layout-gutter($gutter);
}

/// ---------------------------------------------------------------------------
/// 設定網格內距
/// ---------------------------------------------------------------------------
///
/// @alias layout-gutter
/// @param {Number} $gutter
/// @group Layout
///
@mixin grid-gutter($gutter) {
    @include layout-gutter($gutter);
}

/// ---------------------------------------------------------------------------
/// 設定水平列表
/// ---------------------------------------------------------------------------
///
/// @param {Number} $gutter [config.layout.gutter]
/// @group Layout
///
@mixin columns($gutter: null) {
    @include reset-box-sizing(border-box);
    @include list-unstyled;
    @include clearfix;
    
    // Children
    > * {
        @include columns-gutter($gutter);
        display: block;
        width: auto;
        float: left;
    }

    // Gutterless
    &.gutterless > * {
        @include layout-gutter(0);
    }

    // Inline
    &.inline {
        @include inline-make;
    }
}

/// ---------------------------------------------------------------------------
/// 設定垂直列表
/// ---------------------------------------------------------------------------
///
/// @param {Number} $gutter [config.layout.gutter]
/// @group Layout
///
@mixin rows($gutter: null) {
    @include reset-box-sizing(border-box);
    @include list-unstyled;

    // Children
    > * {
        @include columns-gutter($gutter);
        display: block;
        width: auto;
    }

    // Gutterless
    &.gutterless > * {
        @include layout-gutter(0);
    }
}

/// ---------------------------------------------------------------------------
/// 設定網格系統
/// ---------------------------------------------------------------------------
///
/// @param {Map} $options
/// @group Layout
///
@mixin grid($options: ()) {
    $configs: config(layout, grid);
    $settings: map-extend($configs, $options);
    $length: map-deep-get($settings, length);
    $wrap: map-deep-get($settings, wrap);
    $gutter: map-deep-get($settings, gutter);
    $prefix-cell: map-deep-get($settings, prefix, cell);
    $prefix-push: map-deep-get($settings, prefix, push);
    $prefix-pull: map-deep-get($settings, prefix, pull);
    $prefix-move: map-deep-get($settings, prefix, move);
    $prefix-back: map-deep-get($settings, prefix, back);
    $prefix-width: map-deep-get($settings, prefix, width);
    $cell-display: block;

    & {
        @include reset-box-sizing(border-box);
        @include list-unstyled;
        @include clearfix;
        
        // Children
        > * {
            display: $cell-display;
            @include columns-gutter($gutter);
            position: relative;
            min-height: 1px;
            float: left;
        }

        // Gutterless
        &.gutterless > * {
            @include layout-gutter(0);
        }

        // Inline
        &.inline {
            @include inline-make;
        }

        // Clearfix
        [class^="clearfix"],
        [class*=" clearfix"] {
            position: static;
            padding: 0;
            margin: 0;
            min-height: 0;
            float: none;
        }

        // Makes
        @mixin make-cell($index, $type, $prefix) {
            $width: percentage($index / $length);
            $order: if($index > 0, $width, auto);
            $display: if($index > 0, $cell-display, none);

            @if ($prefix == $prefix-width) {
                & .#{$type}#{$index} {
                    display: $display;
                    width: $width;
                }
                
                &.inline .#{$type}#{$index} {
                    display: if($display == none, $display, inline-block);
                }
            }

            @if ($prefix == $prefix-move) {
                & .#{$type}#{$prefix-move}#{$index} {
                    margin-left: $width;
                }
            }

            @if ($prefix == $prefix-back) {
                & .#{$type}#{$prefix-back}#{$index} {
                    margin-left: -#{$width};
                }
            }

            @if ($prefix == $prefix-push) {
                & .#{$type}#{$prefix-push}#{$index} {
                    left: $order;
                }
            }

            @if ($prefix == $prefix-pull) {
                & .#{$type}#{$prefix-pull}#{$index} {
                    right: $order;
                }
            }
        }

        // Loops
        @mixin loop-cells($type: null) {
            @for $index from 0 through $length {
                @include make-cell($index, $type, $prefix-width);
                @include make-cell($index, $type, $prefix-push);
                @include make-cell($index, $type, $prefix-pull);
                @include make-cell($index, $type, $prefix-move);
                @include make-cell($index, $type, $prefix-back);
            }
        }

        // Default 
        @include loop-cells("#{$prefix-cell}-");

        // Responsive
        $viewports: config(viewport, list);
        @each $type, $value in config(viewport, list) {
            @include viewport($type) {
                @include loop-cells("#{$type}-");
            }
        }
    }
}

/// ---------------------------------------------------------------------------
/// 設定瀑布流屬性
/// ---------------------------------------------------------------------------
///
/// @param {Number} $count
/// @param {Number} $gap
/// @group Layout
///
@mixin waterfall-set($property, $value) {
    -webkit-column-#{$property}: $value;
    -moz-column-#{$property}: $value;
    column-#{$property}: $value;
}

/// ---------------------------------------------------------------------------
/// 設定瀑布流欄數
/// ---------------------------------------------------------------------------
///
/// @param {Number} $count
/// @group Layout
///
@mixin waterfall-count($count) {
    @include waterfall-set(count, $count);
}

/// ---------------------------------------------------------------------------
/// 設定瀑布流外距
/// ---------------------------------------------------------------------------
///
/// @param {Number} $gap
/// @group Layout
///
@mixin waterfall-gap($gap) {
    @include waterfall-set(gap, $gap);
}

/// ---------------------------------------------------------------------------
/// 設定瀑布流排版
/// ---------------------------------------------------------------------------
///
/// @param {Number} $count
/// @param {Number} $gap
/// @group Layout
///
@mixin waterfall($count: 1, $gap: 0) {
    @include waterfall-count($count);
    @include waterfall-gap($gap);
    @include waterfall-set(fill, auto);

    // Fixing for Firefox issue.
    -moz-column-fill: balance;

    > * {
        @include waterfall-set(break-inside, avoid);
    }
}