/*!
 * Texts
 * 
 * @version 1.0.0 2017/01/01 00:00
 * @author JOE <joe@youweb.tw>
 * @copyright (c) youweb.tw
 * @link http:///youweb.tw/
 */

/// ---------------------------------------------------------------------------
/// 隱藏文字
/// ---------------------------------------------------------------------------
///
/// @group Text
///
@mixin text-hide() {
    text-indent: -2000em;
    white-space: nowrap;
    text-align: left;
}

/// ---------------------------------------------------------------------------
/// 截斷文字
/// ---------------------------------------------------------------------------
///
/// @param mixed $max-width
/// @group Text
///
@mixin text-truncate($max-width: null) {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    @if ($max-width) {
        max-width: $max-width;
    }
}

/// ---------------------------------------------------------------------------
/// 重設文字
/// ---------------------------------------------------------------------------
///
/// @group Text
///
@mixin text-reset() {
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-break: auto;
  line-height: normal;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
}
