/*!
 * Utilities
 * 
 * @version 1.0.0 2017/01/01 00:00
 * @author JOE <joe@youweb.tw>
 * @copyright (c) youweb.tw
 * @link http:///youweb.tw/
 */

/// ---------------------------------------------------------------------------
/// 顯示元素
/// ---------------------------------------------------------------------------
/// 
/// @group Utility
///
@mixin show() {
    display: block !important;

    &.inline {
        display: inline-block !important;
    }

    @at-root  {
        table#{&} {
            display: table !important;
        }

        tr#{&} {
            display: table-row !important;
        }

        th#{&},
        td#{&} {
            display: table-cell !important;
        }
    }
}

/// ---------------------------------------------------------------------------
/// 隱藏元素
/// ---------------------------------------------------------------------------
/// 
/// @group Utility
///
@mixin hide() {
    display: none !important;
}

/// ---------------------------------------------------------------------------
/// 設定元素為可見
/// ---------------------------------------------------------------------------
/// 
/// @group Utility
///
@mixin visible() {
    visibility: visible !important;
}

/// ---------------------------------------------------------------------------
/// 設定元素為不可見
/// ---------------------------------------------------------------------------
/// 
/// @group Utility
///
@mixin invisible() {
    visibility: hidden !important;
}

/// ---------------------------------------------------------------------------
/// 清除浮動定位
/// ---------------------------------------------------------------------------
/// 
/// @group Layout
///
@mixin clearfix {
    &::after {
        display: block;
        content: "";
        clear: both;
    }
}

/// ---------------------------------------------------------------------------
/// 建立透明遮罩
/// ---------------------------------------------------------------------------
///
/// @param mixed $place
/// @group Utility
///
@mixin masked($place: before) {
    &::#{$place} {
        @include fit-to-parent;
        display: block;
        content: "";
        background: rgba(0, 0, 0, 0);
        pointer-events: none;
    }
}
