/*!
 * Viewports
 * 
 * @version 1.0.0 2017/01/01 00:00
 * @author JOE <joe@youweb.tw>
 * @copyright (c) youweb.tw
 * @link http:///youweb.tw/
 */

/// ---------------------------------------------------------------------------
/// 設定可視窗口樣式
/// ---------------------------------------------------------------------------
///
/// @param {String} $type
/// @param {String} $mode [null]
/// @group Viewport
///
@mixin viewport($type, $mode: null) {
    $mode: if($mode, $mode, config(viewport, mode));
    $mode: to-lower-case($mode);

    // Match
    @if ($mode == match) {
        @include viewport-only($type) {
            @content;
        }
    }

    // Up
    @if ($mode == up) {
        @include viewport-up($type) {
            @content;
        }
    }
    
    // Down
    @else {
        @include viewport-down($type) {
            @content;
        }
    }
}

/// ---------------------------------------------------------------------------
/// 設定可視窗口樣式 (以內模式)
/// ---------------------------------------------------------------------------
///
/// @param {String} $type
/// @group Viewport
///
@mixin viewport-match($type) {
    $query: null;
    $list: config(viewport, list);
    $keys: map-keys($list);
    $index: index($keys, $type);
    $prev: $index - 1;
    $next: $index + 1;
    $isMost: $index == 1;
    $isLeast: $next > length($keys);

    @if ($isLeast) {
        $prev: nth($keys, $prev);
        $value: config(viewport, list, $prev);
        $query: "max-width: #{$value - 1}";
        @media ($query) {
            @content;
        }
    }
    @elseif ($isMost) {
        $value: config(viewport, list, $type);
        $query: "min-width: #{$value}";
        @media ($query) {
            @content;
        }
    }
    @else {
        $query: "(min-width: #{map-get($list, $type)})";

        @if ($next <= length($keys)) {
            $prev: nth($keys, $prev);
            $query: $query + " and (max-width: #{map-get($list, $prev) - 1})";
        }
    
        @media #{$query} {
            @content;
        }
    }
}

/// ---------------------------------------------------------------------------
/// 設定可視窗口樣式 (以上模式)
/// ---------------------------------------------------------------------------
///
/// @param {String} $type
/// @group Viewport
///
@mixin viewport-up($type) {
    $value: config(viewport, list, $type);
    $query: "min-width: #{$value}";

    @media ($query) {
        @content;
    }
}

/// ---------------------------------------------------------------------------
/// 設定可視窗口樣式 (以下模式)
/// ---------------------------------------------------------------------------
///
/// @param {String} $type
/// @group Viewport
///
@mixin viewport-down($type) {
    $value: config(viewport, list, $type);
    $query: "max-width: #{$value}";

    @media ($query) {
        @content;
    }
}