﻿<div class="wp" id="index">
    <main class="main">
        <!--<div class="indexBanner" style="background-image: url(@ViewBag.offlinepage);">-->
        @*<div class="indexSlickBg background-cover d-none d-md-block" style="background-image: url(@ViewBag.offlinepage);"></div>*@
        @*<div class="indexSlickBg background-cover d-md-none" style="background-image: url(@ViewBag.offlinemobilepage); "></div>*@
        <!--</div>-->
        <div id="offline">
            <div class="offlineBlock blank background-cover" style="background-image: url(@Url.Content("~/styles/images/layout/offlineBg.jpg"));">
                @*<div class="offlineBlock blank background-cover" style="background-image: url(/styles/images/layout/offlineBg.jpg);">*@
                <div class="offlineInner">
                    <img src="/styles/images/layout/offlineIcon.svg" alt="" data-aos="fade-up">
                    <div class="lato font-40 font-weight-900 text-fff title text-center" data-aos="fade-up" data-aos-delay="200">@ViewBag.ResLang["offlinepage"]</div>
                    <div class="lato font-18 text-fff content font-weight-700 text-center" data-aos="fade-up" data-aos-delay="400">@ViewBag.ResLang["offlinemobilepage"]</div>
                    <div data-aos="fade-up" data-aos-delay="600">
                        <a href="./" class="lato font-16 font-weight-700">@ViewBag.ResLang["homepage"]</a>
                    </div>
                </div>
            </div>

        </div>
    </main>
</div>
