﻿<div class="wp" id="index">
    <main class="main">
        <div class="indexBanner">
            <div class="indexSlick">
                @if (ViewBag.homeBanner != null)
                {
                    foreach (var homeitem in ViewBag.homeBanner)
                    {
                        var tempHomePic = "test" + homeitem.pic;
                        var temHomeppicMobile = "test" + homeitem.picmobile;
                        //var tempHomePic = homeitem.pic.Substring(1);
                        //var temHomeppicMobile = homeitem.picmobile.Substring(1);
                        if (homeitem.newBlank == "Y")
                        {
                            <a href="@homeitem.url" class="indexSlickItem" target="_blank">
                                @*<span class="indexSlickBg background-cover d-none d-md-block" style="background-image:  url(@tempHomePic);"></span>
                                    <span class="indexSlickBg background-cover d-block d-md-none" style="background-image:  url(@temHomeppicMobile);"></span>*@
                                <span class="indexSlickBg background-cover d-none d-md-block" style="background-image:  url(@Url.Content("~" + homeitem.pic));"></span>
                                <span class="indexSlickBg background-cover d-block d-md-none" style="background-image:  url(@Url.Content("~" + homeitem.picmobile));"></span>
                                <span class="slickInner">
                                    <span class="mainTitle d-block kanit font-80 font-weight-600 text-fff" data-aos="fade-up" data-aos-delay="300">@homeitem.title</span>
                                    <span class="title d-block kanit font-30 font-weight-500 text-fff" data-aos="fade-up" data-aos-delay="500">
                                        @Html.Raw(homeitem.subtitle)
                                    </span>
                                </span>1
                            </a>
                        }
                        else
                        {
                            <a href="@homeitem.url" class="indexSlickItem">
                                <span class="indexSlickBg background-cover d-none d-md-block" style="background-image:  url(@Url.Content("~" + homeitem.pic));"></span>
                                <span class="indexSlickBg background-cover d-block d-md-none" style="background-image:  url(@Url.Content("~" + homeitem.picmobile));"></span>
                                <span class="slickInner">
                                    <span class="mainTitle d-block kanit font-80 font-weight-600 text-fff" data-aos="fade-up" data-aos-delay="300">@homeitem.title</span>
                                    <span class="title d-block kanit font-30 font-weight-500 text-fff" data-aos="fade-up" data-aos-delay="500">
                                        @Html.Raw(homeitem.subtitle)
                                    </span>
                                </span>
                            </a>
                        }

                        @*<div class="indexSlickBg background-cover d-none d-md-block" style="background-image: url(@tempHomePic);"></div>
                            <div class="indexSlickBg background-cover d-md-none" style="background-image: url(@temHomeppicMobile); "></div>
                            <div class="slickInner">
                                <div class="mainTitle kanit font-80 font-weight-600 text-fff">@homeitem.title</div>
                                <div class="title kanit font-30 font-weight-500 text-fff">
                                    @Html.Raw(homeitem.subtitle)
                                </div>
                            </div>*@
                    }
                }
            </div>
            <div class="indexBannerPage">
                <div class="arrows"></div>
                <div class="dots"></div>
            </div>
        </div>
        <div class="indexProduct">
            @if (ViewBag.productBanner != null)
            {
                foreach (var item in ViewBag.productBanner)
                {
                    var tempPic = "/projects/public/m000355/test/" + item.pic;
                    var temppicMobile = "/projects/public/m000355/test/" + item.picmobile;
                    //var tempPic = item.pic;
                    //var temppicMobile = item.picmobile;
                    <div class="indexProductItem">
                        <div class="indexProductItemBg background-cover d-none d-sm-block" style="background-image: url(@Url.Content("~/" + item.pic));"></div>
                        <div class="indexProductItemBg background-cover d-sm-none" style="background-image: url(@Url.Content("~/" + item.picmobile));"></div>
                        <div class="indexProductInner">
                            <h2 class="title kanit font-40 font-weight-600 text-fff" data-aos="fade-up" data-aos-delay="300">@item.title</h2>
                            <div class="text roboto font-16 font-weight-500 text-fff text-uppercase" data-aos="fade-up" data-aos-delay="500">@item.subtitle </div>
                            <div data-aos="fade-right" data-aos-delay="700">
                                <a href="~/products/productlist?category=@item.category" class="mainBtn">@ViewBag.ResLang["readmore"]</a>
                            </div>
                        </div>
                    </div>
                }
            }

            @*<div class="indexProductItem">
                    <div class="indexProductItemBg background-cover d-none d-sm-block" style="background-image: url(/projects/public/m000355/test/styles/images/index/index-bg1.jpg);"></div>
                    <div class="indexProductItemBg background-cover d-sm-none" style="background-image: url(/projects/public/m000355/test/styles/images/index/index-mobile-bg1.jpg); "></div>
                    <div class="indexProductInner">
                        <h2 class="title kanit font-40 font-weight-600 text-fff" data-aos="fade-up" data-aos-delay="300">ASSEMBLY & TIERS TOOLS</h2>
                        <div class="text roboto font-16 font-weight-500 text-fff text-uppercase" data-aos="fade-up" data-aos-delay="500">DUROFIX™ is a new brand for the 21st century, and is currently being promoted in Europe, America, Australia, and Asia. </div>
                        <div data-aos="fade-right" data-aos-delay="500">
                            <a href="~/products/productlist" class="mainBtn">READ MORE</a>
                        </div>
                    </div>
                </div>
                <div class="indexProductItem">
                    <div class="indexProductItemBg background-cover d-none d-sm-block" style="background-image: url(/projects/public/m000355/test/styles/images/index/index-bg2.jpg); "></div>
                    <div class="indexProductItemBg background-cover d-sm-none" style="background-image: url(/projects/public/m000355/test/styles/images/index/index-mobile-bg2.jpg); "></div>
                    <div class="indexProductInner">
                        <h2 class="title kanit font-40 font-weight-600 text-fff" data-aos="fade-up" data-aos-delay="300">INDUSTRIAL TOOLS</h2>
                        <div class="text roboto font-16 font-weight-500 text-fff text-uppercase" data-aos="fade-up" data-aos-delay="500">DUROFIX™ is a new brand for the 21st century, and is currently being promoted in Europe, America, Australia, and Asia. </div>
                        <div data-aos="fade-right" data-aos-delay="500">
                            <a href="~/products/productlist" class="mainBtn">READ MORE</a>
                        </div>
                    </div>
                </div>
                <div class="indexProductItem">
                    <div class="indexProductItemBg background-cover d-none d-sm-block" style="background-image: url(/projects/public/m000355/test/styles/images/index/index-bg3.jpg); "></div>
                    <div class="indexProductItemBg background-cover d-sm-none" style="background-image: url(/projects/public/m000355/test/styles/images/index/index-mobile-bg3.jpg); "></div>
                    <div class="indexProductInner">
                        <h2 class="title kanit font-40 font-weight-600 text-fff" data-aos="fade-up" data-aos-delay="300">MAINTENANCE & REPAIR TOOLS</h2>
                        <div class="text roboto font-16 font-weight-500 text-fff text-uppercase" data-aos="fade-up" data-aos-delay="500">DUROFIX™ is a new brand for the 21st century, and is currently being promoted in Europe, America, Australia, and Asia. </div>
                        <div data-aos="fade-right" data-aos-delay="500">
                            <a href="~/products/productlist" class="mainBtn">READ MORE</a>
                        </div>
                    </div>
                </div>
                <div class="indexProductItem">
                    <div class="indexProductItemBg background-cover d-none d-sm-block" style="background-image: url(/projects/public/m000355/test/styles/images/index/index-bg4.jpg); "></div>
                    <div class="indexProductItemBg background-cover d-sm-none" style="background-image: url(/projects/public/m000355/test/styles/images/index/index-mobile-bg4.jpg); "></div>
                    <div class="indexProductInner">
                        <h2 class="title kanit font-40 font-weight-600 text-fff" data-aos="fade-up" data-aos-delay="300">CONSTRUCTION TOOLS</h2>
                        <div class="text roboto font-16 font-weight-500 text-fff text-uppercase" data-aos="fade-up" data-aos-delay="500">DUROFIX™ is a new brand for the 21st century, and is currently being promoted in Europe, America, Australia, and Asia. </div>
                        <div data-aos="fade-right" data-aos-delay="500">
                            <a href="~/products/productlist" class="mainBtn">READ MORE</a>
                        </div>
                    </div>
                </div>*@
        </div>
        <div class="indexNews">
            <div class="newsTitleBox">
                <h2 class="mainTitle kanit font-50 font-weight-600 text-fff lh1" data-aos="fade-right" data-aos-delay="300">@ViewBag.ResLang["latestnews"]</h2>
                <div data-aos="fade-right" data-aos-delay="500">
                    <a href="@Url.Action("Index", "News")" class="mainBtn d-none d-md-block">@ViewBag.ResLang["readmore"]</a>
                </div>
            </div>
            <div class="newsArrows"></div>
            <div class="newsSlick">
                @if (ViewBag.newsData != null)
                {
                    foreach (var item in ViewBag.newsData)
                    {
                        <a href="@Url.Action("New", "News",new { guid = item.guid})" class="item" data-aos="fade-up" data-aos-delay="500">
                            <span class="d-block date kanit font-22 text-FCAE07">@item.startdate.Day  @item.startdate.Month, @item.startdate.Year</span>
                            <span class="title kanit font-22 font-weight-600 text-fff line2">@item.subtitle</span>
                            <span class="text roboto font-16 font-weight-500 line3">@item.homedesc</span>
                        </a>
                    }
                }
            </div>
            <a href="" class="mainBtn d-md-none">@ViewBag.ResLang["readmore"]</a>


        </div>
    </main>
</div>
