﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="wp" id="index">
    <main class="main catalog">
        <div id="catalog">
            <div class="pageBannerBlock blank" style="background-image: url(styles/images/catalog/catalog-banner.jpg);">
                <div class="breadcrumbInner">
                    <ol class="breadcrumb kanit font-weight-400">
                        <li class="breadcrumb-item"><a href="./">@ViewBag.ResLang["homepage"]</a></li>
                        <li class="breadcrumb-item" aria-current="page">@ViewBag.ResLang["catalogdownload"]</li>
                    </ol>
                </div>
                <div class="pageTitle">
                    <h1 class="kanit font-80 font-weight-600" data-aos="fade-up">@ViewBag.ResLang["catalogdownload"]</h1>
                </div>
            </div>
            <div class="catalogMainBlock blank">
                <div class="catalogMainInner">
                    <div class="catalogList" data-aos="fade-up" data-aos-delay="300" data-aos-duration="800">
                        @if (ViewBag.CatalogPageList != null)
                        {
                            foreach (var item in ViewBag.CatalogPageList)
                            {
                                <div class="catalogItem">
                                    <div class="imgBox">
                                        <img src="@Url.Content("~" + item.pic)" alt="@item.pic_alt">
                                    </div>
                                    <h2 class="cataName font-18 kanit font-weight-600 text-center text-323232">@item.title</h2>
                                    <a href="@Url.Content("~" + item.file)" onclick="addDownload('@item.guid')" target="_blank" class="d-flex">
                                        <img src="styles/images/catalog/icon-download.svg" alt="@item.file_alt">
                                        <span class="font-16 roboto font-weight-700">@ViewBag.ResLang["downloadTab"]</span>
                                    </a>
                                </div>
                            }
                        }
                    </div>
                    <div class="pagination d-flex flex-justify-center">
                        @Html.Raw(ViewBag.pageView)
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

@section scripts{
    <script>
        function addDownload(guid) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("AddInquireDownload", "Catalog")',
                data: {guid: guid},
            });
        }
    </script>
}


