﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="wp" id="index">
    <main class="main group">
        <div id="group">
            <div class="pageBannerBlock blank" style="background-image: url(@Url.Content("~/styles/images/about/about-banner.jpg"));">
                <div class="breadcrumbInner">
                    <ol class="breadcrumb kanit font-weight-400">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">@ViewBag.ResLang["homepage"]</a></li>
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "About")">@ViewBag.ResLang["aboutus"]</a></li>
                        <li class="breadcrumb-item" aria-current="page">@ViewBag.ResLang["aboutmoregroup"]</li>
                    </ol>
                </div>
                <div class="pageTitle">
                    <h1 class="kanit font-80 font-weight-600" data-aos="fade-up">@ViewBag.ResLang["aboutus"]</h1>
                </div>
                <div class="tagsWrap kanit font-weight-600 font-18 unblank">
                    <div class="tagBox active">
                        <a href="@Url.Action("Index", "About")">@ViewBag.ResLang["footerbrand"]</a>
                    </div>
                    <div class="tagBox">
                        <a href="@Url.Action("Group", "About")">@ViewBag.ResLang["aboutmoregroup"]</a>
                    </div>
                </div>
            </div>
            <div class="groupMainBlock blank">
                @if (ViewBag.groupData != null)
                {
                    @Html.Raw(ViewBag.groupData)
                }
                @*<div class="groupMainInner text-646464 roboto font-16">
                        <h2 class="kanit font-30 font-weight-600 text-323232 text-center pb-1 mb-sm-4 mt-md-3" data-aos="fade-up" data-aos-delay="300">ABOUT MORE GROUP</h2>
                        <hr>
                        <div class="kanit font-weight-600 font-22 text-323232 text-center pt-2 mt-sm-4" data-aos="fade-up" data-aos-delay="500">DUROFIX™ BELONGS TO THE REGITAR POWER TOOLS DIVISIONOF THE MORE GROUP.</div>
                        <div class="groupData" data-aos="fade-up" data-aos-delay="500">
                            <div class="dataItem"><span class="text-323232 font-weight-700 les05">FOUNDED: </span>1982</div>
                            <div class="dataItem"><span class="text-323232 font-weight-700 les05">EMPLOYEES: </span>1,800</div>
                            <div class="dataItem"><span class="text-323232 font-weight-700 les05">MAJOR PRODUCTS: </span>Power Tools, Automotive Electronics</div>
                        </div>
                        <div class="timelineBlock">
                            <div class="timelineInner">
                                <div class="item">
                                    <div class="imgBox" data-aos="fade-up" data-aos-delay="300" data-aos-duration="800">
                                        <img src="@Url.Content("~/styles/images/about/group01.jpg")" alt="">
                                    </div>
                                    <div class="timeBox">
                                        <div class="time">
                                            <h3 class="year font-36 text-323232 font-weight-600 kanit">1982</h3>
                                            <div class="location">Mobiletron HQ (Taiwan), Taichung</div>
                                        </div>
                                        <div class="mobileImgBox">
                                            <img src="@Url.Content("~/styles/images/about/group01.jpg")" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="imgBox" data-aos="fade-up" data-aos-delay="300" data-aos-duration="800">
                                        <img src="@Url.Content("~/styles/images/about/group02.jpg")" alt="">
                                    </div>
                                    <div class="timeBox">
                                        <div class="time">
                                            <h3 class="year font-36 text-323232 font-weight-600 kanit">1988</h3>
                                            <div class="location">Regitar USA (USA), Montgomery, AL</div>
                                        </div>
                                        <div class="mobileImgBox">
                                            <img src="@Url.Content("~/styles/images/about/group02.jpg")" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="imgBox" data-aos="fade-up" data-aos-delay="300" data-aos-duration="800">
                                        <img src="@Url.Content("~/styles/images/about/group03.jpg")" alt="">
                                    </div>
                                    <div class="timeBox">
                                        <div class="time">
                                            <h3 class="year font-36 text-323232 font-weight-600 kanit">1995</h3>
                                            <div class="location">Mobiletron Ningbo (China), Ningbo</div>
                                        </div>
                                        <div class="mobileImgBox">
                                            <img src="@Url.Content("~/styles/images/about/group03.jpg")" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="imgBox" data-aos="fade-up" data-aos-delay="300" data-aos-duration="800">
                                        <img src="@Url.Content("~/styles/images/about/group04.jpg")" alt="">
                                    </div>
                                    <div class="timeBox">
                                        <div class="time">
                                            <h3 class="year font-36 text-323232 font-weight-600 kanit">2000</h3>
                                            <div class="location">Mobiletron UK (UK), Preston</div>
                                        </div>
                                        <div class="mobileImgBox">
                                            <img src="@Url.Content("~/styles/images/about/group04.jpg")" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="imgBox" data-aos="fade-up" data-aos-delay="300" data-aos-duration="800">
                                    </div>
                                    <div class="timeBox">
                                        <div class="time">
                                            <h3 class="year font-36 text-323232 font-weight-600 kanit">2001</h3>
                                            <div class="location">Public (IPO) Company in Taiwan</div>
                                        </div>
                                        <div class="mobileImgBox">
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="imgBox" data-aos="fade-up" data-aos-delay="300" data-aos-duration="800">
                                    </div>
                                    <div class="timeBox">
                                        <div class="time">
                                            <h3 class="year font-36 text-323232 font-weight-600 kanit">2006</h3>
                                            <div class="location">TS16949 Certified</div>
                                        </div>
                                        <div class="mobileImgBox">
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="imgBox" data-aos="fade-up" data-aos-delay="300" data-aos-duration="800">
                                        <img src="@Url.Content("~/styles/images/about/group05.jpg")" alt="">
                                    </div>
                                    <div class="timeBox">
                                        <div class="time">
                                            <h3 class="year font-36 text-323232 font-weight-600 kanit">2009</h3>
                                            <div class="location">Durofix Inc. (USA) Los Angeles, CA</div>
                                        </div>
                                        <div class="mobileImgBox">
                                            <img src="@Url.Content("~/styles/images/about/group05.jpg")" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="imgBox" data-aos="fade-up" data-aos-delay="300" data-aos-duration="800">
                                        <img src="@Url.Content("~/styles/images/about/group06.jpg")" alt="">
                                    </div>
                                    <div class="timeBox">
                                        <div class="time">
                                            <h3 class="year font-36 text-323232 font-weight-600 kanit">2018</h3>
                                            <div class="location">RAC (Taiwan), Taichung</div>
                                        </div>
                                        <div class="mobileImgBox">
                                            <img src="@Url.Content("~/styles/images/about/group06.jpg")" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>*@
            </div>
        </div>
    </main>
</div>

