﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="wp" id="index">
    <main class="main brand">
        <div id="brand">
            <div class="pageBannerBlock blank" style="background-image: url(styles/images/about/about-banner.jpg);">
                <div class="breadcrumbInner">
                    <ol class="breadcrumb kanit font-weight-400">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">@ViewBag.ResLang["homepage"]</a></li>
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "About")">@ViewBag.ResLang["aboutus"]</a></li>
                        <li class="breadcrumb-item" aria-current="page">@ViewBag.ResLang["footerbrand"]</li>
                    </ol>
                </div>
                <div class="pageTitle">
                    <h1 class="kanit font-80 font-weight-600" data-aos="fade-up">@ViewBag.ResLang["aboutus"]</h1>
                </div>
                <div class="tagsWrap kanit font-weight-600 font-18 unblank">
                    <div class="tagBox active">
                        <a href="@Url.Action("Index", "About")">@ViewBag.ResLang["footerbrand"]</a>
                    </div>
                    <div class="tagBox">
                        <a href="@Url.Action("Group", "About")">@ViewBag.ResLang["aboutmoregroup"]</a>
                    </div>
                </div>
            </div>
            <div class="brandMainBlock blank">
                @if (ViewBag.brandData != null)
                {
                    @Html.Raw(ViewBag.brandData)
                }
            </div>
        </div>
    </main>
</div>

