
.icon-lang:before { content: '\e801'; } /* '' */
.icon-line:before { content: '\e802'; } /* '' */
.icon-mail:before { content: '\e803'; } /* '' */
.icon-search:before { content: '\e804'; } /* '' */
.icon-tel:before { content: '\e805'; } /* '' */
.icon-arrow:before { content: '\e806'; } /* '' */
.icon-fb:before { content: '\e807'; } /* '' */
.icon-fax:before { content: '\e808'; } /* '' */
.icon-ig:before { content: '\e809'; } /* '' */
.icon-twitter:before { content: '\e81f'; } /* '' */
