﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="wp" id="index">
    <main class="main news">
        <div id="news">
            <div class="pageBannerBlock blank" style="background-image: url(styles/images/news/news-banner.jpg);">
                <div class="breadcrumbInner">
                    <ol class="breadcrumb kanit font-weight-400">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">@ViewBag.ResLang["homepage"]</a></li>
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "News")">@ViewBag.ResLang["latestnews"]</a></li>
                        @*<li class="breadcrumb-item" aria-current="page">ALL</li>*@
                    </ol>
                </div>
                <div class="pageTitle">
                    <h1 class="kanit font-80 font-weight-600" data-aos="fade-up">@ViewBag.ResLang["latestnews"]</h1>
                </div>
            </div>
            <div class="newsMainBlock blank">
                <div class="newsMainInner">
                    <div class="newsList" data-aos="fade-up" data-aos-delay="300" data-aos-duration="800">
                        @if (ViewBag.NewsPageList != null)
                        {
                            foreach (var item in ViewBag.NewsPageList)
                            {
                                <h2 class="d-none">@item.title</h2>
                                <a href="@Url.Action("New", "News", new { guid = item.guid})" class="newsItem d-block">
                                    <span class="imgBox d-block">
                                        <img src="@Url.Content("~" + item.pic)" alt="">
                                    </span>
                                    <span class="newsTitle kanit font-18 font-weight-600 text-323232 text-center d-block">@item.subtitle</span>
                                    <span class="date kanit font-16 text-center text-969696 d-block">@item.startdate.Year/@item.startdate.Month/@item.startdate.Day</span>
                                </a>
                            }
                        }

                    </div>
                    <div class="pagination d-flex flex-justify-center">
                        @Html.Raw(ViewBag.pageView)
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

