﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="wp" id="index">
    <main class="main new">
        <div id="new">
            <div class="pageBannerBlock blank" style="background-image: url(@Url.Content("~/styles/images/news/news-banner.jpg"));">
                <div class="breadcrumbInner">
                    <ol class="breadcrumb kanit font-weight-400">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">@ViewBag.ResLang["homepage"]</a></li>
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "News")">@ViewBag.ResLang["latestnews"]</a></li>
                        @*<li class="breadcrumb-item" aria-current="page">ALL</li>*@
                    </ol>
                </div>
                <div class="pageTitle">
                    <h1 class="kanit font-80 font-weight-600" data-aos="fade-up">@ViewBag.ResLang["latestnews"]</h1>
                </div>
            </div>
            <div class="newMainBlock blank">
                <div class="newMainInner">
                    <div class="titleWrap" data-aos="fade-up" data-aos-delay="300">
                        <div class="shareWrap">
                            @*@if (ViewBag.newData.facebook != "")
                                {
                                    <a href="@ViewBag.newData.facebook" class="iconBox"><i class="icon-fb"></i></a>
                                }
                                else
                                {
                                    <a href="" class="iconBox"><i class="icon-fb"></i></a>
                                }
                                @if (ViewBag.newData.twitter != "")
                                {
                                    <a href="@ViewBag.newData.twitter" class="iconBox"><i class="icon-twitter"></i></a>
                                }
                                else
                                {
                                    <a href="" class="iconBox"><i class="icon-twitter"></i></a>
                                }
                                @if (ViewBag.newData.line != "")
                                {
                                    <a href="@ViewBag.newData.line" class="iconBox"><i class="icon-line"></i></a>
                                }
                                else
                                {
                                    <a href="" class="iconBox"><i class="icon-line"></i></a>
                                }*@
                            <a href="javascript:void(0)" id="fb_s" class="iconBox" target="_blank"><i class="icon-fb"></i></a>
                            <a href="javascript:void(0)" id="tt_s" class="iconBox"><i class="icon-twitter"></i></a>
                            <a href="javascript:void(0)" id="line_s" class="iconBox"><i class="icon-line"></i></a>
                        </div>
                        <h2 class="mainTitle kanit font-30 font-weight-600 text-323232 text-center" data-aos="fade-up" data-aos-delay="500">@ViewBag.newData.title</h2>
                        <div class="date kanit font-16 text-969696 text-center" data-aos="fade-up" data-aos-delay="500">@ViewBag.newData.startdate.Year/@ViewBag.newData.startdate.Month/@ViewBag.newData.startdate.Day</div>
                    </div>
                    <div class="editor" data-aos="fade-up" data-aos-delay="800" data-aos-duration="800">
                        @if (ViewBag.newData.content != null)
                        {
                            if (ViewBag.newData.content == "")
                            {

                            }
                            else
                            {
                                @Html.Raw(ViewBag.newData.content)
                            }
                        }
                    </div>
                    <div class="pageNavWrap font-16 kanit text-646464">
                        <div class="navBox" data-aos="fade-left" data-aos-delay="500" data-aos-duration="700">
                            <a href="@Url.Action("New", "News", new { guid = ViewBag.prevNews.guid})" class="prevBtn">
                                <i class="icon-arrow text-FCAE07"></i>
                                <span>@ViewBag.ResLang["previousbtn"]</span>
                            </a>
                        </div>
                        <div class="navBox" data-aos="flip-right" data-aos-delay="300">
                            <a href="@Url.Action("Index", "News")" class="backBtn">
                                <span>@ViewBag.ResLang["backbtn"]</span>
                            </a>
                        </div>
                        <div class="navBox" data-aos="fade-right" data-aos-delay="500" data-aos-duration="700">
                            <a href="@Url.Action("New", "News", new { guid = ViewBag.nextNews.guid})" class="nextBtn">
                                <span>@ViewBag.ResLang["nextbtn"]</span>
                                <i class="icon-arrow text-FCAE07"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {

            //FB分享
            $("#fb_s").click(function (e) {
                var thisURL = window.document.location.href;
                console.log(thisURL);
                window.open('http://www.facebook.com/share.php?u='.concat(thisURL), 'pop', config = 'height=500,width=500');
            });

            //twitter分享
            $("#tt_s").click(function (e) {
                var pageTitle = encodeURIComponent(document.title);
                var thisURL = window.document.location.href;
                window.open('http://twitter.com/home?status=' + pageTitle + "+".concat(thisURL), 'pop', config = 'height=500,width=500');
            });

            //line分享
            $("#line_s").click(function (e) {
                var pageTitle = encodeURIComponent(document.title);
                var thisURL = encodeURIComponent(window.document.location.href);
                // window.open('http://line.naver.jp/R/msg/text/?' + "+".concat(thisURL), 'pop', config = 'height=500,width=500');

                window.open('https://social-plugins.line.me/lineit/share?url=' + thisURL, 'pop', config = 'height=500,width=500');
            });


            //重製驗證碼

            $('#captcha').click(function () {

                var src = $('#captcha').attr('src').split('?');

                $('#captcha').attr('src', src[0] + "?d=" + Date.now());

            });
        });
    </script>
}

