.indexBanner{
  height: 100vh;
  position: relative;
  background-color: #000;
  .indexSlick{
    height: 100%;
    .slick-list{
      height: 100%;
      .slick-track{
        height: 100%;
        .slick-slide>div{
          height: 100%;
        }
        .indexSlickItem{
          height: 100%;
          position: relative;
          .indexSlickBg{
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            z-index: -1;
          }
          .slickInner{
            height: 100%;
            max-width: 900px;
            margin-left: 200px;
            margin-right: 60px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .mainTitle{
              line-height: 1.13;
              margin-bottom: 22px;
            }
            .title{
              line-height: 1.49;
            }
          }
        }
      }
    }
  }
  .indexBannerPage{
    width: 640px;
    height: 80px;
    background-color: $mainYellow;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0 0, 100% 0, 98.5% 100%, 0% 100%);
    .arrows{
      margin-right: 17px;
      .slickBtn{
        margin: 0 15px;
        .icon-arrow{
          font-size: 15px;
        }
        &.slickRight{
          transform: rotateY(180deg);
        }
      }
    }
    .dots{
      .slick-dots{
        position: relative;
        bottom: auto;
        li{
          transition: all 0.3s;
          margin-left: 14px;
          button{
            font-size: 16px;
            font-family: 'Kanit', sans-serif;            
            color: #000;
            opacity: 0.5;
            width: 25px;
            &::before{
              content: '';
              opacity: 1;
              width: 0px;
              height: 1px;
              background-color: #000;
              transition: all 0.3s;
              top: 50%;
              left: 140%;
            }
          }
        }
        li.slick-active{
          margin-right: 66px;
          button{
            opacity: 1;
            &::before{
              width: 56px;
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
.indexProduct{
  .indexProductItem{
    height: 420px;
    display: flex;
    align-items: center;
    position: relative;
    transition: all 0.3s;
    overflow: hidden;
    &::after{
      content: '';
      width: 100%;
      position: absolute;
      bottom: 0;
      box-shadow: 0px 0px 40px 40px rgba(0, 0, 0, 0.3);
      transition: all 0.3s;
    }
    &:hover{
      transform: scale(1.01);
      z-index: 2;
      box-shadow: 0px 0px 40px 40px rgba(0, 0, 0, 0.3);
      &::after{
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
      }
    }
    .indexProductItemBg{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .indexProductInner{
      margin-left: 200px;
      padding-bottom: 8px;
      max-width: 600px;
      display: flex;
      flex-direction: column;
      z-index: 2;
      .title{
        margin-bottom: 19px;
      }
      .text{
        line-height: 1.6;
        margin-bottom: 36px;
        padding-left: 33px;
        position: relative;
        &::before{
          content: '';
          width: 20px;
          height: 5px;
          position: absolute;
          left: 0;
          top: 8px;
          background-color: $mainYellow;
        }
      }
      .mainBtn{
        margin-left: 33px;
      }
    }
  }
}
.indexNews{
  height: 390px;
  background-color: #251C14;
  display: flex;
  align-items: center;
  .newsTitleBox{
    margin-left: 200px;
    margin-right: 160px;
    max-width: 173px;
    .mainTitle{
      margin-bottom: 42px;
      text-transform: uppercase;
    }
  }
  .newsArrows{
    z-index: 2;
    .slickBtn{
      height: 50px;
      padding: 0 15px;
      .icon-arrow{
        font-size: 15px;
        color: $mainYellow;
        transition: all 0.3s;
        &:hover{
          color: #fcd707;
        }
      }
      &.slickRight{
        transform: rotateY(180deg);
      }
    }
  }
  .newsSlick{
    width: 1190px;
    margin-left: -20px;
    &::before{
      content: '';
      position: absolute;
      height: 200px;
      border-left: 1px dashed $mainDarkgray;
      left: 49.5%;
      top: 8px;
      opacity: 0.5;
    }
    .item{
      padding-left: 95px;
      padding-right: 95px;
      .date{
        margin-bottom: 18px;
      }
      .title{
        line-height: 1.25;
        margin-bottom: 26px;
        transition: all 0.3s;
      }
      .text{
        color: #fff;
        opacity: 0.3;
        line-height: 1.5;
      }
      &:hover{
        .title{
          color: $mainYellow;
        }
      }
    }
  }
}


@media(max-width:1800px){
  .indexBanner .indexSlick .slick-list .slick-track .indexSlickItem .slickInner {
    margin-left: 160px;
  }
  .indexProduct .indexProductItem .indexProductInner {
    margin-left: 160px;
  }
  .indexNews{
    .newsSlick {
      width: 1100px;
    }
    .newsTitleBox {
      margin-left: 160px;
      margin-right: 100px;
    }
    .newsArrows{
      flex-shrink: 0;
    }
    .newsSlick .item {
      padding-left: 80px;
      padding-right: 80px;
    }

  }
}
@media(max-width:1600px){
  .indexBanner .indexSlick .slick-list .slick-track .indexSlickItem .slickInner {
    margin-left: 120px;
  }
  .indexProduct .indexProductItem .indexProductInner {
    margin-left: 120px;
  }
  .indexNews{
    .newsSlick {
      width: 980px;
    }
    .newsTitleBox {
      margin-left: 120px;
      margin-right: 60px;
    }
    
    .newsSlick .item {
      padding-left: 60px;
      padding-right: 60px;
    }
  }
}
@media(max-width:1400px){
  .indexBanner .indexSlick .slick-list .slick-track .indexSlickItem .slickInner {
    margin-left: 100px;
  }
  .indexProduct .indexProductItem .indexProductInner {
    margin-left: 100px;
  }
  .indexNews{
    .newsSlick {
      width: 850px;
    }
    .newsTitleBox {
      margin-left: 100px;
      margin-right: 20px;
    }
    
    .newsSlick .item {
      padding-left: 40px;
      padding-right: 40px;
    }
  }
}
@media(max-width:1199px){
  .indexNews{
    .newsSlick {
      width: 600px;
      &::before{
        content: none;
      }
    }
    .newsTitleBox {
      margin-left: 100px;
      margin-right: 60px;
    }
    
    .newsSlick .item {
      padding-left: 80px;
      padding-right: 80px;
    }
  }
}
@media(max-width:991px){
  .indexBanner .indexSlick .slick-list .slick-track .indexSlickItem .slickInner {
    margin-left: 60px;
  }
  .indexProduct .indexProductItem .indexProductInner {
    margin-left: 60px;
  }
  .indexNews{
    .newsSlick {
      width: 420px;
    }
    .newsTitleBox {
      margin-left: 60px;
      margin-right: 40px;
    }
    .newsSlick .item {
      padding-left: 40px;
      padding-right: 20px;
    }
  }

}
@media(max-width:767px){
  .indexBanner{
    height: 621px;
  }
  .indexBanner{
    .indexSlick .slick-list .slick-track .indexSlickItem{
      .slickInner {
        position: absolute;
        bottom: 0px;
        height: 185px;
        margin: 0;
        background-color: #251C14;
        width: 100%;
        .mainTitle {
          margin: 0;
          padding: 0 20px;
          padding-bottom: 78px;
          padding-top: 38px;
          text-align: center;
          font-size: 40px;
          line-height: 1.2;
        }
        .title{
          display: none;
        }
      }
      .indexSlickBg{
        margin-top: 80px;
        margin-bottom: 185px;
        height: 356px;
      }
    }
    .indexBannerPage {
      background-color: transparent;
      width: 100%;
      .arrows{
        display: none;
      }
      .dots{
        padding-bottom: 9px;
        .slick-dots li{
          &.slick-active button{
            color: $mainYellow;
          }
          button{
            color: #fff;
            &::before{
              background-color: $mainYellow;
            }
          }
        } 
      }
    }
  }
  .indexProduct {
    background-color: #251C14;
    padding-bottom: 20px;
    .indexProductItem {
      height: 380px;
      margin: 0 20px;
      margin-bottom: 20px;
      align-items: flex-end;
      border-radius: 20px;
      &::after{
        content: none;
      }
      box-shadow: none !important;
      .indexProductInner{
        max-width: 100%;
        width: 100%;
        margin: 0;
        padding: 0 20px;
        padding-bottom: 30px;
        .title{
          text-align: center;
        }
        .text{
          display: none;
        }
        .mainBtn{
          margin: 0 auto;
        }
      }
    }
  }
  .indexNews{
    height: 490px;
    flex-direction: column;
    position: relative;
    .newsTitleBox{
      margin: 0;
      padding-top: 55px;
      max-width: 100%;
      .mainTitle{
        text-transform: none;
        margin-bottom: 26px;
      }
    }
    .newsArrows{
      position: absolute;
      top: 192px;
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    .newsSlick{
      width: 320px;
      .item{
        text-align: center;
        .title{
          margin-bottom: 20px;
          -webkit-line-clamp: 3;
        }
        .date {
          font-size: 22px;
        }
      }
    }
    .mainBtn{
      margin-bottom: 60px;
      margin-top: auto;
    }
  }
}
@media(max-width:575px){
  .indexBanner .indexSlick .slick-list .slick-track .indexSlickItem .slickInner {
    .mainTitle {
      font-size: 30px;
    }
  }
}