.productListBlock{
  max-width: 1520px;
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 80px;
  display: flex;
  .sideNav-mobile{
    display: none;
  }
  .sideNav{
    width: 330px;
    margin-right: 50px;
    flex-shrink: 0;
    background-color: #fff;
    padding-bottom: 40px;
    .sub-menu{
      display: none;
    }
    >ul{
      border-bottom: 1px solid #DCDCDC;
    }
    >ul>li>img{
      width: 14px;
    }
    >ul>li>ul>li>img{
      width: 11px;
    }
    .menu{
      li.active{
        color: $mainYellow;
      }
      a:hover{
        color: $mainYellow;
      }
      >li{
        border-top: 1px solid #DCDCDC;
        transition: all 0.3s;
        font-family: 'Kanit', sans-serif;
        font-size: 20px;
        font-weight: 600;
        line-height: 22px;
        text-indent: -40px;
        padding-left: 42px;
        padding-top: 25px;
        padding-bottom: 25px;
        color: #323232;
        transition: all 0.3s;
        ul{
          margin-left: -5px;
          padding-right: 15px;
          li{
            border-top: 1px solid #DCDCDC;
            transition: all 0.3s;
            font-family: 'Kanit', sans-serif;
            font-size: 16px;
            font-weight: 500;
            line-height: 22px;
            text-indent: -22px;
            padding-left: 20px;
            padding-top: 14px;
            padding-bottom: 14px;
            color: #646464;
            img{
              margin-left: 0;
            }
            &:not(.haschild){
              a{
                padding-left: 22px;
                &::before{
                  width: 5px;
                  height: 3px;      
                  top: 10px;
                  color: #646464;
                  margin-left: 0;
                }
              }
            }
            &.open{
              >img{
                transform: rotate(90deg);
              }
            }
          }
        } 
        .num{
          font-size: 16px;
          font-weight: 500;
          color: #C8C8C8;
          margin-left: 4px;
        }
        img{
          transition: all 0.2s;
          height: 100%;
          margin-left: 15px;
          margin-right: 11px;
          padding-bottom: 4px;
        }
        &.open{
          background-color: #FAFAFA;
          >ul>li{
            >ul>li{
              &:last-child{
                padding-bottom: 0;
              }
              &:first-child{
                margin-top: 14px;
              }
            }
            &:last-child{
              margin-bottom: -25px;
            }
            &:first-child{
              margin-top: 25px;
            }
          }
          >img{
            transform: rotate(90deg);
          }
          
        }
      }
      li:not(.haschild){
        a{
          padding-left: 42px;
          position: relative;
          &::before{
            content: '';
            width: 7px;
            height: 5px;
            background-color: $mainYellow;
            position: absolute;
            left: 3px;
            top: 14px;
            margin-left: 15px;
            margin-right: 11px;  
          }
        }
      }
    }
  }
}
.productsListMain{
  .productsList{
    margin: 0 -10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .productItem{
      padding: 0 10px;
      margin-bottom: 44px;
      max-width: 290px;
      display: block;
      .productImgBox{
        border: 1px solid #DCDCDC;
        height: fit-content;
        position: relative;
        transition: all 0.2s;
        .productImg{
          // height: 100%;
          padding-top: 100%;
        }
        .RFQCheck{
          position: absolute;
          left: 15px;
          bottom: 15px;
          line-height: 1;
          .checkImg{
            width: 18px;
            height: 18px;
            margin-bottom: -3px;
            position: relative;
            margin-right: 6px;
            background-image: url(images/product/RFQ-uncheck.svg);
            &::after{
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 18px;
              height: 18px;
              background-image: url(images/product/RFQ-check.svg);
              opacity: 0;
              transition: all 0.2s;
            }
          }
          .text{
            transition: all 0.2s;
            margin-bottom: 1px;
          }
        }
        &.active{
          .RFQCheck{
            .checkImg::after{
              opacity: 1;
            }
            .text{
              color: $mainYellow;
            }
          }
        }
      }
      .productName{
        height: 89px;
        border-bottom: 1px solid #DCDCDC;
        margin-bottom: 8px;
        line-height: 1.15;
        padding-bottom: 10px;
        display: flex;
        align-items: flex-end;
      }
      &:hover{
        .productImgBox{
          border: 1px solid $mainYellow;
          box-shadow: 0px 0px 20px rgba(180, 180, 180, 0.5);
        }
      }
    }
    >i{
      width: 290px;
    }
  }
}


@media(max-width:1800px){
}
@media(max-width:1600px){
}
@media(max-width:1400px){
}
@media(max-width:1199px){
  .productListBlock .sideNav {
    margin-right: 42px;
  }
}
@media(max-width:991px){
  .productListTitle{
    margin-top: 80px;
    height: 204px;
    .titleLinkWrap{
      display: flex;
      justify-content: space-between;
      margin: 0 20px;
      border-bottom: 1px solid #fff;
      height: 95px;
      .titleLinkBack{
        display: flex;
        align-items: center;
        padding-right: 50px;
        font-size: 20px;
        flex-shrink: 0;
        padding-right: 0;
        .backIcon{
          width: 50px;
          height: 50px;
          border-radius: 50%;
          border: 2px solid #ffffff;
          color: #ffffff;
          font-size: 14px;
          padding-right: 2px;
          padding-bottom: 2px;
          margin-right: 15px;
          transition: all 0.3s;
          flex-shrink: 0;
          &:hover{
            color: $mainYellow;
            border-color: $mainYellow;
          }
        }
      }
      .RFQBox{
        .hoverRFQ{
          position: absolute;
          opacity: 0;
          transition: all 0.3s;
        }
        .qty{
          background-color: #fff; 
          transition: all 0.3s;
        }
        &:hover{
          .hoverRFQ{
            opacity: 1;
          }
          .qty{
            background-color: $mainYellow;
          }
        }
      }
    }
    .mainTitle {
      height: auto;
      padding-top: 11px;
      font-size: 35px;
    }
  }
  .productListBlock{
    position: relative;
    .sideNav {
      position: fixed;
      top: 80px;
      left: 0;
      width: 100%;
      height: calc(100vh - 80px);
      z-index: 1;
      overflow-y: auto;
      margin-right: 0;
      z-index: 60;
      display: none;
      &.scroll{
        top: 60px;
        height: calc(100vh - 60px);
      }
      .sideNavClose{
        position: relative;
        padding: 30px 0;
        display: block;
        margin-left: auto;
        margin-right: 20px;
        height: 60px;
        width: 40px;
        .bar{
          width: 21px;
          height: 2px;
          background-color: $mainYellow;
          position: absolute;
          right: 0;
          &.bar1{
            transform: rotate(45deg);
          }
          &.bar2{
            transform: rotate(-45deg);
          }
        }
        
      }
    }
    .sideNavBtn{
      max-width: 500px;
      width: 100%;
      margin: 0 auto;
      color: #fff;
      border-radius: 10px;
      display: flex;
      justify-content: space-between;
      padding: 0 25px;
      position: absolute;
      height: 62px;
      top: -31px;
      left: 0;
      right: 0;
      .icon-arrow{
        font-size: 14px;
        &::before{
          transform: rotate( -90deg );
        }
      }
    }
    .productsListMain{
      .pagination{
        padding-right: 0;
      }
    }
  } 
}
@media(max-width:767px){
}
@media(max-width:599px){
  .productListBlock{
    padding-top: 58px;
    .sideNavBtn {
      font-size: 16px;
    }
  }
  .productsListMain{
    .productsList{
      .productItem{
        flex-basis: 50%;
        margin-bottom: 20px;
        .productImgBox {
          padding-bottom: 28px;
        }
        .productName {
          font-size: 16px;
        }
      }
      i{
        flex-basis: 50%;
      }
    }
  }


}
@media(max-width:575px){
  .productListTitle{
    .titleLinkWrap{
      .titleLinkBack{
        font-size: 16px;
        width: 150px;
        line-height: 1.15;
        .backIcon{
          width: 39px;
          height: 39px;
        }
        .font-weight-600{
          font-weight: 400;
        }
      }
      .RFQBox{
        position: relative;
        margin-right: 10px;
        img{
          width: 32px;
          padding-top: 16px;
        }
        .qty{
          margin: 0;
          position: absolute;
          top: 26px;
          right: 0;
        }
      }
    }
  }
}