.breadcrumbBlock.breadcrumb-productDetail{
  .breadcrumbWrap{
    max-width: 1400px;
  }
}
.productDetailBlock{
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  .slickBlock{
    width: 720px ;
    height: 650px;
    border: 1px solid $mainYellow;
    background-color: #fff;
    position: relative;
    box-shadow: 0px 0px 20px rgba(180, 180, 180, 0.5);
    .slickMain{
      margin-bottom: 19px;
      .mainItem{
        padding: 26px 40px;
        .img{
          padding-top: 73.8162%;
          background-size: contain;
          background-position: center center;
          background-repeat: no-repeat;
        }
      }
    }
    .slickSub{
      width: 260px;
      margin: 0 auto;
      .slick-slide{
        margin: 0 5px;
        .subItem{
          border: 1px solid #DCDCDC;
          transition: all 0.3s;
          position: relative;
          .img{
            width: 78px;
            padding-top: 100%;
          }
          &.video{
            &::after{
              content: '';
              width: 40px;
              height: 40px;
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
              background-image: url(images/product/products-videoBtn.svg);
            }
          }
        }
  
        &.slick-current{
          .subItem{
            border: 1px solid $mainYellow;
          }
        }
      }
    }
    .slickBtnBox{
      position: absolute;
      top: 275px;
      width: 100%;
      .slickLeft, .slickRight{
        position: absolute;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        cursor: pointer;
        background-color: #fff;
        box-shadow: 0px 0px 20px rgba(180, 180, 180, 0.7);
        i{
          font-size: 13px;
          margin-bottom: 3px;
          margin-right: 2px;
          transition: all 0.3s;
        }
        &:hover{
          i{
            color: $mainYellow;
          }
        }
      }
      .slickLeft{
        left: -25px;
      }
      .slickRight{
        right: -25px;
        i{
          transform: rotateY(180deg);
          margin-right: 0px;
          margin-left: 2px;
        }
      }
    }
  }
  .productInfoBlock{
    max-width: 595px;
    margin-left: 85px;
    margin-top: 12px; 
    .productInfoRFQ{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 4px;
      padding-bottom: 2px;
      .RFQCheck{
        line-height: 1;
        .checkImg{
          width: 18px;
          height: 18px;
          margin-bottom: -3px;
          position: relative;
          margin-right: 6px;
          background-image: url(images/product/RFQ-uncheck.svg);
          &::after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 18px;
            height: 18px;
            background-image: url(images/product/RFQ-check.svg);
            opacity: 0;
            transition: all 0.2s;
          }
        }
        .text{
          transition: all 0.2s;
          margin-bottom: 1px;
        }
      }
      .stock{
        margin-right: 22px;
        img{
          height: 40px;
        }
      }
      &.active{
        .RFQCheck{
          .checkImg::after{
            opacity: 1;
          }
          .text{
            color: $mainYellow;
          }
        }
      }

    }
    .text{
      line-height: 1.6;
    }
    .productInfoLogo{
      display: flex;
      img{
        height: 40px;
        margin-right: 20px;
        margin-top: 14px;
      }
    }
  }
}

.videoPlayer{
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  margin-top: 60px;
  .video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
  }
  @media(max-width:767px){
    margin-top: 40px;
  }
}
.productTabBlock{
  margin-top: 98px;
  .panel-control {
    position:absolute;
    opacity:0;
  }
  .tab-group{
    max-width: 1460px;
    margin: 0 auto;
    display: flex;
    label {
      flex: 1;
      padding: 13px 30px;
      border:1px solid #D2D2D2;
      border-bottom:2px solid $mainYellow;
      background-color: #EBEBEB;
      bottom: -2px;
      position:relative;
      text-align: center;
    }
  } 
  .content-group {
    border-top:2px solid $mainYellow;
    padding-top: 60px;
    padding-bottom: 100px;
    background-color: #fff;
  }
  .content{
    display: none;
    max-width: 1400px;
    margin: 0 auto;
  }
  .content1{
    .featuresList{
      padding-bottom: 35px;
      li{
        margin-bottom: 17px;
        padding-left: 36px;
        position: relative;
        &::before{
          content: '';
          position: absolute;
          left: 0;
          top: 50%;
          width: 20px;
          height: 16px;
          transform: translateY(-50%);
          background-image: url(images/product/check.png);
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center center;
        }
      }
    } 
    .featuresIcon{
      padding-top: 19px;
      ul {
        display: flex;
        flex-wrap: wrap;
        .featuresIconGroup{
          margin-right: 25px;
          margin-top: 25px;
          position: relative;
          .hint{
            padding: 3px 11px 3px 16px;
            position: absolute;
            left: 50%;
            top: -43px;
            background-color: #000;
            border-radius: 5px;
            border-bottom-left-radius: 0;
            font-family: 'Kanit', sans-serif;
            font-size: 16px;
            color: #fff;
            white-space:nowrap;
            display: none;
            &::before{
              content: '';
              position: absolute;
              left: 0;
              bottom: -8px;
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 8px 8px 0 0;
              border-color: #000000 transparent transparent transparent;
            }
          }
          // &:last-child{
          //   .hint{
          //     left: auto;
          //     right: 50%;
          //     padding: 3px 16px 3px 11px;
          //     border-bottom-left-radius: 5px;
          //     border-bottom-right-radius: 0;
          //       &::before{
          //       left: auto;
          //       right: 0;
          //       border-width: 8px 0 0 8px;
          //     }
          //   }
          // }
        }
      }
    }
  }
  .content2{
    ul li{
      height: 40px;
      display: flex;
      align-items: center;
      .name{
        width: 325px;
        padding-left: 15px;
        padding-right: 15px;
      }
      .value{
        width: 600px;
      }
      &:nth-child(odd){
        background-color: #FEEFCD;
      }
    }
  }
  .content3{
    ul li{
      height: 61px;
      border-top: 1px solid #DCDCDC;
      display: flex;
      align-items: center;
      &:last-child{
        border-bottom: 1px solid #DCDCDC;
      }
      .dlLink{
        padding-left: 60px;
        position: relative;
        &:hover{
          color: $mainYellow;
        }
        &::before{
          content: '';
          position: absolute;
          left: 15px;
          top: 50%;
          width: 24px;
          height: 30px;
          transform: translateY(-50%);
          background-image: url(images/product/file.svg);
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center center;
        }
      }
    }
  }
  /* .content1{display:block;} */
  /* .tab-group .active {
    position:relative;
    background-color: #fff;
  } */
  
  #radio1:checked ~ .tab-group [for="radio1"],
  #radio2:checked ~ .tab-group [for="radio2"],
  #radio3:checked ~ .tab-group [for="radio3"]{
    background-color: #fff;
    border: 2px solid $mainYellow;
    border-bottom: 2px solid #fff;
  }
  
  /* #radio2:checked~ .content-group .content1{display:none}
  #radio3:checked~ .content-group .content1{display:none} */
  
  #radio1:checked ~ .content-group .content1,
  #radio2:checked ~ .content-group .content2,
  #radio3:checked ~ .content-group .content3 {display:block}
  
}


@media(max-width:1800px){
}
@media(max-width:1600px){
}
@media(max-width:1400px){
  .productDetailBlock{
    .slickBlock {
      width: 600px;
      height: 570px;
      .slickBtnBox {
        top: 220px;
      }
    }
    .productInfoBlock .productInfoRFQ .stock {
      margin-right: 8px;
    }
  }

  
}
@media(max-width:1199px){
  .productDetailBlock{
    .slickBlock {
      width: 480px;
      height: 480px;
      .slickBtnBox {
        top: 180px;
      }
    }
    .productInfoBlock {
      margin-left: 40px;
    }
  }
}
@media(max-width:991px){
  .breadcrumb-productDetail{
    .breadcrumbWrap{
      .breadcrumbBack{
        padding-right: 15px;
        border-right: none;
        .text-323232{
          display: block;
        }
      }
    }

  }
  .productDetailBlock{
    flex-direction: column;
    align-items: center;
    .slickBlock {
      max-width: 600px;
      width: 100%;
      height: 570px;
      margin-bottom: 40px;
      .slickBtnBox {
        top: 220px;
      }
    }
    .productInfoBlock{
      margin-left: 0;
      max-width: 930px;
    }
  }
  .ml-auto-992{
    margin-left: auto;
  }
}
@media(max-width:767px){
  .productDetailBlock{
    .slickBlock {
      max-width: 500px;
      height: 500px;
      .slickBtnBox {
        top: 180px;
      }
    }
  }

  .productTabBlock .content1 .featuresIcon ul .featuresIconGroup {
    margin-right: 15px;
    margin-top: 15px;
  }

}
@media(max-width:575px){
  .breadcrumb-productDetail{
    .breadcrumbWrap{
      .breadcrumbBack{
        .backIcon{
          width: 39px;
          height: 39px;
        }

      }
      .RFQBox{
        position: relative;
        margin-right: 10px;
        img{
          width: 32px;
          padding-top: 16px;
        }
        .qty{
          margin: 0;
          position: absolute;
          top: 2px;
          right: 0;
        }
      }
    }
  }
  .productDetailBlock{
    margin-top: 20px;
    .slickBlock {
      max-width: 340px;
      height: 370px;
      margin-bottom: 20px;
      .slickMain{
        .mainItem{
          padding: 12px 20px;
        }
      }
      .slickBtnBox {
        display: none;
      }
    }
    .productInfoBlock{
      .mainTitle {
        text-align: center;
      }
      .productSN {
        text-align: center;
      }
      .productInfoRFQ{
        flex-direction: column;
        .RFQCheck{
          margin-bottom: 20px;
        }
      }
    }
  }
  .productTabBlock {
    .tab-group {
      display: none;
    }
    .content-group{
      padding-top: 0px;
      padding-bottom: 60px;
      .content{
        display: block;
        .featuresList {
          padding-bottom: 0;
        }
        .featuresIcon{
          padding-top: 0;
        }
        .contentTitleMobile {
          margin-top: 40px;
          font-size: 20px;
          text-align: center;
        }
      }
    }
  }
}