.productsTitle{
  height: 505px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .mainTitle{
    color: #323232;
    line-height: 1;
    margin-top: 74px;
    margin-bottom: 20px;
  }
  .text{
    max-width: 800px;
    text-align: center;
    margin-bottom: 44px;
  }

}
.produtsLast{
  height: 440px;
  padding: 62px 0;
  background-color: #251C14;
  display: flex;
  justify-content: center;

  .productsLastItem{
    text-align: center;
    margin: 0 93px;
    .text{
      max-width: 240px;
      margin-top: 20px;
      margin-bottom: 43px;
      opacity: 40%;
      position: relative;
      line-height: 1.55;
      &::before{
        content: '';
        width: 1px;
        height: 84px;
        position: absolute;
        top: 6px;
        right: -93px;
        background-color: #fff;
        opacity: 40%;
      }
    }
    .mainBtn{
      margin: 0 auto;
    }
    &:nth-last-child(1){
      .text::before{
        content: none;
      }
    }
  }
}

@media(max-width:1800px){
  .produtsLast{
    .productsLastItem{
      margin: 0 72px;
      .text::before{
        right: -72px;
      }
    }
  }
}
@media(max-width:1600px){
  .produtsLast{
    .productsLastItem{
      margin: 0 56px;
      .text::before{
        right: -56px;
      }
    }
  }
}
@media(max-width:1400px){
  .produtsLast{
    .productsLastItem{
      margin: 0 42px;
      .text::before{
        right: -42px;
      }
    }
  }
}
@media(max-width:1199px){
  .produtsLast{
    .productsLastItem{
      margin: 0 20px;
      .text::before{
        right: -20px;
      }
    }
  }
}
@media(max-width:991px){
  .produtsLast{
    height: 720px;
    flex-wrap: wrap;
    .productsLastItem{
      margin: 0 60px;
      .text::before{
          right: -60px;
        }
      &:nth-last-child(3){
        .text::before{
          content: none;
        }
      }
    }
  }
}
@media(max-width:767px){
  .produtsLast{
    height: 1220px;
    .productsLastItem{
      margin: 0 72px;
      margin-bottom: 24px;
      .text{
        margin-bottom: 20px;
        &::before{
          content: none;
        }
      }

    }
  }

}
@media(max-width:575px){
}