.breadcrumbBlock{
  .breadcrumbWrap.RFQ-breadcrumbWrap{
    max-width: 1200px;
  }
}
.RFQMainBlock{
  background:linear-gradient(to bottom, #F5F5F5, #fff);
  .RFQMainWrap{
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 20px;
    background-color: #fff;
    .RFQTitle{
      max-width: 720px;
      margin: 0 auto;
      padding-top: 93px;
      text-align: center;
    }
    .RFQList{
      max-width: 1000px;
      margin: 92px auto;
      .RFQItem{
        height: 100px;
        margin-bottom: 10px;
        border: 1px solid #DCDCDC;
        display: flex;
        align-items: center;
        transition: all 0.3s;
        .RFQItemImg{
          width: 89px;
          margin: 0 14px;
          flex-shrink: 0;
        }
        .RFQItemName{
          flex-grow: 1;
          margin-left: 2px;
        }
        .RFQItemDel{
          width: 26px;
          height: 26px;
          border-radius: 50%;
          background-color: #DCDCDC;
          position: relative;
          margin: 0 30px;
          transition: all 0.3s;
          flex-shrink: 0;
          &::before, &::after{
            content: '';
            width: 14px;
            height: 2px;
            background-color: #fff;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(45deg);
            transition: all 0.3s;
          }
          &::after{
            transform: translate(-50%, -50%) rotate(-45deg);
          }
        }
        &:hover{
          border: 1px solid $mainYellow;
          box-shadow: 0px 0px 20px rgba(180, 180, 180, 0.5);
          .RFQItemDel{
            background-color: #000;
            &::before, &::after{
              background-color: $mainYellow;
            }
          }
        }
  
      }

    }
    .RFQFormBox{
      max-width: 1000px;
      margin: 0 auto;
      margin-bottom: 100px;
      .RFQForm{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 24px;
        .field-group{
          height: 60px;
          display: flex;
          flex-basis: 100%;
          border-radius: 10px;
          border: 1px solid #F5F5F5;
          background-color: #F5F5F5;
          margin-bottom: 20px;
          align-items: center;
          .label{
            font-family: 'Kanit', sans-serif;
            font-size: 18px;
            font-weight: 600;
            color: #323232;
            padding: 0 20px;
            flex-shrink: 0;
          }
          .input{
            flex-grow: 1;
            margin-right: 20px;
            width: 100px;
          }
          .v-select{
            flex-grow: 1;
            .vs__dropdown-toggle{
              border: none;
              .vs__selected-options{
                
              }
              .vs__actions{
                width: 35px;
                svg{
                  display: none;
                }
                &::before{
                  content: '';
                  width: 12px;
                  height: 8px;
                  position: absolute;
                  background-image: url(images/product/RFQ-arrow.svg);
                }
              }
            }
            .vs__dropdown-menu{
              border-radius: 10px;
              background-color: #F5F5F5;
              box-shadow: none;
              margin-left: -10px;
              border: none;
            }

          }
          &.textareaGroup{
            height: 200px;
            .textareaLabel{
              height: 100%;
              padding-top: 9px;
              padding-bottom: 9px;
            }
            .textarea{
              height: 100%;
              padding-top: 9px;
              padding-bottom: 9px;
              margin-right: 5px;
            }
          }
          &:hover{
            border: 1px solid $mainYellow;
          }
          &.half{
            flex-basis: 49.5%;
          }
          &.p350{
            flex-basis: 35%;
          }
          &.p640{
            flex-basis: 64%;
          }
          &.p445{
            flex-basis: 44.5%;
          }
        }
        .v-code{
          margin-right: auto;
          padding-top: 10px;
          padding-left: 20px;
          img{
            width: 115px;
          }
        }
        .submitWrap{
          margin-top: 30px;
          width: 100%;
          .submit{
            width: 158px;
            height: 60px;
            margin: 0 auto;
            border-radius: 30px;
            background-color: $mainYellow;
            transition: all 0.3s;
            &:hover{
              background-color: #fcd707;
            }
          }
        }
      }
    }
  } 
}


.RFQSendBlock{
  .RFQSendInner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    .RFQSendIcon{
      width: 160px;
      height: 160px;
      margin-top: 80px;
      margin-bottom: 31px;
      .iconBox{
        position: relative;
        .ring{
          width: 100%;
          animation: turnLeft 2s;
        }
        .check{
          width: 72px;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%,-50%);
          margin-left: 2px;
          margin-top: 2px;
        }
      } 
    }
    .RFQSendBtn{
      width: 158px;
      height: 60px;
      border-radius: 30px;
      background-color: $mainYellow;
      margin-top: 34px;
      margin-bottom: 80px;
      transition: all 0.3s;
      &:hover{
        background-color: #fcd707;
      }
    }
  }
}


@media(max-width:1800px){
}
@media(max-width:1600px){
}
@media(max-width:1400px){
}
@media(max-width:1199px){
  .RFQMainBlock{
    .RFQMainWrap{
      .RFQTitle{
        padding-top: 60px;
      }
    }
  }
}
@media(max-width:991px){
  .RFQMainBlock{
    padding-top: 100px;
    .RFQMainWrap{
      .RFQTitle{
        padding-top: 60px;
      }
      .RFQFormBox .RFQForm{
        .field-group {
          &.half{
            flex-basis: 100%;
          }
          &.p350{
            flex-basis: 100%;
          }
          &.p640{
            flex-basis: 100%;
          }
          &.p445{
            flex-basis: 100%;
          }
        }
        .v-code{
          padding-left: 0;
          margin: 0 auto;
        }

      }
    }
  }
  .RFQSendBlock {
    margin-top: 110px;
  }
}
@media(max-width:767px){
  .RFQMainBlock{
    .RFQMainWrap{
      .RFQTitle{
        padding-left: 20px;
        padding-right: 20px;
      }
      .RFQList{
        margin-top: 60px;
        margin-bottom: 60px;
      }
    }
  }
}
@media(max-width:575px){
  .RFQMainBlock{
    padding-top: 80px;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
    .RFQMainWrap{
      .RFQTitle{
      }
      .RFQList{
        .RFQItem{
          position: relative;
          padding-right: 8px;
          padding-top: 6px;
          padding-bottom: 6px;
          margin-bottom: 24px;
          height: auto;
          .RFQItemImg{
            margin: 0 8px;
          }
          .RFQItemDel{
            position: absolute;
            margin: 0;
            top: 0;
            right: 0;
            transform: translate(50% , -50%);
          }
        }
      }
    }
  }
}