.productSearchBlock{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 351px;
  max-width: 1540px;
  margin: 0 auto;
  padding-bottom: 28px;
  .searchGroupBox{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .searchGroup{
    height: 60px;
    width: 700px;
    border: 1px solid $mainYellow;
    border-radius: 10px;
    background-color: #F5F5F5;
    margin-top: 18px;
    display: flex;
    transition: all 0.3s;
    &:hover{
      box-shadow: 0px 0px 20px rgba(180, 180, 180, 0.5);
    }
    input{
      height: 100%;
      margin-left: 16px;
      flex-grow: 1;
    }
    ::placeholder{
      font-family: 'Roboto', sans-serif;
      font-size: 18px;
      color: #969696;
    }
    .searchBtn{
      transition: all 0.3s;
      img{
        width: 35px;
        margin: 0 20px;
      }
      &:hover{
        filter: brightness(120%);
      }
    }
  }
}
.searchResultBlock{
  max-width: 1520px;
  margin: 0 auto;
  margin-bottom: 82px;
  .hrBox{
    position: relative;
    top: -16px;
    margin-bottom: 54px;
    .searchMessage{
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #fff;
      width: 300px;
      text-align: center;
    }
  }
  .search-productsListMain{
    .productsList{
      margin: 0 -15px;
      .productItem{
          padding: 0 15px;
          max-width: 310px;
          flex-shrink: 0;
      }
      >i{
        width: 310px;
      }
    }
    .pagination{
      padding-right: 0;
    }
  }
}

@media(max-width:1800px){
}
@media(max-width:1600px){
}
@media(max-width:1400px){
}
@media(max-width:1199px){
}
@media(max-width:991px){
  .productSearchBlock{
    margin-top: 100px;
  }
}
@media(max-width:767px){
  .productSearchBlock{
    .searchGroup{
      width: 100%;
    }
  }
  .searchResultBlock .search-productsListMain{
    .productsList{
      margin: 0 -10px;
      .productItem{
        padding: 0 10px;
        max-width: 290px;
      }
    }
  }
}
@media(max-width:575px){
}