﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="wp" id="index">
    <main class="main dealer">
        <div id="dealer">
            <div class="pageBannerBlock blank" style="background-image: url(styles/images/dealer/dealer-banner.jpg);">
                <div class="breadcrumbInner">
                    <ol class="breadcrumb kanit font-weight-400">
                        <li class="breadcrumb-item"><a href="./">@ViewBag.ResLang["homepage"]</a></li>
                        <li class="breadcrumb-item" aria-current="page">@ViewBag.ResLang["dealer"]</li>
                    </ol>
                </div>
                <div class="pageTitle">
                    <h1 class="kanit font-80 font-weight-600" data-aos="fade-up">@ViewBag.ResLang["dealer"]</h1>
                </div>
                @Html.Partial("../Dealer/Nav")<!--共用選單-->
                @*<div class="tagsWrap kanit font-weight-600 font-18 unblank d-none d-lg-flex">
                        @if (ViewBag.dealerCatalogData != null)
                        {
                            foreach (var itemCatalog in ViewBag.dealerCatalogData)
                            {
                                if (itemCatalog.guid == "22021617193640")
                                {
                                    <div class="tagBox active">
                                        <a href="">@itemCatalog.title</a>
                                    </div>
                                }
                                else
                                {
                                    <div class="tagBox">
                                        <a href="">@itemCatalog.title</a>
                                    </div>
                                }
                            }
                        }
                    </div>*@
                @*<div class="mobileTagsWrap kanit d-lg-none">
                        <select class="selectpicker">
                            @if (ViewBag.dealerCatalogData != null)
                            {
                                foreach (var itemCatalog in ViewBag.dealerCatalogData)
                                {
                                    <option>@itemCatalog.title</option>
                                }
                            }
                        </select>
                    </div>*@
            </div>
            <div class="dealerMainBlock blank">
                <div class="dealerMainInner text-646464 roboto font-16">
                    @if (ViewBag.h1categoryTitle != null)
                    {
                        <h2 class="kanit font-30 font-weight-600 text-323232 text-center" data-aos="fade-up" data-aos-delay="300">@ViewBag.h1categoryTitle.title</h2>
                    }
                    else
                    {
                        <h2 class="kanit font-30 font-weight-600 text-323232 text-center" data-aos="fade-up" data-aos-delay="300"></h2>
                    }
                    <div class="dealerList">
                        @if (ViewBag.dealerData != null)
                        {
                            foreach (var itemDealer in ViewBag.dealerData)
                            {
                                <div class="dealerItem roboto font-16 text-646464" data-aos="flip-up" data-aos-delay="500">
                                    <h3 class="title font-18 kanit font-weight-600 text-323232">@itemDealer.title</h3>
                                    <div class="itemInner">
                                        <div class="telWrap">
                                            <img src="styles/images/contact/contact-tel.svg" alt="">
                                            <a href="tel:+886-4-25683403" class="text-hover-yellow">@itemDealer.phone</a>
                                        </div>
                                        <div class="faxWrap">
                                            <img src="styles/images/contact/contact-fax.svg" alt="">
                                            <span class="">Fax: @itemDealer.fax</span>
                                        </div>
                                        <div class="addressWrap">
                                            <img src="styles/images/contact/contact-address.svg" alt="">
                                            <a href="@itemDealer.addressmap" target="_blank" class="text-hover-yellow">@itemDealer.address</a>
                                        </div>
                                        <div class="mailWrap">
                                            <img src="styles/images/contact/contact-mail.svg" alt="">
                                            <a href="mailto:info@durofix.com.tw" class="text-hover-yellow">@itemDealer.email</a>
                                        </div>
                                    </div>
                                </div>
                            }
                        }

                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

