﻿<div class="tagsWrap kanit font-weight-600 font-18 unblank d-none d-lg-flex">
    @if (ViewBag.dealerCatalogData != null)
    {
        foreach (var itemCatalog in ViewBag.dealerCatalogData)
        {
            if (itemCatalog.guid == ViewBag.activeGuid)
            {
                <div class="tagBox active">
                    <a href="@Url.Action("Index", "Dealer", new { guid = itemCatalog.guid})">@itemCatalog.title</a>
                </div>
            }
            else
            {
                <div class="tagBox">
                    <a href="@Url.Action("Index", "Dealer", new { guid = itemCatalog.guid})">@itemCatalog.title</a>
                </div>
            }
        }
    }
</div>
<div class="mobileTagsWrap kanit d-lg-none">
    <select class="selectpicker" onchange="location = this.value">
        @if (ViewBag.dealerCatalogData != null)
        {
            foreach (var itemCatalog in ViewBag.dealerCatalogData)
            {
                if (itemCatalog.guid == ViewBag.activeGuid)
                {
                    <option selected value="@Url.Action("Index", "Dealer", new { guid = itemCatalog.guid})">@itemCatalog.title</option>
                }
                else
                {
                    <option value="@Url.Action("Index", "Dealer", new { guid = itemCatalog.guid})">@itemCatalog.title</option>
                }

            }
        }
    </select>
</div>