//字型 相關
.lato{
  font-family: "Lato", sans-serif;
}
.kanit{
  font-family: 'Kanit', sans-serif;
}
.Oswald{
  font-family: "Oswald", sans-serif;
}
.roboto{
  font-family: 'Roboto', sans-serif;
}
.notoSansTC{
  font-family: "Noto Sans TC", sans-serif;
}
.Staatliches{
  font-family: "Staatliches", sans-serif;
}
.Poppins{
  font-family: "Poppins", sans-serif;
}
//width height 相關
// .w40{
//   width: 40px;
// }
// .h40{
//   height: 40px;
// }
// .w-0{
//   width: 0;
// }
// .w40{
//   width: 40px;
// }
// .h40{
//   height: 40px;
// }
// .w50{
//   width: 50px;
// }
// .h50{
//   height: 50px;
// }
// .w60{
//   width: 60px;
// }
// .h60{
//   height: 60px;
// }
// .w100{
//   width: 100px;
//   @media(max-width:767px){
//     width: 60px;
//   }
// }
// .max1680{
//   max-width: 1680px;
// }


//lh 相關
.lh1{
  line-height: 1; 
}
.lh14{
  line-height: 1.4;
}
// .lh16{
//   line-height: 1.6;
// }
// .lh18{
//   line-height: 1.8;
// }
// .lh21{
//   line-height: 2.1;
// }

//z-index 相關
.z-1{
  z-index: 1;
}
.z-2{
  z-index: 2;
}
// .z-3{
//   z-index: 3;
// }


//color 相關
.text-FCAE07{
  color:#FCAE07;
}
.text-323232{
  color:#323232;
}
.text-646464{
  color:#646464;
}
.text-969696{
  color:#969696;
}
.text-C8C8C8{
  color:#C8C8C8;
}
.text-fff{
  color:#fff;
}
.text-red{
  color:#FF0000;
}
.text-menu{
  color: #7C7876;
}

.text-hover-yellow{
  transition: all 0.3s;
  &:hover{
    color: $mainYellow;
  }
}

.bgc-fff{
  background-color: #fff !important;
}
.bgc-F5F5F5{
  background-color: #F5F5F5 !important;
}
.bgc-FAFAFA{
  background-color: #FAFAFA;
}
//border
// .border-2-white{
//   border:2px solid white;
// }
// .border-2-black{
//   border:2px solid black;
// }
// .border-bottom-white04{
//   border-bottom:1px solid rgba(255,255,255,0.4);
// }



//rounded 相關
// .rounded-10{ 
//   border-radius:10px;
// }
// .rounded-20{  
//   border-radius:20px;
// }
// .rounded-30{ 
//   border-radius: 30px;
// }


//position 相關 
.absolute-center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
// .position-lg-absolute{
//   @media (min-width:992px){
//     position: absolute !important;
//   }
// }
// .position-md-absolute{
//   @media (min-width:768px){
//     position: absolute !important;
//   }
// }
// .position-xl-absolute{
//   @media (min-width:1200px){
//     position: absolute !important;
//   }
// }
// .position-md-relative{
//   @media (min-width:768px){
//     position: relative !important;
//   }
// }


// flex 相關
.flex-grow{ 
  flex-grow: 1;
}
.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-align-center{
  display: flex;
  align-items: center;
}
.flex-align-end{
  display: flex;
  align-items: flex-end;
}
.flex-justify-space-between{
  display: flex;
  justify-content: space-between;
}
.flex-justify-center{
  display: flex;
  justify-content: center;
}
.flex-wrap{
  flex-wrap: wrap;
}
// .flex-lg-justify-start{
//   @media (min-width:991px){
//     justify-content: flex-start;
//   }
// }

// .align-center{
//   align-items: center;
// }
// .justify-center{
//   justify-content: center;
// }


//其他
.blank{
  padding-right: 30px;
  padding-left: 30px;
  @media(max-width:767px){
    padding-right: 20px; 
    padding-left: 20px;
  }
}

.unblank{
  margin-right: -30px;
  margin-left: -30px;
  @media(max-width:767px){
    margin-right: -20px; 
    margin-left: -20px;
  }
}

// .text-lg-left{
//   @media(max-width:991px){
//     text-align: left;
//   }
// }
// .text-md-left{
//   @media(max-width:767px){
//     text-align: left;
//   }
// }
.cursor{
  cursor: pointer;
}
// .point-event-none{
//   pointer-events: none;
// }
// .point-event-all{
//   pointer-events: all;
// }
.les05{
  letter-spacing: 0.5px;
}
.les1{
  letter-spacing: 1px;
}
.les2{
  letter-spacing: 2px; 
}
.les5{
  letter-spacing: 5px;
}
.les65{
  letter-spacing: 6.5px;
}
.background-cover{
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
// .line1{
//   white-space: nowrap;
//   overflow: hidden;
//   text-overflow: ellipsis;
// }
.line2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.line3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.text-uppercase{
  text-transform: uppercase;
}
.overflow-hidden{
  overflow:hidden;
}
.font-weight-300{
  font-weight: 300;
}
.font-weight-400{
  font-weight: 400;
}
.font-weight-500{
  font-weight: 500;
}
.font-weight-600{
  font-weight: 600;
}
.font-weight-700{
  font-weight: 700;
}
.font-weight-800{
  font-weight: 800;
}

@media (min-width: 1400px){
  .d-xxl-flex{
    display: flex !important;
  }
  .d-xxl-block{
    display: block !important;
  }
  .d-xxl-inline-block{
    display: inline-block!important;
  }
  .mr-xxl-5{
    margin-right: 3rem!important;
  }
  .ml-xxl-4{
    margin-left: 1.5rem!important;
  }
  .pr-xxl-5{
    padding-right: 3rem!important;
  }
  .pl-xxl-5{
    padding-left: 3rem!important;
  }
  .px-xxl-5{
    padding-left: 3rem!important;
    padding-right: 3rem!important;
  }
}
