﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="wp" id="index">
    <main class="main service">
        <div id="service">
            <div class="pageBannerBlock blank" style="background-image: url(@Url.Content("~/styles/images/contact/contact-banner.jpg"));">
                <div class="breadcrumbInner">
                    <ol class="breadcrumb kanit font-weight-400">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">@ViewBag.ResLang["homepage"]</a></li>
                        <li class="breadcrumb-item"><a href="@Url.Action("Contactus", "Service")">@ViewBag.ResLang["contactus"]</a></li>
                        <li class="breadcrumb-item" aria-current="page">@ViewBag.ResLang["contactservice"]</li>
                    </ol>
                </div>
                <div class="pageTitle">
                    <h1 class="kanit font-80 font-weight-600" data-aos="fade-up">@ViewBag.ResLang["contactus"]</h1>
                </div>
                <div class="tagsWrap kanit font-weight-600 font-18 unblank">
                    <div class="tagBox active">
                        <a href="@Url.Action("Contactus", "Service")">@ViewBag.ResLang["contactservice"]</a>
                    </div>
                    <div class="tagBox">
                        <a href="@Url.Action("Contactinfo", "Service")">@ViewBag.ResLang["contactinfo"]</a>
                    </div>
                </div>
            </div>
            <div class="serviceMainBlock blank">
                <div class="serviceMainInner text-646464 roboto font-16">
                    <h2 class="kanit font-30 font-weight-600 text-323232 text-center" data-aos="fade-up" data-aos-delay="300">@ViewBag.ResLang["contactservice"]</h2>
                    <div class="cardList">
                        @if (ViewBag.contactusservice != null)
                        {
                            foreach (var item in ViewBag.contactusservice)
                            {
                                <div class="serviceCard" data-aos="fade-left" data-aos-delay="500" data-aos-duration="600">
                                    <div class="left">
                                        <div class="corpWrap kanit text-323232">
                                            <h3 class="location font-30 font-weight-600">@item.title</h3>
                                            <h4 class="corp font-20 font-weight-600">@item.subtitle</h4>
                                            <hr>
                                            <div class="address font-16"><a href="@item.maparea" class="text-hover-yellow">@item.address</a></div>
                                            <hr>
                                        </div>
                                        <div class="infoWrap roboto font-16 text-646464">
                                            <div class="telWrap">
                                                <img src="@Url.Content("~/styles/images/contact/contact-tel.svg")" alt="">
                                                <a href="tel:@item.telphone" class="text-hover-yellow mt-1">@item.telphone</a>
                                            </div>
                                            <div class="faxWrap">
                                                <img src="@Url.Content("~/styles/images/contact/contact-fax.svg")" alt="">
                                                <span class="">@item.fax</span>
                                            </div>
                                            <div class="mailWrap">
                                                <img src="@Url.Content("~/styles/images/contact/contact-mail.svg")" alt="">
                                                <a href="mailto:@item.email" class="text-hover-yellow">@item.email</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right">
                                        @if (item.jmaparea == 1)
                                        {
                                            <div class="map" id="map01"></div>
                                        }
                                        else if (item.jmaparea == 2)
                                        {
                                            <div class="map" id="map02"></div>
                                        }
                                        else if (item.jmaparea == 3)
                                        {
                                            <div class="map" id="map03"></div>
                                        }
                                        else if (item.jmaparea == 4)
                                        {
                                            <div class="map" id="map04"></div>
                                        }
                                        else if (item.jmaparea == 5)
                                        {
                                            <div class="map" id="map05"></div>
                                        }
                                        else if (item.jmaparea == 6)
                                        {
                                            <div class="map" id="map06"></div>
                                        }

                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>


@section scripts{
    <script>
        // When the window has finished loading create our google map below
        google.maps.event.addDomListener(window, 'load', init);

        function init() {
            // Basic options for a simple Google Map
            // For more options see: https://developers.google.com/maps/documentation/javascript/reference#MapOptions
            var mapOptions01 = {
                // How zoomed in you want the map to start at (always required)
                zoom: 16,

                // The latitude and longitude to center the map (always required)
                center: new google.maps.LatLng(@ViewBag.mapx1, @ViewBag.mapy1), // TAIWAN

                // How you would like to style the map.
                // This is where you would paste any style found on Snazzy Maps.
                styles: [{ "featureType": "all", "elementType": "all", "stylers": [{ "hue": "#ffbb00" }] }, { "featureType": "all", "elementType": "geometry.fill", "stylers": [{ "hue": "#ffbb00" }] }, { "featureType": "all", "elementType": "labels.text.fill", "stylers": [{ "hue": "#ffbb00" }] }]
            };

            var mapOptions02 = {
                // How zoomed in you want the map to start at (always required)
                zoom: 14,

                // The latitude and longitude to center the map (always required)
                center: new google.maps.LatLng(@ViewBag.mapx2, @ViewBag.mapy2), // U.S.A.

                // How you would like to style the map.
                // This is where you would paste any style found on Snazzy Maps.
                styles: [{ "featureType": "all", "elementType": "all", "stylers": [{ "hue": "#ffbb00" }] }, { "featureType": "all", "elementType": "geometry.fill", "stylers": [{ "hue": "#ffbb00" }] }, { "featureType": "all", "elementType": "labels.text.fill", "stylers": [{ "hue": "#ffbb00" }] }]
            };

            var mapOptions03 = {
                // How zoomed in you want the map to start at (always required)
                zoom: 16,

                // The latitude and longitude to center the map (always required)
                center: new google.maps.LatLng(@ViewBag.mapx3, @ViewBag.mapy3), // EUROPE

                // How you would like to style the map.
                // This is where you would paste any style found on Snazzy Maps.
                styles: [{ "featureType": "all", "elementType": "all", "stylers": [{ "hue": "#ffbb00" }] }, { "featureType": "all", "elementType": "geometry.fill", "stylers": [{ "hue": "#ffbb00" }] }, { "featureType": "all", "elementType": "labels.text.fill", "stylers": [{ "hue": "#ffbb00" }] }]
            };

            var mapOptions04 = {
                // How zoomed in you want the map to start at (always required)
                zoom: 16,

                // The latitude and longitude to center the map (always required)
                center: new google.maps.LatLng(@ViewBag.mapx4, @ViewBag.mapy4), // CHINA

                // How you would like to style the map.
                // This is where you would paste any style found on Snazzy Maps.
                styles: [{ "featureType": "all", "elementType": "all", "stylers": [{ "hue": "#ffbb00" }] }, { "featureType": "all", "elementType": "geometry.fill", "stylers": [{ "hue": "#ffbb00" }] }, { "featureType": "all", "elementType": "labels.text.fill", "stylers": [{ "hue": "#ffbb00" }] }]
            };

            // Get the HTML DOM element that will contain your map
            // We are using a div with id="map" seen below in the <body>
            var mapElement01 = document.getElementById('map01');
            var mapElement02 = document.getElementById('map02');
            var mapElement03 = document.getElementById('map03');
            var mapElement04 = document.getElementById('map04');

            // Create the Google Map using our element and options defined above
            var map01 = new google.maps.Map(mapElement01, mapOptions01);
            var map02 = new google.maps.Map(mapElement02, mapOptions02);
            var map03 = new google.maps.Map(mapElement03, mapOptions03);
            var map04 = new google.maps.Map(mapElement04, mapOptions04);

            // Let's also add a marker while we're at it
            var marker = new google.maps.Marker({
                position: new google.maps.LatLng(@ViewBag.mapx1, @ViewBag.mapy1),
                map: map01,
                title: 'MOBILETRON ELECTRONICS CO., LTD.'
            });
            var marker = new google.maps.Marker({
                position: new google.maps.LatLng(@ViewBag.mapx2, @ViewBag.mapy2),
                map: map02,
                title: 'DUROFIX INC.'
            });
            var marker03 = new google.maps.Marker({
                position: new google.maps.LatLng(@ViewBag.mapx3, @ViewBag.mapy3),
                map: map03,
                title: 'MOBILETRON UK LTD.'
            });
            var marker04 = new google.maps.Marker({
                position: new google.maps.LatLng(@ViewBag.mapx4, @ViewBag.mapy4),
                map: map04,
                title: 'MOBILETRON ELECTRONICS (NINGBO) CO., LTD.'
            });
        }
    </script>
}