﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="wp" id="index">
    <main class="main contact">
        <div id="contact">
            <div class="pageBannerBlock blank" style="background-image: url(@Url.Content("~/styles/images/contact/contact-banner.jpg"));">
                <div class="breadcrumbInner">
                    <ol class="breadcrumb kanit font-weight-400">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">@ViewBag.ResLang["homepage"]</a></li>
                        <li class="breadcrumb-item"><a href="@Url.Action("Contactus", "Service")">@ViewBag.ResLang["contactus"]</a></li>
                        <li class="breadcrumb-item" aria-current="page">@ViewBag.ResLang["contactinfo"]</li>
                    </ol>
                </div>
                <div class="pageTitle">
                    <h1 class="kanit font-80 font-weight-600" data-aos="fade-up">@ViewBag.ResLang["contactus"]</h1>
                </div>
                <div class="tagsWrap kanit font-weight-600 font-18 unblank">
                    <div class="tagBox">
                        <a href="@Url.Action("Contactus", "Service")">@ViewBag.ResLang["contactservice"]</a>
                    </div>
                    <div class="tagBox active">
                        <a href="@Url.Action("Contactinfo", "Service")">@ViewBag.ResLang["contactinfo"]</a>
                    </div>
                </div>
            </div>
            <div class="contactMainBlock blank">
                <h2 class="mainTitle kanit font-30 font-weight-600 text-323232 text-center" data-aos="fade-up" data-aos-delay="300">@ViewBag.ResLang["contactinfo"]</h2>
                <div class="contactMainInner text-646464 roboto font-16">
                    <div class="RFQFormBox" data-aos="fade-up" data-aos-delay="500" data-aos-duration="600">
                        <div class="hint kanit text-323232 font-18">@ViewBag.ResLang["completeall"] <span class="text-red">*</span> @ViewBag.ResLang["assure"]</div>
                        <form action="@Url.Content("~/service/Send")" method="post" id="contactForm" class="RFQForm">
                            @Html.AntiForgeryToken()
                            @if (ViewBag.lang == "en")
                            {
                                <div class="field-group">
                                    <label class="label" for="bType">@ViewBag.ResLang["businessType"] <span class="text-red">*</span></label>
                                    <select class="selectpicker" id="bType" name="bType">
                                        @if (ViewBag.contactSubjectData != null)
                                        {
                                            foreach (var item in ViewBag.contactSubjectData)
                                            {
                                                <option>@item</option>
                                            }
                                        }
                                    </select>
                                </div>
                            }

                            <div class="field-group half">
                                <label class="label" for="corp">@ViewBag.ResLang["companyName"] <span class="text-red">*</span></label>
                                <input class="input" type="text" id="corp" name="corp" required>
                            </div>
                            <div class="field-group half">
                                <label class="label" for="name">@ViewBag.ResLang["contactName"] <span class="text-red">*</span></label>
                                <input class="input" type="text" id="name" name="name" required>
                            </div>
                            <div class="field-group half">
                                <label class="label" for="email">@ViewBag.ResLang["email"] <span class="text-red">*</span></label>
                                <input class="input" type="email" id="email" name="email" required>
                            </div>
                            <div class="field-group half">
                                <label class="label" for="tel">@ViewBag.ResLang["tel"] <span class="text-red">*</span></label>
                                <input class="input" type="tel" id="tel" name="tel" required>
                            </div>
                            @if (ViewBag.lang == "en")
                            {
                                <div class="field-group p350">
                                    <label class="label" for="country">@ViewBag.ResLang["country"] <span class="text-red">*</span></label>
                                    <select class="selectpicker" id="country" name="country">
                                        @if (ViewBag.contactCountryData != null)
                                        {
                                            foreach (var item in ViewBag.contactCountryData)
                                            {
                                                <option>@item</option>
                                            }
                                        }
                                    </select>
                                </div>
                                <div class="field-group p640">
                                    <label class="label" for="adress">@ViewBag.ResLang["address"]</label>
                                    <input class="input" type="text" id="adress" name="adress">
                                </div>
                                <div class="field-group">
                                    <label class="label" for="web">@ViewBag.ResLang["website"]</label>
                                    <input class="input" type="text" id="web" name="web">
                                </div>
                            }

                            <div class="field-group">
                                <label class="label" for="subject">@ViewBag.ResLang["subject"] <span class="text-red">*</span></label>
                                @*<select class="selectpicker" id="subject" name="subject">
                                        @if (ViewBag.contactSubjectData != null)
                                        {
                                            foreach (var item in ViewBag.contactSubjectData)
                                            {
                                                <option>@item</option>
                                            }
                                        }
                                    </select>*@
                                <input class="input" type="text" id="subject" name="subject">
                            </div>
                            <div class="field-group textareaGroup">
                                <label class="label textareaLabel" for="content">@ViewBag.ResLang["leaveMessage"]</label>
                                <textarea class="input textarea" id="content" name="content" placeholder=""></textarea>
                            </div>
                            <div class="field-group p445">
                                <label class="label" for="vcode">@ViewBag.ResLang["verification"] <span class="text-red">*</span></label>
                                <input class="input" type="text" id="vcode" name="vcode" required>
                            </div>
                            <div class="v-code">
                                <img id="captcha" onclick="reloadCaptcha()" src="@Url.Content("~/Content/BuildCaptcha.aspx")" alt="">
                            </div>
                            <div class="submitWrap">
                                <button class="submit flex-center kanit font-18 font-weight-500" type="submit">
                                    <span class="d-block">@ViewBag.ResLang["submit"]</span>
                                </button>
                            </div>
                        </form>
                    </div>

                    @if (TempData["alertmessage"] != null)
                    {
                        <script type="text/javascript">
        var message = @Html.Raw(Json.Encode(TempData["alertmessage"]));
        alert(message);
                        </script>
                    }

                </div>
            </div>
        </div>
    </main>
</div>

@section scripts
{
    <script type="text/javascript">
        //重製驗證碼
        function reloadCaptcha() {
            $('#captcha').attr('src', $('#captcha').attr('src') + "?d=" + Date.now());
        }
    </script>
}