﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="wp" id="index">
    <main class="main service">
        <div id="service">
            <div class="pageBannerBlock blank" style="background-image: url(styles/images/contact/contact-banner.jpg);">
                <div class="breadcrumbInner">
                    <ol class="breadcrumb kanit font-weight-400">
                        <li class="breadcrumb-item"><a href="./">HOME</a></li>
                        <li class="breadcrumb-item"><a href="service">CONTACT US</a></li>
                        <li class="breadcrumb-item" aria-current="page">SERVICE</li>
                    </ol>
                </div>
                <div class="pageTitle">
                    <h1 class="kanit font-80 font-weight-600" data-aos="fade-up">CONTACT US</h1>
                </div>
                <div class="tagsWrap kanit font-weight-600 font-18 unblank">
                    <div class="tagBox active">
                        <a href="service">SERVICE</a>
                    </div>
                    <div class="tagBox">
                        <a href="contact">CONTACT INFO.</a>
                    </div>
                </div>
            </div>
            <div class="serviceMainBlock blank">
                <div class="serviceMainInner text-646464 roboto font-16">
                    <h2 class="kanit font-30 font-weight-600 text-323232 text-center" data-aos="fade-up" data-aos-delay="300">SERVICE</h2>
                    <div class="cardList">
                        <div class="serviceCard" data-aos="fade-left" data-aos-delay="500" data-aos-duration="600">
                            <div class="left">
                                <div class="corpWrap kanit text-323232">
                                    <h3 class="location font-30 font-weight-600">TAIWAN (HEADQUARTERS)</h3>
                                    <h4 class="corp font-20 font-weight-600">MOBILETRON ELECTRONICS CO., LTD.</h4>
                                    <hr>
                                    <div class="address font-16"><a href="https://goo.gl/maps/KkBYKG7vHvBisf4H7" class="text-hover-yellow">NO. 85, SEC.4, CHUNG-CHING RD. TA-YA DISTRICT, TAICHUNG CITY, 428, TAIWAN</a></div>
                                    <hr>
                                </div>
                                <div class="infoWrap roboto font-16 text-646464">
                                    <div class="telWrap">
                                        <img src="styles/images/contact/contact-tel.svg" alt="">
                                        <a href="tel:+886-4-25683403" class="text-hover-yellow mt-1">+886-(0)4-25683403</a>
                                    </div>
                                    <div class="faxWrap">
                                        <img src="styles/images/contact/contact-fax.svg" alt="">
                                        <span class="">Fax: +886-(0)4-25669925</span>
                                    </div>
                                    <div class="mailWrap">
                                        <img src="styles/images/contact/contact-mail.svg" alt="">
                                        <a href="mailto:info@durofix.com.tw" class="text-hover-yellow">info@durofix.com.tw</a>
                                    </div>
                                </div>
                            </div>
                            <div class="right">
                                <div class="map" id="map01"></div>
                            </div>
                        </div>
                        <div class="serviceCard" data-aos="fade-left" data-aos-delay="500" data-aos-duration="600">
                            <div class="left">
                                <div class="corpWrap kanit text-323232">
                                    <h3 class="location font-30 font-weight-600">U.S.A.</h3>
                                    <h4 class="corp font-20 font-weight-600">DUROFIX INC.</h4>
                                    <hr>
                                    <div class="address font-16"><a href="https://goo.gl/maps/JiesD9phrszs9CSx8" class="text-hover-yellow">9168 PITTSBURGH AVE. RANCHO CUCAMONGA, CA 91730 U.S.A.</a></div>
                                    <hr>
                                </div>
                                <div class="infoWrap roboto font-16 text-646464">
                                    <div class="telWrap">
                                        <img src="styles/images/contact/contact-tel.svg" alt="">
                                        <a href="tel:+1-909-980-3323" class="text-hover-yellow mt-1">+1 (909) 980-3323</a>
                                    </div>
                                    <div class="faxWrap">
                                        <img src="styles/images/contact/contact-fax.svg" alt="">
                                        <span class="">Fax: +1 (909) 980-8822</span>
                                    </div>
                                    <div class="mailWrap d-none">
                                        <img src="styles/images/contact/contact-mail.svg" alt="">
                                        <a href="mailto:info@durofix.com.tw" class="text-hover-yellow">info@durofix.com.tw</a>
                                    </div>
                                </div>
                            </div>
                            <div class="right">
                                <div class="map" id="map02"></div>
                            </div>
                        </div>
                        <div class="serviceCard" data-aos="fade-left" data-aos-delay="500" data-aos-duration="600">
                            <div class="left">
                                <div class="corpWrap kanit text-323232">
                                    <h3 class="location font-30 font-weight-600">EUROPE</h3>
                                    <h4 class="corp font-20 font-weight-600">MOBILETRON UK LTD.</h4>
                                    <hr>
                                    <div class="address font-16"><a href="https://goo.gl/maps/u6aRQPcJqS8sgf8WA" class="text-hover-yellow">UNIT 80 ROMAN WAY, ROMAN WAY IND EST., LONGRIDGE ROAD PRESTON, LANCASHIRE, PR2 5BE UNITED KINGDOM</a></div>
                                    <hr>
                                </div>
                                <div class="infoWrap roboto font-16 text-646464">
                                    <div class="telWrap">
                                        <img src="styles/images/contact/contact-tel.svg" alt="">
                                        <a href="tel:+44-1772-693780" class="text-hover-yellow mt-1">+44-(0)1772-693780</a>
                                    </div>
                                    <div class="faxWrap">
                                        <img src="styles/images/contact/contact-fax.svg" alt="">
                                        <span class="">Fax: +44-(0)1772-693790</span>
                                    </div>
                                    <div class="mailWrap d-none">
                                        <img src="styles/images/contact/contact-mail.svg" alt="">
                                        <a href="mailto:info@durofix.com.tw" class="text-hover-yellow">info@durofix.com.tw</a>
                                    </div>
                                </div>
                            </div>
                            <div class="right">
                                <div class="map" id="map03"></div>
                            </div>
                        </div>
                        <div class="serviceCard" data-aos="fade-left" data-aos-delay="500" data-aos-duration="600">
                            <div class="left">
                                <div class="corpWrap kanit text-323232">
                                    <h3 class="location font-30 font-weight-600">CHINA</h3>
                                    <h4 class="corp font-20 font-weight-600">MOBILETRON ELECTRONICS (NINGBO) CO., LTD.</h4>
                                    <hr>
                                    <div class="address font-16"><a href="https://goo.gl/maps/aAgvZUCRBQeStYpN9" class="text-hover-yellow">C6, ZONE A, FAR EAST INDUSTRY CITY YUYAO, ZHEJIANG, 15400 CHINA</a></div>
                                    <hr>
                                </div>
                                <div class="infoWrap roboto font-16 text-646464">
                                    <div class="telWrap">
                                        <img src="styles/images/contact/contact-tel.svg" alt="">
                                        <a href="tel:+86-574-62760669" class="text-hover-yellow mt-1">+86-(0)574-62760669</a>
                                    </div>
                                    <div class="faxWrap">
                                        <img src="styles/images/contact/contact-fax.svg" alt="">
                                        <span class="">Fax:+86-(0)574-62700583</span>
                                    </div>
                                    <div class="mailWrap d-none">
                                        <img src="styles/images/contact/contact-mail.svg" alt="">
                                        <a href="mailto:info@durofix.com.tw" class="text-hover-yellow">info@durofix.com.tw</a>
                                    </div>
                                </div>
                            </div>
                            <div class="right">
                                <div class="map" id="map04"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>


@section scripts{
    <script>
        // When the window has finished loading create our google map below
        google.maps.event.addDomListener(window, 'load', init);

        function init() {
            // Basic options for a simple Google Map
            // For more options see: https://developers.google.com/maps/documentation/javascript/reference#MapOptions
            var mapOptions01 = {
                // How zoomed in you want the map to start at (always required)
                zoom: 16,

                // The latitude and longitude to center the map (always required)
                center: new google.maps.LatLng(24.227357446248313, 120.64370896443856), // TAIWAN

                // How you would like to style the map.
                // This is where you would paste any style found on Snazzy Maps.
                styles: [{ "featureType": "all", "elementType": "all", "stylers": [{ "hue": "#ffbb00" }] }, { "featureType": "all", "elementType": "geometry.fill", "stylers": [{ "hue": "#ffbb00" }] }, { "featureType": "all", "elementType": "labels.text.fill", "stylers": [{ "hue": "#ffbb00" }] }]
            };

            var mapOptions02 = {
                // How zoomed in you want the map to start at (always required)
                zoom: 14,

                // The latitude and longitude to center the map (always required)
                center: new google.maps.LatLng(34.087649317669786, -117.556246338637), // U.S.A.

                // How you would like to style the map.
                // This is where you would paste any style found on Snazzy Maps.
                styles: [{ "featureType": "all", "elementType": "all", "stylers": [{ "hue": "#ffbb00" }] }, { "featureType": "all", "elementType": "geometry.fill", "stylers": [{ "hue": "#ffbb00" }] }, { "featureType": "all", "elementType": "labels.text.fill", "stylers": [{ "hue": "#ffbb00" }] }]
            };

            var mapOptions03 = {
                // How zoomed in you want the map to start at (always required)
                zoom: 16,

                // The latitude and longitude to center the map (always required)
                center: new google.maps.LatLng(53.789621275331015, -2.6350062286212284), // EUROPE

                // How you would like to style the map.
                // This is where you would paste any style found on Snazzy Maps.
                styles: [{ "featureType": "all", "elementType": "all", "stylers": [{ "hue": "#ffbb00" }] }, { "featureType": "all", "elementType": "geometry.fill", "stylers": [{ "hue": "#ffbb00" }] }, { "featureType": "all", "elementType": "labels.text.fill", "stylers": [{ "hue": "#ffbb00" }] }]
            };

            var mapOptions04 = {
                // How zoomed in you want the map to start at (always required)
                zoom: 16,

                // The latitude and longitude to center the map (always required)
                center: new google.maps.LatLng(30.015416652142388, 121.16151708248859), // CHINA

                // How you would like to style the map.
                // This is where you would paste any style found on Snazzy Maps.
                styles: [{ "featureType": "all", "elementType": "all", "stylers": [{ "hue": "#ffbb00" }] }, { "featureType": "all", "elementType": "geometry.fill", "stylers": [{ "hue": "#ffbb00" }] }, { "featureType": "all", "elementType": "labels.text.fill", "stylers": [{ "hue": "#ffbb00" }] }]
            };

            // Get the HTML DOM element that will contain your map
            // We are using a div with id="map" seen below in the <body>
            var mapElement01 = document.getElementById('map01');
            var mapElement02 = document.getElementById('map02');
            var mapElement03 = document.getElementById('map03');
            var mapElement04 = document.getElementById('map04');

            // Create the Google Map using our element and options defined above
            var map01 = new google.maps.Map(mapElement01, mapOptions01);
            var map02 = new google.maps.Map(mapElement02, mapOptions02);
            var map03 = new google.maps.Map(mapElement03, mapOptions03);
            var map04 = new google.maps.Map(mapElement04, mapOptions04);

            // Let's also add a marker while we're at it
            var marker = new google.maps.Marker({
                position: new google.maps.LatLng(24.227357446248313, 120.64370896443856),
                map: map01,
                title: 'MOBILETRON ELECTRONICS CO., LTD.'
            });
            var marker = new google.maps.Marker({
                position: new google.maps.LatLng(34.087649317669786, -117.556246338637),
                map: map02,
                title: 'DUROFIX INC.'
            });
            var marker03 = new google.maps.Marker({
                position: new google.maps.LatLng(53.789621275331015, -2.6350062286212284),
                map: map03,
                title: 'MOBILETRON UK LTD.'
            });
            var marker04 = new google.maps.Marker({
                position: new google.maps.LatLng(30.015416652142388, 121.16151708248859),
                map: map04,
                title: 'MOBILETRON ELECTRONICS (NINGBO) CO., LTD.'
            });
        }
    </script>
}